/*
Title: Creating an HTML5 enhanced responsive-ready contact form, with custom javascript feature detection
Tutorial on: http://www.onextrapixel.com
Author: http://www.toddmotto.com
*/

* {
	/* [disabled]margin: 0; */
	/* [disabled]padding: 0; */
	/* [disabled]box-sizing: border-box; */
	/* [disabled]-webkit-box-sizing: border-box; */
	/* [disabled]-moz-box-sizing:border-box; */
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body {
	/* [disabled]font:400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* [disabled]color: #444; */
	/* [disabled]background: #991D57; */
	background-image: linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
	/* [disabled]background-image: -moz-linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%); */
	/* [disabled]background-image: -webkit-linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%); */
}
.wrapper {
	/* [disabled]max-width: 500px; */
	/* [disabled]width: 95%; */
	/* [disabled]margin:0 auto; */
	/* [disabled]position: relative; */
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	text-shadow: 0 1px 0 #FFF;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/* [disabled]background: #F9F9F9; */
	padding: 25px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form h3 {
	color: #363368;
	display: block;
	font-size: 28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor: pointer;
	color: #363368;
	display: block;
	margin: 5px 0;
	font-weight: 900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	/* [disabled]background-image: linear-gradient(bottom, #8C1C50 0%, #991D57 52%); */
	/* [disabled]background-image: -moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%); */
	/* [disabled]background-image: -webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%); */
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #363466;
}
#contact-form button[type="submit"]:hover {
	/* [disabled]background-image: linear-gradient(bottom, #9C215A 0%, #A82767 52%); */
	/* [disabled]background-image: -moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%); */
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
