@charset "utf-8";
body {
	color: #000;
	/* [disabled]background-color: #CCC; */
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-attachment: scroll;
	/* [disabled]background-image: url(../images/BACK.png); */
	background-repeat: no-repeat;
	clear: both;
	float: right;
	padding: 0px;
	/* [disabled]max-width: 1050px; */
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2 {
	font-weight: normal;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 10px;
}
.main-container {
	height: auto;
	width: 1050px;
	background-color: #FFF;
	box-shadow: 0px 0px 2px 1px rgba(102,102,102,0.8);
	/* [disabled]clear: none; */
	/* [disabled]float: left; */
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.header {
	background-color: rgba(255,255,255,1);
	height: 170px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EB880E;
}
.brand {
	float: right;
	/* [disabled]height: 160px; */
	width: 253px;
	/* [disabled]margin-left: 20px; */
	margin-top: 15px;
}
.side-content {
	float: left;
	/* [disabled]height: 100px; */
	width: 500px;
	/* [disabled]margin-left: 297px; */
	margin-top: 15px;
	margin-bottom: 15px;
}
.translate {
	width: 37%;
	/* [disabled]background-color: rgba(0,0,0,1); */
	float: left;
	height: 40px;
	text-align: right;
	/* [disabled]margin-left: 63%; */
}
.translate ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.translate ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	/* [disabled]margin-left: 10px; */
	margin-right: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: rgba(54,51,104,1);
}
.nav-bar {
	float: left;
	height: 40px;
	/* [disabled]width: 100%; */
	background-image: url(../images/bg.png);
	background-color: rgba(54,51,104,1);
	font-size: 13px;
	font-family: Tahoma, Geneva, sans-serif;
}
.call-to-action {
	font-family: Tahoma, Geneva, sans-serif;
	/* [disabled]font-weight: lighter; */
	font-size: 14px;
	width: 45%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgba(54,51,104,1);
	position: relative;
	left: 275px;
}
.smaller {
	font-size: 12px;
}
.slide-data {
	float: left;
	height: 340px;
	width: 100%;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/bg.png);
	background-position: right bottom;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EB880E;
}
.q-links h3 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #ff991e;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	background-image: url(../images/h3-dash.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-top: 0px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	text-align: right;
}
#follow-us li {
	float: right;
	padding-right: 5px;
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	-moz-transition: all 0.2s ease-in-out 0.1s;
	-ms-transition: all 0.2s ease-in-out 0.1s;
	-o-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
}
.q-links ul li {
	padding-top: 5px;
	-webkit-transition: all 0.2s ease-in 0.1s;
	-moz-transition: all 0.2s ease-in 0.1s;
	-ms-transition: all 0.2s ease-in 0.1s;
	-o-transition: all 0.2s ease-in 0.1s;
	transition: all 0.2s ease-in 0.1s;
}
#about-bright {
	background-image: url(../images/nav/Aboutw.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 35px;
}
.side-data a {
	padding: 5px;
	background-color: #EB880E;
	text-decoration: none;
	font-size: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	display: block;
	width: 100px;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	-webkit-transition: all 0.2s ease-out 0.1s;
	-moz-transition: all 0.2s ease-out 0.1s;
	-ms-transition: all 0.2s ease-out 0.1s;
	-o-transition: all 0.2s ease-out 0.1s;
	transition: all 0.2s ease-out 0.1s;
}
.side-data a:hover {
	background-color: #999;
}

.li-nav {
	width: 12em;
}
.about-bright {
	/* [disabled]background-color: rgba(102,102,102,1); */
	float: left;
	/* [disabled]height: 200px; */
	width: 770px;
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.abt-br-colum {
	width: 225px;
	float: left;
	background-color: rgba(255,255,255,1);
	margin-left: 30px;
	height: 220px;
	border-radius: 2px;
	/* [disabled]box-shadow: 0px 0px 1px 2px rgba(153,153,153,0.3); */
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
.abt-br-colum img {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 20px;
}
.abt-deatils h3 {
	text-align: center;
	font-size: 12px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: rgba(54,51,104,1);
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
.bright-home {
	/* [disabled]background-color: rgba(102,102,102,1); */
	float: left;
	/* [disabled]height: 200px; */
	width: 770px;
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 40px;
	margin-bottom: 20px;
}.bright-home h1 {
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: rgba(54,51,104,1);
	font-weight: normal;
	font-size: 22px;
	background-image: url(../images/dash.png);
	background-repeat: no-repeat;
	background-position: center center;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bright-home p {
	text-align: center;
	color: #6e6e6e;
	font-size: 15px;
	margin-top: 10px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	line-height: 20px;
}
.bright-home a {
	color: rgba(54,51,104,1);
	text-decoration: none;
	font-weight: bold;
	line-height: 25px;
}
.bh-grid {
	float: left;
	/* [disabled]height: 200px; */
	width: 236px;
	margin-left: 20px;
	margin-top: 20px;
}
.bh-image {
	margin-right: auto;
	margin-left: auto;
}
.bh-deatils {
	/* [disabled]background-color: rgba(102,102,102,1); */
	float: left;
	width: 80%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10%;
	padding-left: 10%;
}
.bh-deatils h2 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-align: center;
	color: rgba(54,51,104,1);
	font-weight: bold;
}
.fotter {
	background-image: url(../images/footer.jpg);
	float: left;
	width: 100%;
	height: 234px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #FF991E;
	background-position: left;
	background-repeat: repeat;
}
.bh-image img {
	/* [disabled]width: 100%; */
	-webkit-transition: all 0.3s ease-in 0.1s;
	-moz-transition: all 0.3s ease-in 0.1s;
	-ms-transition: all 0.3s ease-in 0.1s;
	-o-transition: all 0.3s ease-in 0.1s;
	transition: all 0.3s ease-in 0.1s;
}
.bh-image img:hover {
	-webkit-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.bh-deatils p {
	font-size: 12px;
	text-align: center;
}
.abt-br-colum:hover {
	background-color: rgba(204,204,204,0.3);
	color: rgba(235,136,14,1);
}
.abt-deatils h3:hover {
	color: rgba(235,136,14,1);
}
.footer-cnt {
	/* [disabled]background-color: rgba(102,102,102,1); */
	/* [disabled]float: right; */
	height: 150px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}.q-links {
	float: left;
	width: 33%;
	text-align: right;
}
.q-links ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	/* [disabled]text-transform: uppercase; */
	text-align: right;
}
#follow-us li:hover {
	margin-right: 5px;
}

.strip {
	float: left;
	background-color: rgba(234,134,15,1);
	background-image: url(../images/bg.png);
	/* [disabled]background-repeat: no-repeat; */
	background-position: right bottom;
	padding-right: 10%;
	padding-left: 10%;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
}
.strip h1 {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: 500;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* [disabled]background-image: url(../images/h3-dash.jpg); */
	/* [disabled]background-repeat: no-repeat; */
}
.strip p {
	margin: 0px;
	font-size: 14px;
	padding-top: 10px;
}

.small-cont {
	/* [disabled]background-color: rgba(102,102,102,1); */
	float: left;
	/* [disabled]height: 200px; */
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}.deatils-thumb {
	float: left;

	width: 46
\;
	margin-right: 2%;
	margin-left: 2%;
	width: 20%;
	margin-right: 2%;
	padding-top: 20px;
}
.deatils {
	/* [disabled]background-color: #333; */
	float: left;
	width: 100%;
	color: #000;
	margin-right: auto;
	margin-left: auto;
}
.deatils p {
	font-size: 13px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.deatils h1 {
	padding-bottom: 10px;
	background-image: url(../images/h3-dash.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	/* [disabled]margin-top: 0px; */
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	color: #363368;
}
.deatils-thumb img {
	max-width: 90%;
}
html {
	margin: 0px;
	padding: 0px;
	clear: both;
}
.brief-content {
	float: left;
	width: 77%;
	/* [disabled]background-color: rgba(23,53,107,1); */
	/* [disabled]background-image: url(../images/bg.png); */
	/* [disabled]background-repeat: no-repeat; */
	background-position: right bottom;
	padding-right: 31.5%;
	padding-left: 31.5%;
	color: #666;
	padding-top: 20px;
	padding-bottom: 20px;
}

.deatils-thumb-left {
	float: left;
	width: 46;
	margin-right: 2%;
	margin-left: 2%;
	width: 20%;
	margin-right: 2%;
	padding-top: 20px;
}.deatils-thumb-left img {
	max-width: 85%;
}
.deatils ul {
	padding-left: 10px;
	list-style-type: none;
	font-size: 13px;
	font-weight: lighter;
	font-family: Tahoma, Geneva, sans-serif;
}
.hd-cont {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
}
.slide-cont {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	/* [disabled]float: left; */
}
.deatils img {
	margin-right: auto;
	/* [disabled]margin-left: auto; */
	/* [disabled]width: 50%; */
	/* [disabled]float: right; */
	/* [disabled]padding-right: 0px; */
	/* [disabled]padding-bottom: 0px; */
	max-width: 100%;
}
.deatils-image {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.front-div {
	float: left;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/Slider-page/About.jpg);
	background-repeat: no-repeat;
	padding-right: 10%;
	padding-left: 10%;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	height: 400px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
	background-position: center 0px;
	margin-right: auto;
	margin-left: auto;
}
.front-div h1 {
	font-size: 20px;
	font-weight: normal;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.4);
	padding: 10px;
	float: left;
}
.fd-midheader {
	width: 100%;
	height: 180px;
	float: left;
	/* [disabled]background-color: rgba(52,49,100,0.9); */
	margin-top: 168px;
	/* [disabled]background-image: url(../images/bg.png); */
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fd-midheader-org {
	width: 100%;
	height: 180px;
	float: left;
	margin-top: 215px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fd-midheader-pro {
	width: 100%;
	height: 180px;
	float: left;
	/* [disabled]background-color: rgba(52,49,100,0.9); */
	margin-top: 215px;
	/* [disabled]background-image: url(../images/191020154.jpg); */
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.heading {
	font-size: 20px;
	width: 100%;
	color: rgba(255,255,255,1);
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: rgba(235,135,14,1);
	background-color: rgba(235,135,14,0.9);
}
.fd-contnet {
	width: 100%;
	float: right;
}
.fd-deatils {
	float: left;
	height: 130px;
	width: 23%;
	background-color: rgba(255,255,255,0.8);
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	-moz-transition: all 0.2s ease-in-out 0.1s;
	-ms-transition: all 0.2s ease-in-out 0.1s;
	-o-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
	margin-right: 0.9%;
	margin-left: 0.9%;
	margin-top: 10px;
	border-radius: 5px;
}
.title {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #EB870E;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fd-deatils p {
	margin: 0px;
	text-align: center;
	font-size: 13px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	color: rgba(51,48,97,1);
}
#first {
	border-left-style: none;
}
.fd-deatils:hover {
	background-color: rgba(255,255,255,1);
	/* [disabled]color: rgba(255,255,255,1); */
}
#last {
	margin-right: 0px;
	padding-left: 0.9%;
	margin-left: 0px;
	width: 23.5%;
}
.front-div a {
	text-decoration: none;
	color: rgba(255,255,255,1);
	background-color: rgba(235,136,14,1);
	padding: 5px;
	margin: 5px;
	font-size: 17px;
	font-weight: bold;
}
.aside {
	float: left;
	width: 35%;
	/* [disabled]height: 400px; */
	/* [disabled]position: fixed; */
	/* [disabled]top: 0px; */
	/* [disabled]background-image: url(../images/banners.jpg); */
	margin-bottom: 50px;
}
.aside img {
	-webkit-transition: all 0.3s ease-out 0.1s;
	-moz-transition: all 0.3s ease-out 0.1s;
	-ms-transition: all 0.3s ease-out 0.1s;
	-o-transition: all 0.3s ease-out 0.1s;
	transition: all 0.3s ease-out 0.1s;
}
.aside img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.services-cont {
	/* [disabled]background-color: rgba(102,102,102,1); */
	/* [disabled]height: 200px; */
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	/* [disabled]border: 1px solid rgba(153,153,153,1); */
}.services {
	/* [disabled]background-color: rgba(153,153,153,1); */
	/* [disabled]height: 100px; */
	width: 900px;
	float: left;
	margin-right: 50px;
	margin-left: 50px;
	/* [disabled]border: 2px solid rgba(204,204,204,1); */
	margin-top: 50px;
	margin-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 8px;
}
.sr-images {
	float: left;
	width: 35%;
	padding-right: 2.5%;
	padding-left: 2.5%;
}
.sr-deatils {
	float: right;
	width: 60%;
	/* [disabled]margin-right: 2%; */
}
.sr-child {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sr-deatils p {
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(102,102,102,1);
}
.sr-images img {
	width: auto;
	max-width: 90%;
}
.sr-floater {
	width: 48%;
	margin-left: 2%;
	float: left;
	margin-bottom: 20px;
}
.sr-deatils h2 {
	font-size: 20px;
	background-image: url(../images/h3-dash.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: rgba(234,134,15,1);
}

.service-div {
	float: left;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/slider-images/courses_image-1100x770.jpg);
	background-repeat: no-repeat;
	/* [disabled]padding-right: 10%; */
	/* [disabled]padding-left: 10%; */
	color: #FFF;
	padding-top: 20px;
	/* [disabled]padding-bottom: 20px; */
	width: 100%;
	/* [disabled]height: 300px; */
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
	background-position: left -40px;
	margin-right: auto;
	margin-left: auto;
}.services-data h1 {
	font-size: 40px;
	color: rgba(54,51,104,1);
	font-weight: lighter 2;
	text-shadow: 2px 2px 15px #FFF;
}
.services-data p {
	font-size: 15px;
	/* [disabled]margin-bottom: 20px; */
	font-weight: bold;
	color: #000;
}
.services-data a {
	padding: 5px;
	background-color: #363368;
	text-decoration: none;
	font-size: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	display: block;
	width: 100px;
	text-align: center;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.srd-deatils {
	float: left;
	height: 70px;
	width: 100%;
	/* [disabled]background-color: rgba(235,135,14,0.7); */
}
.srd-blocks {
	float: left;
	width: 33.33%;
	height: 30px;
	background-color: rgba(23,53,107,0.5);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.srd-deatils #middle {
	background-color: rgba(235,135,14,0.8);
}

.sl-cont {
	float: left;
	width: 60%;
	/* [disabled]background-color: rgba(102,102,102,1); */
	margin-top: 25px;
	margin-bottom: 30px;
	margin-left: 3%;
}
.side-data {
	width: 30%;
	float: left;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: lighter;
	padding-top: 60px;
}
.side-data h1, services-data h1 {
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.side-data p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #CCCCCC;
	font-weight: lighter;
	text-align: center;
	border-radius: 3px;
}
ul#follow-us {
	width: 100%;
	float: left;
}
.q-links p {
	float: right;
	margin: 0px;
	padding: 0px;
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.services-data {
	width: 35%;
	float: left;
	font-size: 30px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	padding-top: 10px;
	text-align: center;
	margin-left: 32%;
	margin-bottom: 48px;
	margin-right: 25px;
	height: 272px;
}
.tr-images {
	float: left;
	width: 35%;
	padding-right: 2.5%;
	padding-left: 2.5%;
}
.tr-images img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.srd-blocks a {
	color: rgba(255,255,255,1);
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
}
.srd-deatils #middle a {
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.form-cnt {
	float: left;
	width: 100%;
	/* [disabled]margin-top: 20px; */
	/* [disabled]margin-bottom: 20px; */
}
.train-div {
	float: left;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/Slider-page/Training.jpg);
	background-repeat: no-repeat;
	/* [disabled]padding-right: 10%; */
	/* [disabled]padding-left: 10%; */
	color: #363368;
	padding-top: 20px;
	/* [disabled]padding-bottom: 20px; */
	width: 100%;
	height: 400px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
	background-position: center -40px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}
.block ul {
	list-style-type: none;
	float: left;
	width: 45%;
}
.block ul li {
	font-size: 12px;
	padding-bottom: 10px;
}
.block p a {
	color: #F9A21F;
}

.front {
	float: left;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/Slider-page/organization.jpg);
	background-repeat: no-repeat;
	padding-right: 10%;
	padding-left: 10%;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	height: 400px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
	margin-right: auto;
	margin-left: auto;
}.front-pro {
	float: left;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/Slider-page/Project.jpg);
	background-repeat: no-repeat;
	padding-right: 10%;
	padding-left: 10%;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	height: 400px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
	margin-right: auto;
	margin-left: auto;
}
.front h1 {
	font-size: 20px;
	font-weight: normal;
	/* [disabled]text-shadow: 1px 1px rgba(0,0,0,0.8); */
	color: #E4881D;
}
.front a {
	/* [disabled]background-color: #E78F24; */
	padding: 5px;
	color: #363368;
	font-size: 20px;
	margin-left: 10px;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.q-links ul li:hover {
	color: #FF8942;
}


.renewable {
	float: left;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/Slider-page/Renewable-Services.jpg);
	background-repeat: no-repeat;
	/* [disabled]padding-right: 10%; */
	/* [disabled]padding-left: 10%; */
	color: #363368;
	padding-top: 20px;
	/* [disabled]padding-bottom: 20px; */
	width: 100%;
	/* [disabled]height: 400px; */
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
	background-position: center -40px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}
.q-links ul li a {
	color: #FFF;
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	-moz-transition: all 0.2s ease-in-out 0.1s;
	-ms-transition: all 0.2s ease-in-out 0.1s;
	-o-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
}
.q-links ul li a:hover {
	color: #E0991F;
}
.sr-deatils p a {
	color: rgba(234,134,15,1);
	font-weight: bold;
}
.general-con {
	float: left;
	background-color: rgba(23,53,107,1);
	background-image: url(../images/Slider-page/Genera-Contracting.jpg);
	background-repeat: no-repeat;
	/* [disabled]padding-right: 10%; */
	/* [disabled]padding-left: 10%; */
	color: #363368;
	padding-top: 20px;
	/* [disabled]padding-bottom: 20px; */
	width: 100%;
	/* [disabled]height: 400px; */
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA860F;
	background-position: center -40px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}

.front-div h1 {
	font-size: 20px;
	font-weight: normal;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.4);
	padding: 10px;
	float: left;
}

.front-divar {
	font-size: 20px;
	font-weight: normal;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.4);
	padding: 10px;
	float: right;
	text-align: right;
}


.acc_containerar img {
	float: left;
	padding: 5px;
	/* [disabled]background: #ddd; */
	/* [disabled]border: 1px solid #ccc; */
	width: 50%;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 0;
}
