@charset "utf-8";
/* CSS Document */

/*

HOW TO CREATE A CSS3 DROPDOWN MENU [TUTORIAL]

"How to create a CSS3 Dropdown Menu [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com
http://vladimirkudinov.com

*/

/* Reset */
.menu,
.menu ul,
.menu li,
.menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-align: right;
}

/* Menu */
.menu {
	height: 40px;
	width: 390px;
	/* [disabled]background: #4c4e5a; */
	/* [disabled]background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); */
	/* [disabled]background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); */
	/* [disabled]background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); */
	/* [disabled]background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); */
	background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	/* [disabled]-webkit-border-radius: 5px; */
	/* [disabled]-moz-border-radius: 5px; */
	border-radius: 5px;
	/* [disabled]margin-left: 40px; */
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 40px;
}

/* Links */

.menu li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #f3f3f3;
	/* [disabled]text-shadow: 1px 1px 1px rgba(0,0,0,.6); */
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	text-align: right;
}

.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }

.menu li:hover > a {
	color: #EB870E;
}

/* Sub Menu */

.menu ul {
	position: absolute;
	top: 40px;
	left: -75px;
	opacity: 0;
	/* [disabled]-webkit-border-radius: 0 0 5px 5px; */
	/* [disabled]-moz-border-radius: 0 0 5px 5px; */
	/* [disabled]border-radius: 0 0 5px 5px; */
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
	/* [disabled]width: 100px; */
	z-index: 100000;
	/* [disabled]background-color: rgba(46,45,91,0.5); */
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

.menu li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
	/* [disabled]width: 100px; */
}

.menu ul li a {
	width: 120px;
	margin: 0;
	border: none;
	/* [disabled]border-bottom: 1px solid #353539; */
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 0px;
	font-size: 11px;
	background-color: rgba(46,45,91,0.8);
	background-image: url(../images/bg.png);
}

.menu ul li:last-child a { border: none; }

/* Icons */

.menu a.documents { background: url(../img/docs.png) no-repeat 6px center; }
.menu a.messages { background: url(../img/bubble.png) no-repeat 6px center; }
.menu a.signout { background: url(../img/arrow.png) no-repeat 6px center; }
