@font-face{font-family: ar-bold; src: url(../fonts/DroidKufi-Bold.ttf);}
@font-face{font-family: ar-regular; src: url(../fonts/DroidKufi-Regular.ttf);}
@font-face{font-family: eng-regular; src:url(../fonts/OpenSans-Regular.ttf);}
@font-face{font-family: eng-bold; src:url(../fonts/OpenSans-Bold.ttf);}
@font-face{font-family: myr; src:url(../fonts/Myriad-Pro-Regular.ttf);}
@font-face{font-family: eco; src:url(../fonts/Economica-Bold-OTF.ttf);}
@font-face{font-family: ffy; src:url(../fonts/FFYaseer-Regular.otf) format('opentype');}
@font-face{font-family: ver; src:url(../fonts/Verdana.ttf);}
body{width:100%; padding: 0; margin: 0; text-decoration: none; color:#000; font-size:12pt; line-height: 2; background-color: #ededed;}

header{padding: 0 !important; background-color: #fff;}
.TopMenu{}
.TopMenu ul{list-style: none; padding: 0; margin: 0;}
.TopMenu ul li{display: inline-block;}
.TopMenu .UserPanel{}
.TopMenu .UserPanel ul{float: right;}
.TopMenu .UserPanel ul li{font-family:ar-bold; font-size:12px; margin:0 0 0 30px; color:#77839b; line-height: 45px;}
.TopMenu .UserPanel ul li:hover{color:#999999;}
.TopMenu .UserPanel ul li a{color:inherit;}
.TopMenu .UserPanel ul li:hover a{color:inherit;}
.TopMenu .UserPanel ul li:hover a:hover{text-decoration: none;}
.TopMenu .UserPanel ul li a i{font-size: 14px; vertical-align: middle; margin-left:10px;}
.TopMenu .UserPanel ul li a span{vertical-align: baseline; margin-right:10px;}
.TopMenu .UserPanel ul li ul{min-width:auto;}
.TopMenu .UserPanel ul li ul li{margin:0; padding: 5px 10px;}
.TopMenu .SocialIcons{}
.TopMenu .SocialIcons ul{float:left;}
.TopMenu .SocialIcons ul li{font-size:13px; color:#fff; margin:0 15px; height: 45px !important;}
.TopMenu .SocialIcons ul li a{color:inherit; width:18px; height:18px; background-color: #cccccc; border-radius: 100%; display: block; line-height: 18px; text-align: center; margin-top:15px;}
.TopMenu .SocialIcons ul li a:hover{text-decoration: none; background-color: #77839b;}
.TopMenu .SocialIcons ul li a i{line-height: 18px; display: block; vertical-align: middle;}

.MainNav{background-color: #1f4b68; height: 80px; padding: 0;}
.MainNav .DimofinfLogo{height: 80px; width:170px; display: inline-block;}
.MainNav .DimofinfLogo img{height: 40px; width:170px; margin: 20px 0;}
.MainNav .DimofinfMenu{float: left;}
.MainNav .DimofinfMenu nav{margin:0; height: 80px; line-height: 80px; border:0; border-radius: 0; background-color: #1f4b68;}
.MainNav .DimofinfMenu nav div.navbar-collapse{padding: 0;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul{}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li{line-height: 80px; color:#fff; font-family: ar-bold; font-size:12px;}

.MainNav .DimofinfMenu nav div.navbar-collapse ul li ul.Submenu{list-style: none; position: absolute; border-radius:5px; padding: 10px; background-color: #fff; width:210px; z-index: 2; display: none;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li ul.Submenu::before{border: medium solid rgba(255, 255, 255, 0); content: " "; position:absolute; border-bottom-color: #fff; border-width: 8px; right: 30px; top: -15px;
}

.MainNav .DimofinfMenu nav div.navbar-collapse ul li ul.Submenu li{color:#77839b; font-size:12px; line-height: 12px; padding: 15px 10px 15px 10px; font-family: ar-bold; border-bottom:1px solid #e6e9ed; width:100%;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li ul.Submenu li:last-child{border:0;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li ul.Submenu li:hover{color:#1f4b68; padding:15px 10px 15px 10px; border-top:0;}

.MainNav .DimofinfMenu nav div.navbar-collapse ul li.active{color:#00b8ff; background-color: #1f4b68; border-top:4px solid #00b8ff;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li.active a{background-color: #1f4b68; padding-top: 29px;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li.active a:hover{color: inherit;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li a{color:inherit; line-height: 14px; padding: 33px 15px;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li:hover{border-top:4px solid #fff;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li.active:hover{border-top:4px solid #00b8ff;}
.MainNav .DimofinfMenu nav div.navbar-collapse ul li:hover a{padding-top: 29px;}
.MainNav .DimofinfMenu nav div.navbar-collapse.in ul{z-index: 200; position: absolute; background-color: #1f4b68; margin:5px -70vw 0 15vw; min-width:80vw; padding: 5px 2vw;}

.MainNav .DimofinfMenu nav div.navbar-header{height:0;}
.MainNav .DimofinfMenu nav div.navbar-header button.collapsed.navbar-toggle{border:none; padding: 10px; margin:20px 0 20px 20px;}
.MainNav .DimofinfMenu nav div.navbar-header button.collapsed.navbar-toggle:hover{background-color:transparent; border:1px solid #fff; border-radius: 5px; padding: 9px;}
.MainNav .DimofinfMenu nav div.navbar-header button.collapsed.navbar-toggle span.icon-bar{height:4px; background-color: #fff; border-radius: 0;}

.MainNav .DimofinfMenu nav div.navbar-header button.navbar-toggle{border:none; padding: 10px; margin:20px 0 20px 20px; background-color: transparent;}
.MainNav .DimofinfMenu nav div.navbar-header button.navbar-toggle:hover{background-color:transparent; border:1px solid #fff; border-radius: 5px; padding: 9px;}
.MainNav .DimofinfMenu nav div.navbar-header button.navbar-toggle span.icon-bar{height:4px; background-color: #fff; border-radius: 0;}

.BackgroundSlider{width: 100%; padding: 0; margin: 0; background-color: #1f4b68;}
.BackgroundSlider div.item{background-image: url(../img/mslider-img.png); background-position: center center; background-size: cover; background-repeat: no-repeat; width: 100%; min-height: 500px;}
.BackgroundSlider div.item h2{font-family: ar-bold; font-size:30px; line-height: 45px; margin-bottom: 55px;}
.BackgroundSlider div.item form{margin-bottom:55px;}
.BackgroundSlider div.item input[type=text]{padding: 22px 30px 22px 10px; font-size:14px; line-height: 14px; color:#999999; font-family: ar-bold; border:5px solid #47586c; margin:0; border-width:5px 0; margin-left:-5px; width:10vw;}
.BackgroundSlider div.item input[type=submit]{padding: 22px 30px 22px 10px; font-size:14px; line-height: 14px; color:#77839b; font-family: ar-bold; border:5px solid #47586c; margin:0; border-right:0; width:10vw; background-color: #fff; border-radius: 40px 0 0 40px;}
.BackgroundSlider div.item input.searchtxt{padding: 22px 30px 22px 10px; font-size:14px; line-height: 14px; color:#999999; font-family: ar-bold; border:5px solid #47586c; margin:0; border-left:0; margin-left:-5px; border-radius: 0 40px 40px 0; width:30vw;}
.BackgroundSlider div.carousel-indicators{}
body .BackgroundSlider ol.carousel-indicators li{border-radius:0; width:36px; height:12px; border:2px solid #fff; cursor: pointer; margin: 1px 15px;}
body .BackgroundSlider ol.carousel-indicators li.active{top:0; background-color: #1f4b68; border-color: #1f4b68;}

.NewsPost{margin:30px auto;}
.NewsPost01{background-color: #fff; border-radius:5px;}
.NewsPost01 img{margin-bottom:18px; width:100%;}
.NewsPost01 div.txt{margin: 0 20px 0; border-bottom:1px solid #f2f2f2; box-sizing: border-box;}
.NewsPost01 div.txt h2{font-family: ar-bold; font-size:14px; color:#77839b; line-height: 22px;}
.NewsPost01 div.txt p{font-family: ar-bold; font-size:12px; color:#999; line-height: 22px; text-align: justify;}
.NewsPost01 div.links{margin:15px 20px 20px; font-family: ar-bold;}
.NewsPost01 div.links ul{list-style: none; padding: 0; margin: 0; height: 30px;}
.NewsPost01 div.links ul li{display: inline-block; margin-left:20px; color:#99a3b1; font-size:12px; line-height: 14px; float: right}
.NewsPost01 div.links ul li.ReadMore{margin-left:0; float: left;}
.NewsPost01 div.links ul li.ReadMore a{color: inherit;}
.NewsPost01 div.links ul li.ReadMore a:hover{color:#77839b; text-decoration: none;}
.NewsPost01 div.links ul li i{font-size: 16px; line-height: 16px; vertical-align: middle; margin-left:10px;}

.NewsPost02{background-color: #fff; border-radius:5px; margin-bottom: 30px;}
.NewsPost02 img{margin-bottom:18px; width:100%;}
.NewsPost02 div.txt{margin: 0 20px 0;}
.NewsPost02 div.txt h3{font-family: ar-bold; font-size:13px; color:#77839b; line-height: 19px;}
.NewsPost02 div.links{margin:15px 20px 20px; font-family: Verdana;}
.NewsPost02 div.links ul{list-style: none; padding: 0; margin: 0; height: 36px;}
.NewsPost02 div.links ul li{display: inline-block; margin-left:5px; color:#99a3b1; font-size:18px; line-height: 16px; float: right; direction: ltr;}
.NewsPost02 div.links ul li.lightblue{color: #01b9ff;}
.NewsPost02 div.links ul li.btu{background-color: #01b9ff; color:#fff; font-family: ar-bold; font-size:12px; padding: 11px 30px; line-height: 13px; border-radius: 5px; position: relative; top:-22px; float: left;}
.NewsPost02 div.links ul li.btu a{color: inherit;}
.NewsPost02 div.links ul li.btu a:hover{text-decoration: none; color:#77839b}

.NewsPost03{background-color: #1f4b68; border-radius:5px;}
.NewsPost03 img{margin-bottom:18px; width:100%;}
.NewsPost03 div.txt{border-top:2px dotted #355470; padding:15px 20px 10px; margin-top:-124px;}
.NewsPost03 div.txt div.date{padding: 0; text-align: center; color:#fff; font-family: ar-bold; font-size: 14px;}
.NewsPost03 div.txt div.date span{display: block; font-family: ver; font-size: 36px; color: #fff; margin:7px auto; line-height: 36px; font-weight: bold;}
.NewsPost03 div.txt div.links{color: #fff; font-family: ar-bold; line-height: 18px; font-size: 13px;}
.NewsPost03 div.txt div.links a{background-color: #1f4b68; padding: 6px 14px; color:#01b9ff; font-size: 12px; line-height: 14px; margin-bottom: 7px; border-radius: 5px; display: inline-block;}
.NewsPost03 div.txt div.links a:hover{text-decoration: none;}

.AlbumSlider{display: flex; margin-bottom: 30px;}
.AlbumSlider div{display: block;}
.AlbumSlider .album{background-color: #fff; border-radius:5px; padding: 20px 20px 0; flex: 1;}
.AlbumSlider .album .gal-item{margin-bottom:30px; border-radius: 5px;}
.AlbumSlider .album .gal-item img{border-radius:5px;}
.AlbumSlider .album .gal-item div div{width:100%; height: 100%; border-radius: 5px; position: absolute; z-index: 2; top:0; right:0; line-height: 32px; background-color: rgba(31,75,104,.85); align-content: center; text-align: center; max-width:200px; margin-right:15px; display:none; cursor: pointer;}
.AlbumSlider .album .gal-item div div span{background-color: #032840; height: 32px; width:32px; line-height: 20px; font-size: 20px; padding: 6px; border-radius: 5px; margin: 25% 10px; color:#37596e; display: inline-block;}
.AlbumSlider .album .gal-item div div span:hover{color:#fff;}
.AlbumSlider .album .gal-item div div span i{line-height: 20px; font-size: 20px;}

.AlbumSlider .AlbumFooter{background-color: #f2f2f2; padding: 25px 20px; line-height: 30px; border-radius: 0 0 5px 5px; margin:0 -20px 0;}

.AlbumSlider .AlbumFooter a{background: transparent; height:30px; text-shadow: none; position: relative; margin-bottom: -30px; top:-15px;}
.AlbumSlider .AlbumFooter a span{margin:0; color:#01b9ff; top:-10px; font-size: 25px;}
.AlbumSlider .AlbumFooter a.right span{margin-right:15px;}
.AlbumSlider .AlbumFooter a.left span{margin-left:15px;}
.AlbumSlider .AlbumFooter a.right{float: right;}
.AlbumSlider .AlbumFooter a.left{float: left;}

.AlbumSlider .AlbumFooter .carousel-indicators{bottom:0;}
.AlbumSlider .AlbumFooter .carousel-indicators li{border:none; background-color: #bfbfbf;}
.AlbumSlider .AlbumFooter .carousel-indicators li.active{background-color: #01b9ff; height: 10px; width: 10px; margin:1px;}
.AlbumSlider .weather{background-color: #fff; border-radius:5px; padding-top: 25px; height: 100%;}
.AlbumSlider .weather h2{font-family: ar-bold; color:#1f4b68; line-height: 15px; font-size: 14px; margin:0 20px 20px 20px;}
.AlbumSlider .weather h3{font-family: ar-bold; color:#01b9ff; line-height: 13px; font-size: 12px; margin:0 20px 23px 20px;}
.AlbumSlider .weather h3 i{margin-left:10px; font-size:13px;}
.AlbumSlider .weather h3 i+i{margin-left:0; float: left; cursor: pointer;}
.AlbumSlider .weather ul.tabs-menu{list-style: none; margin:23px 0 0; padding: 0;}
.AlbumSlider .weather ul.tabs-menu li{font-size: 12px; line-height: 13px; font-family: ar-bold; color:#95acbc; padding: 0 15px 12px; text-align: center; display: inline-block; cursor: pointer;}
.AlbumSlider .weather ul.tabs-menu li.active{color:#12a8e9; border-bottom: 2px solid #12a8e9; padding-bottom: 10px;}
.AlbumSlider .weather ul.tabs-menu li.active:hover{color:#12a8e9; border-bottom: 2px solid #12a8e9; padding-bottom: 10px;}
.AlbumSlider .weather ul.tabs-menu li:hover{color:#12a8e9; border-bottom: 2px solid #12a8e9; padding-bottom: 10px;}
.AlbumSlider .weather div.content{background-color: #f2f2f2; border-radius: 0 0 5px 5px; margin: 0;}
.AlbumSlider .weather div.content div{display: none;}
.AlbumSlider .weather div.content div div{display: inherit;}
.AlbumSlider .weather div.content div.active{display:block;}
.AlbumSlider .weather div.content div p{padding: 25px; text-align: center; color: #fff; font-size: 90px; font-family: eco; line-height: 81px; background-image: url(../img/weather-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover; direction: ltr; border-bottom: 4px solid #bfbfbf; margin-bottom:15px;}
.AlbumSlider .weather div.content div p:hover{background-image:url(../img/weather-OverLay.png);}
.AlbumSlider .weather div.content div p sup{font-size:20px; font-weight: bold; position: relative; top:-50px; font-family: ar-bold; line-height: 20px;}
.AlbumSlider .weather div.content div p img{vertical-align: bottom; margin-left: 14px;}
.AlbumSlider .weather div.content div ul{list-style: none; padding: 0; margin:0;}
.AlbumSlider .weather div.content div ul li{display: inline-block; font-size:18px; line-height: 13px; font-family: ver; text-align: center; margin:0 30px  18px; color:#949fab; cursor: pointer; max-width:22.47%;}
.AlbumSlider .weather div.content div ul li:hover,.AlbumSlider .weather div.content div ul li.active{color:#77839b;}
.AlbumSlider .weather div.content div ul li img,.AlbumSlider .weather div.content div ul li i{margin-bottom:10px; display: inline-block; width:52px; height:40px;}
.AlbumSlider .weather div.content div ul li i{line-height: 40px; font-size:40px;}

.AccTable{padding: 0 15px 30px; color:#a4a9ae; font-family: ar-bold; font-size:12px; line-height: 18px;}
.AccTable i{font-size:18px; cursor: pointer;}
.AccTable .strike{text-decoration: line-through;}
.AccTable table{background-color: #fff; border-radius:5px;}
.AccTable table tbody tr:nth-child(odd){background-color: #f2f2f2;}
.AccTable table tbody tr:nth-child(odd):hover{background-color: #ededed;}
.AccTable table tbody tr:nth-child(even){background-color:#fff;}
.AccTable table tbody tr:nth-child(even):hover{background-color:#ededed;}
.AccTable table tr td{padding: 25px 10px;}

footer{padding: 33px; color:#fff; background-color: #1f4b68; font-family: ar-bold; font-size: 12px; line-height: 13px; text-align: center;}

.scrollTop{color:#2e6e99; background-color: #1c445e; line-height:8px; font-size: 7px; text-align: center; width: 32px; height: 32px; cursor: pointer; border-radius: 100%; z-index: 2; position: relative; bottom: 5px; float: left; margin-bottom: -32px;}
.scrollTop i{line-height: 32px; font-size:15px;}

@media only screen and (max-width: 724px){
	.TopMenu{height: auto;}
	.TopMenu .SocialIcons ul li{margin:0 3px;}
	.TopMenu .UserPanel ul li{margin:0 0 0 10px;}
	.MainNav .DimofinfMenu nav div.navbar-header{height:80px;}
	.AlbumSlider{display:block;}
	.AlbumSlider .weather{margin-bottom: 30px;}
	.AlbumSlider .album{margin-bottom: 30px;}
	.BackgroundSlider div.item h2{font-size:22px;}
}
@media only screen and (max-width: 520px){
	.TopMenu .SocialIcons ul{float: none; margin: 0 auto; width:100%; text-align: center;}
	.TopMenu .UserPanel ul{float: none; margin: 0 auto; width:100%; text-align: center;}
	.TopMenu .UserPanel ul li{font-size:10px;}
	.NewsPost01 div.links ul li{margin-left:10px;}
	.NewsPost01 div.links ul li i{margin-left:5px;}
	.BackgroundSlider div.item h2{font-size:18px;}
	
}
@media only screen and (max-width: 995px){
	.MainNav .DimofinfMenu nav div.navbar-collapse ul li a{padding: 33px 5px; font-size: 11px;}
	.BackgroundSlider div.item input[type=text]{width:100px;padding:22px 10px;}
	.BackgroundSlider div.item input[type=submit]{width:80px;padding:22px 10px;}
	.BackgroundSlider div.item input.searchtxt{width:200px; padding:22px 10px;}
}
@media only screen and (max-width: 374px){
	.NewsPost01 div.links ul li.ReadMore{display: block; margin: 5px auto; padding: 15px 0; width: 100%; text-align: center; float: none; clear: both;}
	.NewsPost01 div.links ul{height: 60px;}
	.NewsPost02 div.links ul li.btu{top:15px;}
	.NewsPost02 div.links ul{height: 60px;}
}

@supports (-webkit-appearance:none) {
	.BackgroundSlider div.item input[type=submit]{line-height: 27px;}
}   

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .BackgroundSlider div.item input[type=submit]{line-height: 17px;}
}   