.sharmexcursions{}

#adminArea
	{
		width:100%;
		border:1px solid #ac3f07;
		border-radius:15px 0 15px 0;
	}
	
#adminArea h1
	{
		background-color:#ac3f07;
		margin-top:0;
		margin-bottom:10px;
		font-size:12pt;
		text-transform:capitalize;
		color:#ffffff;
		font-family:Tw Cen Mt, arial;
		border:1px solid #ac3f07;
		border-radius:15px 0 0 0;
		text-align:center;
		width:99%;
		font-weight:bold;
	}
	
#setHome
	{
		margin:10px;
		padding:5px;
		border:1px solid #93b225;
		border-radius:5px;
	}
	
#setHome h2
	{
		margin-top:2px;
		margin-bottom:5px;
		color:#93b225;
		font-size:10pt;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#setHome div
	{
		display:none;
	}
	
#setHome form
	{
		margin-bottom:2px;
		border-width:1px 0;
		border-style:dotted;
		border-color:#93b225;
		padding:5px 0;
	}
	
#setHome label
	{
		color:#666666;
		font-size:9pt;
		display:inline-block;
		width:25%;
		min-width:25%;
		max-width:25%;
		vertical-align:top;
		margin-bottom:5px;
	}
	
#setHome input
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setHome textarea
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setHome button
	{
		cursor:pointer;
		color:#ffffff;
		font-size:9pt;
		background-color:#93b225;
		border:1px solid #93b225;
		border-radius:5px 0 5px 0;
		float:right;
		padding:2px;
	}
	
#setTour
	{
		margin:10px;
		padding:5px;
		border:1px solid #3171CA;
		border-radius:5px;
		font-size:10pt;
	}
	
#setTour h2
	{
		margin-top:2px;
		margin-bottom:5px;
		color:#3171CA;
		font-size:10pt;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#setTour div
	{
		display:none;
	}
	
#setTour form
	{
		margin-bottom:2px;
		border-width:1px 0;
		border-style:dotted;
		border-color:#3171CA;
		padding:5px 0;
	}
	
#setTour label
	{
		color:#666666;
		font-size:9pt;
		display:inline-block;
		width:25%;
		min-width:25%;
		max-width:25%;
		vertical-align:top;
		margin-bottom:5px;
	}
	
#setTour input
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setTour textarea
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setTour button
	{
		cursor:pointer;
		color:#ffffff;
		font-size:9pt;
		background-color:#3171CA;
		border:1px solid #3171CA;
		border-radius:5px 0 5px 0;
		float:right;
		padding:2px;
	}
	
#setTour select
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
		background-color:#f2f2f2;
	}
	
#setTour_1
	{
		margin:10px;
		padding:5px;
		border:1px solid #3171CA;
		border-radius:5px;
		font-size:10pt;
	}
	
#setTour_1 h2
	{
		margin-top:2px;
		margin-bottom:5px;
		color:#3171CA;
		font-size:10pt;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#setTour_1 div
	{
		display:block;
	}
	
#setTour_1 form
	{
		margin-bottom:2px;
		border-width:1px 0;
		border-style:dotted;
		border-color:#3171CA;
		padding:5px 0;
	}
	
#setTour_1 label
	{
		color:#666666;
		font-size:9pt;
		display:inline-block;
		width:25%;
		min-width:25%;
		max-width:25%;
		vertical-align:top;
		margin-bottom:5px;
	}
	
#setTour_1 input
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setTour_1 textarea
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setTour_1 button
	{
		cursor:pointer;
		color:#ffffff;
		font-size:9pt;
		background-color:#3171CA;
		border:1px solid #3171CA;
		border-radius:5px 0 5px 0;
		float:right;
		padding:2px;
	}
	
#setTour_1 select
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
		background-color:#f2f2f2;
	}
	
#editTour
	{
		margin:10px;
		padding:5px;
		border:1px solid #D6C084;
		border-radius:5px;
	}
	
#editTour h2
	{
		margin-top:2px;
		margin-bottom:5px;
		color:#D6C084;
		font-size:10pt;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#editTour div
	{
		display:none;
	}
	
#editTour form
	{
		margin-bottom:2px;
		border-width:1px 0;
		border-style:dotted;
		border-color:#D6C084;
		padding:5px 0;
	}
	
#editTour label
	{
		color:#666666;
		font-size:9pt;
		display:inline-block;
		width:25%;
		min-width:25%;
		max-width:25%;
		vertical-align:top;
		margin-bottom:5px;
	}
	
#editTour input
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#editTour textarea
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#editTour button
	{
		cursor:pointer;
		color:#ffffff;
		font-size:9pt;
		background-color:#D6C084;
		border:1px solid #D6C084;
		border-radius:5px 0 5px 0;
		padding:2px;
		margin-left:5px;
	}
	
#setArt
	{
		margin:10px;
		padding:5px;
		border:1px solid #e36d11;
		border-radius:5px;
	}
	
#setArt h2
	{
		margin-top:2px;
		margin-bottom:5px;
		color:#e36d11;
		font-size:10pt;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#setArt div
	{
		display:none;
	}
	
#setArt form
	{
		margin-bottom:2px;
		border-width:1px 0;
		border-style:dotted;
		border-color:#e36d11;
		padding:5px 0;
	}
	
#setArt label
	{
		color:#666666;
		font-size:9pt;
		display:inline-block;
		width:25%;
		min-width:25%;
		max-width:25%;
		vertical-align:top;
		margin-bottom:5px;
	}
	
#setArt input
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setArt textarea
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#setArt button
	{
		cursor:pointer;
		color:#ffffff;
		font-size:9pt;
		background-color:#e36d11;
		border:1px solid #e36d11;
		border-radius:5px 0 5px 0;
		float:right;
		padding:2px;
	}
		
#editArt
	{
		margin:10px;
		padding:5px;
		border:1px solid #93b225;
		border-radius:5px;
	}
	
#editArt h2
	{
		margin-top:2px;
		margin-bottom:5px;
		color:#93b225;
		font-size:10pt;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#editArt div
	{
		display:none;
	}
	
#editArt form
	{
		margin-bottom:2px;
		border-width:1px 0;
		border-style:dotted;
		border-color:#93b225;
		padding:5px 0;
	}
	
#editArt label
	{
		color:#666666;
		font-size:9pt;
		display:inline-block;
		width:25%;
		min-width:25%;
		max-width:25%;
		vertical-align:top;
		margin-bottom:5px;
	}
	
#editArt input
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#editArt textarea
	{
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		color:#666666;
		padding:2px;
		margin-bottom:3px;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#editArt button
	{
		cursor:pointer;
		color:#ffffff;
		font-size:9pt;
		background-color:#93b225;
		border:1px solid #93b225;
		border-radius:5px 0 5px 0;
		padding:2px;
		margin-left:5px;
	}
	
		
#new_offer
	{
		display:none;
	}
		
		