.sharmexcursion{}

#art
	{
		width:99%;
		height:auto;
		border:1px solid #93b225;
		border-radius:5px;
		padding:5px;
		padding-top:2px;
		margin-bottom:4px;
		font-family:Tw Cen Mt, arial;
	}
	
#art h5
	{
		font-size:8pt;
		color:#666666;
		margin:0;
		font-weight:normal;
	}

#art h5 a
	{
		text-decoration:none;
		color:#666666;
	}
	
#art h5 a:hover
	{
		text-decoration:underline;
	}
	
#art h1
	{
		color:#93b225;
		font-size:12pt;
		font-weight: bold;
		margin-bottom: 1px;
		margin-top: 1px;
		padding-left: 0px;
		padding-right: 0px;
		text-transform: none;
	}
	
#art h2
	{
		margin-top:1px;
		margin-bottom:1px;
		font-size:10pt;
		font-weight:normal;
		padding-bottom:3px;
		border-bottom:1px dotted #93b225;
	}
	
#art p
	{
		color:#666666;
		font-size:10pt;
		font-weight:normal;
		text-decoration:none;
		text-transform:none;
		margin-top:3px;
		margin-bottom:3px;
		padding-left:0;
		padding-right:0;
	}

#art_gal
	{
		width:99%px;
		height:150px;
		/*border:1px solid #D6C084;
		border-radius:5px;*/
		margin:5px auto;
		padding:0;
		padding-left:20px;
	}
	
#limg
	{
		width:400px;
		height:100%;
		clear:none;
		float:left;
	}
	
#limg img
	{
		width:390px;
		height:150px;
		margin:0 auto;
		border:1px solid #D6C084;
		border-radius:5px;
		cursor:pointer;
	}
	
#simg
	{
		width:230px;
		height:auto;
		margin:10px auto;
		border-left:1px solid #93b225;
		clear:none;
		float:left;
		padding-left:5px;
	}
	
#simg img
	{
		width:35px;
		height:35px;
		margin:2px;
		border:1px solid #D6C084;
		border-radius:5px;
		cursor:pointer;
	}
	
#art h5 span#allart a
	{
		float:right;
		font-size:10pt;
		font-weight:bold;
		color:#ffffff;
		background-color:#3171CA;
		border:1px ssolid #3171CA;
		border-radius:10px 0 10px 0;
		padding:5px;
		cursor:pointer;
		text-decoration:none;
	}
	
#art h5 span#allart a:hover
	{
		text-decoration:none;
		color:#000000;
	}
	

	
	
	