.sharmexcursion{}

#linksPart
	{
		width:100%;
		padding-right:5px;
		text-align:right;
		clear:both;
		font-family:Tw Cen MT,arial;
		font-size:9.5pt;
		text-transform:capitalize;
	}
	
#linksPart a
	{
		text-decoration:none;
		color:#666666;
		padding-left:5px;
	}
	
#linksPart a:hover
	{
		text-decoration:underline;
		padding-left:5px;
	}
	
#login
	{
		float:left;
	}
	
#login a
	{
		border:1px solid #93b225;
		background-color:#93b225;
		padding:2px 5px 2px 5px;
		border-radius:5px;
		color:#ffffff;
		margin-bottom:2px;
	}
	
#login a:hover
	{
		text-decoration:none;
		color:#666666;
	}

#loginForm
	{
		width:auto;
		height:auto;
		padding:5px;
		position:absolute;
		margin-top:4px;
		margin-left:0;
		background-color:#ffffff;
		border:1px solid #93b225;
		border-radius:0 0 5px 5px;
		text-align:left;
		display:none;
	}
	
#loginForm form
	{
		margin-bottom:0;
		text-transform:none;
	}
	
#loginForm input
	{
		font-family:Tw Cen MT,arial;
		color:#666666;
		font-size:9pt;
		border-radius:5px;
		border:1px solid #93b225;
		margin:2px;
		padding:2px;
	}
	
#loginForm label
	{
		margin-left:2px;
		width:50px;
		min-width:50px;
		max-width:50px;
		display:inline-block;
	}
	
#loginForm button
	{
		font-family:Tw Cen MT,arial;
		color:#fff;
		font-size:9pt;
		border-radius:5px;
		border:1px solid #93b225;
		background-color:#93b225;
		float:right;
		margin-top:5px;
		margin-left:5px;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#managBook
	{
		float:left;
		margin-left:5px;
	}
	
#managBook a
	{
		border:1px solid #93b225;
		background-color:#93b225;
		padding:2px 5px 2px 5px;
		border-radius:5px;
		color:#ffffff;
		margin-bottom:2px;
	}
	
#managBook a:hover
	{
		text-decoration:none;
		color:#666666;
	}

#logged
	{
		float:left;
		margin-right:5px;
	}
	
#logged h3
	{
		margin-top:0;
		font-family:Tw Cen MT,arial;
		font-size:10pt;
		margin-bottom:2px;
		color:#93b225;
		text-transform:capitalize;
	}
	
#logged h3 a
	{
		color:#93b225;
	}
	
#manageprofile
	{
		background-color:#ffffff;
		padding:5px;
		border:1px solid #93b225;
		border-radius:5px;
		width:auto;
		height:auto;
		position:absolute;
		margin-top:1px;
		display:none;
	}
	
#slash
	{
		margin:0 3px;
	}
	
#adminlogin
	{
		width:auto;
		height:auto;
		padding:5px;
		position:absolute;
		margin-top:4px;
		margin-left:780px;
		background-color:#ffffff;
		border:1px solid #93b225;
		border-radius:0 0 5px 5px;
		text-align:left;
		display:none;
		z-index:100;
	}
	
#adminlogin form
	{
		margin-bottom:0;
		text-transform:none;
	}
	
#adminlogin input
	{
		font-family:Tw Cen MT,arial;
		color:#666666;
		font-size:9pt;
		border-radius:5px;
		border:1px solid #93b225;
		margin:2px;
		padding:2px;
	}
	
#adminlogin label
	{
		margin-left:2px;
		width:50px;
		min-width:50px;
		max-width:50px;
		display:inline-block;
	}
	
#adminlogin button
	{
		font-family:Tw Cen MT,arial;
		color:#fff;
		font-size:9pt;
		border-radius:5px;
		border:1px solid #93b225;
		background-color:#93b225;
		float:right;
		margin-top:5px;
		margin-left:5px;
		text-transform:capitalize;
		cursor:pointer;
	}
	
	
#bannar
	{
		margin-top:3px;
		margin-bottom:3px;
		width:100%;
		height:135px;
		text-align:center;
		cursor:pointer;
		/*border:1px solid #dfdeae;
		border-radius:5px;*/
	}

#bannar img
	{
		border:1px solid #dfdeae;
		border-radius:5px;
		border-bottom:0;
	}
	
#search
	{
		position:relative;
		float:right;
		top:10px;
		right:20px;
		margin-top:-135px;
	}
	
#search input
	{
		font-family:Tw Cen Mt, arial;
		font-size:9pt;
		color:#666666;
		margin-right:3px;
		border:1px solid #93b225;
		border-radius:5px;
	}
	
#search button
	{
		background-color:#93b225;
		color:#ffffff;
		font-size:10pt;
		font-family:Tw Cen Mt, arial;
		border:1px solid #93b225;
		border-radius:5px;
		cursor:pointer;
	}