.sharmexcursions{}

#book_form
	{
		background-color:#f2f2f2;
		border:1px solid #666666;
		border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
		color:#666666;
		padding:5px;
		margin:0 3px 2px 0;
		width:649px;
		height:auto;
		font-family:Tw Cen Mt, arial;
		font-size:10.5pt;
	}
	
#book_form h2
	{
		margin:0;
		margin-bottom:4px;
		margin-top:2px;
		padding:0;
		font-size:12pt;
		color:#93b225;
		text-transform:capitalize;
		font-weight:bold;
	}
	
#book_form p
	{
		font-size:11pt;
		padding:0;
		padding-bottom:5px;
		margin:2px 2px 8px 0;
		color:#AC3F07;
		border-bottom:1px dotted #AC3F07;
	}
	
#book_form form
	{
		margin-top:5px;
		margin-bottom:5px;
		padding:0;
	}
	
#book_form label
	{
		width:150px;
		min-width:150px;
		max-width:150px;
		display:inline-block;
		vertical-align:top;
	}
	
#book_form input
	{
		border:1px solid #666666;
		border-radius:5px;
		padding:3px;
		margin:2px 4px 2px 0;
		font-size:10pt;
		font-family:Tw Cen Mt, arial;
		color:#666666;
	}
	
#book_form textarea
	{
		border:1px solid #666666;
		border-radius:5px;
		padding:3px;
		margin:2px 4px 2px 0;
		font-size:10pt;
		font-family:Tw Cen Mt, arial;
		color:#666666;
	}
	
#book_form select
	{
		border:1px solid #666666;
		border-radius:5px;
		padding:3px;
		margin:2px 4px 2px 0;
		font-size:10pt;
		font-family:Tw Cen Mt, arial;
		color:#666666;
		background-color:#f2f2f2;
	}
	
#book_form button
	{
		border:1px solid #666666;
		border-radius:5px;
		padding:3px;
		margin:10px 4px 2px 0;
		font-size:10pt;
		font-family:Tw Cen Mt, arial;
		color:#ffffff;
		background-color:#666666;
		cursor:pointer;
	}
	
#book_form h3
	{
		margin:0;
		margin-bottom:4px;
		margin-top:5px;
		padding:0;
		border-top:0px dotted #666666;
		padding-top:2px;
		font-size:12pt;
		color:#666666;
		text-transform:capitalize;
		font-weight:bold;
	}
	
#book_form div div
	{
		margin-top:8px;
		margin-bottom:5px;
		padding-top:2px;
		padding-bottom:10px;
		border-top:0px dotted #666666;
		border-bottom:1px dotted #AC3F07;
		color:#AC3F07;
		text-align:center;
	}
	
#book_form div div p
	{
		color:#AC3F07;
		padding:0;
		margin:0;
		font-size:11pt;
		font-weight:bold;
		border:0;
	}
	
#book_info
	{
		display:block;
	}
	
#book_info_next
	{
		float:right;
	}
	
#contact_info
	{
		display:none;
	}
	
#contact_info_prev
	{
		float:left;
	}

#contact_info_next
	{
		float:right;
	}

#pay_info
	{
		display:none;
	}
	
#pay_info_prev
	{
		float:left;
	}
	
#pay_info_next
	{
		float:right;
	}
	
#invoice
	{
		display:none;
	}
	
#invoice_prev
	{
		float:left;
	}
	
#invoice_confirm
	{
		float:right;
	}
	
.wrong
	{
		text-decoration:line-through;
		font-size:9pt;
		color:#000000;
		text-align:center;
		display:inline-block;
		width:20px;
	}