.sharmexcursions{}

#mainMenu ul li ul
	{
		position:absolute;
		background-color:none;
		z-index:99;
		border:0;
		margin-top:6px;
		margin-left:0;
		padding-left:0;
		text-align:left;
		display:none;
	}
	
#mainMenu ul li ul li
	{
		margin:0;
		padding:0;
		background-color:none;
		z-index:99;
		border:0;
		margin-right:0;
		border-radius:0;
	}

#cairoexcursions
	{
		position:absolute;
		background-color:#AC3F07;
		margin:0;
		margin-left:-6px;
		width:600px;
		min-width:600px;
		max-width:600px;
		display:inline-block;
		float:left;
		padding:5px;
		border:1px solid #ac3f07;
		border-radius:0 0 5px 5px;
		font-family:Tw Cen Mt,arial;
		font-size:10.5pt;
		font-weight:normal;
		text-transform:none;
		color:#ffffff;
	}
	
#cairoexcursionslink 
	{
		width:300px;
		min-width:300px;
		max-width:300px;
		vertical-align:top;
		display:inline-block;
		cursor:pointer;
		clear:none;
	}

#cairoexcursionslink a
	{
		text-decoration:none;
		background-color:#ac3f07;
		padding-bottom:1px;
		padding-left:2px;
		padding-right:2px;
		border:1px solid transparent;
		margin-bottom:2px;
		color:#ffffff;
		width:300px;
		min-width:300px;
		max-width:300px;
		display:inline-block;
		border-bottom:1px dotted white;
	}
	
#cairoexcursionslink a:hover
	{
		color:#000000;
		background-color:#ffffff;
		border:1px solid #ffffff;
		border-radius:5px 0 0 5px;
	}
	
#cairoexcursionsdesc
	{
		width:288px;
		min-width:288px;
		max-width:290px;
		min-height:300px;
		vertical-align:top;
		display:inline-block;
		cursor:pointer;
		clear:none;
		background-color:#ffffff;
		border:1px solid #ffffff;
		border-radius:5px;
		text-align:center;
		color:#000000;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:2px;
		padding-right:2px;
	}
	
#cairoexcursionsdesc img
	{
		width:150px;
		height:120px;
		border:1px solid #AC3F07;
		border-radius:5px;
	}
	
#cairoexcursionsdesc p
	{
		font-family:Tw Cen Mt, arial;
		font-size:10pt;
		color:#666666;
		margin-top:3px;
		margin-bottom:3px;
	}
	
