.calexcursions{}

#book_form div div#calender1
	{
		width:170px;
		height:auto;
		color:#666666;
		background-color:#f2f2f2;
		font-size:10pt;
		font-family:Tw Cen Mt, arial;
		border:1px solid #666666;
		border-radius:5px;
		padding:5px;
		position:absolute;
		display:none;
		margin-top:2px;
		margin-bottom:0;
		margin-left:150px;
	}
	
#calender1 #head1
	{
		text-align:center;
		font-size:11pt;
		margin:0;
		border-bottom:1px dotted #666666;
		padding-bottom:2px;
		color:#666666;
		padding-top:0;
	}
	
#calender1 #day-name
	{
		border:0;
		margin:0;
		padding:0;
		color:#666666;
	}
	
#book_form div div#calender1 div
	{
		margin:0;
		padding:0;
		color:#666666;
		border:0;
	}
	
#prev1
	{
		float:left;
		padding-top:2px;
	}
	
#prev1 img
	{
		width:12px;
		height:12px;
		cursor:pointer;
	}
	
#next1
	{
		float:right;
		padding-top:2px;
	}
	
#next1 img
	{
		width:12px;
		height:12px;
		cursor:pointer;
	}
	
#calender1 td
	{
		vertical-align:top;
	}
	
#calender1 a
	{
		text-decoration:none;
		font-size:9pt;
		color:#666666;
		width:20px;
		min-width:20px;
		max-width:20px;
		display:inline-block;
		text-align:center;
	}
	
#calender1 a:hover
	{
		background-color:#666666;
		color:#ffffff;
		text-decoration:none;
	}
	
#calender1 div#day-name a
	{
		text-decoration:none;
		font-size:8pt;
		color:#ffffff;
		background-color:#666666;
		width:20px;
		min-width:20px;
		max-width:20px;
		display:inline-block;
		text-align:center;
		border-radius:5px;
	}
	
#close1
	{
		margin-top:2px;
		text-align:right;
		padding-top:2px;
		border-top:1px dotted #666666;
		width:170px;
		min-width:170px;
		max-width:170px;
		display:inline-block;
	}
	
#close1 a
	{
		font-size:10pt;
		padding:2px;
		border-radius:5px;
		background-color:#666666;
		color:#ffffff;
	}
	
#open1
	{
		cursor:pointer;
		width:20px;
		height:20px;
		margin:1px;
	}
	
	