.sharmexcursion{}

#center
	{
		width:665px;
		height:auto;
		/*border:1px solid #dfdeae;
		border-radius:0 0 5px 5px;*/
		clear:none;
		float:right;
		margin-left:2px;
		margin-right:2px;
	}
	
#center h1
	{
		font-family:Tw Cen MT,arial;
		font-size:13pt;
		text-transform:capitalize;
		font-weight:bold;
		color:#d6c084;
		margin-top:0;
		margin-bottom:3px;
		padding-left:3px;
		padding-right:3px;
	}
	
#center p
	{
		font-family:Tw Cen MT,arial;
		font-size:9pt;
		color:#666666;
		margin-top:0;
		margin-bottom:3px;
		padding-left:3px;
		padding-right:3px;
	}
	
#center h4
	{
		font-size:13pt;
		font-weight:bold;
		font-family:Tw Cen Mt, arial;
		color:#666666;
		margin-top:15px;
		margin-bottom:3px;
		text-transform:capitalize;
		cursor:pointer;
	}

#center h4 a
	{
		font-size:13pt;
		font-weight:bold;
		font-family:Tw Cen Mt, arial;
		color:#666666;
		text-transform:capitalize;
		cursor:pointer;
		text-decoration:none;
	}
	
#center h4 a:hover
	{
		font-size:13pt;
		font-weight:bold;
		font-family:Tw Cen Mt, arial;
		color:#666666;
		text-transform:capitalize;
		cursor:pointer;
		text-decoration:underline;
	}