.sharmexcursion{}

#contactbody
	{
		width:99%;
		height:auto;
		border:1px solid #93b225;
		border-radius:5px;
		padding:5px;
		margin-bottom:5px;
	}
	
#contactbody h5
	{
		color:#666666;
		margin-top:0;
		margin-bottom:2px;
		font-size:8pt;
		font-family:Tw Cen Mt, arial;
		cursor:pointer;
	}
	
#contactbody h5 a
	{
		text-decoration:none;
		color:#666666;
		margin-right:3px;
	}
	
#contactbody h5 a:hover
	{
		text-decoration:underline;
	}
	
#contactbody h1
	{
		color:#93b225;
		margin-top:2px;
		maegin-bottom:2px;
	}
	
#contactbody form
	{
		margin-bottom:5px;
		padding-bottom:2px;
		border-bottom:1px dotted #666666;
	}
	
#contactbody label
	{
		display:inline-block;
		width:200px;
		max-width:200px;
		min-width:200px;
		margin-right:5px;
		margin-bottom:5px;
		vertical-align:top;
	}
	
#contactbody input
	{
		border:1px solid #93b225;
		border-radius:5px;
		padding:3px;
		margin-bottom:5px;
	}
	
#contactbody textarea
	{
		border:1px solid #93b225;
		border-radius:5px;
		padding:3px;
		margin-bottom:5px;
	}
	
#contactbody button
	{
		background-color: #93B225;
		border: 1px solid #93B225;
		border-radius: 5px 5px 5px 5px;
		color: #FFFFFF;
		margin-bottom: 2px;
		padding: 2px 5px;
		float:right;
	}
	
#contactbody h2
	{
		margin-top:2px;
		margin-bottom:5px;
		font-size:11pt;
		font-weight:bold;
		font-family:Tw Cen Mt,arial;
	}
	
#contactbody p
	{
		border-bottom:1px dotted #666666;
		padding-bottom:8px;
		margin-bottom:5px;
	}