.sharmexcursion{}

#footer
	{
		width:100%;
		height:120px;
		border:1px solid #666666;
		border-radius:15px 0 15px 0px;
		background-color:#f2f2f2;
		background-image:url("images/footer_back.gif");background-repeat: no-repeat; background-position:center left;
	}
	
#footer h3
	{
		width:99%;
		text-align:center;
		font-family:Tw Cen Mt,arial;
		font-size:10pt;
		color:#000000;
		margin-top:2px;
		margin-bottom:5px;
		text-transform:capitalize;
	}
	
#follow
	{
		float:left;
		width:99%;
		margin-top:2px;
		margin-bottom:2px;
		text-align:center;
		/*margin-left:10px;
		margin-right:10px;*/
		margin:2px auro;
	}
	
#follow h2
	{
		font-weight:normal;
		margin-top:1px;
		margin-bottom:4px;
		margin-right:10px;
		color:#666666;
		font-size:9pt;
		display:inline-block;
		/*float:left;*/
	}
	
#follow h2 a
	{
		color:#666666;
		text-decoration:none;
	}
	
#follow h2 a:hover
	{
		text-decoration:underline;
	}
	
#follow h2 img
	{
		vertical-align:middle;
		margin-right:3px;
	}
	
#address 
	{
		/*float:left;*/
		width:99%;
		/*margin-top:2px;
		margin-bottom:2px;*/
		margin:2px auto;
		text-align:center;
		display:inline-block;
	}
	
#address  h3
	{
		font-weight:normal;
		margin-top:1px;
		margin-bottom:2px;
		display:inline-block;
		margin-right:2px;
		width:auto;
		color:#666666;
		font-size:9pt;
	}
	
#address p
	{
		font-size:9pt;
		display:inline-block;
		margin:2px auto;
	}
	
#footLink
	{
		display:inline-block;
		width:99%;		
		text-align:center;
		margin:2px auto;		
	}
	
#footLink a
	{
		text-decoration:none;
		font-size:9pt;
		font-weight:normal;
		color:#666666;
		margin-top:1px;
		margin-bottom:2px;
		margin-left:2px;
		margin-right:2px;
	}
	
#footLink a:hover
	{
		text-decoration:underline;
	}