.sharmexcursion{}

#leftSide
	{
		width:300px;
		height:auto;
		clear:none;
		float:left;
	}
	
#hotOffer
	{
		width:99%;
		border:1px solid #3171ca;
		border-radius:5px 0 5px 0;
		padding:0;
		margin-bottom:5px;
	}
	
#hotOffer h3
	{
		padding:2px 2px;
		color:#ffffff;
		background-color:#3171ca;
		width:293px;
		margin-top:0;
		margin-bottom:2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:bold;
		text-transform:capitalize;
	}
	
#hotOffer div
	{
		border-bottom:1px dotted #666666;
		padding-bottom:2px;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:5px;
	}
	
#hotOffer div h4
	{
		padding:2px 2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		margin-top:0;
		margin-bottom:2px;
		color:#93b225;
	}
	
#hotOffer div p
	{
		padding:2px 2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		margin-top:0;
		margin-bottom:3px;
		color:#000000;
	}

#hotOffer div p a 
	{
		padding:2px;
		color:#ffffff;
		border:1px solid #3171ca;
		border-radius:5px;
		font-size:9pt;
		font-family:Tw Cen Mt,arial;
		text-decoration:none;
		background-color:#3171ca;
		cursor:pointer;
		display:none;
		margin:2px;
	}
	
#hotOffer div p a:hover
	{
		color:#000000;
	}

#hotOffer button
	{
		padding:2px;
		color:#ffffff;
		border:1px solid #3171ca;
		border-radius:5px;
		font-size:9pt;
		font-family:Tw Cen Mt,arial;
		text-decoration:none;
		background-color:#3171ca;
		cursor:pointer;
		margin:2px;
		margin-bottom:4px;
		float:right;
	}
	
#artPref
	{
		width:99%;
		border:1px solid #D6C084;
		border-radius:5px 0 5px 0;
		padding:0;
		margin-bottom:5px;
	}
	
#artPref h3
	{
		padding:2px 2px;
		color:#ffffff;
		background-color:#D6C084;
		width:293px;
		margin-top:0;
		margin-bottom:2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:bold;
		text-transform:capitalize;
	}
	
#artPref div
	{
		border-bottom:1px dotted #666666;
		padding-bottom:2px;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:5px;
	}
	
#artPref div h4
	{
		padding:2px 2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		margin-top:0;
		margin-bottom:2px;
		color:#93b225;
	}
	
#artPref div p
	{
		padding:2px 2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		margin-top:0;
		margin-bottom:3px;
		color:#000000;
	}

#artPref div p a 
	{
		padding:2px;
		color:#ffffff;
		border:1px solid #D6C084;
		border-radius:5px;
		font-size:9pt;
		font-family:Tw Cen Mt,arial;
		text-decoration:none;
		background-color:#D6C084;
		cursor:pointer;
		display:none;
		margin:2px;
	}
	
#artPref div p a:hover
	{
		color:#000000;
	}
	
#urBook
	{
		width:99%;
		border:1px solid #ac3f07;
		border-radius:5px 0 5px 0;
		padding:0;
		margin-bottom:5px;
	}
	
#urBook h3
	{
		padding:2px 2px;
		color:#ffffff;
		background-color:#ac3f07;
		width:293px;
		margin-top:0;
		margin-bottom:2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:bold;
		text-transform:capitalize;
	}
	
#urBook div
	{
		border-bottom:1px dotted #666666;
		padding-bottom:2px;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:5px;
	}
	
#urBook div h4
	{
		padding:2px 2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		margin-top:0;
		margin-bottom:2px;
		color:#93b225;
	}
	
#urBook div p
	{
		padding:2px 2px;
		font-family:Tw Cen Mt, arial;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		margin-top:0;
		margin-bottom:3px;
		color:#000000;
	}

#urBook div p a 
	{
		padding:2px;
		color:#ffffff;
		border:1px solid #ac3f07;
		border-radius:5px;
		font-size:9pt;
		font-family:Tw Cen Mt,arial;
		text-decoration:none;
		background-color:#ac3f07;
		cursor:pointer;
		display:none;
		margin:2px;
	}
	
#urBook div p a:hover
	{
		color:#000000;
	}
	