.sharmexcursion{}

#mainMenu
	{
		width:99.7%;
		height:auto;
		margin-bottom:5px;
		border:0px solid #dfdeae;
		border-radius:0 0 5px 5px;
		border-top:0;
		margin-top:-4px;
		text-align:center;
	}
	
#mainMenu ul
	{
		list-style:none;
		float:left;
		width:100%;
		text-align:center;
		padding-left:4px;
		margin:0;
		margin-top:-1px;
		margin-bottom:5px;
	}
	
#mainMenu ul li
	{
		float:left;
		width:14%;
		display:inline-block;
		margin-left:7px;
		margin-right:6px;
		padding:5px;
		padding-top:3px;
		border:1px solid #93b225;
		color:#ffffff;
		background-color:#93b225;
		border-top:0;
		border-radius:0 0 5px 5px;
		font-family:Tw Cen Mt,arial;
		font-size:12pt;
		font-weight:bolder;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#mainMenu ul li.active
	{
		color:#000000;
		background-color:#AC3F07;
		border-color:#AC3F07;
		border-radius:0;
	}
	