.sharmexcursions{}

#leftsidebranch
	{
		width:99%;
		height:auto;
		padding:0;
		margin-bottom:5px;
		border:0px solid #AC3F07;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		text-align:left;
	}
	
#hot_offer
	{
		margin:10px;
		padding:5px;
		height:auto;
		font-family:Tw Cen Mt, arial;
		font-size:10pt;
		color:#666666;
		border:1px solid #ac3f07;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	}
	
#hot_offer h3
	{
		margin:2px 0;
		margin-bottom:5px;
		text-transform:capitalize;
		cursor:pointer;
		font-size:11pt;
		font-weight:bold;
		color:#AC3F07;
		text-align:center;
	}
	
#hot_offer div 
	{
		display:none;
		border-bottom:1px dotted #666666;
		margin:2px 0;
		padding-bottom:3px;
	}
	
#hot_offer div h4
	{
		margin:2px 0;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		color:#93b225;
	}

#hot_offer div p
	{
		color:#666666;
		margin:2px 0;
		padding:0;
		font-size:9.5pt;		
	}
	
#hot_offer div p a
	{
		text-decoration:none;
		color:#AC3F07;
	}
	
#hot_offer div p a:hover
	{
		text-decoration:underline;
	}
	
#art_new
	{
		margin:10px;
		padding:5px;
		height:auto;
		font-family:Tw Cen Mt, arial;
		font-size:10pt;
		color:#666666;
		border:1px solid #3171CA;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	}
	
#art_new h3
	{
		margin:2px 0;
		margin-bottom:5px;
		text-transform:capitalize;
		cursor:pointer;
		font-size:11pt;
		font-weight:bold;
		color:#3171CA;
		text-align:center;
	}
	
#art_new div 
	{
		display:none;
		border-bottom:1px dotted #666666;
		margin:2px 0;
		padding-bottom:3px;
	}
	
#art_new div h4
	{
		margin:2px 0;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		color:#93b225;
	}

#art_new div p
	{
		color:#666666;
		margin:2px 0;
		padding:0;
		font-size:9.5pt;		
	}
	
#art_new div p a
	{
		text-decoration:none;
		color:#3171CA;
	}
	
#art_new div p a:hover
	{
		text-decoration:underline;
	}
	
#your_booking
	{
		margin:10px;
		padding:5px;
		height:auto;
		font-family:Tw Cen Mt, arial;
		font-size:10pt;
		color:#666666;
		border:1px solid #E36D11;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	}
	
#your_booking h3
	{
		margin:2px 0;
		margin-bottom:5px;
		text-transform:capitalize;
		cursor:pointer;
		font-size:11pt;
		font-weight:bold;
		color:#E36D11;
		text-align:center;
	}
	
#your_booking div 
	{
		display:block;
		border-bottom:1px dotted #666666;
		margin:2px 0;
		padding-bottom:3px;
	}
	
#your_booking div h4
	{
		margin:2px 0;
		font-size:11pt;
		font-weight:normal;
		text-transform:none;
		color:#93b225;
	}

#your_booking div p
	{
		color:#666666;
		margin:2px 0;
		padding:0;
		font-size:9.5pt;		
	}
	
#your_booking div p a
	{
		text-decoration:none;
		color:#E36D11;
	}
	
#your_booking div p a:hover
	{
		text-decoration:underline;
	}
	
#ur-book-done a
	{
		text-decoration:none;
		color:#ffffff;
		padding:3px;
		background-color:#E36D11;
		border:1px solid #e36d11;
		border-radius:5px;
		float:right;
	}

#ur-book-done a:hover
	{
		text-decoration:underline;
	}
	