.sharmexcursions{}
	
#slideshow
	{
		width:99%;
		height:150px;
		margin:30px auto;
		margin-top:5px;
		cursor:pointer;
	}
	
#slideshow img
	{
		width:100%;
		height:150px;
		border:1px solid #93b225;
		border-radius:15px;
		display:none;
	}
	
#slideshow img.slide_active
	{
		display:block;
	}
	
#slide_button
	{
		margin:0 auto;
		text-align:center;
		margin-top:-109px;
		width:99%;
	}
	
#slide_button a
	{
		text-decoration:none;
	}

#slide_button a:hover
	{
		border-color:#ffffff;
		background-color:#ffffff;
		color:#666666;
	}
	
#prev
	{
		position:relative;
		left:0px;
		float:left;
		cursor:pointer;
		border:1px solid #666666;
		border-radius: 0 10px 10px 0;
		background-color:#666666;
		border-left:0;
		padding:5px;
		color:#ffffff;
		font-family:Tw Cen Mt, arial;
		font-size:10pt;
	}
	
#next
	{
		position:relative;
		right:-1px;
		float:right;
		cursor:pointer;
		border:1px solid #666666;
		border-radius: 10px 0px 0px 10px;
		background-color:#666666;
		border-left:0;
		padding:5px;
		color:#ffffff;
		font-family:Tw Cen Mt, arial;
		font-size:10pt;
	}
	
#slide_num
	{
		margin:0 auto;
		width:400px;
		text-align:center;
		margin-top:100px;
		margin-bottom:10px;
	}
	
#slide_num a
	{
		border:1px solid #666666;
		border-radius:15px;
		padding:4px;
		font-family:Tw Cen Mt,arial;
		font-size:9pt;
		margin-right:3px;
		background-color:#f2f2f2;
		color:#666666;
		text-decoration:none;
		cursor:pointer;
	}
	
#slide_num a:hover
	{
		background-color:#666666;
		color:#ffffff;
	}
	