.sharmexcursion{}

body
	{
		margin:0 auto;
		margin-bottom:5px;
		border:0;
		width:100%;
		height:auto;
		background-color:#f2f2f2;
	}

#mainPage
	{
		width:1000px;
		max-width:1000px;
		height:auto;
		padding:3px 8px 10px 8px;
		border:1px solid #93b225;
		border-radius:0 0 5px 5px;
		-webkit-border-radius:0 0 5px 5px;
		-moz-border-radius:0 0 5px 5px;
		border-top:0;
		font-family:Tw Cen MT,arial;
		font-size:8.5pt;
		color:#666666;
		margin:0 auto;
		background-color:#ffffff;
	}
	
#clear
	{
		width:100%;
		clear:both;
		height:5px;
	}
	
