.sharmexcursion{}

#tourPref
	{
		width:100%;
		margin:2px 0 5px 0;
		border:1px solid #666666;
		border-radius:5px;
	}
	
#tourPref h2
	{
		color:#666666;
		font-family:Tw Cen MT,arial;
		font-size:12pt;
		text-transform:capitalize;
		font-weight:bold;
		margin-top:0;
		padding-bottom:2px;
		background-color:#f2f2f2;
		padding-left:3px;
		margin-bottom:2px;
		border:1px sloid #f2f2f2;
		border-radius:5px 5px 0 0;
	}
	
#tourPref h2 a
	{
		color:#666666;
		font-family:Tw Cen MT,arial;
		font-size:12pt;
		text-transform:capitalize;
		font-weight:bold;
		margin-top:0;
		/*padding-bottom:2px;*/
		background-color:#f2f2f2;
		/*padding-left:3px;
		margin-bottom:2px;*/
		border:1px sloid #f2f2f2;
		border-radius:5px 5px 0 0;
		text-decoration:none;
	}
	
#tourPref  h2 a:hover
	{
		text-decoration:underline;
	}
	
#tourPref table
	{
		width:100%;
		height:auto;
		padding:0;
	}

#tourPref table td
	{
		padding:0;
	}
	
#tourPic
	{
		width:150px;
		max-width:150px;
	}
	
#tourPic img
	{
		height:120px;
		width:140px;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:5px;
		border:1px solid #dfdeae;
		border-radius:5px;
		cursor:pointer;
	}
	
#tourDesc p
	{
		font-family:Tw Cen MT,arial;
		font-size:9pt;
		color:#666666;
		margin-top:0;
		margin-bottom:10px;
		padding-left:3px;
		padding-right:3px;
	}
	
#tourPrice
	{
		clear:none;
		float:left;
		width:105px;
	}
	
#tourPrice h3
	{
		font-family:Tw Cen MT,arial;
		font-size:8pt;
		font-weight:bold;
		text-transform:capitalize;
		color:#ffffff;
		margin-top:-36px;
		margin-left:18px;
	}
	
#tourReview
	{
		float:left;
		width:135px;
		margin-left:0;
		margin-top:3px;
	}
	
#tourReview h3
	{
		font-family:Tw Cen MT,arial;
		font-size:8pt;
		font-weight:bold;
		text-transform:capitalize;
		color:#ffffff;
		margin-top:-22px;
		margin-left:13px;
	}
	
#tourReview p
	{
		font-family:Tw Cen MT,arial;
		font-size:9pt;
		font-weight:bold;
		text-transform:capitalize;
		color:#666666;
		margin-top:-30px;
		margin-bottom:0;
		padding-left:42px;
		padding-right:3px;
		float:left;
	}
	
#tourButton
	{
		width:98%;
		text-align:right;
		margin-top:5px;
		margin-bottom:3px;
		margin-right:5px;
		padding-right:15px;
	}
	
#tourButton button
	{
		color:#666666;
		font-family:Tw Cen MT,arial;
		font-size:9.5pt;
		font-weight:bold;
		text-transform:capitalize;
		cursor:pointer;
		border:1px solid #666666;
		border-radius:5px;
		background-color:#f2f2f2;
		padding:1px 2px 1px 2px;
	}
	
#tourButton a
	{
		background-color:#666666;
		padding:3px;
		color:#ffffff;
		font-family:Tw Cen MT,arial;
		font-size:8.5pt;
		font-weight:bold;
		text-transform:capitalize;
		cursor:pointer;
		border-width:1px solid #d6c084;
		border-radius:5px;
		text-decoration:none;
		margin-right:5px;
		display:none;
	}
	
