.sharmexcursion{}

#tourhead
	{
		width:99%;
		height:auto;
		margin-bottom:5px;
		padding:5px;
		border:1px solid #93b225;
		border-radius:5px;
		margin:0 2px 8px 0;
	}
	
#tourhead div
	{
		border-bottom:1px dotted #666666;
		margin-bottom:2px;
		padding-bottom:3px;
	}
	
#tourhead div h1
	{
		color:#93b225;
	}
	
#tourhead div h2
	{
		font-family:Tw Cen Mt,arail;
		font-size:12pt;
		font-weight:bold;
		color:#D6C084;
		margin-top:0;
		margin-bottom:2px;
		text-align:right;
	}
	
#tourhead div h5
	{
		color:#666666;
		margin-top:0;
		margin-bottom:2px;
		font-size:8pt;
		font-family:Tw Cen Mt, arial;
		cursor:pointer;
	}
	
#tourhead div h5 a
	{
		text-decoration:none;
		color:#666666;
		margin-right:3px;
	}
	
#tourhead div h5 a:hover
	{
		text-decoration:underline;
	}
	
#tourmaindesc h3
	{
		margin-top:2px;
		margin-bottom:5px;
		color:#93b225;
		font-size:11pt;
		font-weight:bold;
		text-transform:capitalize;
	}
	
#tourmaindesc p
	{
		margin-top:1px;
		margin-bottom:2px;
		font-size:9pt;
	}
	
#tourbody
	{
		width:100%;
		margin:5px 0 5px 0;
	}
	
#tourbody h2
	{
		color:#ffffff;
		font-family:Tw Cen MT,arial;
		font-size:12pt;
		text-transform:capitalize;
		font-weight:bold;
		margin-top:0;
		padding-bottom:2px;
		background-color:#93b225;
		padding-left:3px;
		margin-bottom:2px;
	}
	
#tourclear
	{
		display:block;
		height:0;
		clear:both;
	}
	
#tourbody ul
	{
		list-style:none;
		margin:0;
		padding-left:0;
		width:100%;
	}
	
#tourbody ul li
	{
		float:left;
		position:relative;
		padding:2px 4px;
		margin-right:3px;
		border:1px solid #93b225;
		border-radius:5px 5px 0 0;
		border-bottom:0;
		font-family:Tw Cen Mt,arial;
		font-size:12pt;
		font-weight:bolder;
		color:#93b225;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#tourbody ul li.active
	{
		top:1px;
		background-color:#93b225;
		color:#ffffff;
	}
	
#largepic img
	{
		width:430px;
		height:341px;
		border:1px solid #93b225;
		border-radius:5px;
		margin-right:5px;
	}
	
#picdesc
	{
		font-family:Tw Cen Mt, arial;
		font-size:9pt;
		color:#666666;
		width:200px;
		max-width:200px;
	}

#smallpic img
	{
		width:56px;
		height:46px;
		border:1px solid #93b225;
		border-radius:5px;
		margin-right:3px;
		cursor:pointer;
	}
	
.tourcontent
	{
		width:100%;
		height:auto;
		border:1px solid #93b225;
		border-radius:0 0 5px 5px;
		padding:3px;
		font-family:Tw Cen Mt,arial;
		color:#666666;
	}
	
.tourcontent h3
	{
		color:#D6C084;
		font-family:Tw Cen Mt,arial;
		font-size:11pt;
		margin-top:0;
		margin-bottom:5px;
		text-transform:none;
		font-weight:bold;
	}
	
#tourbody div.tourcontent p
	{
		margin-top:2px;
		margin-bottom:5px;
		font-size:10pt;
	}
	
.tourcontent.gallery
	{
		display:none;
	}
	
.tourcontent.day1
	{
		display:block;
	}
	
.tourcontent.day2
	{
		display:none;
	}
	
.tourcontent.day3
	{
		display:none;
	}
	
.tourcontent.day4
	{
		display:none;
	}
	
.tourcontent.day5
	{
		display:none;
	}
	
.tourcontent.day6
	{
		display:none;
	}
	
.tourcontent.day7
	{
		display:none;
	}
	
.tourcontent.price
	{
		display:none;
	}
	
.tourcontent.optional
	{
		display:none;
	}
	
.tourcontent.reviews
	{
		display:none;
	}
	
#tourbutton1
	{
		float:right;
		clear:none;
		width:auto;
		margin:0;
		padding:0;
	}
	
#tourbutton1 button
	{
		 background-color: #93b225;
		border: 1px solid #93b225;
		border-radius: 5px 5px 5px 5px;
		color: #ffffff;
		cursor: pointer;
		font-family: Tw Cen MT,arial;
		font-size: 9.5pt;
		font-weight: bold;
		padding: 1px 2px;
		text-transform: capitalize;
	}