*{font-family: Myriad Pro; font-size:16px; line-height: 20px;}
.container{width:100%; padding: 0; background-color: #f2f2f2; min-height: 100%; background-image: url(../img/logo-black.png); background-position: center bottom; background-repeat: no-repeat; background-attachment: fixed;}
.row{padding: 0; margin:0;}
div.row.main-cont{vertical-align: middle; padding:10px; margin: 15px auto 5px;}
div.row.main-cont div.item{padding:10px; text-align: center;}
div.row.main-cont div.item div.home-logo{text-align: center;}
div.row.main-cont div.item div.home-logo a{display: inline-block;}
div.row.main-cont div.item div.home-logo a img{margin: 5px auto;}
div.row.main-cont div.item div.home-int-link{text-align: center; align-content: center;}
div.row.main-cont div.item div.home-int-link ul{list-style: none; padding: 0; margin:0 15px; vertical-align: middle; height: 217px;}
div.row.main-cont div.item div.home-int-link ul li{height:50px; vertical-align: middle; text-align: center; border-radius:10px; width:150px; background-color: #27384b; color:#fff; margin:12px 10px; display: inline-block; transition: all 1s ease 0s; border:1px solid #27384b;}
div.row.main-cont div.item div.home-int-link ul li:hover{background-color: #FFF; border-color: #1e1e1e;}
div.row.main-cont div.item div.home-int-link ul li a{height:50px; vertical-align: middle; text-align: center; display: block; line-height: 50px; color:#fff; font-size:20px;}
div.row.main-cont div.item div.home-int-link ul li a:hover{text-decoration: none;}
div.row.main-cont div.item div.home-int-link ul li:hover a{color:#1e1e1e;}
div.row.main-cont-link div.home-tot-link{margin:5px auto;}
div.row.main-cont-link div.home-tot-link ul{list-style: none; display: inline-block; padding: 5px 0; margin:0;}
div.row.main-cont-link div.home-tot-link ul li{display: block; margin:0; padding: 0;}
div.row.main-cont-link div.home-tot-link ul li a{background-color: #ec1d25; color:#fff; font-size:20px; line-height:50px; padding: 15px 20px; border-radius: 10px; display: block; margin:10px; text-align: center; text-transform: capitalize;}
div.main-txt-cont h2{padding: 10px 0; font-size:30px; line-height:45px; margin:10px auto 0; text-transform: capitalize; text-align: center; background-color: #27384b; color: #fff; border-radius:10px 10px 0 0;}
div.main-txt-cont div.home-txt{padding:10px; margin:0 auto 10px; background-color: #fff; border:1px solid #27384b; border-radius:0 0 10px 10px;}
div.main-txt-cont div.home-txt img{margin:5px auto 15px; width: 98%; display: block}
div.main-txt-cont div.home-txt h1{color: #27384b;}
div.main-txt-cont div.home-txt p{text-align: justify; font-size: 16px;line-height: 25px; padding: 0 15px;}
div.more-link{text-align: right; color:#fff; margin:10px auto; display: block; padding:0 15px;}
div.more-link a{color:#fff; padding: 15px; text-transform: uppercase; background-color:#27384b; display:inline-block; transition: all 1s ease 0s;}
div.more-link a:hover{background-color: #ec1d25; text-decoration: none; color: #27384b;}
div.row.home-palet{padding:10px 15px; text-align: center; align-content: center; margin: 5px auto;}
div.row.home-palet div.item{padding:0; margin:0;}
div.row.home-palet div.item div{background: #fff; margin:10px; padding: 10px; color: #fff; border:1px solid #ddd;}
div.row.home-palet div.item div img{}
div.row.home-palet div.item div h3{}
div.row.home-palet div.item div h3 a{font-size:17px;}
div.row.home-palet div.item div h3 a span{font-weight: bold; font-size:20px; text-transform: uppercase;}
div.row.home-palet div.item div h3 a:hover{}
div.row.home-palet div.item div p{color:#000; font-size: 14px; height:81px; overflow: hidden; text-overflow: clip;}
.foot{background-color: #27384b; padding:10px; margin:10px 0 0 0;}

@media (max-width:600px){
	div.main-txt-cont h2{font-size:22px; padding: 10px 10px;}
}