body{background-image: url(../img/BG.jpg); background-repeat: repeat-y repeat-x; background-attachment: fixed; background-position: bottom center; font-family: Myriad Pro; background-size: auto 100px;}
.container{width:100%; margin:0; padding:0 15px; border-top:10px solid #115268;}
.row.head{background-color: #fff; padding-top:10px; border-bottom:1px solid #115268;}
.logo{padding-bottom:10px;}
.menu{text-align: right; padding:0 25px;}
.menu .row{margin:0;}
.menu form{margin:10px auto; font-size: 14px; line-height: 16px;}
.menu form input[type=text]{border:2px solid #485d87; border-right:0; border-radius:10px 0 0 10px; padding:5px; color:#333; width:200px;}
.menu form input[type=submit]{background-color: #485d87; color:#fff; padding:5px 10px; margin-left:-3px; border-radius:0 10px 10px 0; font-weight: bold; border:2px solid #485d87;}
.menu form input[type=submit]:hover{color:#485d87; background-color: #fff;}
.menu .navbar{border:0; margin:0; background-color: transparent;}
.menu .navbar .container-fluid{padding: 0;}
.menu .navbar .container-fluid #navbar{padding: 0;}
.menu .navbar .container-fluid #navbar ul.nav{width:100%; margin-top:15px; margin-bottom:-1px;}
.menu .navbar .container-fluid #navbar ul.nav li{float: right; color:#fff; font-size:14px; font-weight: bold; border: 1px solid #115268; background-color: #115268; margin:0 3px; transition: all 1s ease 0s;}
.menu .navbar .container-fluid #navbar ul.nav li:hover{background-color: transparent;}
.menu .navbar .container-fluid #navbar ul.nav li:hover a{color: #115268; transition: all 1s ease 0s;}
.menu .navbar .container-fluid #navbar ul.nav li.active{border: 1px solid #115268; background-color: #fff; margin:0 3px; border-radius:15px 15px 0 0;}
.menu .navbar .container-fluid #navbar ul.nav li.active a{background-color: transparent; color:#115268; font-weight: bolder;}
.menu .navbar .container-fluid #navbar ul.nav li.fr{border-radius:15px 0 0 0;}
.menu .navbar .container-fluid #navbar ul.nav li.ls{border-radius:0 15px 0 0;}
.menu .navbar .container-fluid #navbar ul.nav li a{color:#fff; font-size:14px; font-weight: bold; padding:8px 5px;}
.menu .navbar-header{text-align:left;}
.menu .navbar-header button{border-color:#115268;}
.menu .navbar-header button .icon-bar{background-color:#115268;}

.row.slider{margin:15px -15px;}
.row.slider div.carousel-caption{text-align: right; margin:0; padding: 0; bottom: 0; z-index: 16;}
.row.slider div.item img{width:100%;}
.row.slider div.carousel-caption p{background-color: rgba(17,82,104,.7); padding:15px; font-size:20px; line-height:25px; color:#fff; text-align: right; width:auto; display: inline-block; border-radius:15px 15px 0 0; margin-bottom: 0;}
.carousel-control.left{background-image: none;}
.carousel-control.right{background-image: none;}

.row.about{padding:0;}
.row.about .lf{background-color: #485d87; padding:25px 20px; margin-bottom:10px;}
.row.about .lf h1{color:#fff; text-align: center; margin:0 20px 30px; font-size:20px; font-weight:bolder; border-bottom:1px solid #fff; padding-bottom:10px;}
.row.about .lf p{color:#333; font-size:15px; line-height:24px; text-align:justify; padding:0 15px 5px;}
.row.about .lf div.rm{text-align: center;}
.row.about .lf div.rm a{color:#485d87; font-size:18px; text-transform: capitalize; padding:10px 30px; background-color: #fff; border-radius: 10px; text-align: center; margin:5px auto 0; text-decoration: none;}
.row.about .lf div.rm a:hover{transition: all 1s ease 0s; color:#333;}
.row.about .rg{padding:0 5px;}
.row.about .rg div.item{background-color: #fff; border:1px solid #115268; border-radius: 10px; padding:10px; margin-bottom:10px;}
.row.about .rg div.item:last-child{margin-bottom:0;}
.row.about .rg div.item h2{color:#115268; margin:10px 0 15px 0; font-size:18px; font-weight: normal;}
.row.about .rg div.item ul.icon{list-style: none; margin: 0; padding: 0; display: inline; float: right; top:-45px; position: relative; margin-bottom:-45px;}
.row.about .rg div.item ul.icon li{margin-right:5px; float:left;}
.row.about .rg div.item p{color:#333; font-size:15px; line-height:24px; text-align:justify; text-align-last: left;}
.row.about .rg div.item ul.tab{list-style: none; margin: 0 0 10px; padding: 0;}
.row.about .rg div.item ul.tab li{display:inline; color:#115268; font-size:18px; margin-right:15px; padding-bottom:5px; cursor: pointer; transition: all 1s ease 0s;}
.row.about .rg div.item ul.tab li.active{color:#7395d9; border-bottom:1px solid #7395d9;}
.row.about .rg div.item ul.tab li.active:hover{color: #7395d9;}
.row.about .rg div.item ul.tab li a{color:inherit; font-size:inherit;}
.row.about .rg div.item ul.tab li:hover{color: #333;}
.row.about .rg div.rm {text-align: right; margin-top:-15px; margin-bottom: 15px;}
.row.about .rg div.rm a{color:#fff; font-size:18px; text-transform: capitalize; padding:10px 30px; background-color: #115268; border-radius: 10px; text-align: center; margin:5px auto 0; text-decoration: none;}
.row.about .rg div.rm a:hover{transition: all 1s ease 0s; color:#333;}
.row.about .rg div.item div.tab-txt{display: none; transition: all 1s ease 0s;}
.row.about .rg div.item div.tab-txt.active{display: block;}

.row.project-txt div.main{background-color: #fff; border:1px solid #333; border-radius: 25px; padding:10px 0; margin:45px auto;}
.row.project-txt div.main h2{color:#115268; font-size:20px; font-weight: bold; text-align: center; margin-bottom:25px;}
.row.project-txt div.main p{color:#333; font-size:15px; line-height:24px; text-align:center; padding: 0 10px;}

.row.project-img{margin-bottom:15px;}
.row.project-img img{background-color: #fff; padding:2px;}

.row.footer{background-color: #adb5ca; padding:15px;}
.row.footer .footeritem{padding:15px 15px 5px;}
.row.footer .footeritem:first-child{border-right:1px solid #115268;}
@media only screen and (max-width: 991px){
	.logo img{margin:5px auto;}
	.menu{text-align: center;}
	.menu .navbar .container-fluid #navbar ul.nav li{margin:0 1px;}
	.row.about .rg div.rm{text-align: center; margin-top:10px;}
	.row.slider div.carousel-caption{text-align: center;}
	.row.slider div.carousel-caption p{font-size:15px; text-align: center;}
	.row.footer .footeritem:first-child{border-right:0; border-bottom:1px solid #115268;}
	.row.footer .footeritem{border-bottom:1px solid #115268;}
	.row.footer .footeritem:last-child{border-bottom:0;}
	.row.footer .footeritem input[type="submit"]{margin-bottom:5px;}
}
@media only screen and (max-width: 460px){
	.menu{padding: 0;}
	.menu form input[type="text"]{width:150px;}
}
@media only screen and (max-width: 350px){
	.menu form input[type="submit"]{padding: 5px 2px; font-weight: normal;}
}
@media only screen and (max-width: 650px){
	.menu .navbar .container-fluid #navbar ul.nav{display: flex; flex-direction: column-reverse;}
	.menu .navbar .container-fluid #navbar ul.nav li{width:94%; margin:2px auto;}
	.menu .navbar .container-fluid #navbar ul.nav li.active{width:92%; margin:2px auto;}
	.menu .navbar .container-fluid #navbar ul.nav li.ls{border-radius: 0;}
	.menu .navbar .container-fluid #navbar ul.nav li.fr{border-radius: 0;}
}
.row.footer .footeritem h3{color:#115268; margin:5px 0 25px 0; font-size:15px; text-transform: capitalize;}
.row.footer .footeritem form{text-align: center;}
.row.footer .footeritem input[type=text]{display: block; width:100%; font-size:14px; color:#333; padding:2px 10px; margin-bottom:25px; border:1px solid #115268;}
.row.footer .footeritem input[type=email]{display: block; width:100%; font-size:14px; color:#333; padding:2px 10px; margin-bottom:25px; border:1px solid #115268;}
.row.footer .footeritem input[type=tel]{display: block; width:100%; font-size:14px; color:#333; padding:2px 10px; margin-bottom:25px; border:1px solid #115268;}
.row.footer .footeritem input[type=submit]{font-size:15px; color:#fff; padding:5px 30px; border:1px solid #115268; background-color: #115268; border-radius: 10px; transition: all 1s ease 0s; font-weight: bold;}
.row.footer .footeritem input[type=submit]:hover{background-color: #fff; color:#115268;}
.row.footer .footeritem textarea{width:100%; font-size:14px; color:#333; padding:2px 10px; margin-bottom:25px; border:1px solid #115268;}
.row.footer .footeritem p{font-size:15px; color:#333; line-height:18px;}
.row.footer .footeritem p span{font-weight: bold; min-width:80px; font-size: 14px; display: inline-block;}
.row.footer .footeritem p a{color:#115268; font-size:50px; margin:7px;}
.row.footer .footeritem p a i{color:#115268; font-size:45px;}
.row.footer .footeritem p a:hover i{color:#333; font-size:45px;}
.row.footer .footeritem p.social{text-align: center; margin-top:30px;}

.row.copyrights{background-color: #485d87; padding:10px 0; text-align: center; color:#fff; font-size:15px;}


/*---- Services Page ----*/
.row.services{margin:0 0 5px;}
.row.services div.row{margin:0; padding: 0; text-align: center;}
.row.services div.row div.about-services{background-color: #485d87; width:49.5%; margin-right:.5%; margin-bottom: 5px; padding:10px 20px; overflow: hidden; height: 520px;}
.row.services div.row div.about-services h2{color:#fff; font-size: 20px; margin-bottom:20px; padding-bottom:10px; text-align: center; border-bottom:1px solid #fff; font-weight: bold;}
.row.services div.row div.about-services img{display: block; margin:10px auto 30px; width:200px;}
.row.services div.row div.about-services p{color:#fff; font-size:15px; line-height: 24px; text-align: center; margin-bottom: 17px}


.row.services div.row div.services-request{border:1px solid #485d87; background-color:#fff; padding:10px 20px; overflow: hidden; height: 520px; margin-bottom: 5px;}
.row.services div.row div.services-request h2{color:#485d87; font-size: 20px; margin-bottom:20px; padding-bottom:10px; text-align: center; border-bottom:1px solid #485d87; font-weight: bold;}
.row.services div.row div.services-request input[type=text]{width:90%; border:1px solid #485d87; margin:5px auto 15px; padding:5px 10px; font-size:15px; color:#333;}
.row.services div.row div.services-request input[type=tel]{width:90%; border:1px solid #485d87; margin:0 auto 15px; padding:5px 10px; font-size:15px; color:#333;}
.row.services div.row div.services-request input[type=email]{width:90%; border:1px solid #485d87; margin:0 auto 15px; padding:5px 10px; font-size:15px; color:#333;}
.row.services div.row div.services-request input[type=password]{width:90%; border:1px solid #485d87; margin:0 auto 15px; padding:5px 10px; font-size:15px; color:#333;}
.row.services div.row div.services-request input[type=submit]{border:1px solid #485d87; background-color:#485d87;  margin:10px auto 15px; padding:5px 30px; font-size:15px; color:#fff; font-weight: bold; border-radius: 10px;}
.row.services div.row div.services-request input[type=submit]:hover{border:1px solid #485d87; background-color:#fff; color:#485d87;}
.row.services div.row div.services-request textarea{width:90%; border:1px solid #485d87; margin:0 auto 15px; padding:5px 10px; font-size:15px; color:#333;}
.row.services div.row div.services-request select{width:90%; border:1px solid #485d87; margin:0 auto 15px; padding:5px 10px; font-size:15px; color:#333;}
.row.services div.row div.services-request select option{margin:5px; font-size:15px; color:#485d87;}

@media only screen and (max-width: 991px){
	.row.services div.row div.about-services{width:100%; height:auto;}
	.row.services div.row div.services-request{height: auto;}
}


.row.services div.row h1{font-size: 25px; font-weight: bold; text-align: center; margin:70px auto 30px; color:#485d87;}

.row.services div.row div.services-tab{background-color: #fff; border:1px solid #485d87; margin-bottom: 5px; width:24.5%; margin-right:.5%;}
.row.services div.row div.services-tab:last-child{width:25%; margin-right:0;}
@media only screen and (max-width: 991px){
	.row.services div.row div.services-tab{width:100%; margin-right:0;}
	.row.services div.row div.services-tab:last-child{width:100%; margin-right:0;}
	.row.services div.row div.services-tab p{text-align: center;}
}
.row.services div.row div.services-tab img{margin:30px auto 50px; display: block;}
.row.services div.row div.services-tab h3{color:#485d87; font-size: 18px; margin-bottom:10px; text-align: center;}
.row.services div.row div.services-tab p{color:#333; font-size:14px; line-height: 24px; text-align: justify; margin-bottom: 17px}



/*---- Projects page ----*/
.row.projects-page{margin-bottom:10px;}
.row.projects-page div.col-lg-10{padding:0 5px;}

.row.projects-page div.proj-menu{padding:0 5px;}
.row.projects-page div.proj-menu h2{background-color: #115268; border:1px solid #115268; border-radius:10px 10px 0 0; padding:15px 20px; color:#fff; margin-bottom: 0; font-size:25px;}
.row.projects-page div.proj-menu ul{list-style: none; background-color: #fff; border:1px solid #115268; border-radius:0 0 10px 10px; padding: 0;}
.row.projects-page div.proj-menu li{padding:10px 30px; border-bottom:1px solid #115268; color:#115268; font-size:16px; line-height: 25px; transition: all 1s ease 0s;}
.row.projects-page div.proj-menu li:last-of-type{border:0;}
.row.projects-page div.proj-menu li.active{color:#333; text-align: right;}
.row.projects-page div.proj-menu li.active:hover{color:#115268; background-color: #fff;}
.row.projects-page div.proj-menu li:hover{color:#fff; background-color: #115268;}
.row.projects-page div.proj-menu li a{color:inherit; font-size: inherit; line-height: 25px; text-decoration: none; display: block;}
.row.projects-page div.proj-menu li a i{color: inherit; line-height: inherit; margin-left:5px; margin-right:-20px;}

.row.projects-page div.pro-main{padding:0 5px;}
.row.projects-page div.pro-main h1{display: table; text-align: center; padding: 15px 50px; color:#485d87; font-size:25px; font-weight: bold; margin: 20px auto 0; background-color: #fff; border:1px solid #485d87; border-radius: 10px 10px 0 0; border-bottom: 0;}
.row.projects-page div.pro-main div.tot{background-color: #fff; border:1px solid #485d87; border-radius: 10px; padding: 20px;}
.row.projects-page div.pro-main div.tot div.active.provid,.row.projects-page div.pro-main div.tot div.active.promain{display: block;}
.row.projects-page div.pro-main div.tot div.provid,.row.projects-page div.pro-main div.tot div.promain{display: none;}
.row.projects-page div.pro-main div.tot h3{color:#7395d9; margin:20px 0; font-size: 20px; text-transform: capitalize;}
.row.projects-page div.pro-main div.tot p{color:#333; font-size:15px; line-height: 25px; text-align: left;}
.row.projects-page div.pro-main div.tot img{display: block; margin: 20px auto;}
.row.projects-page div.pro-main div.tot ul.pro-adv{color:#7395d9; list-style-type: circle; list-style-position: inside; font-size:15px; line-height:25px; padding:0; margin: 20px auto 10px; text-align: center;}
.row.projects-page div.pro-main div.tot ul.pro-adv li{margin:5px auto; min-width:50%; float: left;}
.row.projects-page div.pro-main div.tot ul.pro-tab{border-bottom:1px solid #333; padding:0 0 10px 0; margin:0 auto 15px; list-style: none; display: flex;}
.row.projects-page div.pro-main div.tot ul.pro-tab li{color:#333; font-size: 18px; line-height: 25px; padding:2px 8px; float: left; cursor: pointer; margin-right:15px; text-align: center;}
.row.projects-page div.pro-main div.tot ul.pro-tab li.active{color:#7395d9; border-bottom:1px solid #7395d9; padding-bottom: 0px;}
.row.projects-page div.pro-main div.tot video{margin:-15px auto 15px; display: block;}
.row.projects-page div.pro-main div.tot div.vidthum{margin:-15px auto 15px; padding: 0 2px;}
.row.projects-page div.pro-main div.tot div.vidthum img{width:100%; cursor: pointer; margin:5px auto;}
.row.projects-page div.pro-main div.tot div.vidthum p{font-size:14px; line-height:18px; color:#333; padding: 5px 8px; background-color: #fff; border:1px solid #7395d9; border-radius: 5px; text-align: center; height: 82px; overflow: hidden; width:90%; display: block; margin: 2px auto;}

@media only screen and (max-width: 530px){
	.row.projects-page div.pro-main h1{font-size: 18px; padding: 10px 15px;}
}
@media only screen and (max-width: 991px){
	.row.projects-page div.proj-menu ul{display: flex;}
	.row.projects-page div.proj-menu li{display: inline; float:left; border-bottom:0; font-size:14px; padding:10px; text-align: center; border-right:1px solid #ddd; margin:2px auto;}
	.row.projects-page div.proj-menu li:last-child{border:0; margin-right:2px;}
	.row.projects-page div.proj-menu li.active{text-align: center;}
	.row.projects-page div.proj-menu li i{display: none;}
	.row.projects-page div.proj-menu ul li.active a{text-decoration: underline; font-weight: bold;}
}
@media only screen and (max-width: 600px){
	.row.projects-page div.proj-menu li{font-size:12px;}
}
@media only screen and (max-width: 542px){
	.row.projects-page div.proj-menu ul{display: table;}
	.row.projects-page div.proj-menu ul li{display: table-cell; border:0; border-radius:0; padding: 5px;}
}


/*---- About page ----*/
.row.about-page{margin-bottom:10px;}

.row.about-page div.about-menu{}
.row.about-page div.about-menu h2{background-color: #115268; border:1px solid #115268; border-radius:10px 10px 0 0; padding:15px 20px; color:#fff; margin:0; font-size:25px;}
.row.about-page div.about-menu ul{list-style: none; background-color: #fff; border:1px solid #115268; border-radius:0 0 10px 10px; padding: 0;}
.row.about-page div.about-menu li{padding:10px 30px; border-bottom:1px solid #115268; color:#115268; font-size:16px; line-height: 25px; transition: all 1s ease 0s;}
.row.about-page div.about-menu li:last-of-type{border:0;}
.row.about-page div.about-menu li.active{color:#333; text-align: right;}
.row.about-page div.about-menu li.active:hover{color:#115268; background-color: #fff;}
.row.about-page div.about-menu li:hover{color:#fff; background-color: #115268;}
.row.about-page div.about-menu li a{color:inherit; font-size: inherit; line-height: 25px; text-decoration: none; display: block;}
.row.about-page div.about-menu li a i{color: inherit; line-height: inherit; margin-left:5px; margin-right:-20px;}
.row.about-page div.about-menu li a.icon{text-align: center;}
.row.about-page div.about-menu li.icon:hover{background-color:transparent;}
.row.about-page div.about-menu li a img{display: inline-block; margin: 10px;}

@media only screen and (max-width: 991px){
	.row.about-page div.about-menu ul{display: flex;}
	.row.about-page div.about-menu li{display: inline; float:left; border-bottom:0; font-size:14px; padding:10px; text-align: center; border-right:1px solid #ddd; margin:2px auto;}
	.row.about-page div.about-menu li:last-child{border:0; margin-right:2px;}
	.row.about-page div.about-menu li.active{text-align: center;}
	.row.about-page div.about-menu li i{display: none;}
	.row.about-page div.about-menu ul li.active a{text-decoration: underline; font-weight: bold;}
}
@media only screen and (max-width: 600px){
	.row.about-page div.about-menu li{font-size:12px;}
}
@media only screen and (max-width: 542px){
	.row.about-page div.about-menu ul{display: table;}
	.row.about-page div.about-menu ul li{display: table-cell; border:0; border-radius:0; padding: 5px;}
}


.row.about-page div.about-main{background-color: #fff; border:1px solid #333; border-radius: 10px; padding: 0 20px;}
.row.about-page div.about-main h1{text-align: center; padding: 15px; color:#333; font-size:25px; font-weight: bold; margin: 0 auto 20px; border-bottom:1px solid #333; display: table;}
.row.about-page div.about-main p{color:#333; font-size:15px; line-height: 25px; text-align: left;}

.row.about-page div.team-tab{margin:15px auto; text-align: center;}
.row.about-page div.team-tab div{background-color: #485d87; padding: 20px; margin:5px auto 10px; width:32.8%; margin-right:.5%;}
.row.about-page div.team-tab div h3{color:#fff; margin:15px auto 5px; font-size: 16px; }
.row.about-page div.team-tab div h4{color:#333; margin:5px auto 15px; font-size: 12px; font-weight: bold; font-style: italic;}
.row.about-page div.team-tab div p{color:#fff; font-size:15px; line-height: 25px; text-align: center; margin:10px auto 0;}
.row.about-page div.team-tab div img{}

@media only screen and (max-width: 991px){
	.row.about-page div.team-tab div{width:100%; margin-right:0;}
}



