@font-face{font-family: tit; src: url( ../fonts/Charlemagne-Bold.ttf);}
@font-face{font-family: spe; src: url( ../fonts/TrajanPro-Regular.ttf);}
@font-face{font-family: nor; src: url(../fonts/Myriad-Pro-Regular.ttf);}
body{width:100%; padding: 0; margin: 0; font-family: nor, myriad pro; text-decoration: none; color:#fff; font-size:16px; line-height: 22px;}

.logo{padding: 10px 20px; margin:0; position: absolute; top:0; left:0; text-align: center; z-index: 2; width:100%;}
.logo img{max-width: 120px; margin: 5px auto; display: inline-block;}
.logo div.menu{min-height: 60px; margin-top:-40px;}
.logo div.menu div.menu-nav{float: left; width: 50px; height: 50px; background-color: #fff; border-radius: 100%; padding: 5px; cursor: pointer;}
.logo div.menu div.menu-nav.right{float: right;}
.logo div.menu div.menu-nav ul{list-style: none; padding: 0; margin: 0;}
.logo div.menu div.menu-nav ul li{font-size:16px; line-height: 20px; text-transform: uppercase; color:#297664;}
.logo div.menu div.menu-nav ul li a{color:inherit; transition: all .5s ease 0s;}
.logo div.menu div.menu-nav ul li a i{color: #02782c;}
.logo div.menu div.menu-nav ul li a span{font-size: 12px;}
.logo div.menu div.menu-nav ul li a:hover{text-decoration: none; color:#363636;}
.logo div.menu div.menu-nav ul li a:hover i{color: #363636;}
.logo div.menu div.menu-nav ul li a:active{color:#363636; text-decoration: none;}
.logo div.menu div.menu-nav ul li ul{display: none; padding: 10px; position: absolute; margin-top:10px; font-size:14px; text-transform: none; text-align: left; background-color: #fff; color:#363636;}
.logo div.menu div.menu-nav ul li ul li{font-size:14px; line-height: 20px; text-transform: none; color:#363636; margin:2px auto 5px;}
.logo div.menu div.menu-nav ul li ul li a{}
.logo div.menu div.menu-nav ul li.active ul{display: block;}

.main-sec{top:0; left: 0; background-image: url(../img/main-img.jpg); background-repeat: no-repeat; background-size: cover; z-index: 1; width: 100%; min-height: 100vh; padding: 27vh 0 23vh;}
.main-sec .txt{background-color: rgba(41,118,100,0.4); padding: .5vh 5vw; height: 49vh; overflow: hidden;}
.main-sec .txt div.container{padding-top: 10vh;}
.main-sec .txt span.sec-tit{font-family: tit; text-transform: uppercase; display: inline-block; font-size: 20px; line-height: 25px; padding-bottom: 5px; border-bottom:1px solid #fff;}
.main-sec .txt h1{font-weight: bold; text-transform: uppercase; margin: 0 0 20px; font-size:3.5vw; line-height: 5vh; text-align: center;}
.main-sec .txt p{padding: 20px 10px 50px; text-align: center; text-transform: uppercase; font-size:20px; line-height: 25px; font-weight: lighter;}

.activity-sec{background-image: url(../img/g-bg.png); background-repeat: repeat; min-height: 100vh; width: 100%; z-index: 1; padding: 10px 0;}
.activity-sec .scroll-arrow{min-width:200px; margin:-19vh auto 25px; border:1vh solid #fff; max-width:22vw; padding:2vh 2vw; text-align: center; font-family: spe; font-size: 20px; background-color: rgba(41,118,100,0.3)}
.activity-sec .scroll-arrow span{line-height: 2vh; height: 2vh; overflow: hidden; margin: 1vh auto; display: block; font-weight: bold; text-transform: uppercase; font-family: arial; font-size:14px;}
.activity-sec .scroll-arrow div.arrow{border:.5vh solid #fff; padding: 1.5vh 20px 2vh; margin:1.5vh auto 25px; display: inline-block; font-size:35px; cursor: pointer; border-bottom:0; height: 9vh; overflow: hidden;}
.activity-sec .scroll-arrow h2{font-size:20px; line-height: 7vh; text-transform: uppercase; font-weight: bold;}
.activity-sec span.sec-tit{font-family: tit; text-transform: uppercase; padding-bottom: 5px; border-bottom:1px solid #fff; display: inline-block; font-size: 20px; line-height: 25px; position: relative; top:-50px;}
.activity-sec .activity-imgs{display: flex;}
.activity-sec .activity-imgs div[class*=col]{align-self: center; margin:15px auto;}
.activity-sec .activity-imgs div[class*=col] div.img{box-shadow: 5px 5px 10px #000;}
.activity-sec .activity-imgs div[class*=col] h3{text-transform: capitalize; line-height: 25px; font-size: 20px; text-align: center;}
.activity-sec .activity-imgs div[class*=col] h3 a{color: inherit; transition: all 1s ease 0s;}
.activity-sec .activity-imgs div[class*=col] h3 a:hover{text-decoration: none; color:#333;}
.activity-sec div.news-panel-item{padding: 0 5px;}
.activity-sec div.news-panel-item div{background-color: #fff; padding-bottom: 15px; margin-bottom:15px;}
.activity-sec div.news-panel-item img{width:100%}
.activity-sec div.news-panel-item h3{color: #0c2539; font-size:16px; line-height: 22px; margin:15px auto 10px; text-transform: uppercase; padding:5px 15px 0; height: 27px; overflow: hidden;}
.activity-sec div.news-panel-item h3 a{color: inherit;}
.activity-sec div.news-panel-item h3 a:hover{text-decoration: none; color:#1e1e1e;}
.activity-sec div.news-panel-item p{color: #677075; line-height:20px; height: 65px; overflow: hidden; padding:5px 15px 0; font-size: 16px;}
.activity-sec a.carousel-control{width:auto; background: none;}
.activity-sec a.carousel-control.left{margin-left:-15px;}
.activity-sec a.carousel-control.right{margin-right:-15px;}
.activity-sec ol.carousel-indicators{position: relative; margin-top: 25px;}

.master-plan{background-image: url( ../img/sample-06-img.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh; width: 100%; z-index: 1; padding: 10px 0; text-align: center; color: #000; padding-top: 20vh;}
.master-plan h2{text-transform: uppercase; font-family: spe; font-size:50px; line-height: 50px; margin-bottom: 2vh; height: 10vh; overflow: hidden;}
.master-plan p{font-size:20px; line-height: 30px; height: 10vh; overflow: hidden;}
.master-plan a{color:#fff; background-color: #297664; padding: 1vh 50px; line-height: 25px; font-size: 22px; text-transform: uppercase; text-decoration: none; transition: all 1s ease 0s; margin: 0 auto; display: inline-block; position: relative; top: 40vh; border-radius: 10px; letter-spacing: 8px; font-weight: lighter;}
.master-plan a:hover{background-color: #02782c;}

.life-style{background-color: #fff; max-height: 100vh; width: 100%; z-index: 1; padding: 20px 0; text-align: center; color: #000; overflow: hidden;}
.life-style span.sec-tit{font-family: nor; float: left; padding-bottom: 5px; display: inline-block; font-size: 20px; line-height: 25px; color: #297664;}
.life-style span.sec-tit span{border-bottom:1px solid #297664; padding-bottom: 5px;}
.life-style ul{list-style: none; height: 50px; float: right;}
.life-style ul li{color:#9fa2a7; text-transform: uppercase; font-size:12px; cursor: pointer; padding: 3px 10px; margin: 0 2px; float: left; display: inline-block; letter-spacing: 3px;}
.life-style ul li.active{color:#297664; border:1px solid #fea900; border-radius: 5px;}
.life-style .frame{min-height: 50vh; border:2vh solid #000; margin:10vh auto 0; max-width: 30vw; z-index: 1; position: relative; left: -15vw}
.life-style .img{min-height: 40vh; margin:0 auto; max-width: 40vw; z-index: 2; position: relative; top:-45vh; left:-7vw; margin-bottom:-40vh; min-width: 250px;}
.life-style a.carousel-control{width:auto; background: none; font-size:14px; margin-top: 10px;}
.life-style a.carousel-control.left{margin-left:15px;}
.life-style a.carousel-control.right{margin-left:15px; left:60px; right: auto;}
.life-style div.slide-txt{min-height: 180px; max-width: 300px; background-color: #297664; position: relative; top:-230px; left:35vw; z-index: 3; padding: 10px; display: none; margin-bottom: -230px;}
.life-style div.slide-txt.active{display: block;}
.life-style div.slide-txt.active div{display: none;}
.life-style div.slide-txt.active div.active{display: block;}
.life-style div.slide-txt.active span.close{color: #a8a8a8; float: right; font-size: 14px; border: 1px solid #a8a8a8; height:20px; width: 20px;	border-radius: 100%; opacity: 1;}
.life-style div.slide-txt.active h3{color:#fea900; text-transform: uppercase; line-height: 25px; font-size: 18px; margin:10px auto; text-align: left; font-family: spe;}
.life-style div.slide-txt.active p{color:#fff; font-size:12px; line-height: 20px; text-align: justify; font-weight: lighter;}

footer{background-color: #2c2c2c; padding: 7vh 0 0 !important; text-align: center;}
footer h4{text-transform: uppercase; font-size:14px; margin:10px auto 15px; line-height: 18px;}
footer h5{text-transform: uppercase; font-size:12px; margin:20px auto 15px; line-height: 18px;}
footer ul{list-style-type: none; margin: 0; padding: 0;}
footer ul li{color:#a8a8a8; line-height: 18px; font-size: 14px; text-transform: capitalize; margin: 10px auto;}
footer ul.links li{color:#fff; float: left; width:33%;}
footer ul.links.sys li{width:50%;}
footer ul li a{color:inherit; transition: all .7s ease 0s;}
footer ul li a i{font-size:20px !important;}
footer ul li a:hover{text-decoration: none; color:#02782c;}
footer input[type=email]{border-radius:10px; display: inline-block; background-color: #353535; border:0; padding: 10px; font-size:15px; float: left; width:120%; line-height:18px;}
footer button{border-radius:100%; padding: 5px; float: right; background-color: #ffc80b; border:0; display: inline; width:32px; height: 32px; line-height: 22px; margin-top:-34px; margin-right: -15%;}
footer hr{height:1px; background-color: #424242; margin:20px auto 10px; opacity: .3;}
footer ul.foot-img{text-align: center;}
footer ul.foot-img li{text-transform: uppercase; font-size:12px; padding:5px 15px; float: left; line-height: 73px;}
footer ul.foot-img li img{max-height: 50px; width:auto;}
footer ul.foot-img li a{min-width: 20%;}
footer p{color:#a8a8a8; font-size: 12px; padding: 0;}
footer img.sticker{position: relative; bottom:15px; height:50px; float: right; margin-top: -50px;}

@media only screen and (max-width: 767px){
	.main-sec .txt {height: auto;}
	.main-sec .txt h1{font-size: 30px; line-height: 35px; margin-top: 25px;}
	.activity-sec .activity-imgs{display: block; margin:10px auto;}
	.activity-sec span.sec-tit{top:-10px;}
	footer input[type=email]{width:100%;}
	footer button{margin-right: 3px;}
	
}

@media only screen and (max-width: 350px){
	.activity-sec div.news-panel-item h3{font-size:15px;}
}

.scroll-bar{background-color: #d4d5cd; width:18px; border-radius:10px; text-align: center; padding: 10px 0; float: right; position: relative; top:-15px; right:-15px;}
.scroll-bar.marg{margin-top:25vh;}
.scroll-bar.marg{background-color: #8eb6ad;}
.scroll-bar span{border:1px solid #fff; margin: 0 auto; display: block; width:1px; height:25%; min-height: 30px; }
.scroll-bar i{color: #fff; font-size:8px; display: block; margin: 0 auto; padding: 0;}
.scroll-bar i.active{font-size:12px; line-height: 12px; width: 12px; height: 12px;}
