.alpha{}

*
{
	font-family:tw cen mt, lilyUPC, arial, tahoma;
	font-size:12pt;
	line-height:14pt;
	text-align:left;
	font-weight:normal;
	text-decoration:none;
	cursor:auto;
	text-transform:normal;
	padding:0;
	margin:0;
	width:auto;
	height:auto;
	border:0;
	color:#1e1e1e;
}

.clear{width:100%; height:1px; clear:both; display:block;}

a
{
	cursor:pointer;
}

body
{
	width:100%;
	height:100%;
	background-color:#92b1cd;
	background-image:url(../img/logo-body-back.png);
	background-position:bottom center; 
	background-repeat:no-repeat;
	background-attachment:fixed;
}

div#upsp{}

div#banner{width:960px; margin:5px auto; margin-bottom:0; padding:20px; height:100px; background-color:#fff; border-radius:10px 10px 0 0;}

div#banner div.logo{float:left; margin-top:7px; margin-left:10px; height:86px; width:400px; margin-right:25px;}
div#banner div.upmenu{float:right; width:400px; text-align:right; height:30px;}
div#banner div.upmenu a{display:inline-block; width:30px; height:30px; margin:0 4px; margin-top:-10px;}
div#banner div.upmenu a img{width:30px; height:30px; cursor:inherit;}
div#banner div.upmenu span.sep{width:2px; height:30px; margin:0 2px; background-color:#293e6b; display:inline-block;}

div#slider{width:1050px; height:450px; background-color:#f2f2f2; margin:0 auto; margin-top:-20px; padding:2px;}
div#slider div.slid_item{display:none; overflow:hidden; width:1050px; height:450px; border-radius:20px;}
div#slider div.slid_item.active{display:block;}
div#slider div.slid_item img{width:1050px; height:450px; display:inline-block; margin:0; padding:0;}
div#slider div.slid_item div.slit_over{display:inline; position:absolute; width:1050px; height:300px;}
div#slider div.slid_item div.slit_over h2{font-family:AR ESSENCE, tahoma; font-size:20pt; text-transform:capitalize; padding:15px 25px; border-radius:10px; background-color:rgba(0,0,0,0.5); top:30px; left:30px; color:#fefefe; text-align:center; position:relative; width:250px; line-height:25px; margin-bottom:100px; display:block;}
div#slider div.slid_item div.slit_over p{background-color:rgba(0,0,0,0.7); font-family:tahoma; font-size:11pt; line-height:13pt; width:400px; padding:20px; right:0; bottom:0; color:#dfe5e6; text-align:justify; position:relative; float:right; margin:100px 30px 0 0; border-radius:5px; border:1px dashed #f2f2f2; max-height:78px; overflow:hidden;}
div#slider div.slid_item div.slit_over div.more{background-color:#fff; color:#293e6b; font-family:tahoma; font-size:14pt; text-transform:capitalize; padding:10px; margin:10px; float:right; display:block; margin:20px 30px 0 0; border-radius:8px;}
div#slider div.slid_item div.slit_over div.more:hover{background-color:#293e6b; color:#fff; cursor:pointer;}
div#slider div.slid_item div.slit_over div.more a{color:inherit; font-size:inherit; font-family:inherit;}

div#menu{width:1000px; height:50px; margin:10px auto; background-color:rgba(255,255,255,0.8); border-radius:10px; border:1px solid #111;}
div#menu div.dwmenu{background-color:rgba(114, 154, 189, 0.3); border-radius:10px; margin:6px auto 4px; width:990px; border:1px solid #333;}
div#menu div.dwmenu ul{list-style:none; margin-left:10px;}
div#menu div.dwmenu ul li{float:left; width:16.66%; font-size:14pt; text-align:center; vertical-align:middle; font-family:AR ESSENCE,tahoma; color:#3b60af; text-transform:capitalize; padding:14px 0; line-height:16pt;}
div#menu div.dwmenu ul li:hover{background-color:#fff; color:#1e1e1e;}
div#menu div.dwmenu ul li a{font-family:inherit; color:inherit; font-size:inherit; line-height:inherit;}

div#wel{width:980px; height:auto; margin:15px auto 0; background-color:rgba(239,239,239,0.7); padding:0 10px 2px; border-radius:10px 10px 0 0;}
div#wel h1{color:#f2f2f2; font-family:lilyUPC, tahoma; margin:0 auto; font-size:20pt; padding:10px; padding-bottom:15px; text-align:center; text-transform:capitalize; width:500px; margin-bottom:15px; background-color:#293e6b; border-radius:0 0 10px 10px;}
div#wel img{}
div#wel p{font-family:tahoma; padding:20px 30px; line-height:22pt; font-size:12pt; background-color:rgba(136,167,225,0.3); border-radius:10px; margin-bottom:10px; text-align:justify; color:#888;}
div#wel p span{font-family:inherit; color:#293e6b; font-size:20pt; font-weight:bold; margin-right:10px; padding-top:5px;}
div#wel p span+span{margin-left:10px;}

div#who{width:1000px; margin:0 auto; display:block; margin-top:10px;}
div#who div.who_item{display:inline-block; float:left; width:302.6px; margin-right:10px; height:auto; min-height:270px; padding:20px 10px; padding-bottom:0; text-align:center; background-color:rgba(242,242,242,0.7); border-radius:10px; border:2px dashed #999;}
div#who div.who_item.last{margin-right:0;}
div#who div.who_item img{width:70px; height:70px; margin:10px 0 15px;}
div#who div.who_item h2{text-align:center; font-family:AR ESSENCE, tahoma; font-size:14pt; margin-bottom:20px; margin-top:5px; color:#3b60af; text-transform:uppercase;}
div#who div.who_item p{font-size:11pt; font-family:tw cen mt, tahoma; color:#888; line-height:14pt; padding:5px; margin-bottom:10px; text-align:left; text-align:justify; min-height:81px;}
div#who div.who_item a{float:right; color:#fff; font-family:AR ESSENCE,tahoma; font-size:12pt; padding:5px 10px;  background-color:#293e6b; border-radius:5px 5px 0 0; margin-bottom:-2px; margin-right:10px; text-transform:capitalize;}
div#who div.who_item a:hover{color:#1e1e1e; background-color:#fff;}

div#chairman{width:980px; margin:15px auto 5px; background-color:#efefef; border-radius:10px; background-image:url(../img/logo-back-color-40%-left.png); background-position:bottom left; background-repeat:no-repeat; min-height:300px; padding:0 10px 5px;}
div#chairman h2{color:#f2f2f2; font-family:lilyUPC, tahoma; font-size:20pt; float:right; padding:10px; width:300px; line-height:25pt; margin-right:-10px; position:relative; top:20px; border-radius:20px 0 0 0; background-color:rgba(41,62,107,0.85); text-align:center;}
div#chairman img{width:750px; height:200px; margin:-10px 125px 20px;}
div#chairman p{font-family:tahoma; padding:20px 30px; line-height:22pt; font-size:12pt; background-color:rgba(136,167,225,0.4); border-radius:10px; margin-bottom:10px; text-align:justify; color:#888;}
div#chairman p span{font-family:inherit; color:#293e6b; font-size:20pt; font-weight:bold; margin-right:10px; padding-top:5px;}
div#chairman p span+span{margin-left:10px;}

div#projects{width:980px; padding:10px; border-radius:10px; background-color:rgba(30, 30, 30, 0.7); margin:10px auto; min-height:200px;}
div#projects h2{text-transform:uppercase; font-size:20pt; margin:0 10px 10px; padding-bottom:15px; border-bottom:1px dashed #f2f2f2; color:#f2f2f2; font-family:tw cen mt; text-align:left;}
div#projects div.pro_item{width:950px; margin-right:10px; float:left; border:1px solid #fff; padding:10px 15px; background-color:#efefef;}
div#projects div.pro_item h2{font-family:tahoma; font-size:14pt; background-color:#293e6b; border-radius:5px; padding:10px; text-align:center; margin:10px auto; border:0; line-height:22pt;}
div#projects div.pro_item p{font-family:tahoma; font-size:11pt; line-height:18pt; text-align:justify; color:#666; margin:10px 5px; padding:5px;}
div#projects div.pro_item a{font-family:tw cen mt; font-size:13pt; text-transform:capitalize; margin:5px; float:right; color:#293e6b;}
div#projects div.pro_item a:hover{color:#88a7e1;}
div#projects div.pro_item img{width:280px; height:150px; border:2px solid #1e1e1e; background-color:#293e6b; padding:3px; margin:5px auto; display:block; margin-bottom:10px;}
div#projects div.pro_menu{width:296px; float:right; margin-right:-10px;}
div#projects div.pro_menu ul{list-style:none;}
div#projects div.pro_menu ul li{font-family:AR ESSENCE, tw cen mt, tahoma; font-size:14pt; text-align:center; text-transform:uppercase; background-color:#efefef; color:#293e6b; padding:10px 20px; margin:2px 0; cursor:pointer; border-radius:20px 0 0 10px;}
div#projects div.pro_menu ul li:hover{color:#fff; background-color:#293e6b;}

div#invs{width:1000px; margin:15px auto 10px;}
div#invs div.invs_item{width:495px; float:left; background-color:rgba(136, 167, 225, 1); border:1px solid #1e1e1e; border-radius:10px; padding-bottom:10px; border-top:0; box-shadow:-5px 8px 1px #efefef;}
div#invs div+div.invs_item{float:right; box-shadow:5px 8px 1px #efefef;}
div#invs div.invs_item h2{margin:-4px 10px 10px 10px; padding:10px; background-color:#2a2b39; border-radius:0 0 10px 10px; font-family:tw cen mt; font-size:14pt; font-weight:bold; text-align:center; text-transform:uppercase; color:#fff;}
div#invs div.invs_item img{width:100px; height:98px; margin:5px auto 20px; display:block; border:0px solid #1e1e1e; border-radius:10px;}
div#invs div.invs_item p{font-family:tw cen mt, tahoma; font-size:12pt; line-height:14pt; text-align:justify; color:#2a2b39; margin:5px 5px 10px; padding:10px;}
div#invs div.invs_item a{display:block; margin:0 auto; text-transform:capitalize; width:50px; background-color:#293e6b/* 2a2b39 */; color:#fff; margin-bottom:-20px; padding:10px; border-radius:10px 10px 0 0; font-family:AR ESSENCE,tw cen mt,tahoma; font-size:14pt; text-align:center;}
div#invs div.invs_item a:hover{color:#293e6b; background-color:#efefef;}

div#footer{width:960px; margin:0 auto; margin-top:10px; border-radius:20px 20px 0 0; background-color:#fff; padding:20px; padding-bottom:10px; height:50px; overflow:hidden;}
div#footer div.foot_item{float:left; margin-right:10px; width:232.5px;}
div#footer div.foot_item img{width:40px; height:40px; margin-right:10px; float:left;}
div#footer div.foot_item p{float:left; text-align:left; font-family:tw cen mt; font-size:11pt; color:#293e6b; line-height:14pt; text-transform:capitalize;}
div#footer div.foot_item.last{margin-right:0;}
div#footer div.social{position:absolute; width:40px; margin-top:-18px; margin-left:940px; height:78px; overflow:hidden;}
div#footer div.social img{width:35px; height:35px; margin:1px; cursor:pointer; border:0;}

div#companies{width:980px; padding:10px; margin:10px auto; background-color:rgba(255,255,255,0.6); border-radius:10px; /* min-height:300px; */ padding-bottom:0;}
div#companies h2{color:#f2f2f2; font-family:lilyUPC, tahoma; margin:0 auto; font-size:20pt; padding:10px; padding-top:15px; text-align:center; text-transform:capitalize; width:500px; margin-top:0; background-color:#293e6b; border-radius:10px 10px 0 0;}
div#companies div.com_item{width:440px; float:left; background-color:rgba(136, 167, 225, 0.6); border-radius:10px; padding:20px; margin:10px 5px;}
div#companies div.com_item img{float:left; width:110px; height:90px; border:2px solid #fff; margin-right:10px; }
div#companies div.com_item h3{font-family:AR ESSENCE,tahoma; font-size:14pt; color:#293e6b; text-transform:uppercase; margin-bottom:10px;}
div#companies div.com_item p{font-family:tw cen mt; font-size:12pt; line-height:16pt; margin-bottom:10px; padding:5px; color:#888;}
div#companies div.com_item a{position:absolute; margin:-10px 0 0 260px; padding:10px; font-family:tahoma; text-transform:capitalize; color:#fff; background-color:#293e6b; cursor:pointer; text-align:center; display:inline-block;}
div#companies div.com_item a:hover{color:#293e6b; background-color:#fff;}

div#holder{width:980px; margin:5px auto; padding:10px; min-height:340px;}

div#holder div#about-menu{width:240px; margin-right:10px; float:left;}
div#holder div#about-menu ul{list-style:none;}
div#holder div#about-menu ul li{margin-bottom:5px; padding:10px; font-size:14pt; font-family:tw cen mt; color:#fff; background-color:rgba(114, 154, 189, 0.8); border-radius:10px; cursor:pointer; text-align:center; text-transform:uppercase; border:1px solid #fff; }
div#holder div#about-menu ul li:hover{color:#666; background-color:#fff;}
div#holder div#about-menu ul li.active{background-color:#293e6b;}
div#holder div#about-menu ul li.active:hover{color:#fff;}

div#holder div#about-cont{background-color:rgba(242,242,242,0.8); padding:10px; width:708px; border-radius:10px; border:0px solid #f2f2f2; float:left; min-height:450px; padding-top:0; box-shadow:5px 5px 2px #2a2b39; display:none;}
div#holder div#about-cont.active{display:block;}
div#holder div#about-cont h1{width:500px; margin:0 auto 15px; border-radius:0 0 10px 10px; padding:10px; font-size:16pt; font-family:ar essence,tahoma, tw cen mt; color:#fff; background-color:#293e6b; text-transform:capitalize; text-align:center;}
div#holder div#about-cont p{background-color:; text-align:justify; font-family:arial; font-size:10pt; color:rgba(0, 0, 0, 0.7); line-height:16pt;}
div#holder div#about-cont p.active{height:auto; visibility:visible; padding:5px; margin-bottom:10px;}
div#holder div#about-cont p{height:0; visibility:hidden; margin:0; padding:0;}
div#holder div#about-cont a{color:#fff; background-color:#293e6b; border-radius:5px; text-transform:capitalize; cursor:pointer; font-family:tw cen mt; padding:10px; margin:5px; float:right; border:1px solid #293e6b;}
div#holder div#about-cont a:hover{color:#293e6b; background-color:#fff;}

div#holder div#about-cont.cha h2 {width:500px; margin:0 auto 15px; border-radius:0 0 10px 10px; padding:10px; font-size:16pt; font-family:ar essence,tahoma, tw cen mt; color:#fff; background-color:#293e6b; text-transform:capitalize; text-align:center;}
div#holder div#about-cont.cha img{width:600px; height:200px; margin:10px auto 20px; display:block;}
div#holder div#about-cont.cha p{font-family:arial; padding:20px; line-height:16pt; font-size:10pt; background-color:rgba(136,167,225,0.4); border-radius:10px; margin-bottom:10px; text-align:justify; color:#888;}
div#holder div#about-cont.cha p span{font-family:inherit; color:#293e6b; font-size:20pt; font-weight:bold; margin-right:10px; padding-top:5px;}
div#holder div#about-cont.cha p span+span{margin-left:10px;}

div#holder div#about-cont p.sign{text-align:center; display:inline-block; float:right; color:#1e1e1e; padding:10px; background-color:transparent;}
div#holder div#about-cont p.sign span{font-size:15pt; margin:5px; margin-bottom:10px;}

div#holder div#about-cont ul{margin-left:15px; list-style:square;}
div#holder div#about-cont ul li{font-size:11pt; color:#666; line-height:15pt; font-family:tw cen mt; margin-bottom:8px;}
div#holder div#about-cont ul li span{color:#293e6b; margin-right:5px; font-size:11pt; font-family:tahoma}

div#holder div#about-cont.cha2 h2 {width:500px; margin:0 auto 15px; border-radius:0 0 10px 10px; padding:10px; font-size:16pt; font-family:ar essence,tahoma, tw cen mt; color:#fff; background-color:#293e6b; text-transform:capitalize; text-align:center;}
div#holder div#about-cont.cha2 img{width:600px; height:200px; margin:10px auto 20px; display:block;}
div#holder div#about-cont.cha2 p{font-family:arial; padding:20px; line-height:16pt; font-size:10pt; background-color:rgba(136,167,225,0.4); border-radius:10px; margin-bottom:10px; text-align:justify; color:#888;}
div#holder div#about-cont.cha2 p span{font-family:inherit; color:#293e6b; font-size:20pt; font-weight:bold; margin-right:10px; padding-top:5px;}
div#holder div#about-cont.cha2 p span+span{margin-left:10px;}

div#holder div#about-cont.mat h2 {width:500px; margin:0 auto 15px; border-radius:0 0 10px 10px; padding:10px; font-size:16pt; font-family:ar essence,tahoma, tw cen mt; color:#fff; background-color:#293e6b; text-transform:capitalize; text-align:center;}
div#holder div#about-cont.mat img {width:700px; height:335px; margin:10px auto 20px; display:block;}

div#holder div#about-cont.cot{}
div#holder div#about-cont.cot div#cont-det{width:330px; padding:10px 10px 15px 0; margin-right:10px; border-right:1px dashed #3b60af; float:left; clear:none;}
div#holder div#about-cont.cot div#cont-det ul{list-style:none; margin-left:5px;}
div#holder div#about-cont.cot div#cont-det ul li{color:#3b60af; font-family:tw cen mt; font-size:11pt; margin-bottom:8px; text-transform:capitalize; font-weight:bold;}
div#holder div#about-cont.cot div#cont-det ul li ul{list-style:none; margin-left:10px;}
div#holder div#about-cont.cot div#cont-det ul li ul li{font-size:11pt; font-family:tw cen mt; margin-bottom:7px; color:#666; font-weight:normal;}
div#holder div#about-cont.cot div#cont-det ul li ul li span{color:#1e1e1e; font-weight:normal; font-family:inherit; font-size:inherit; min-width:90px; display:inline-block;}
div#holder div#about-cont.cot div#cont-det ul li ul li a{padding:0; background-color:transparent; color:#3b60af; text-decoration:underline; font-family:inherit; font-size:inherit; border:0; margin:0; float:none; text-transform:capitalize;}
div#holder div#about-cont.cot div#cont-det ul li ul li a:hover{color:#666; text-decoration:none;}
div#holder div#about-cont.cot div#cont-form{width:350px; float:left; clear:none;}
div#holder div#about-cont.cot div#cont-form form{padding:10px 0;}
div#holder div#about-cont.cot div#cont-form form label{color:#1e1e1e; font-family:arial; font-size:10pt; display:inline-block; width:100px; margin-bottom:10px; vertical-align:top; text-transform:capitalize; margin-right:5px;}
div#holder div#about-cont.cot div#cont-form form input[type=text]{border:1px solid #3b60af; padding:3px 5px; border-radius:5px; margin-bottom:10px; font-family:tw cen mt; font-size:11pt; min-width:200px; color:#666;}
div#holder div#about-cont.cot div#cont-form form input[type=submit]{color:#fff; background-color:#293e6b; border-radius:5px; text-transform:uppercase; cursor:pointer; font-family:tw cen mt; padding:10px; margin:5px; float:right; border:1px solid #293e6b;}
div#holder div#about-cont.cot div#cont-form form input[type=submit]:hover{color:#293e6b; background-color:#fff;}
div#holder div#about-cont.cot div#cont-form form textarea{border:1px solid #3b60af; padding:3px 5px; border-radius:5px; margin-bottom:10px; font-family:tw cen mt; font-size:11pt; min-width:200px; color:#666;}

div#holder div#about-cont.car{}
div#holder div#about-cont.car h2{color:#3b60af; font-family:tw cen mt; font-size:12pt; font-weight:bold; margin-bottom:10px; text-transform:capitalize;}
div#holder div#about-cont.car ul{list-style:circle; margin-left:20px;}
div#holder div#about-cont.car ul li{font-size:10pt; font-family:arial; margin-bottom:10px; text-transform:capitalize; color:#666; cursor:pointer; color:rgba(41, 62, 107, 0.8);}
div#holder div#about-cont.car ul li.active{margin-left:15px; color:#1e1e1e;}
div#holder div#about-cont.car ul li:hover{text-decoration:underline;}
div#holder div#about-cont.car div.caritem{padding:10px; background-color:#fff; border:1px dashed #293e6b; border-radius:10px; margin:5px; display:none;}
div#holder div#about-cont.car div.caritem.active{display:block;}
div#holder div#about-cont.car div.caritem h3{color:#92b1cd; font-family:tahoma; font-size:11pt; margin-bottom:10px; text-transform:capitalize;}
div#holder div#about-cont.car div.caritem p{font-size:9pt; line-height:12pt; color:#666; margin:5px; text-align:justify;}
div#holder div#about-cont.car div.caritem ul{list-style:square;}
div#holder div#about-cont.car div.caritem ul li{margin-bottom:8px; font-size:9pt; font-family:arial; color:#1e1e1e; text-align:justify; cursor:auto;}
div#holder div#about-cont.car div.caritem ul li:hover{text-decoration:none;}
div#holder div#about-cont.car div.caritem a{float:right; clear:both; margin:5px; text-transform:uppercase;}
div#holder div#about-cont.car div.caritem a:hover{}

div#screen{width:100%; min-height:1000px; background-color:rgba(0,0,0,0.5); position:absolute; top:0; left:0; padding:100px 0; display:none;}
div#screen div.job-apply{background-color:#f2f2f2; border-radius:15px; padding:10px; margin:50px auto; width:800px; border:1px solid #3b60af; bottom:5px; position:fixed; margin-bottom:10px;}
div#screen div.job-apply form ul{list-style:none; margin-left:10px; border-bottom:1px dashed #3b60af; margin-bottom:10px;}
div#screen div.job-apply form ul li{color:#666; font-size:10pt; font-family:arial; margin-bottom:10px;}
div#screen div.job-apply form ul li span{color:#3b60af; font-family:arial; font-size:10pt; font-weight:bold; width:150px; display:inline-block;}
div#screen div.job-apply form {padding:10px; margin:5px;}
div#screen div.job-apply form label{font-family:tw cen mt; font-size:11pt; margin-bottom:10px; width:150px; vertical-align:top; color:#92b1cd; display:inline-block; margin-left:30px;}
div#screen div.job-apply form input[type=text]{border:1px solid #3b60af; padding:3px 5px; color:#666; font-family:tw cen mt; font-size:11pt; margin-bottom:10px; min-width:300px; border-radius:5px;}
div#screen div.job-apply form input[type=file]{border:1px solid #3b60af; padding:3px 5px; color:#666; font-family:tw cen mt; font-size:11pt; margin-bottom:10px; min-width:300px; border-radius:5px;}
div#screen div.job-apply form input[type=submit]{color:#fff; background-color:#293e6b; border-radius:5px; text-transform:uppercase; cursor:pointer; font-family:tw cen mt; padding:10px; margin:5px; float:right; border:1px solid #293e6b;}
div#screen div.job-apply form input[type=clear]{color:#fff; background-color:#293e6b; border-radius:5px; text-transform:uppercase; cursor:pointer; font-family:tw cen mt; padding:10px; margin:5px; float:right; border:1px solid #293e6b;}
div#screen div.job-apply form input[type=button]{color:#fff; background-color:#293e6b; border-radius:5px; text-transform:uppercase; cursor:pointer; font-family:tw cen mt; padding:10px; margin:5px; float:right; border:1px solid #293e6b; cursor:pointer}
div#screen div.job-apply form input[type=submit]:hover{color:#293e6b; background-color:#fff;}
div#screen div.job-apply form input[type=clear]:hover{color:#293e6b; background-color:#fff;}
div#screen div.job-apply form input[type=button]:hover{color:#293e6b; background-color:#fff;}
div#screen div.job-apply form textarea{border:1px solid #3b60af; padding:3px 5px; color:#666; font-family:tw cen mt; font-size:11pt; margin-bottom:10px; min-width:300px; border-radius:5px;}

div#holder div#left-button{width:232px; float:left; margin-right:10px; }
div#holder div#left-button ul{list-style:none;}
div#holder div#left-button ul li{text-align:center; padding:10px; cursor:pointer; text-transform:uppercase; font-size:14pt; font-family:ar essence, tahoma; background-color:#1e1e1e; margin-bottom:10px; border-radius:10px; border:1px solid #fff; color:#fff;}
div#holder div#left-button ul li a{color:inherit; font-family:inherit; font-size:inherit;}
div#holder div#left-button{position:absolute; margin-top:270px;}

div#holder div.comp-menu{width:240px; padding-right:10px; margin-bottom:0; float:left;}
div#holder div.comp-menu.top{position:fixed; top:5px;}
div#holder div.comp-menu ul{list-style:none;}
div#holder div.comp-menu ul li{color:#fff; background-color:rgba(114, 154, 189, 0.8); font-size:14pt; font-family:tw cen mt; padding:10px; text-align:center; text-transform:uppercase; cursor:pointer;border:1px solid #fff; margin-bottom:5px; border-radius:10px; height:19px; width:218px;}
div#holder div.comp-menu ul li:hover{color:#666; border-color:#1e1e1e; background-color:#fff;}
div#holder div.comp-menu ul li.active{border-radius:10px; background-color:#293e6b;}
div#holder div.comp-menu ul li.active:hover{color:#fff; border-color:#fff;}

div#holder div.comp-cont{width:710px; background-color:rgba(255,255,255,0.85); padding:0 10px 20px; float:left; border-radius:10px; box-shadow:5px 5px 2px #2a2b39;}
div#holder div.comp-cont.top{margin-left:250px;}
div#holder div.comp-cont h1{width:500px; margin:0 auto 15px; border-radius:0 0 10px 10px; padding:10px; padding-bottom:15px; font-size:16pt; font-family:tahoma, tw cen mt; color:#fff; background-color:#293e6b; text-transform:uppercase; text-align:center;}
div#holder div.comp-cont h2{color:#293e6b; font-size:14pt; margin:15px 5px; text-transform:capitalize;font-family:AR ESSENCE, tw cen mt, tahoma;}
div#holder div.comp-cont p{background-color:#f2f2f2; padding:10px; text-align:justify; line-height:16pt; font-family:arial; font-size:10pt; color:#666; margin-bottom:10px; border-radius:10px; border:1px dashed #293e6b; line-height:18pt;}
div#holder div.comp-cont p b{width:200px; display:inline-block; font-weight:bold; line-height:22pt;}
div#holder div.comp-cont p.f{background-color:rgba(136, 167, 225, 0.6); line-height:18pt; border-color:rgba(136, 167, 225, 0.6); padding:15px; text-align:left;}
div#holder div.comp-cont p.f span{font-size:12pt; margin:0 5px;}
div#holder div.comp-cont img{width:auto; max-width:676px; height:auto; max-height:250px; border:2px solid #293e6b; margin:10px auto; display:block; padding:2px; background-color:#fff;}
div#holder div.comp-cont div{visibility:hidden; height:0; margin:0; padding:0;}
div#holder div.comp-cont div.active{visibility:visible; height:auto;}
div#holder div.comp-cont div.gallery{}
div#holder div.comp-cont div.gallery.active div{visibility:visible; height:150px; width:214.5px; margin:10px; border:1px solid #293e6b; float:left;}
div#holder div.comp-cont div.gallery.active div img{width:208.5px; height:144px; margin:3px; z-index:0; border:0; padding:0;}
div#holder div.comp-cont div.gallery.active div div.screen{border:0; width:212.5px; height:148px; position:relative; top:0; left:0; z-index:1; cursor:pointer; background-color:rgba(255,255,255,0.4); margin:0; padding:0; margin-top:-148px;}
div#holder div.comp-cont div.gallery.active div span{background-color:#1e1e1e; color:#fff; font-family:arial; text-transform:uppercase; padding:10px; border-radius:5px; margin:0 auto; margin-top:-45px; cursor:pointer; z-index:2; width:50px; position:relative;}
div#holder div.comp-cont div.gallery.active div span.active{display:block;}
div#holder div.comp-cont div.gallery.active div span{display:none;}
div#holder div.comp-cont div.gallery.active div span:hover{color:orange;}

div#zoom{background-color:rgba(0,0,0,0.8); width:100%; height:200%; position:absolute; top:0; left:0; padding-top:10px; text-align:center; display:none; z-index:100;}
div#zoom div.cont{width:auto; margin:-25px auto 10px; display:inline-block; padding:10px 15px; background-color:#fff; border-radius:10px;}
div#zoom div.cont img{width:auto; height:auto; margin:0 auto 10px;}
div#zoom div.cont p{font-size:11pt; font-weight:arial; color:#666; padding:10px; margin:5px auto 10px; line-height:15pt; text-align:center;}
div#zoom span{display:none;}
div#zoom div.but div.prev{width:40px; height:40px; background-image:url('../img/prev.png'); background-position:center center; background-repeat:no-repeat; cursor:pointer; float:left;}
div#zoom div.but div.next{width:40px; height:40px; background-image:url('../img/nxt.png'); background-position:center center; background-repeat:no-repeat; cursor:pointer; float:right;}
div#zoom div.but{display:block; margin:50px auto; display:none; position:relative;}
div#zoom div.close{margin:390px auto 0; display:block; font-size:14pt; font-weight:bold; text-transform:uppercase; padding:8px; border-radius:0; background-color:transparent; color:#fff; cursor:pointer; background-image:url('../img/close.png'); background-position:center center; background-repeat:no-repeat; width:40px; height:40px; position:relative;}

div#holder h1.inv{margin:0 auto 10px; text-align:center; text-transform:uppercase; font-family:AR ESSENCE,tw cen mt; font-size:16pt; line-height:23pt; padding:10px; background-color:rgba(242, 242, 242, 0.85); color:#3b60af; border-radius:10px;}
div#holder div.inv-menu{width:240px; margin-right:10px; float:left;}
div#holder div.inv-menu ul{list-style:none;}
div#holder div.inv-menu ul li{margin-bottom:5px; padding:10px; font-size:14pt; font-family:tw cen mt; color:#fff; background-color:rgba(114, 154, 189, 0.8); border-radius:10px; cursor:pointer; text-align:center; text-transform:uppercase; border:1px solid #fff; }
div#holder div.inv-menu ul li:hover{color:#666; background-color:#fff;}
div#holder div.inv-menu ul li.active{background-color:#293e6b;}
div#holder div.inv-menu ul li.active:hover{color:#fff;}
div#holder div.inv-cont{width:730px; float:left; clear:none; min-height:50px;}
div#holder div.inv-cont p.main{background-color:rgba(255, 255, 255, 0.85); padding:20px; color:#333; font-size:13pt; font-family:tw cen mt; line-height:20pt; text-align:justify; margin:0 0 10px 0; border-radius:10px; min-height:92px; vertical-align:middle;}
div#holder div.inv-cont p.main span{font-weight:bold; font-size:14pt; margin:0 5px; color:#293e6b;}
div#holder div.inv-cont div{display:none; background-color:rgba(255, 255, 255, 0.85); padding:15px 10px; margin:10px 0; background-image:url(); border-radius:10px;}
div#holder div.inv-cont div h2{color:#3b60af; font-size:15pt; margin-bottom:10px; text-transform:uppercase; line-height:20pt; padding:0 10px; font-family:AR ESSENCE,tw cen mt; padding-bottom:5px; border-bottom:1px dashed #3b60af;}
div#holder div.inv-cont div.active{display:block;}
div#holder div.inv-cont div p{padding:10px; margin-bottom:5px; font-family:tw cen mt; font-size:11pt; line-height:16pt; color:#666; border-bottom:1px dashed #ccc;}

div#holder div.inv-cont ul{margin-left:15px; list-style:square;}
div#holder div.inv-cont ul li{font-size:11pt; color:#666; line-height:15pt; font-family:tw cen mt; margin-bottom:8px;}
div#holder div.inv-cont ul li span{color:#293e6b; font-weight:bold; font-size:11pt; font-family:tahoma}

div#holder div.bs-menu{width:240px; margin-right:10px; float:left;}
div#holder div.bs-menu ul{list-style:none;}
div#holder div.bs-menu ul li{margin-bottom:5px; padding:10px; font-size:14pt; font-family:tw cen mt; color:#fff; background-color:rgba(114, 154, 189, 0.8); border-radius:10px; cursor:pointer; text-align:center; text-transform:uppercase; border:1px solid #fff; line-height:20pt;}
div#holder div.bs-menu ul li:hover{color:#666; background-color:#fff;}
div#holder div.bs-menu ul li.active{background-color:#293e6b;}
div#holder div.bs-menu ul li.active:hover{color:#fff;}
div#holder div.bs-cont{}
div#holder div.bs-cont div{display:none; background-color:rgba(255,255,255,0.7); border-radius:10px; width:730px; min-height:560px; float:left;}
div#holder div.bs-cont div.active{display:block;}
div#holder div.bs-cont div h2{width:500px; margin:0 auto 15px; border-radius:0 0 10px 10px; padding:10px; padding-bottom:15px; font-size:16pt; font-family:tahoma, tw cen mt; color:#fff; background-color:#293e6b; text-transform:uppercase; text-align:center; line-height:22pt;}
div#holder div.bs-cont div p.f{background-color:rgba(136, 167, 225, 0.6); line-height:18pt; border-color:rgba(136, 167, 225, 0.6); padding:15px; text-align:left; color:#666; font-size:10pt; border-radius:10px; font-family:arial; text-align:justify;}
div#holder div.bs-cont div p.f span{font-size:12pt; margin:0 5px;}
div#holder div.bs-cont div h3{color:#fff; font-size:15pt; margin:15px 10px 0 10px; text-transform:uppercase; line-height:20pt; padding:10px; font-family:AR ESSENCE,tw cen mt; background-color:#3b60af; border-radius:10px 10px 0 0;}
div#holder div.bs-cont div p{padding:15px; margin:10px; font-family:tw cen mt;  font-size:11pt; line-height:16pt; color:#333; border:1px solid #3b60af; border-top:0; margin-top:0; background-color:rgba(242,242,242,0.8); padding-bottom:20px;}
div#holder div.bs-cont div ul{padding:15px; padding-left:30px; margin:10px; font-family:tw cen mt;  font-size:11pt; line-height:16pt; color:#333; border:1px solid #3b60af; border-top:0; margin-top:0; background-color:rgba(242,242,242,0.8); padding-bottom:20px;}
div#holder div.bs-cont div ul li{font-size:11pt; font-family:tw cen mt; line-height:16pt; margin-bottom:8px; color:#666;}
div#holder div.bs-cont div img{width:auto; max-width:676px; height:auto; max-height:250px; border:2px solid #293e6b; margin:10px auto; display:block; padding:2px; background-color:#fff;}
div#holder div.bs-cont div a{position:relative; padding:8px; border:1px solid #293e6b; border-radius:10px; margin:-30px 20px 5px 0; float:right; text-transform:capitalize; font-family:tw cen mt; font-size:14pt; background-color:#293e6b; color:#fff;}
div#holder div.bs-cont div a:hover{color:#1e1e1e; background-color:#fff;}

div#holder div.med-menu{}
div#holder div.med-menu ul{list-style:none;}
div#holder div.med-menu ul li{float:left; width:32.7%; text-align:center; color:#fff; font-family:tahoma; font-size:15pt; padding:15px 0; margin:0; background-color:#293e6b; cursor:pointer; margin-right:2px; border:1px solid #fff; border-bottom:0; border-radius:10px 10px 0 0; text-transform:uppercase;}
div#holder div.med-menu ul li.active{color:#1e1e1e; background-color:#fff; position:relative; top:2px; border-color:rgba(30, 30, 30, 1)}
div#holder div.med-cont{background-color:#fff; border:1px solid rgba(30, 30, 30, 1); border-top:0; padding:10px; border-radius:0 0 10px 10px; }
div#holder div.med-cont div.mitem{padding:10px; display:none;}
div#holder div.med-cont div.mitem.active{display:block;}
div#holder div.med-cont div.mitem.news{}
div#holder div.med-cont div.mitem.news div.nitem{display:none; margin-bottom:10px;}
div#holder div.med-cont div.mitem.news div.nitem.active{display:block;}
div#holder div.med-cont div.mitem.news div.nitem h2{font-family:AR ESSENCE,tahoma; font-size:14pt; text-align:left; text-transform:capitalize; padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #293e6b; color:#293e6b; line-height:18pt;}
div#holder div.med-cont div.mitem.news div.nitem p{margin:10px; font-size:12pt; font-family:tw cen mt; line-height:16pt; text-align:justify; color:#333; display:inline; padding:10px 0;}
div#holder div.med-cont div.mitem.news div.nitem img{width:300px; height:180px; float:right; border:1px solid #293e6b; padding:3px; background-color:#293e6b; margin-bottom:10px; display:inline-block;}
div#holder div.med-cont div.mitem.news div.nitem{}
div#holder div.med-cont div.mitem.news div.but{margin:20px 0 0; color:#1e1e1e; font-weight:bold; font-family:arial; display:inline-block; float:right; margin-right:10px;}
div#holder div.med-cont div.mitem.news div.but span.prev{background-image:url(../img/prev.png); background-repeat:no-repeat; background-position:center center; cursor:pointer;margin-right:5px; width:40px; height:40px; display:inline-block;}
div#holder div.med-cont div.mitem.news div.but span.nxt{background-image:url(../img/nxt.png); background-repeat:no-repeat; background-position:center center; cursor:pointer;margin-right:5px; width:40px; height:40px; display:inline-block;}
/* div#holder div.med-cont div.mitem.news div.but span.nxt{color:#1e1e1e; font-weight:bold; font-family:arial;} */
div#holder div.med-cont div.mitem.gal{}
div#holder div.med-cont div.mitem.gal div.simg{float:left; width:228px;}
div#holder div.med-cont div.mitem.gal div.simg ul{list-style:none; padding-left:2px; border-left:1px dashed #293e6b; height:500px; overflow-x:auto;}
div#holder div.med-cont div.mitem.gal div.simg ul li{margin:10px 5px;}
div#holder div.med-cont div.mitem.gal div.simg ul li img{cursor:pointer; width:190px; height:120px; border:1px solid #1e1e1e; padding:2px; background-color:#fff;}
div#holder div.med-cont div.mitem.gal div.bimg{float:left; margin-right:10px; width:700px;}
div#holder div.med-cont div.mitem.gal div.bimg img{width:694px; height:400px; padding:2px; border:1px solid #293e6b; background-color:#293e6b;}
div#holder div.med-cont div.mitem.gal div.bimg p{padding:15px; margin:10px 5px 0; font-size:12pt; font-family:tw cen mt, tahoma; line-height:18pt; text-align:center; color:#666; background-color:rgba(136, 167, 225, 0.6); border-radius:10px;}

p.mparag {
     color: #8f85b9;
     font-family: arial;
     font-size: 16px;
     margin-left: 13px;
     text-align: right;
     text-decoration: none;
	 margin-top:-20px;
}
