﻿
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	/* [disabled]line-height: 1; */
	/* [disabled]color: black; */
	/* [disabled]background: white; */
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
