.slider.about{}
.slider.about div.about-slide{}
.slider.about div.about-slide div.img{}
.slider.about div.about-slide div.img img{max-height:500px; width:99%; margin-left:1%;}
.slider.about div.about-slide div.txt{position: absolute; z-index: 2; bottom:25%; left:5%; right:5%; color:#000;}
.slider.about div.about-slide div.txt h2{background-color: #a22b2f; color:#fff; font-size:28px; font-weight: bold; line-height: 30px; padding: 10px; text-align: center; max-width:350px;}
.slider.about div.about-slide div.txt p{font-size:16px; line-height: 30px; font-family: century; text-align: center;}
.slider.about div.about-slide div.txt p span{font-weight: bold; display: block;}
span.paragraph-sep{display: block; margin: 15px auto; max-width: 90%; height: 1px; border-top:1px solid #3b3b3c;}
.serevent{display: flex; background-image:none !important; background:transparent}
.serevent .vision{background-color: #252525; font-family: myr; color:#acacac; padding:20px 25px; width:48%; margin:0 auto; border-radius: 5px;}
.serevent .vision h2{color:#ff9e10; line-height: 35px; font-size:30px; font-weight: bold;}
.serevent .vision p{color:#fff; font-size:16px; line-height: 25px; text-align: justify;}

.serevent .mission{background-color: #fff; font-family: myr; color:#acacac; padding:20px 25px; width:48%; margin:0 auto; border-radius: 5px;}
.serevent .mission h2{color:#a22b2f; line-height: 35px; font-size:30px; font-weight: bold;}
.serevent .mission p{color:#252525; font-size:16px; line-height: 25px; text-align: justify;}

.services-page{padding: 0; display: flex;}
.services-page .nbg{background-image: url(../img/red-tri-bg-5.png), url(../img/gmword-bg-3.png); background-repeat: no-repeat, repeat;}
.services-page .services-panel{background-image: url(../img/footer-BG-2.png); background-repeat: repeat; padding: 45px 25px; overflow: hidden;}
.services-page .services-panel div.seritem{margin-bottom:20px; padding:15px; background-color: #fff; border-radius:5px; overflow: hidden;}
.services-page .services-panel div.seritem.col-lg-6{width:49%; margin:0 .5% 20px;}
.services-page .services-panel div.seritem.col-md-6{width:49%; margin:0 .5% 20px;}
.services-page .services-panel div.seritem div.servright{padding: 25px; border-radius: 10px; display: block; visibility: hidden}
.services-page .services-panel div.seritem div.servright.visible{visibility: visible;}
.services-page .services-panel div.seritem div.servleft{padding: 25px 0 0; display: block; visibility: hidden}
.services-page .services-panel div.seritem div.servleft.visible{visibility: visible;}
.services-page .services-panel div.seritem div.serbtn{background-color: #a71c20; border-radius:5px; color:#fff; display: block; margin: 25px auto 30px; max-width: 70%; text-align:center; font-size:24px; font-weight: bold; text-transform: capitalize; line-height: 30px; cursor: pointer; transition: all .7s ease 0s; border:1px solid #a71c20;}
.services-page .services-panel div.seritem div.serbtn a{color:inherit; text-decoration: none; padding:15px 25px; display: block;}
.services-page .services-panel div.seritem div.serbtn:hover{background-color: #fff; color:#a71c20;}
.services-page .services-panel div.seritem div.serbtn i{margin-right:15px;}

/*.services-page .services-panel span.servicon{display: block; width:170px; height:170px; background-color: #fff; border-radius:100%; margin: 15% auto 0; text-align:center;}
.services-page .services-panel span.servicon i{display: inline-block; margin:0 auto; line-height: 170px; font-size: 100px; color:#a71c20;}
*/
.services-page .services-panel img.mainpartner{display: block; margin:10px auto; max-width: 75%; max-height:50px; min-height:50px;}

.services-page .services-panel h2{color:#a71c20; font-size: 24pt; font-weight: bold; margin:0 auto 10px; font-family: myr; text-transform: capitalize;}
.services-page .services-panel p{color:#252525; font-size: 17px; line-height: 25px; text-align: justify; font-family: century; max-height: 175px; overflow: hidden; margin:0;}

.contact-form{background-image: url(../img/downsview-chiropractic-philosophy.png); background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 502px;}
.contact-form form{padding: 20px 30px; background-color: rgba(0,0,0,0.7); border-radius: 10px; color:#ff9e10; display: block; margin: 20px auto; max-width: 90%; font-family: myr; font-size:16px; font-weight: normal; line-height: 30px; text-align: center;}
.contact-form form label{display: inline-block; max-width:90%; min-width: 150px; margin:10px auto; vertical-align: top; text-align: left;}
.contact-form form label sup{color:#a71c20; margin-left: 5px; font-weight: bold;}
.contact-form form input{display: inline-block; clear: right; margin:10px auto; color:#252525; border-radius:5px; padding: 4px 10px; max-width:90%; min-width: 300px;}
.contact-form form input[type=submit]{background-color: #a71c20; min-width: 100px; padding: 5px 20px; font-size:14px; font-weight: bold; color:#fff; cursor: pointer; border: 1px solid #a71c20; margin:-42px 0 0 -100px; position: relative; right: 30px;}
.contact-form form input[type=submit]:hover{background-color: #fff; color:#a71c20;}
.contact-form form textarea{display: inline-block; clear: right; margin:10px auto; color:#252525; border-radius:5px; padding: 4px 10px; max-width:90%; min-width: 300px;}

.services-page.contact .services-panel div.seritem div.servleft{padding:0;}
.services-page.contact .services-panel div.seritem div.servleft iframe{min-height: 245px;}
.services-page.contact .services-panel div.seritem div.servright{background-color: #fff; color:#252525; padding:0 20px 10px; border-radius: 0;}
.services-page.contact .services-panel div.seritem div.servright h3{color:#a71c20; text-transform: capitalize; font-size: 20px; margin:10px auto 5px; font-weight: bold; line-height: 25px; font-family: myr;}
.services-page.contact .services-panel div.seritem div.servright p{color:#252525; font-size: 15px; line-height: 20px; margin: 0 auto 5px;}
.services-page.contact .services-panel div.seritem div.servright p a{color:inherit; text-decoration: none; transition: all .7s ease 0s; display: block;}
.services-page.contact .services-panel div.seritem div.servright p a:hover{color:#ff9e10; font-weight: bold;}
.services-page.contact .services-panel div.seritem{margin-bottom: 0;}

.partners-page{padding: 0; display: flex;}
.partners-page .nbg{background-image: url(../img/red-tri-bg-5.png), url(../img/gmword-bg-3.png); background-repeat: no-repeat, repeat;}
.partners-page .partners-panel{background-image: url(../img/footer-BG-2.png); background-repeat: repeat; padding: 45px 25px; overflow: hidden;}
.partners-page .partners-panel .partners-tabs{margin: 0; padding: 0 10px 0; list-style: none; color:#131313; font-size:16px; line-height: 20px; font-family: myr; border-bottom: 2px solid #a71c20;}
.partners-page .partners-panel .partners-tabs li{display: inline-block; padding: 15px; cursor: pointer; margin: 0 8px; transition: all .7s ease 0s;}
.partners-page .partners-panel .partners-tabs li.active{position: relative; top:-3px; color:#fff; font-weight: bold; background-color: #a71c20;}
.partners-page .partners-panel .partners-body-item{display: none;}
.partners-page .partners-panel .partners-body-item.active{display: block; padding: 20px;}
.partners-page .partners-panel .partners-body-item.active .partner{padding: 15px; background-color: #fff; text-align: center; min-height: 200px; width:24%; margin:5px .5%; cursor: pointer;}
.partners-page .partners-panel .partners-body-item.active .partner img{max-width:80%; min-height: 70%; margin:15% auto; padding: 0; z-index: 1; display: block;}
.partners-page .partners-panel .partners-body-item.active .partner .overlay{display: none; background-color: rgba(0,0,0,.8); height: 100%; width: 100%; position:absolute; top:0; left:0; z-index: 2;}
.partners-page .partners-panel .partners-body-item.animated{animation-duration:2s !important;}
.partners-page .partners-panel .partners-body-item.active .partner .overlay.animated{animation-duration:1s !important;}
.partners-page .partners-panel .partners-body-item.active .partner .overlaytxt.animated{animation-duration:1.5s !important;}
.partners-page .partners-panel .partners-body-item.active .partner .overlaytxt{display: none; background-color:transparent; max-height: 90%; max-width: 90%; min-width: 90%; position: absolute; top:5%; letter-spacing: 5%; z-index: 3; color: #fff; font-size:14px; overflow: hidden;}
.partners-page .partners-panel .partners-body-item.active .partner .overlaytxt h2{color:#ff9e10; font-weight: bold; font-size: 18px; text-transform: capitalize;}
.partners-page .partners-panel .partners-body-item.active .partner .overlaytxt p{line-height: 25px; font-size: 15px; color:#fff; height:100px; overflow: hidden;}
.partners-page .partners-panel .partners-body-item.active .partner:hover .overlay{display: block;}
.partners-page .partners-panel .partners-body-item.active .partner:hover .overlaytxt{display: block;}

.projects-page{padding: 0; display: flex;}
.projects-page .nbg{background-image: url(../img/red-tri-bg-5.png), url(../img/gmword-bg-3.png); background-repeat: no-repeat, repeat;}
.projects-page .projects-panel{background-image: url(../img/footer-BG-2.png); background-repeat: repeat; padding: 45px 25px;}
.projects-page .projects-panel .projects-tabs{}
.projects-page .projects-panel .projects-tabs ul{list-style: none; padding: 0 10px 0px; margin: 0 auto; line-height: 32px; font-family: myr; font-weight: bold; border-bottom: 2px solid #a71c20; font-size:16px; }
.projects-page .projects-panel .projects-tabs ul li{display: inline-block; padding: 10px 20px; margin-right:15px; min-width: 100px;}
.projects-page .projects-panel .projects-tabs ul li.indeicator{color:#a71c20;}
.projects-page .projects-panel .projects-tabs ul li.item{color:#ff9e10; background-color: #fff; cursor: pointer; border-radius: 10px 10px 0 0; border:1px solid #ff9e10; border-bottom:0;}
.projects-page .projects-panel .projects-tabs ul li.item.active{border:1px solid #a71c20; border-bottom:0; top:2px; border-radius: 10px 10px 0 0; position: relative; color:#a71c20;}
.projects-page .projects-panel .projects-body{padding: 10px 15px; background-color: #fff; width: 98%; margin: 0 1%; overflow: hidden;}
.projects-page .projects-panel .projects-body div{display: none;}
.projects-page .projects-panel .projects-body div div{display:inherit;}
.projects-page .projects-panel .projects-body div.active{display: block;}
.projects-page .projects-panel .projects-body h2{color:#a71c20; font-size: 20pt; font-weight: bold; margin:10px auto 5px; font-family: myr; text-transform: capitalize;}
.projects-page .projects-panel .projects-body p{color:#252525; line-height: 22px; text-align: justify; font-size: 14px;; margin:0 auto 20px; padding: 0 5px; border-bottom:1px dashed #252525; padding-bottom:5px;}
.projects-page .projects-panel .projects-body .projects-palet{margin:5px auto;}
.projects-page .projects-panel .projects-body .pbcontent.animated{animation-duration: 1.5s !important;}
.projects-page .projects-panel .projects-body .projects-palet .item{display: block; cursor: pointer; margin-bottom: 15px;}
.projects-page .projects-panel .projects-body .projects-palet .item a{width: 100%; text-decoration: none; display: block; overflow: hidden;}
.projects-page .projects-panel .projects-body .projects-palet .item a img{border:1px solid #252525; width:100%; transition: all .7s ease 0s;}
.projects-page .projects-panel .projects-body .projects-palet .item:hover a{background-color: #a71c20;}
.projects-page .projects-panel .projects-body .projects-palet .item:hover a img{transform: scale(1.5,1.5); opacity: .6;}
.projects-page .projects-panel .projects-body .projects-palet .item .overlaytxt{padding: 10px; background-color: #252525; color:#fff; cursor: auto;}
.projects-page .projects-panel .projects-body .projects-palet .item .overlaytxt h3{margin:0; padding: 0; line-height: 22px; font-size: 14px; font-weight: bold; text-align: center; height:44px; transition: all .7s ease 0s; overflow: hidden;}
.projects-page .projects-panel .projects-body .projects-palet .item .overlaytxt p{display: none; color:#ff9e10 ; font-size: 14px; line-height: 20px; margin:5px auto; text-align: center; height:40px; transition: all .7s ease 0s; border:0; overflow: hidden;}
.projects-page .projects-panel .projects-body .projects-palet .item .overlaytxt p.animated{animation-duration: 1.5s !important;}
.projects-page .projects-panel .projects-body .projects-palet .item:hover .overlaytxt p{display: block;}
.projects-page .projects-panel .projects-body .projects-palet .item:hover .overlaytxt{background-color: #a71c20; top:-50px; position: relative; margin-bottom:-50px;}
.projects-page .projects-panel .projects-body .projects-palet .item:hover .overlaytxt h3{color:#b0b0b0;}
.projects-page .projects-panel .projects-body .pbpage{text-align: center; display: block; margin: 20px auto 10px;}
.projects-page .projects-panel .projects-body .pbpage span{cursor: pointer; display: inline-block; padding: 5px 10px; color:#252525; background-color: transparent; border-radius:5px; margin:0 5px; font-size: 16px; line-height: 20px; transition: all .7s ease 0s; border:1px solid #252525;}
.projects-page .projects-panel .projects-body .pbpage span:hover{color:#a71c20; background-color: transparent;}
.projects-page .projects-panel .projects-body .pbpage span.active{color:#fff; background-color: #a71c20; border-color:#a71c20; cursor: not-allowed;}

.project-page{padding: 0; display: flex;}
.project-page .nbg{background-image: url(../img/red-tri-bg-5.png), url(../img/gmword-bg-3.png); background-repeat: no-repeat, repeat;}
.project-page .project-details{background-image: url(../img/footer-BG-2.png); background-repeat: repeat; padding:25px;}
.project-page .project-details .project-menu{padding: 0 10px;}
.project-page .project-details .project-menu nav{background-color: #252525; margin-bottom: 0; border:0;}
.project-page .project-details .project-menu nav div.navbar-header{float: none;}
.project-page .project-details .project-menu nav a.navbar-brand{color: #ff9e10; display: block; margin-bottom:5px; cursor: text; font-size:16px; font-weight: bold;}
.project-page .project-details .project-menu nav ul{padding: 0; margin: 0; list-style: none; font-family: myr; font-size:14px; line-height: 25px; text-align: left; color:#fff;}
.project-page .project-details .project-menu nav ul li{display: block; float: none; cursor: pointer; padding: 8px 0 8px 15px; transition: all .7s ease 0s;}
.project-page .project-details .project-menu nav ul li:last-child{border-radius:0 0 4px 4px;}
.project-page .project-details .project-menu nav ul li:hover{background-color: #fff; color:#a71c20; font-weight: bold; padding-left: 25px;}
.project-page .project-details .project-menu nav ul li.active{background-color: #fff; color:#ff9e10; font-weight: bold; padding-left: 25px;}
.project-page .project-details .project-body{}
.project-page .project-details .project-body div.active{display: block; background-color: #fff; padding: 15px 20px; border-radius: 5px; animation-duration: 1.5s !important;}
.project-page .project-details .project-body div{display: none;}
.project-page .project-details .project-body div div{display: inherit;}
.project-page .project-details .project-body .project-txt{}
.project-page .project-details .project-body .project-txt h1{margin:0 auto 10px; color:#a71c20; font-family: myr; font-size: 25px; line-height: 35px; text-transform: capitalize;}
.project-page .project-details .project-body .project-txt p{font-size: 16px; line-height: 20px; font-family: myr; text-align: justify; margin:0 auto 10px; }
.project-page .project-details .project-body .project-txt h2{font-size: 18px; line-height: 25px; font-family: myr; text-align: justify; margin:10px auto 10px; color:#ff9e10; text-transform: capitalize; font-weight: bold;}
.project-page .project-details .project-body .project-txt img{display: block; margin: 10px auto; min-width: 70%;}
.project-page .project-details .project-body .project-img h2{margin:0 auto 10px; color:#a71c20; font-family: myr; font-size: 25px; line-height: 35px; text-transform: capitalize;}
.project-page .project-details .project-body .project-img .img-big{width:90%; margin:10px auto 15px;}
.project-page .project-details .project-body .project-img .img-big img{width:100%; display: block;}
.project-page .project-details .project-body .project-img .img-small{display: block; margin:5px auto 15px; width:95%; text-align: center;}
.project-page .project-details .project-body .project-img .img-small img{max-width:23%; display: inline-block; margin:0 1% 10px; cursor: pointer;}
.project-page .project-details .project-body .project-services{}
.project-page .project-details .project-body .project-services h2{margin:0 auto 10px; color:#a71c20; font-family: myr; font-size: 25px; line-height: 35px; text-transform: capitalize;}
.project-page .project-details .project-body .project-services .pro-serv-item{margin:0 auto 10px;}
.project-page .project-details .project-body .project-services .pro-serv-item h3{padding:15px; background-color: #a71c20; border-radius:5px; color:#fff; display: block; margin: 5px auto 10px; max-width: 98%; text-align:center; font-size:18px; font-weight: bold; text-transform: capitalize; line-height: 30px; cursor: pointer; transition: all .7s ease 0s; border:1px solid #a71c20;}
.project-page .project-details .project-body .project-services .pro-serv-item h3:hover{background-color: #fff; color:#a71c20;}
.project-page .project-details .project-body .project-services .pro-serv-item h3 a{color:inherit; text-decoration: none;}
.project-page .project-details .project-body .project-services .pro-serv-item h3 a i{margin-right: 15px;}
.project-page .project-details .project-body .project-services .pro-serv-item p{font-size: 16px; line-height: 22px; font-family: myr; text-align: justify; margin:0 auto 10px; padding:10px; border:1px dashed #252525; max-width: 90%; height:148px; overflow: hidden; border-radius:10px; display: block;}

.project-menu .navbar-default .navbar-toggle:focus .icon-bar,.project-menu .navbar-default .navbar-toggle:hover .icon-bar{background-color: #ff9e10;}

.services-page .service-page{padding: 25px;}
.services-page .service-txt{animation-duration: 1.5s !important;}
.services-page .service-txt .row.title{padding: 0 0 15px 0; margin: 0 auto 15px; border-bottom:2px solid #252525; line-height: 40px;}
.services-page .service-txt .row.title div{padding: 0; margin: 0;}
.services-page .service-txt .row.title div.titleTxt{text-align: left;}
.services-page .service-txt .row.title div.titleImg{text-align: right;}
.services-page .service-txt .row.title img{display: inline; max-height: 50px; margin-top:-10px;}
.services-page .service-txt .row.body{margin: 0; padding: 0;}
.services-page .service-txt .row.body div{padding: 0 20px;}
.services-page .service-txt .row.body div.txt{background-color: #fff; border-left: 10px solid #3b3b3c; padding:15px 15px 15px 10px; margin-bottom: 15px;}
.services-page .service-txt .row.body div.txt p{max-height: none; color: #3b3b3c; line-height: 30px; font-size: 16px; margin-bottom: 15px;}
.services-page .service-txt .row.body div.txt p:last-child{margin-bottom: 0;}

.services-page .service-txt .row.body div.txt ul{text-align: left; padding: 10px 5px; margin:0; color:#a71c20;}
.services-page .service-txt .row.body div.txt ul li{height: auto; margin:0 auto 5px; display: block; line-height: 22px; font-size: 14px; font-family: myr; font-weight: bold; transition: all .7s ease 0s;}
.services-page .service-txt .row.body div.txt ul li:hover{color: #252525;}
.services-page .service-txt .row.body div.txt ul li a{color: inherit; text-decoration: none; display: block; transition: all .7s ease 0s}
.services-page .service-txt .row.body div.txt ul li i{padding-right: 10px; font-weight: bold; font-size: 18px; transition: all .5s ease 0s;}
.services-page .service-txt .row.body div.txt ul li:hover i{padding-left:5px; padding-right:5px;}


.services-page .service-txt .row.body div.servProjects{}
.services-page .service-txt .row.body div.servProjects h2{color:#fff; margin:0 auto 10px; background-color: #252525; padding: 10px; border-radius: 5px;}
.services-page .service-txt .row.body div.servProjects ul{text-align: left; padding: 10px; margin:0; background-color: #fff; color:#a71c20; border-radius: 5px; overflow: hidden;}
.services-page .service-txt .row.body div.servProjects ul li{height: auto; margin:0 auto 10px; display: block; line-height: 22px; font-size: 16px; font-family: myr; font-weight: bold; transition: all .7s ease 0s; overflow: hidden;}
.services-page .service-txt .row.body div.servProjects ul li:hover{color: #252525;}
.services-page .service-txt .row.body div.servProjects ul li:hover a{display: block;}
.services-page .service-txt .row.body div.servProjects ul li img{display: block; width:100%; max-width:100%; cursor: pointer; transition: all .7s ease 0s;}
.services-page .service-txt .row.body div.servProjects ul li:hover img{transform: scale(.9,.9);}
.services-page .service-txt .row.body div.servProjects ul li a{display: none; position: absolute; width:97%; height:97%; color:#fff; background-color: rgba(0,0,0,.5); top:0; left: 0; text-align:center; margin:1.5%; padding: 25% 10px; text-decoration: none;}
.services-page .service-txt .row.body div.servProjects ul li a.animated{animation-duration: .7s !important;}
.services-page .service-txt .row.body div.servProjects{padding: 0 15px 0 0; margin-bottom: 10px;}
/*
.services-page .service-txt .row.body div.servProjects ul li a{color: inherit; text-decoration: none; display: block; transition: all .7s ease 0s}
.services-page .service-txt .row.body div.servProjects ul li a i{padding-right: 10px; font-weight: bold; font-size: 18px; transition: all .5s ease 0s;}
.services-page .service-txt .row.body div.servProjects ul li a:hover i{padding-left:5px; padding-right:5px;}
*/

.services-page .service-txt h1{margin:0 auto; color:#a71c20; font-family: myr; font-size: 25px; line-height: 40px; text-transform: capitalize; font-weight: bold;}
.services-page .service-txt p{font-size: 16px; line-height: 20px; font-family: myr; text-align: justify; margin:0 auto 10px; color:#252525;}
.services-page .service-txt h2{font-size: 18px; line-height: 25px; font-family: myr; text-align: justify; margin:10px auto 10px; color:#ff9e10; text-transform: capitalize; font-weight: bold;}
.services-page .service-txt ul{list-style: none; padding: 0; margin: 10px; text-align: center;}
.services-page .service-txt ul li{margin:5px 10px; padding: 5px; display: inline-block; height:100px;}
.services-page .service-txt ul li img{max-height: 90%; max-width: 150px; vertical-align: middle;}
.services-page .service-txt .animated{animation-duration: 1.5s !important;}
.services-page .service-txt img.animated{animation-duration: 2.5s !important;}


@media only screen and (max-width: 992px){
	.serevent{display: block;}
	.serevent div.mission, .serevent div.vision{width: auto;}
	.serevent div.vision{margin-bottom: 25px;}
	.services-page .services-panel{display: block;}
	.projects-page .projects-panel .projects-body .projects-palet{display: block;}
	.services-page .nbg{display: none;}
	.partners-page .nbg{display: none;}
	.projects-page .nbg{display: none;}
	.project-page .nbg{display: none;}
	.services-page .services-panel div.seritem{display: block;}
	.services-page.contact .services-panel div.seritem div.servleft{margin-bottom:20px; min-height: 200px;}
	.partners-page .partners-panel .partners-body-item.active .partner{width:49%; margin:5px .5%;}
	.project-page .project-details .project-menu nav div.navbar-header{float: none;}
}

@media only screen and (max-width: 768px){
	.partners-page .partners-panel .partners-body-item.active .partner{width:98%; margin:5px 1%;}
	.project-page .project-details .project-body .project-img .img-small img{max-width: 48%;}
	.services-page .service-txt .row.title div.titleTxt{text-align: center; margin-bottom: 15px;}
	.services-page .service-txt .row.title div.titleImg{text-align: center;}
}

@media only screen and (max-width: 572px){
	.projects-page .projects-panel .projects-tabs ul li.indeicator{display: block; margin:0 auto 10px; text-align: center; font-size:20px;}
	.projects-page .projects-panel .projects-tabs ul li.item{width:45%; margin:0 1%; text-align: center;}
}
@media only screen and (max-width: 425px){
	.projects-page .projects-panel .projects-tabs ul li.item{width:98%; margin:0 1%; text-align: center; font-size:14px; padding: 10px; display: block; margin-bottom:10px; border-width: 1px;}
	.project-page .project-details .project-body .project-services .pro-serv-item h3{font-size:15px; padding: 5px;}
	.project-page .project-details .project-body .project-services .pro-serv-item h3 i{display: block; margin-right:0; margin: 5px auto;}
}

@media only screen and (max-width: 400px){
	.contact-form form input{min-width:100px; display: block; margin: 0 auto;}
	.contact-form form textarea{min-width:100px; display: block; margin: 0 auto;}
	.contact-form form label{text-align: center; display: block;}
	.contact-form form input[type=submit]{margin:10px auto; position: static;}
}