@font-face{font-family: myr; src:url(../fonts/Myriad-Pro-Regular.ttf);}
@font-face{font-family: century; src:url(../fonts/GOTHIC.TTF);}

body{padding:0; margin:0; width:100%; font-family:century; font-size:17pt; line-height: 24pt; color:#4c4c4c; text-decoration: none; background-image: url(../img/body-BG.png); background-repeat: repeat; background-color: #c8c8c8;}

.container.main{max-width: 1366px; background-image: url(../img/container-BG.png); background-repeat: repeat; padding: 0; margin: 0 auto; min-height: 100vh; box-shadow: 3px 0 10px rgba(0,0,0,.5), -3px 0 10px rgba(0,0,0,.5);}

header.header{padding:10px 30px; background-color: #fff;}

header.header div.logo{text-align:left; padding: 0;}
header.header div.logo img{display: inline;}
header.header div.headerSocial{text-align:right; padding: 0; font-size: 22px; line-height: 100px;}
header.header div.headerSocial div.socials{padding: 0;}
header.header div.headerSocial div.contacts{padding: 0;}
header.header div.headerSocial ul{padding: 0; margin: 0; list-style: none;}
header.header div.headerSocial ul li{display: inline-block; margin-right:8px;}
header.header div.headerSocial ul li:last-child{margin-right: 0;}
header.header div.headerSocial ul li a{color:inherit; transition: all .7s ease 0s;}
header.header div.headerSocial ul li a:hover{color:inherit;}
header.header div.headerSocial div.socials ul li{color:#fff;}
header.header div.headerSocial div.socials ul li:hover{color:gold;}
header.header div.headerSocial div.contacts ul li{color:#a71c20;}
header.header div.headerSocial div.contacts ul li:hover{color:gold;}

.menuSlider{padding: 0;}
.menuSlider nav{padding: 65px 0; background-color: #a71c20; margin:0; border: 0; border-radius: 0;}
.menuSlider nav ul{list-style: none; padding: 0; margin: 0;}
.menuSlider nav ul li{background-color: #90171a; color:#edb9ba; font-size: 17pt; text-transform: capitalize; margin-bottom:2px; border-left:6px solid #161616; transition: all .7s ease-in-out 0s;}
.menuSlider nav ul li:hover{background-color: #161616;}
.menuSlider nav ul li a{color:inherit; text-decoration: none; transition: all .7s ease-in-out 0s; display: block; padding: 14px 0 14px 24px;}
.menuSlider nav ul li a:hover{color:#90171a; font-weight: bold; font-size:18pt; padding-left:35%;}
.navbar-default .navbar-toggle{padding: 10px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #fff;}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{background-color: #90171a;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff; width:25px; height:5px;}
.navbar-default .navbar-collapse{border: 0;}
.menuSlider .slider{padding:0; overflow: hidden;}
.menuSlider .slider div.carousel-caption{left:5%; right:2%; padding: 0;}
.menuSlider .slider div.carousel-inner div.item{max-height: 500px; overflow: hidden;}
.menuSlider .slider img{min-height:500px; width:100%;}
.menuSlider .slider h3{background-color: #a22b2f; padding:10px 17px; color:#fff; font-size:28px; font-weight:bold; font-family:myr; margin:0; line-height: 30px; margin-right:20%;}
.menuSlider .slider h3 span{color:#efc38e;}
.menuSlider .slider p{background-color: #3b3b3c; color:#ededed; font-size:15.5pt; padding:12px 22px; font-family:century; margin:0 0 0 33px; line-height:32px; max-height:85px; overflow: hidden;}
.menuSlider .slider a.carousel-control{height:40px; top:47.5%; width:40px; border-radius:5px; background-color: #000; color:#fff; font-size:8px;}
body .menuSlider .slider a.carousel-control span.glyphicon{color:#fff; font-size:16px; margin:0; padding: 0; line-height: 40px; text-align: center; top:0; left:0; right:0; width:40px; height:40px;}
.menuSlider .slider a.carousel-control.left{left:35px;}
.menuSlider .slider a.carousel-control.right{right:35px;}

.gmWord{padding: 0; display: flex;}
.gmWord .nbg{background-image: url(../img/red-tri-bg-5.png), url(../img/gmword-bg-3.png); background-repeat: no-repeat, repeat;}
.gmWord .nbg::before{width: 100%; height: 0; border-top: 100px solid transparent; border-right: 100px solid transparent; display: block; top:0; left:0; position: absolute; content:" ";}
.gmWord .word{background-image: url(../img/footer-BG-2.png); background-repeat: repeat; display: flex; padding: 45px;}
.gmWord .word h2{color:#a71c20; font-size: 24pt; font-weight: bold; margin:0 auto 22px; font-family: myr;}
.gmWord .word p{color:#4c4c4c; font-size: 17px; line-height: 24px; text-align: justify; font-family: myr;}
.gmWord .word .gmimg{text-align: center; vertical-align: middle; align-content: center; padding: 0 23px 0 45px;}
.gmWord .word .gmimg img{display: inline; width: 100%;}
.gmWord .word .gmtxt{padding: 0 23px;}


.servicesEvents{padding: 0; display: flex; min-height: 150px; font-family: myr;}
.servicesEvents .nbg{background-image: url(../img/gray-tri-bg-6.png); background-repeat: no-repeat;}
.servicesEvents .serevent{padding: 48px 25px; background-image:url(../img/services-bg-tri.png); background-repeat: no-repeat; background-position: bottom right;}
.servicesEvents .serevent .events{padding: 0;}
.servicesEvents .serevent .events .dist{padding:0 0 4px 0; border-bottom: 2px solid #0c0c0c; margin:0; margin-bottom:36px;}
.servicesEvents .serevent .events .dist h3{display: inline-block; font-size:18px; font-weight: bold; font-style: italic; color: #bbbbbb; line-height: 88px; margin:0;}
.servicesEvents .serevent .events .dist a{height:88px; background-color: #131313; padding: 15px; display: inline-block; float: right; margin-left: 10px;}
.servicesEvents .serevent .events .dist a img{width:100%;}
.servicesEvents .serevent .events .dist a+a{padding: 27px 20px;}
.servicesEvents .serevent .events .news{margin:0;}
.servicesEvents .serevent .events .news h3{color:#dcdcdc; font-size:29px; font-weight: bold; display: inline-block; margin: 0; padding: 0; font-style: italic;}
.servicesEvents .serevent .events .news a{color:#fff; background-color:#a71c20; font-size:10px; padding:8px; float: right; margin-right:8px; line-height: 15px;}
.servicesEvents .serevent .events .news a.disable{cursor: not-allowed; background-color: #878787;}
.servicesEvents .serevent .events .news .items{padding: 19px; background-color: #252525; margin-top:72px;}
.servicesEvents .serevent .events .news .items .item.active{display: block;}
.servicesEvents .serevent .events .news .items .item.active.br{border-bottom:1px solid #131313;}
.servicesEvents .serevent .events .news .items .item{display: none; padding:12px; margin: 0;}
.servicesEvents .serevent .events .news .items .item .img {margin: 0; padding: 0 10px 10px 0;}
.servicesEvents .serevent .events .news .items .item .img a{background-color: transparent; padding: 0; line-height: auto; height: auto; min-height: 96px; margin: 0; float: none; display: block; width:100%; margin-top:11px;}
.servicesEvents .serevent .events .news .items .item .img a img{width:100%;}
.servicesEvents .serevent .events .news .items .item .txt{margin: 0; padding: 0;}
.servicesEvents .serevent .events .news .items .item .txt h2{margin:0; line-height: 24px; font-size:19px; font-weight: bold; color: #ff9e10;}
.servicesEvents .serevent .events .news .items .item .txt p{font-size: 15px; line-height: 22px; color: #acacac; height: 110px; overflow: hidden; text-align: justify;}
.servicesEvents .serevent .events .news .items .item .txt p span{font-weight: bold; color:#fff;}
.servicesEvents .serevent .events .news .items .item .txt p a{background-color: transparent; padding: 0; margin: 0; float: none; color: inherit; font-size:15px; font-weight: bold; transition: all .7s ease 0s;}
.servicesEvents .serevent .events .news .items .item .txt p a:hover{color:#ff9e10; text-decoration: none;}
.servicesEvents .serevent .services{}
.servicesEvents .serevent .services .tit h2{margin:0; padding: 0; color:#bbbbbb; font-size:29px; font-weight: bold;}
.servicesEvents .serevent .services .tit h2 a{color:inherit; text-decoration: none; display: block;}
.servicesEvents .serevent .services .tit h2 a:hover{color:inherit; text-decoration: none;}
.servicesEvents .serevent .services .tit h2 span{font-size:18px; color:#fff; background-color: #90171a; padding: 8px 18px 8px 10px; margin:10px auto 8px; display: inline-block;}
.servicesEvents .serevent .services .items{padding:0; margin: 0;}
.servicesEvents .serevent .services .items .item{margin:28px 2% 0 2%; background-color: #252525; border-radius:5px; height:170px; line-height: 170px; color:#878787; text-align: center; width:46%; padding-left: 0;}
.servicesEvents .serevent .services .items .item a{color:inherit; text-decoration: none;}
.servicesEvents .serevent .services .items .item:hover{color:#fff;}
.servicesEvents .serevent .services .items .item:hover i{background-color: #90171a; border-radius: 5px 0 0 5px;}
.servicesEvents .serevent .services .items .item:hover i::after{width: 10px; height: 170px; border-bottom: 170px solid #252525; border-left: 20px solid transparent; content:" "; display: block; position: absolute; top: 0; right: 0;}
.servicesEvents .serevent .services .items .item h3{font-size:16px; color:inherit; display: block; line-height: 25px; font-style: italic; margin:25% auto; padding: 0; word-wrap: break-word;}
.servicesEvents .serevent .services .items .item i{font-size:60px; line-height: 170px; color:inherit; display: block; height: 100%; width:50%;}

.projects{padding: 0; margin:0; background-image: url(../img/projects-bg-2.png); background-repeat: repeat; display: flex;}

.projects .nbg{background-image: url(../img/project-tri.png), url(../img/services-bg-black.png); background-position: bottom right, center center; background-repeat: no-repeat, repeat;}
.projects .pro{padding:45px 10px 45px 55px; font-family: myr; overflow: hidden;}
.projects .pro .tit{margin: 0;}
.projects .pro .tit div{padding: 0;}
.projects .pro .tit h2{font-weight: bold; color:#dfdfdf; font-size: 29px; padding: 0; margin: 0 auto;}
.projects .pro .tit p{color:#b4b4b4; font-size:18px; padding: 0; margin: -15px auto 10px;}
.projects .pro .tit a{padding: 17px 25px; background-color: #a71c20; color:#fff; font-size:20px; font-weight: bold; line-height: 25px; transition: all .7s ease 0s; float: right; border-radius: 5px; text-align: center;}
.projects .pro .tit a:hover{color:#1b1b1b;}
.projects .pro .tit a i{margin-right:7px;}
.projects .pro .pro-grid{margin: 0;}
.projects .pro .pro-grid .item{margin-bottom:24px; padding: 0 10px;}
.projects .pro .pro-grid .item .proimg{}
.projects .pro .pro-grid .item .proimg a{width:100%; overflow: hidden; display: block;}
.projects .pro .pro-grid .item:hover .proimg a img{transform: scale(1.5,1.5);}
.projects .pro .pro-grid .item .proimg a img{width:100%; transition:all .7s ease-in-out 0s;}
.projects .pro .pro-grid .item .protxt{background-color:#252525; padding:27px;}
.projects .pro .pro-grid .item.spec .protxt{background-color:#ababab;}
.projects .pro .pro-grid .item:hover .protxt{background-color:#a71c20;}
.projects .pro .pro-grid .item .protxt h3{color:#ffffff; font-size:18px; line-height: 20px; padding: 0; margin: 0 auto 15px; font-weight: bold; height: 20px; overflow: hidden;}
.projects .pro .pro-grid .item.spec .protxt h3{color:#262525;}
.projects .pro .pro-grid .item .protxt h3 a{color:inherit; text-decoration: none; display: block;}
.projects .pro .pro-grid .item .protxt h3:hover a{text-decoration: underline;}
.projects .pro .pro-grid .item .protxt p{color:#a6a6a6; font-size: 16px; line-height: 16px; margin: 0; padding: 0; font-style: italic;}
.projects .pro .pro-grid .item.spec .protxt p{color:#262525;}

.partners{padding: 0; margin: 0; display: flex;}
.partners .nbg{background-image: url(../img/footer-tri.png); background-position: bottom right; background-repeat: no-repeat;}
.partners .partner{padding:50px 30px; font-family: myr; text-align:center;}
.partners .partner .txt{padding-bottom: 28px; border-bottom:2px solid #252525; margin-bottom:18px;}
.partners .partner .txt h2{color:#a71c20; font-size:29px; line-height: 30px; margin:0 auto 15px;}
.partners .partner .txt p{color:#bababa; font-size:18px; line-height: 20px; margin:0;}
.partners .partner .tabs-menu{}
.partners .partner .tabs-menu ul{list-style: none; padding: 0; margin: 0 0 20px 0;}
.partners .partner .tabs-menu ul li{display: inline; color:#b0b0b0; font-size:17px; line-height: 20px; padding:10px 15px; margin:0 15px 0 0; cursor: pointer;}
.partners .partner .tabs-menu ul li:last-child{margin-right: 0;}
.partners .partner .tabs-menu ul li.active{background-color: #a71c20; color:#fff;}
.partners .partner .tabs-body{}
.partners .partner .tabs-body div{display: none;}
.partners .partner .tabs-body div.active{display: block;}
.partners .partner .tabs-body img{padding:15px 28px; margin:0 16px 10px 0; background-color: #dcdcdc; height:65px;}
.partners .partner .tabs-body img:last-child{margin-right: 0;}

footer.container-fluid{background-image:url(../img/footer-BG-2.png); background-repeat: repeat; margin: 0; padding: 0; display: flex; font-family: myr;}
footer .nbg{background-image: url(../img/footer-BG-3.png); background-repeat: repeat;}
footer .foot{padding:30px 30px 10px 30px;}
footer .foot .foot-menu{padding:0 20px 20px; border-bottom: 1px solid #959595; margin-bottom:20px;}
footer .foot .foot-menu ul{margin: 0; padding: 0; list-style: none; margin-bottom:5px; text-align: center;}
footer .foot .foot-menu ul li{text-align: left; color:#090909; font-size:14px; line-height: 16px; display: inline-block; margin-right:50px;}
footer .foot .foot-menu ul li:last-child{margin-right:0;}
footer .foot .foot-menu ul li i{margin-right:8px;}
footer .foot .copyright{text-align: center; font-family: myr; color:#252525; font-size:15px; line-height: 18px;}
footer .foot .copyright a{color:#a71c20; text-decoration: none; transition: all .7s ease 0s;}
footer .foot .copyright a:hover{color:#252525; text-decoration: underline;}

@media only screen and (max-width: 1366px){
	.gmWord .nbg{background-position: -10px 0, 0 0;}
	.servicesEvents .nbg{background-position: -10px 0;}
	.servicesEvents .serevent{background-position: 101% bottom;}
	.projects .nbg{background-position:-10px bottom;}
	.partners .nbg{background-position:-10px bottom;}
}
@media only screen and (max-width: 1199px){
	.gmWord .nbg{background-position: -27px 0, 0 0;}
	.servicesEvents .nbg{background-position: -27px 0;}
	.servicesEvents .serevent{background-position: 104% bottom;}
	.projects .nbg{background-position:-10px bottom;}
	.partners .nbg{background-position:-10px bottom;}
}
@media only screen and (min-width: 1366px){
	.container.main{width:1300px;}
	.menuSlider .slider div.carousel-caption{padding-bottom: 5%;}
}

@media only screen and (max-width: 992px){
	.menuSlider .slider img{min-height:380px;}
	.gmWord{display: block;}
	.servicesEvents{display: block;}
	.servicesEvents .serevent{background-image:none; background:transparent;}
	.partners{display: block;}
	footer{display: block;}
	footer .foot .foot-menu ul li{margin-bottom: 15px; display: block;}
	footer .nbg{display: none;}
	.gmWord .word{display: block;}
	.gmWord .nbg{display: none;}
	.partners .nbg{display: none;}
	.servicesEvents .nbg{display: none;}
	.projects{display: block;}
	.projects .nbg{display: none;}
	.projects .pro{padding:45px 35px;}
	.projects .pro .pro-grid .item{width:49%; margin-right:1%;}
	.gmWord .word .gmimg{margin-bottom:10px;}
	.servicesEvents .serevent .events .news .items{margin-bottom: 25px;}
	.projects .pro .tit{margin-bottom:10px;}
	.menuSlider nav{padding:10px 0;}
}

@media only screen and (max-width: 768px){
	header.header{text-align:center;}
	header.header div.logo{text-align:center;}
	header.header div.headerSocial{text-align:center; line-height:35px;}
}

@media only screen and (max-width: 647px){
	
}

@media only screen and (max-width: 580px){
	.servicesEvents .serevent .services .items .item{width:96%;}
	.servicesEvents .serevent .services .items .item h3{margin:15% auto 0;}
	.projects .pro .pro-grid .item{width:100%; margin-right: 0;}
	.projects .pro .tit p{margin-top:5px;}
}

@media only screen and (max-width: 1199px){
	.servicesEvents .serevent .events .dist h3{display: block;}
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.animated{animation-duration:2s !important;}