											<tr>
												<td colspan="2" valign="top">
													<img src="images\ariticles_pic_1.gif" />
													<button>
														delete
													</button>
													<img src="images\ariticles_pic_2.gif" />
													<button>
														delete
													</button>
													<img src="images\ariticles_pic_3.gif" />
													<button>
														delete
													</button>
													<img src="images\ariticles_pic_4.gif" />
													<button>
														delete
													</button>
													<img src="images\ariticles_pic_5.gif" />
													<button>
														delete
													</button>
													<img src="images\ariticles_pic_1.gif" />
													<button>
														delete
													</button>
													<img src="images\ariticles_pic_2.gif" />
													<button>
														delete
													</button>
													<br/><br/>
												</td>
											</tr>