<div>
									<table>
											<tr>
												<td>
													<a href="" style="font-size:11pt; color:#49631a; text-decoration:none;">TESTIMONIALS</a> &nbsp;&nbsp;&nbsp;
													<img src="images\trip-advisor.gif"><br />
													<a href="">20/09/2011, AMAZING SEA TRIP</a>
													<p>
														Qui corendae volut dolupiciis dene nos maidit, 
														drepeles eos etusa.
														&nbsp;<a href=""><img src="images\ream_more_pic.gif" /></a>
													</p>
													
												</td>
											</tr>
											
											<tr>
												<td>
													<a href="">18/09/2011, WONDERFUL Culture & Tradition of Egypt</a>
													<p>
														Qui corendae volut dolupiciis dene nos maidit, 
														drepeles eos etusa.
														&nbsp;<a href=""><img src="images\ream_more_pic.gif"></a>
													</p>
												</td>
											</tr>
											
											<tr>
												<td style="border:0;">
													<a href="">15/08/2011, Diving in ShS</a>
													<p>
														Qui corendae volut dolupiciis dene nos maidit, 
														drepeles eos etusa.
														&nbsp;<a href=""><img src="images\ream_more_pic.gif"></a>
													</p>
												</td>
											</tr>
									</table>
								</div>
								