<div id="TA_selfserveprop758" class="TA_selfserveprop">
<ul id="T0zqSQN" class="TA_links jfxP8OLufFwm">
<li id="0VclWr8A0k" class="qAld73">309 reviews of <a target="_blank" href="http://www.tripadvisor.co.uk/Attraction_Review-g297555-d1534246-Reviews-Sharm_Club-Sharm_El_Sheikh_South_Sinai_Red_Sea_and_Sinai.html">Sharm Club</a> in Sharm El Sheikh</li>
</ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=758&amp;locationId=1534246&amp;lang=en_UK&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false"></script>
	<div id="1"style="display:none;">1</div>					
							
<style type="text/css" rel="stylesheet">

	#TA_selfserveprop758 
		{
			width:242px;
			max-width:242px;
		}
		
	#TA_selfserveprop758 div div
		{
			background-color: #f2f8e3;
		}
	#CDSWIDSSP .widSSPData {
    background-color: #f2f8e3;
    margin: 3px;
    padding: 7px;
}

	#CDSWIDSSP 
		{
			background-color: #f2f8e3;
			color: #587c16;
			font-size: 8pt;
			font-family:Arial;
			height: auto;
			margin: 0;
			overflow: hidden;
			padding: 0;
			text-align: left;
			letter-spacing: 0;
		}
		
	#CDSWIDSSP div
		{
			font-family:arial;
			font-size:8.5pt;
			color:#587c16;
			background-color: #f2f8e3;
		}
	#CDSWIDSSP div img {
    background-color: #f2f8e3;
    border: medium none;
    padding: 0;}	
	
	#CDSWIDSSP .widSSPData .widSSPBranding dd {
    /*color: #49631a;*/
	color: #000000;
    font-size: 8.5pt;
    font-style: normal;
    margin: 3px 0 8px;
	font-family:arial;	}
	
	#CDSWIDSSP .widSSPData .widSSPBranding a, #CDSWIDSSP .widSSPData .widSSPBranding a:link, #CDSWIDSSP .widSSPData .widSSPBranding a:visited {
    color: #49631a;
    font-size: 9.5pt;
	font-weight:bold;
	font-family:arial;
    font-style: normal;
    text-decoration: none;
}
#CDSWIDSSP .widSSPData .widSSPBranding a:hover, #CDSWIDSSP .widSSPData .widSSPBranding a:hover, #CDSWIDSSP .widSSPData .widSSPBranding a:hover {
    color: #49631a;
    font-size: 9.5pt;
	font-weight:bold;
	font-family:arial;
    font-style: normal;
    text-decoration: underline;
}

#CDSWIDSSP .widSSPData .widSSPH18 {
    color: #49631a;
    font-weight: bold;
	font-size:9.5pt;
	font-family: Arial;
}

#CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall div {
    color: #000000;
    font-size: 8.5pt;
	font-family:Arial;
    padding-left: 2px;
}

#CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall {
    margin-bottom: 5px;
}

#CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall div b {
    color: #49631a;
    font-size: 9.5pt;
	font-family:Arial;
	font-weight:bold;
}

#CDSWIDSSP .widSSPData .widSSPInformation .widSSPPopIdx var, #CDSWIDSSP .widSSPData .widSSPInformation .widSSPPopIdx span {
    color: #49631a;
}

#CDSWIDSSP .widSSPData .widSSPInformation .widSSPPopIdx var b span {
    color: #49631a;
    font-family: arial;
    padding-left: 2px;
}

#CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li span {
    border: medium none;
    color: #000000;
    display: inline;
    font: 8.5pt Arial;
    position: relative;
}

#CDSWIDSSP .widSSPData .widSSPAll a:link, #CDSWIDSSP .widSSPData .widSSPAll a:visited {
    color: #49631a;
    font-size: 9pt;
	font-family:arial;
	font-weight:bold;
    line-height: normal;
    text-decoration: none;
}

#CDSWIDSSP .widSSPData .widSSPAll a:hover, #CDSWIDSSP .widSSPData .widSSPAll a:visited {
    color: #49631a;
    font-size: 9pt;
	font-family:arial;
	font-weight:bold;
    line-height: normal;
    text-decoration: underline;
}
</style>


<script type="text/javascript" src="javascript\jq.js"></script>

<script type="text/javascript">
	$(function()
			{
				$("#1").delay(5000).fadeOut(100,function()
										{
											$("#CDSWIDSSP").css("width","242px");
											alert('hi');
										}
									);
									
				//alert('hi');
			}
		);
</script>