section.about-page{max-width: 1190px; margin:0 auto; padding: 0;}

section.about-page div.about-img{background-image: url(../images/about-image-bg.png); background-repeat: no-repeat; background-size: cover; height: 250px; padding: 0; margin: -30px auto 20px; text-align: center;}
section.about-page div.about-img h2{text-transform: capitalize; line-height: 50px; color:#002b64; font-size:42px; font-weight: bold; margin:180px auto 20px; font-family: myr; display: inline-block;}
section.about-page div.about-img h2 img{display: inline-block; vertical-align: middle;}

section.about-page div.about-tabs{padding: 0; margin: 0 auto 30px;}
section.about-page div.about-tabs ul{list-style: none; margin: 0; padding: 0; font-family: myr;}
section.about-page div.about-tabs ul li{display: inline-block; transition: all .7s ease 0s; cursor: pointer;}
section.about-page div.about-tabs ul li:last-child{margin-right:0;}
section.about-page div.about-tabs ul li span.img-big{height:0; background-repeat: no-repeat; background-position: center center; transition: all .7s ease 0s;}
section.about-page div.about-tabs ul li.active span.img-big{height:100px; margin-bottom:20px; display: block;}
section.about-page div.about-tabs ul li span.txt{display: block; padding: 20px 20px 20px 70px; line-height: 25px; font-size: 22px; font-weight: bold; background-color: #fff; border:1px solid #90b73e; border-radius: 10px; color:#171d26; text-transform: capitalize; background-repeat: no-repeat; background-position: 20px center; transition: all .7s ease 0s;}
section.about-page div.about-tabs ul li.active span.txt{background-image: none !important; background-color: #90b73e; padding:20px; text-align: center;}
section.about-page div.about-tabs ul li#history span.txt{background-image: url(../images/his-icon-small.png);}
section.about-page div.about-tabs ul li#mission span.txt{background-image:url(../images/mission-vission-icon-small.png);}
section.about-page div.about-tabs ul li#teamwork span.txt{background-image:url(../images/tw-icon-small.png);}
section.about-page div.about-tabs ul li#history span.img-big{background-image:url(../images/his-icon-big.png);}
section.about-page div.about-tabs ul li#mission span.img-big{background-image:url(../images/mission-vission-icon-big.png);}
section.about-page div.about-tabs ul li#teamwork span.img-big{background-image:url(../images/tw-icon-big.png);}
section.about-page div.about-tabs ul li#teamwork span.img-big{background-image:url(../images/tw-icon-big.png);}

section.about-page div.about-tabs-body{padding: 0; margin: 0 auto 30px;}
section.about-page div.about-tabs-body div.active{display: block;}
section.about-page div.about-tabs-body div.active div{display: inherit;}
section.about-page div.about-tabs-body div{display: none;}

section.about-page div.about-tabs-body div.history-record{}
section.about-page div.about-tabs-body div.history-record div.record{padding: 30px; background-image: url(../images/navpattern.png); background-repeat: repeat; border-radius:10px; border:1px solid #171d26;}
section.about-page div.about-tabs-body div.history-record div.record div.item{margin:0 auto 20px; border-bottom:dashed 1px #f58220; padding-bottom: 10px;}
section.about-page div.about-tabs-body div.history-record div.record div.item:last-child{border: 0; margin: 0 auto 0; padding: 0;}
section.about-page div.about-tabs-body div.history-record div.record div.item h2{color:#90b73e; font-size: 25px; line-height: 30px; margin:0 auto 10px; font-weight: bold; font-family: myr;}
section.about-page div.about-tabs-body div.history-record div.record div.item p{color:#647287; font-size: 16px; line-height: 22px; margin:0 auto 25px; font-family: myr;}
section.about-page div.about-tabs-body div.history-record div.record div.item p:last-child{margin: 0 auto;}

section.about-page div.about-tabs-body div.history-gmword{}
section.about-page div.about-tabs-body div.history-gmword div.gmword{text-align: center; color:#fff;}
section.about-page div.about-tabs-body div.history-gmword div.gmword img{display: inline-block; margin:25px auto;}
section.about-page div.about-tabs-body div.history-gmword div.gmword h2{font-size: 25px; line-height: 35px; margin:0 auto 25px; text-transform: capitalize;}
section.about-page div.about-tabs-body div.history-gmword div.gmword p{font-size: 16px; line-height: 25px; color: #90b73e; margin: 0 auto;}

section.about-page div.about-tabs-body div.missionBody{}
section.about-page div.about-tabs-body div.missionBody h2{color:#90b73e; font-size:26px; line-height: 30px; margin:0 0 30px; padding: 0 0 20px; border-bottom:1px solid #fff; max-width:70%; min-width:250px; text-transform: uppercase;}
section.about-page div.about-tabs-body div.missionBody p{color:#9aa1ae; font-size:16px; line-height: 25px; margin:0 auto 20px;}

section.about-page div.about-tabs-body div.vision{}
section.about-page div.about-tabs-body div.vision h2{color:#fff; font-size:26px; line-height: 30px; margin:0 0 30px; padding: 0 0 20px; border-bottom:1px solid #90b73e; max-width:70%; min-width:250px; text-transform: uppercase;}
section.about-page div.about-tabs-body div.vision p{color:#9aa1ae; font-size:16px; line-height: 25px; margin:0 auto 20px;}

section.about-page div.about-tabs-body div.goals{background-image: url(../images/goal-image-bg.png); background-repeat: no-repeat; background-size: cover; text-align:center; margin:20px auto 30px; padding: 20px 35px; background-attachment: fixed;}
section.about-page div.about-tabs-body div.goals p{font-size: 22px; line-height: 40px; color: #fff; margin-bottom: 10px;}
section.about-page div.about-tabs-body div.goals h2{text-transform: capitalize; line-height: 50px; color:#fff; font-size:42px; font-weight: bold; margin:0 auto 40px; font-family: myr; text-shadow:2px 2px 1px #000;}
section.about-page div.about-tabs-body div.goals h2 img{display: inline-block; vertical-align: middle; margin-left:20px;}

section.about-page div.about-tabs-body div.teamworkBody{}
section.about-page div.about-tabs-body div.teamworkBody h2{color:#90b73e; font-size:36px; text-transform: uppercase; line-height: 40px; font-family: myr; margin:10px auto 20px; padding: 0; text-align: center;}
section.about-page div.about-tabs-body div.teamworkBody h2::after{content: " "; border-bottom:1px solid #90b73e; max-width:200px; margin:20px auto 30px; display: block; height:1px; }
section.about-page div.about-tabs-body div.teamworkBody p{color:#fff; font-size: 16px; line-height: 25px; text-align: center; margin: 0 auto 30px;}

section.about-page div.about-tabs-body div.teamworkBody div.twmember{padding: 0 10px;}
section.about-page div.about-tabs-body div.teamworkBody div.twmember div.bg{border-radius: 10px; padding: 20px; background-color: #90b73e; margin: 10px auto; text-align: center; font-family: myr;}
section.about-page div.about-tabs-body div.teamworkBody div.twmember img{display: inline-block; margin:0 auto; max-width: 80%;}
section.about-page div.about-tabs-body div.teamworkBody div.twmember h3{color:#171d26; font-size: 18px; line-height: 30px; text-align: center; margin:15px auto 20px; text-transform: capitalize;}
section.about-page div.about-tabs-body div.teamworkBody div.twmember p{color:#fff; font-size: 15px; line-height: 20px; text-align: center; margin: 0 auto 20px;}


@media only screen and (max-width: 767px){
	section.about-page div.about-tabs ul li{margin-bottom:10px;}
}