*{direction: rtl;}
header.container-fluid .head .menu nav .navbar-brand{margin-right: 0; margin-left: 70px;}
header.container-fluid .head .menu ul li:last-child{border-right: 1px solid #d6d6d6; padding: 8px 18px 8px 0px;}
header.container-fluid .head .menu ul li:first-child{border-right:none; padding: 8px 0px 8px 18px;}
header.container-fluid .head .menu ul li{text-align: right;}
header.container-fluid .head .social-menu ul {text-align: left;}
section.slide-about .slider .carousel.slide .carousel-inner .item h3 {left: 15%;text-align: right;}
section.slide-about .slider .carousel.slide .carousel-inner .item p{left: -6%;text-align: right;}
section.slide-about .about-prod .prod .title div.prod-arrow{text-align: left;}
section.slide-about .about-prod .about .home-about-body a.download, .about-page .btns a.download{margin:0 2% 0 0;}
section.slide-about .about-prod .about .home-about-body a.goabout, .about-page .btns a.goabout{margin:0 0 0 2%;}
footer.container-fluid .links ul li a i{margin-right: 0; margin-left: 5px;}

@media only screen and (max-width: 1200px){
	section.slide-about{padding: 0 25px;}
}
@media only screen and (max-width: 992px){
	header.container-fluid .head .menu{text-align: center;}
	section.slide-about .slider .carousel.slide .carousel-inner .item img{min-height: 350px; max-height: 400px; overflow: hidden;}
	section.slide-about .about-prod .prod{margin-bottom: 15px;}
}
@media only screen and (max-width: 767px){
	header.container-fluid .head .menu ul li:last-child{border: none;}
	section.slide-about .about-prod .about .home-about-body a.goabout, .about-page .btns a.goabout,section.slide-about .about-prod .about .home-about-body a.download, .about-page .btns a.download{max-width:99%; margin:5px .5%;}	
}
@media only screen and (max-width: 345px){
	header.container-fluid .head .menu nav .navbar-brand{margin-left:20px;}
}
