section.clients-page{max-width: 1190px; margin:0 auto; padding: 0;}

section.clients-page div.clients-img{background-image:url(../images/clients-image-bg.png); background-repeat: no-repeat; background-size: cover; height: 250px; padding: 0; margin: -30px auto 20px; text-align: center;}
section.clients-page div.clients-img h2{text-transform: capitalize; line-height: 50px; color:#fff; font-size:42px; font-weight: bold; margin:180px auto 20px; font-family: myr; display: inline-block;}
section.clients-page div.clients-img h2 img{display: inline-block; vertical-align: middle;}

section.clients-page div.clients-tab{padding:0 0 10px; margin:0 auto 20px; border-bottom:1px solid #fff;}
section.clients-page div.clients-tab h2{display: inline-block; color:#90b73e; font-size: 25px; line-height: 40px; text-transform: uppercase; margin: 0;}
section.clients-page div.clients-tab ul{list-style: none; margin: 0; padding: 0; text-align: right;  display: inline-block; float: right;}
section.clients-page div.clients-tab ul li{color:#163b6b; background-color:#fff; border-radius:5px; text-align: center; cursor: pointer; text-transform: capitalize; margin:0 5px; font-size: 16px; line-height: 20px; padding: 10px 20px; box-sizing: border-box; transition: all .7s ease 0s; display: inline-block;}
section.clients-page div.clients-tab ul li:last-child{margin-right: 0;}
section.clients-page div.clients-tab ul li:first-child{margin-left: 0;}
section.clients-page div.clients-tab ul li:hover{color:#fff; background-color: #90b73e;}
section.clients-page div.clients-tab ul li.active{color:#fff; background-color: #163b6b;}
section.clients-page div.clients-tab ul li:hover .active{color:#fff; background-color: #163b6b;}

section.clients-page div.clients-tabs-body{padding: 25px 35px; margin: 0 auto 30px; background-image: url(../images/navpattern.png); background-repeat: repeat; border-radius: 10px;}
section.clients-page div.clients-tabs-body div.active{display: block;}
section.clients-page div.clients-tabs-body div{display: none;}
section.clients-page div.clients-tabs-body ul{padding: 0; margin: 0 auto 20px; list-style: none;}
section.clients-page div.clients-tabs-body ul:last-child.row{margin: 0 auto;}
section.clients-page div.clients-tabs-body ul li{cursor: pointer; transition: all .7s ease 0s; height:55px; overflow: hidden; margin-bottom: 10px;}
section.clients-page div.clients-tabs-body ul li.active{position: relative; margin-top:31px; margin-bottom:-31px; z-index: 1}
section.clients-page div.clients-tabs-body ul li img{border:1px solid #afbed0; height: 100%;}
section.clients-page div.clients-tabs-body ul li.active img{border:0;}

section.clients-page div.clients-tabs-body div.client-body.row{margin: 0 -35px 30px;}
section.clients-page div.clients-tabs-body div.client-body{padding: 25px 15px; background-image: url(../images/bg-pattern.png); background-repeat: repeat; display: none;transition: all .7s ease 0s; z-index: 2;}
section.clients-page div.clients-tabs-body div.client-body.active{display: flex;}
section.clients-page div.clients-tabs-body div.client-body.active div{display: block;}
section.clients-page div.clients-tabs-body div.client-body div.client-data{padding: 0 40px 0 0;}
section.clients-page div.clients-tabs-body div.client-body div.client-data h2{color:#f58220; font-size: 25px; line-height: 35px; margin: 0 auto 10px; font-weight: bold; text-transform: capitalize;}
section.clients-page div.clients-tabs-body div.client-body div.client-data p{color:#fff; font-size:16px; line-height: 25px; margin: 0 auto 30px; text-align: justify;}
section.clients-page div.clients-tabs-body div.client-body div.client-data ul{margin: 0 0 10px 10px; padding: 0; list-style: none;}
section.clients-page div.clients-tabs-body div.client-body div.client-data ul li{font-size: 16px; line-height: 25px; margin: 0 auto 15px; display: block; color:#90b73e; text-transform: capitalize; cursor: auto;}
section.clients-page div.clients-tabs-body div.client-body div.client-data ul li i{color:inherit; margin-left:15px;}
section.clients-page div.clients-tabs-body div.client-body div.client-data ul li span.project-date{color:#fff; display: inline-block; float: right;}

section.clients-page div.clients-tabs-body div.client-body div.client-review{background-image: url(../images/navpattern.png); background-repeat: repeat; margin:-25px 40px -25px 0; padding: 25px; text-align: center;}
section.clients-page div.clients-tabs-body div.client-body div.client-review h3{color:#163b6b; font-size: 20px; line-height: 25px; margin: 0 auto 25px; padding: 0 15px 15px; border-bottom: 1px solid #163b6b; display: inline-block; width:auto; text-align: center; max-width: 95%; min-width: 200px; font-weight: bold;}
section.clients-page div.clients-tabs-body div.client-body div.client-review p{font-size: 16px; line-height: 25px; color:#aaaaaa; text-align: center; margin:0 auto 35px; max-width: 90%;}


@media only screen and (max-width: 767px){
	section.clients-page div.clients-tabs-body div.client-body.active{display: block;}
	section.clients-page div.clients-tabs-body div.client-body div.client-review{margin: 10px auto;}
}