section.clients-page div.clients-tab ul{float: left;}
section.clients-page div.clients-tabs-body div.client-body div.client-data{padding: 0 0 0 40px;}
section.clients-page div.clients-tabs-body div.client-body div.client-review{margin: -25px 0 -25px 40px;}