
.contact_us_page{max-width: 1190px; padding: 0; margin: 0 auto;}
.contact_us_page .contact-hdr{background-image: url(../images/contact-us-hdr.png); background-repeat: no-repeat; background-size: cover; margin-top:-30px; height: 250px; }
.contact_us_page .contact-hdr p{text-align: center;line-height: 380px;}
.contact_us_page .contact-hdr p span{color: #002b64; font-size: 41.51px; font-weight: bolder;}
.contact_us_page .contact-hdr p img{margin-top: -5px;line-height: 100px;margin-right: 25px;}
.contact_us_page .contact-map{margin-top: 30px; position: relative;}
.contact_us_page .contact-map iframe{height: 600px; z-index: 1}
.contact_us_page .contact-map .map-over .col-xs-12{position: absolute; width: 100%; bottom: 0; left: 0; top: 0; padding-top: 40px; z-index: 2;}
.contact_us_page .contact-map .map-over .icon-container{width: 40px; height: 40px; border-radius: 3px; background-color: #002b64; text-align: center; margin-bottom: 15px; color: #fff; border: 1px solid #fff; box-shadow: 1px 1px 0 #000}
.contact_us_page .contact-map .map-over .icon-container:hover{cursor: pointer; z-index: 5;}
.contact_us_page .contact-map .map-over .icon-container:first-child, .contact_us_page .contact-map .map-over .icon-container:nth-child(3){background-color: #fff; border-color: #f58220; color:#f58220;}
.contact_us_page .contact-map .map-over .icon-container i{line-height: 38px; font-size: 28px;}
.contact_us_page .contact-map .map-over-2{position: absolute; height: 100%; right: 0; top: 0; padding-top: 40px; z-index: 3; margin-right: 15px; margin-left: 15px;}
.contact_us_page .contact-map .map-over-2 .col-xs-12{float: right;}
.contact_us_page .contact-map .map-over-2 .form form{margin-right: -6px; margin-left: -6px; font-weight: 100;}
.contact_us_page .contact-map .map-over-2 .form .col-xs-12{padding: 0 6px;}
.contact_us_page .contact-map .map-over-2 .form{background: rgba(0,0,0,0.9); padding: 20px; border-radius: 6px; position: relative;}
.contact_us_page .contact-map .map-over-2 .form p{color: #fff; font-size: 16pt; margin-bottom: 10px;}
.contact_us_page .contact-map .map-over-2 .form span{text-align: right; color: #f58220; font-size: 18pt; margin-bottom: 45px;}
.contact_us_page .contact-map .map-over-2 .form input, .contact_us_page .contact-map .map-over-2 .form textarea{width: 100%; border-radius: 5px; border:#f58220 1px solid; padding: 10px 16px; font-size: 16pt; color: #252525; font-family: century; font-weight: 100; }
.contact_us_page .contact-map .map-over-2 .form input{ margin-bottom: 14px; font-weight: bolder; z-index: 5;}
.contact_us_page .contact-map .map-over-2 .form .message-text {width: 100%; padding: 0 6px; z-index: 5;}
.contact_us_page .contact-map .map-over-2 .form .message-text .contact-btn{position: absolute; bottom: 15px; right: 15px; margin-right: 25px; margin-bottom: 25px; width: auto; background: #000; color: #fff; border-radius:1px; font-size: 20px; border:0;}
.contact_us_page .contact-map .map-over-2 .form textarea{height: 137px; resize: none;}
.contact_us_page .contact-map .map-over .social-conts{position: absolute; bottom: 20px;}
.contact_us_page .contact-map .map-over .social-cont{height: 48px; width: 48px; border:1px solid #90b73e; color: #90b73e; text-align: center; background: #fff; border-radius: 4px; float: left; margin-top: 10px; margin-right: 10px;}
.contact_us_page .contact-map .map-over .social-cont i{font-size: 36px; line-height: 48px;}

@media (max-width: 991px){
	.contact_us_page .contact-map iframe{height: 700px;}

}
@media (max-width: 767px){
	.contact_us_page .contact-hdr p span{font-size: 20pt;}
	.contact_us_page .contact-map .map-over-2{margin-right: 0; margin-left: 0;}
	.contact_us_page .contact-map .map-over{position: static;}
	.contact_us_page .contact-map .map-over .social-conts{position: static; margin-bottom: 15px; float: right;}
	.contact_us_page .contact-map .map-over .social-conts .social-cont{margin-top: 0;}
	.contact_us_page .contact-map .map-over .col-xs-12{position: static;}
	.contact_us_page .contact-map .map-over .icon-container{float: left; margin-right: 10px;}
	.contact_us_page .contact-map .map-over-2{position: static;}
	.contact_us_page .contact-map .map-over-2 .form p{font-size: 14pt;}	
	.contact_us_page .contact-map .map-over-2 .form span{; font-size: 16pt;}	
	.contact_us_page .contact-map .map-over-2 .form input, .contact_us_page .contact-map .map-over-2 .form textarea{font-size: 14pt}
	.contact_us_page .contact-map .map-over-2 .form .message-text .contact-btn{right: 6px; bottom: 10px; margin-right: 18px; margin-bottom: 20px; font-size: 16px; padding: 5px 8px; }

}




