

.contact_us_page .contact-hdr p img{margin-left: 25px; margin-right: auto;}


.contact_us_page .contact-map .map-over-2{left: 0; right: auto;}
.contact_us_page .contact-map .map-over-2 .col-xs-12{float: left;}




.contact_us_page .contact-map .map-over-2 .form .message-text .contact-btn{left: 15px; margin-left: 25px; margin-right: auto; right: auto;}
.contact_us_page .contact-map .map-over .social-cont{ float: right; margin-left: 10px; margin-right: auto;}

@media (max-width: 767px){

	.contact_us_page .contact-map .map-over .social-conts{float: left;}

	.contact_us_page .contact-map .map-over .icon-container{float: right; margin-left: 10px; margin-right: auto;}


	.contact_us_page .contact-map .map-over-2 .form .message-text .contact-btn{left: 6px; margin-left: 18px; left: auto; margin-right: auto;}

}




