@font-face{font-family: myr; src:url(../fonts/Myriad-Pro-Regular.ttf);}
@font-face{font-family: century; src:url(../fonts/GOTHIC.TTF);}

body{margin: 0; padding: 0; width: 100%; min-height: 100%; font-family: century; font-size:18px; line-height: 25px; color:#9aa1ae; text-decoration: none; background-image: url(../images/bg-pattern.png); background-repeat: repeat;}
a{color: inherit; text-decoration: none;}

header.container-fluid{margin: 0; background-image:url(../images/navpattern.png); background-repeat: repeat; border-bottom: 7px solid #90b73e; padding: 28px 0;}
header.container-fluid .head{max-width: 1190px; padding: 0 24px; margin:0 auto; line-height: 70px;}
header.container-fluid .head .logo{padding: 0;}
header.container-fluid .head .menu{padding: 0;}
header.container-fluid .head .menu nav{background: transparent; border: 0; border-radius:0; margin: 0;}
header.container-fluid .head .menu nav .navbar-header{margin-top:10px;}
header.container-fluid .head .menu nav .navbar-header button{background-color: #90b73e; border:1px solid #90b73e;}
header.container-fluid .head .menu nav .navbar-header button span{background-color: #fff;}
header.container-fluid .head .menu nav .navbar-brand{margin-top:-20px; padding: 0; margin-right:70px;}
/*header.container-fluid .head .menu nav .navbar-brand img{max-width: 95%;}*/
header.container-fluid .head .menu ul{list-style: none; margin: 0; padding: 0; color:#505b6d; font-size: 18px; line-height: 22px;}
header.container-fluid .head .menu ul li{display: inline-block; padding: 8px 18px; border-right: 1px solid #d6d6d6; transition: all .7s ease 0s; margin:16px auto;}
header.container-fluid .head .menu ul li:hover{color: #90b73e; font-weight: bolder;}
header.container-fluid .head .menu ul li a{color: inherit; text-decoration: none; display: block;}
header.container-fluid .head .menu ul li:first-child{padding-left: 0;}
header.container-fluid .head .menu ul li:last-child{border: 0; padding-right: 0;}
header.container-fluid .head .social-menu{padding: 0;}
header.container-fluid .head .social-menu ul{list-style: none; margin: 0; padding: 0; color:#4471ae; font-size: 18px; text-align: right;}
header.container-fluid .head .social-menu ul li{display: inline-block; padding: 0 5px; transition: all .7s ease 0s;}
header.container-fluid .head .social-menu ul li:first-child{padding-left: 0;}
header.container-fluid .head .social-menu ul li:last-child{padding-right: 0;}
header.container-fluid .head .social-menu ul li a{color: inherit; text-decoration: none;}
header.container-fluid .head .social-menu ul li:hover{color: #90b73e;}

section.slide-about{max-width: 1190px; padding: 0; margin: 0 auto;}
section.slide-about .slider{margin:-30px auto 65px;}

section.slide-about .slider a.carousel-control{height:52px; top:47.5%; width:58px; background-color: rgba(255,255,255,.8); color:#90b73e; font-size:8px; background-image: none; opacity: 1;}
section.slide-about .slider a.carousel-control span.glyphicon{color:#90b73e; font-size:20px; margin:0; padding: 0; line-height: 52px; text-align: center; top:0; left:0; right:0; width:58px; height:52px;}
section.slide-about .slider a.carousel-control.left{left:-2px;}
section.slide-about .slider a.carousel-control.right{right:-2px;}
section.slide-about .slider .carousel.slide{max-height: 530px; overflow: hidden;}
section.slide-about .slider .carousel.slide .carousel-inner{max-height: 100%;}
section.slide-about .slider .carousel.slide .carousel-inner .item{max-height: 530px; overflow: hidden;}
section.slide-about .slider .carousel.slide .carousel-inner .item img{min-height: 530px; overflow: hidden; width: 100%;}
section.slide-about .slider .carousel.slide .carousel-inner .item h3{background-color: #90b73e; color:#242b36; font-size:30px; line-height: 35px; font-weight: bold; padding: 14px 25px; transform: skewX(2deg); display: inline-block; text-align: left; left:-15%; position: relative;}
section.slide-about .slider .carousel.slide .carousel-inner .item p{background-color: #115894; color:#fff; font-size:25px; line-height: 30px; padding: 16px 27px; transform: skewX(2deg); display: inline-block; text-align: left; left:6%; position: relative; height: 62px; overflow: hidden;}
section.slide-about .about-prod{padding: 0; margin: 0 auto 45px;}
section.slide-about .about-prod .prod{padding: 0;}
section.slide-about .about-prod .prod .title {margin-bottom: 40px;}
section.slide-about .about-prod .prod .title div{padding: 0; line-height: 40px;}
section.slide-about .about-prod .prod .title div h2{margin: 0; color: #739837; font-size: 26px; line-height: 40px; text-transform: uppercase; width: 100%; border-bottom: 1px solid #3d4656; padding: 0 0 19px;}
section.slide-about .about-prod .prod .title div.prod-arrow{text-align: right;}
section.slide-about .about-prod .prod .title div i{line-height: 40px; font-size: 26px; margin:0 5px; color: #fff; cursor: pointer;}
section.slide-about .about-prod .prod .home-products{overflow:hidden;}
section.slide-about .about-prod .prod .home-products .home-products-item{display: none;}
section.slide-about .about-prod .prod .home-products .home-products-item p{padding: 15px; font-size: 14px; line-height: 21px; color:#7cb0f4; background-color: #163b6b; transition: all .7s ease 0s;}
section.slide-about .about-prod .prod .home-products .home-products-item p a{display: block; color: inherit; text-decoration: none;}
section.slide-about .about-prod .prod .home-products .home-products-item img{width: 100%;}
section.slide-about .about-prod .prod .home-products .home-products-item.active{display: block;}
section.slide-about .about-prod .prod .home-products .home-products-item.active:hover p{color:#fff; background-color: #5c7b1b;}

section.slide-about .about-prod .about .title {margin-bottom: 40px;}
section.slide-about .about-prod .about .title div{padding: 0; line-height: 40px;}
section.slide-about .about-prod .about .title div h2{margin: 0; color: #fff; font-size: 26px; line-height: 40px; text-transform: uppercase; width: 100%; border-bottom: 1px solid #739837; padding: 0 0 19px;}
section.slide-about .about-prod .about .home-about-body{}
section.slide-about .about-prod .about .home-about-body p{color:#9aa1ae; font-size: 18px; line-height: 24px; margin:0 auto 25px; text-align: justify; height: 120px; overflow: hidden;}
section.slide-about .about-prod .about .home-about-body a{text-align: center; color: #fff; text-transform: capitalize; text-decoration: none; font-size: 20px; line-height: 34px; border-radius: 5px; transition: all .7s ease 0s; display: block; padding: 25px 5px; margin: 0 2%; max-width: 48%;}
section.slide-about .about-prod .about .home-about-body a:hover{color: #161d25;}
section.slide-about .about-prod .about .home-about-body a.goabout{background-color: #d47733; margin:0 2% 0 0;}
section.slide-about .about-prod .about .home-about-body a.download{background-color: #5c7b1b; margin:0 0 0 2%;}
section.slide-about .about-prod .about .home-about-body a i{margin-right: 15px; font-size:22px; line-height: 34px; vertical-align: middle;}

section.home-clients{padding: 60px 0; margin: 0 auto; background-color: rgba(21,26,32,.4); background-image: url(../images/bg-pattern-dark.png); background-repeat: repeat;}
section.home-clients .home-clients-body{max-width: 1190px; margin: 0 auto;}
section.home-clients .home-clients-body h2{text-align: center; margin: 0 auto 40px; padding: 0 40px 20px; display: block; color: #fff; font-size: 26px; line-height: 40px; text-transform: uppercase; border-bottom: 1px solid #214f8b; max-width: 240px;}
section.home-clients .home-clients-body ul{list-style: none; text-align: center; margin: 0 auto 22px; padding: 0;}
section.home-clients .home-clients-body ul li{display: inline-block; padding: 15px 18px; margin: 0 2px; font-size: 16px; line-height: 22px; color:#91a5c3; text-transform: capitalize; cursor: pointer; transition: all .7s ease 0s;}
section.home-clients .home-clients-body ul li:hover{color: #fff;}
section.home-clients .home-clients-body ul li.active{background-color: #163b6b; border-radius: 5px; color:#fff;}
section.home-clients .home-clients-body .home-clients-body-content{background-color: #dee5ee; padding: 30px 10px; border-top:8px solid #9faec2; overflow:hidden;}
section.home-clients .home-clients-body .home-clients-body-content div.item{display: none;}
section.home-clients .home-clients-body .home-clients-body-content div.item.active{display: block;}
section.home-clients .home-clients-body .home-clients-body-content ul{}
section.home-clients .home-clients-body .home-clients-body-content ul li{padding: 0; margin: 15px 10px;}

footer.container-fluid{max-width: 1190px; margin: 0 auto; padding: 50px 45px;}
footer.container-fluid .address{}
footer.container-fluid .address h3{color:#64861d; font-size: 18px; line-height: 30px; margin: 0 auto; padding: 0; text-transform: capitalize; font-weight: bold;}
footer.container-fluid .address p{color:#647287; font-size: 16px; line-height: 30px; margin: 0 auto; padding: 0;}
footer.container-fluid .links ul{list-style: none; color:#647287; font-size:16px; line-height: 18px; text-transform: capitalize; padding: 0; margin: 0;}
footer.container-fluid .links ul li{padding: 15px 5px; border-bottom: 1px solid #647287; transition: all .7s ease 0s;}
footer.container-fluid .links ul li a{text-decoration: none; color: inherit; display: block;}
footer.container-fluid .links ul li a i{margin-right:5px;}
footer.container-fluid .links ul li:hover{color: #fff;}
footer.container-fluid .links ul li:last-child{border: 0; padding-bottom: 0;}
footer.container-fluid .copyright{line-height: 180px; text-align: right; margin-top: 25px;}
footer.container-fluid .copyright img{display: inline-block;}
footer.container-fluid .copyright p{color:#b1b4b7; font-size: 15px; line-height: 18px; display: inline-block;}
footer.container-fluid .copyright p a{display: block; text-decoration: none; color:#1270cb; transition: all .7s ease 0s;}
footer.container-fluid .copyright p a span{font-weight: bold;}
footer.container-fluid .copyright p a:hover{color: #fff;}
footer.container-fluid .copyright p a:hover span{text-decoration: underline;}

@media only screen and (max-width: 767px){
	header.container-fluid .head .logo{text-align: center;}
	header.container-fluid .head .menu{text-align: left !important; margin-bottom: 10px;}
	header.container-fluid .head .menu ul {background-color: #fff; border-radius: 5px; border: 1px solid #d6d6d6; padding: 0 10px; margin:10px auto;}
	header.container-fluid .head .menu ul li{display: block; width:100%; border-right: 0; padding: 8px 18px!important; border-bottom:1px solid #d6d6d6;}
	header.container-fluid .head .menu ul li:hover{text-align: center;}
	header.container-fluid .head .menu ul li:last-child{border: 0; margin: 0;}
	section.slide-about .about-prod .about .home-about-body a.goabout,section.slide-about .about-prod .about .home-about-body a.download{max-width:99%; margin:5px .5%;}
	section.slide-about .about-prod .about .home-about-body p{height: auto; overflow: auto;}
	footer.container-fluid .copyright{text-align: center;}
	footer.container-fluid div{margin-bottom:10px;}
}

@media only screen and (max-width: 813px){
	header.container-fluid .head .menu ul li{padding: 8px 10px;}
}

@media only screen and (max-width: 345px){
	header.container-fluid .head .menu nav .navbar-brand{margin-right:20px;}
}

@media only screen and (max-width: 992px){
	header.container-fluid .head .social-menu ul{text-align: center !important; line-height: 30px;}
	header.container-fluid .head .menu{text-align: center;}
	section.slide-about .slider .carousel.slide .carousel-inner .item img{min-height: 350px; max-height: 400px; overflow: hidden;}
	section.slide-about .about-prod .prod{margin-bottom: 15px;}
}

@media only screen and (max-width: 1200px){
	section.slide-about{padding: 0 25px;}
}


.animated{animation-duration:3s !important;}
.home-products-item.animated{animation-duration: 1s !important;}