.projects-panel{margin: 10px auto; padding: 0;}
.projects-panel .project{margin-bottom: 10px;}
.projects-panel .project h2{color:#fff; font-size:30px; line-height: 45px; text-align: center; padding: 10px; margin: 0 auto; position: absolute; z-index: 20; width: 100%; bottom: 0; margin-bottom: 2px; font-weight: bold; text-shadow: 2px 2px 0 #000;}

.projects-panel .project-tabs{margin:5px auto 10px;}
.projects-panel .project-tabs li.active{color:rgb(54, 51, 104); font-weight: bold;}
.projects-panel .project-gallery{display: none; padding: 10px;}
.projects-panel .project-gallery.active{display: block;}
.projects-panel .project-gallery.active ul{list-style: none; margin: 0; padding: 0;}
.projects-panel .project-gallery.active ul li{display: inline-block; margin: 5px auto;}
.projects-panel .project-gallery.active ul li img{height:400px; display: block; margin: 0 auto;}

a.carousel-control{height:52px; top:47.5%; width:52px; background-color: rgba(255,255,255,1); color:#ea860f; font-size:8px; background-image: none; opacity: 1; border-radius: 50%;}
a.carousel-control span.glyphicon{color:#ea860f; font-size:20px; margin:0; padding: 0; line-height: 52px; text-align: center; top:0; left:0; right:0; width:52px; height:52px;}
a.carousel-control.left{left:2px;}
a.carousel-control.right{right:2px;}
.carousel.slide{max-height: 530px; overflow: hidden;}
.carousel.slide .carousel-inner{max-height: 100%;}
.carousel.slide .carousel-inner .item{max-height: 400px; overflow: hidden;}
.carousel.slide .carousel-inner .item img{min-height: 400px; overflow: hidden; width: 100%;}
.carousel-control{text-shadow: none;}
.carousel-control.right{background:none; background-color: rgba(255,255,255,.7);}
.carousel-control.left{background:none; background-color: rgba(255,255,255,.7);}