.qmcontrols{}

span.clear{display:block; height:1px; clear:both; width:100%; float:none;}

*{font-family:ubuntu; font-size:12px; line-height:15px; color:#1e1e1e; padding:0; margin:0; text-decoration:none;}

body{width:100%; height:100%; padding:0; margin:0; background-color:#fff;}

a{color:inherit; text-decoration:none;}

@font-face {
    font-family: 'ambleregular';
    src:url(../fonts/Amble-Regular-webfont.woff);
}

@font-face {
    font-family: 'header';
    src:url(../fonts/Backslash.woff);
}

@font-face {
    font-family: 'header2';
    src:url(../fonts/911 Porscha.woff);
}

@font-face {
    font-family: 'headerblk';
    src:url(../fonts/mt.ttf) format('truetype');
}

@font-face {
    font-family: 'menulk';
    src:url(../fonts/Wintermute.woff);
}

@font-face {
    font-family: 'menulk2';
    src:url(../fonts/Baumans-Regular.woff);
}

@font-face {
    font-family: 'ubuntu';
    src:url(../fonts/Ubuntu-R.woff);
}

#main_holder{background-color:#2b6791; width:80%; height:auto; padding:2.5% 10% .5%; min-height:800px; background-image:url(../img/bg.png);}

#main_holder #page{background-color:#fff; width:100%; height:100%; padding:0; min-height:100px; transition:all 1s ease 0s; background-image:url(../img/bg1.png);}

#main_holder #page .menu{padding:0 3%; margin-bottom:10px; text-align:center; margin-top:-2px;}
#main_holder #page .menu ul{list-style:none;}
#main_holder #page .menu ul li{display:inline-block; font-family:menulk2; font-size:22px; line-height:70px; text-transform:capitalize; color:#555;}
#main_holder #page .menu ul li.active{color:#fff; background-color:#3daf2c;}
#main_holder #page .menu ul li a{font-family:inherit; font-size:inherit; color:inherit; line-height:inherit; text-transform:inherit; text-decoration:inherit; cursor:pointer; padding:10px 32px; display:block; color:#555; background-color:transparent; transition:all 1s ease .1s;}
#main_holder #page .menu ul li.active a{font-family:inherit; font-size:inherit; color:inherit; line-height:inherit; text-transform:inherit; text-decoration:inherit; cursor:pointer; padding:10px 32px; display:block; color:inherit; background-color:transparent; transition:all 1s ease .1s;}
#main_holder #page .menu ul li:hover a{color:#fff; background-color:#2b6791;}
#main_holder #page .menu ul li.acive:hover a{color:inherit; background-color:inherit;}
#main_holder #page .menu ul li a span{font-family:inherit; font-size:inherit; color:inherit; line-height:inherit; text-transform:inherit; text-decoration:inherit; cursor:inherit;}
#main_holder #page .menu ul li a:hover{}
#main_holder #page .menu ul li a:hover span{}

#main_holder #page .logo{text-align:center; padding:.2% 3%; margin:10px auto;}
#main_holder #page .logo h1{font-family:menulk2; font-size:7.2vw; line-height:100px; color:#125687; margin-bottom:2px; text-transform:capitalize;}
#main_holder #page .logo span{font-family:ubuntu; font-size:19px; line-height:30px; color:#555; margin-bottom:10px; text-transform:uppercase; display:block;}

#main_holder #page .slider{}

#main_holder #page .welcome{padding:1% 3%; margin:10px auto; text-align:center; background-color:#2b6791; background-image:url(../img/bg.png);}
#main_holder #page .welcome h2{font-family:ubuntu; font-size:6vw; margin-bottom:20px; line-height:120px; padding:10px 0; color:#fff; text-shadow:#1e1e1e; text-align:center;}
#main_holder #page .welcome p{font-family:ubuntu; font-size:15px; margin-bottom:10px; line-height:30px; color:#fff; text-align:justify; padding:1% 10%;}
#main_holder #page .welcome a{font-family:menulk2; font-size:15px; margin-bottom:5px; line-height:22px; padding:10px 30px; color:#2b6791; background-color:#fff; text-align:center; border-radius:5px; cursor:pointer; transition:all .7s ease 0s; text-transform:uppercase; float:right; display:inline-block;}
#main_holder #page .welcome a:hover{color:#fff; background-color:#555;}
#main_holder #page .welcome a span{font-family:inherit; font-size:inherit; line-height:inherit; color:inherit; text-align:inherit; cursor:inherit;}

#main_holder #page .services{padding:1% 3%; margin-bottom:10px; display:block; background-color:transparent;}
#main_holder #page .services div.serv_item0{margin:15px 2%; border:1px solid #888; box-shadow:0 0 1px #999; background-color:#fff; height:350px;}
#main_holder #page .services div.serv_item0 .left{display:inline-block; width:30%; background-color:#555; margin-right:0; height:320px; color:#fff; transition:all 1s ease 0s; text-align:center; min-width:150px; float:left; clear:right; padding-top:30px;}
#main_holder #page .services div.serv_item0 .left h6{width:100%; height:100px; padding-top:0; margin-bottom:20px; margin-top:15%; background-image:url(../img/serv_icon2.png); background-position:center 0; background-repeat:no-repeat; cursor:auto; transition:all .1s ease 0s; display:block;}
#main_holder #page .services div.serv_item0 .left:hover {background-color:#fff;}
#main_holder #page .services div.serv_item0 .left:hover h6{background-position:center -100px;}
#main_holder #page .services div.serv_item0 .left:hover h3{color:#555;}
#main_holder #page .services div.serv_item0 .left h3{font-size:1.7vw; font-family:ubuntu; color:#fff; padding:3% auto; text-transform:capitalize; line-height:80px; font-weight:normal;}
#main_holder #page .services div.serv_item0 .right{display:inline-block; float:left; width:60%; margin-left:0%; min-width:250px; float:left; padding:10px 0%; height:210px; text-align:left; vertical-align:middle; padding:20px 5%;}
#main_holder #page .services div.serv_item0 .right p{font-family:ubuntu; font-size:18px; line-height:30px; color:#555; padding:7% 5% 5%; text-align:justify;}
#main_holder #page .services div.serv_item0 .right a{font-family:menulk2; font-size:15px; line-height:22px; color:#fff; padding:10px 30px; text-align:center; background-color:#555; border-radius:5px; text-transform:uppercase; transition:all 1s ease 0s; display:inline-block; margin-top:-10px; float:right;}
#main_holder #page .services div.serv_item0 .right a:hover{color:#fff; padding:10px 30px; text-align:center; background-color:#2b6791;}
#main_holder #page .services div.serv_item0 .right a span{font-family:inherit; font-size:inherit; line-height:inherit; color:inherit;}
#main_holder #page .services div.serv_item0 .right a:hover span{font-family:inherit; font-size:inherit; line-height:inherit; color:inherit;}
#main_holder #page .services div.serv_item0 .right ul{list-style-type:circle; list-style-position:outside;}
#main_holder #page .services div.serv_item0 .right ul li{font-family:ubuntu; font-size:18px; line-height:30px; color:#555; margin-bottom:8px; padding:0.5%;}
#main_holder #page .services div.serv_item1{width:28.8%; min-width:250px; min-height:200px; border:1px solid #2b6791; box-shadow:0 1px 2px #eee; margin:2% 0 1% 1.6%; padding:1.5%; display:inline-block; background-color:#fff;}
#main_holder #page .services div.serv_item1{margin-left:0;}
#main_holder #page .services div.serv_item1+div.serv_item1{margin-left:1.6%;}
#main_holder #page .services div.serv_item1 h3{color:#2b6791; padding:13% 0% 5%; margin-bottom:5px; font-family:ubuntu; font-size:1.6vw; text-transform:capitalize; transition:all 1s ease 0s; cursor:pointer; text-align:center; font-weight:normal; line-height:40px;}
#main_holder #page .services div.serv_item1 h3 a{color:inherit; font-family:inherit; font-size:inherit; text-transform:inherit; transition:inherit; cursor:pointer;}
#main_holder #page .services div.serv_item1 h3:hover{color:#92b1cd; text-decoration:underline; padding:15% 0% 3% 0%;}
#main_holder #page .services div.serv_item1 p{color:#555; padding:3%; text-align:justify; font-family:ubuntu; font-size:16px; line-height:28px;}

#main_holder #page .partners{padding:1% 3% 3%; margin-bottom:0;}
#main_holder #page .partners div.partners_item:first-child{margin-left:0;}
#main_holder #page .partners div.partners_item{display:inline-block; width:48.75%; margin:.5% 0 2% 2%; min-width:250px; min-height:150px; max-height:475px;}
#main_holder #page .partners div.partners_item div.img{text-align:center; width:100%; padding:2% 0; margin-bottom:2%;}
#main_holder #page .partners div.partners_item div.img span{width:200px; height:200px; display:inline-block; border-radius:1000px; padding:2px;background-color:#2b6791;}
#main_holder #page .partners div.partners_item div.img span img{width:196px; height:196px; display:block; border-radius:100px; padding:2px; background-color:#fff;}
#main_holder #page .partners div.partners_item div.tit{padding:2% 0; text-align:center;}
#main_holder #page .partners div.partners_item div.tit h2{color:#3daf2c; font-family:ubuntu; font-size:2vw; line-height:70px; margin:10px auto -20px; font-weight:normal; text-transform:capitalize; padding-top:2%;}
#main_holder #page .partners div.partners_item div.txt{padding:1% 4%; margin-bottom:5px;}
#main_holder #page .partners div.partners_item div.txt p{font-size:16px; line-height:25px; font-family:ubuntu; font-weight:normal; text-align:justify; color:#555;}
#main_holder #page .partners div.sep{width:1.5px; background-color:#2b6791; height:380px; margin-top:-2%; margin-left:-50%; display:inline-block; margin-bottom:-2%;}
#main_holder #page .partners div.button{padding:5px 2%; text-align:right;}
#main_holder #page .partners div.button a{font-family:menulk2; font-size:15px; line-height:22px; padding:10px 30px; text-transform:uppercase; cursor:pointer; border-radius:5px; transition:all 1s ease 0s; display:inline-block; text-align:center; color:#fff; background-color:#3daf2c;}
#main_holder #page .partners div.button a:hover{background-color:#2b6791;}
#main_holder #page .partners div.button a span{font-family:inherit; font-size:inherit; line-height:inherit; text-transform:inherit; cursor:inherit; color:inherit;}

#main_holder .footer{display:block; height:50px; background-color:transparent; color:#fff; font-family:menulk2; font-size:15px; line-height:22px; padding:1% 5% 0;}
#main_holder .footer div.txt{display:inline-block; width:50%; float:left; color:#fff; font-family:menulk2; font-size:18px; line-height:48px; text-transform:capitalize; min-width:250px;}

#main_holder .footer div.soc{float:right; min-width:188px; text-align:right;}
#main_holder .footer div.soc ul{margin:0; list-style:none; text-align:right;}
#main_holder .footer div.soc ul li{padding:2px; margin:0; font-family:ubuntu; font-size:15px; line-height:22px; color:#fff; display:inline-block;}
#main_holder .footer div.soc ul li+li{padding:2px; margin:2px; font-family:ubuntu; font-size:15px; line-height:20px; color:#fff;}
#main_holder .footer div.soc ul li a{color:#2b6791; border-radius:500px; background-color:#fff; height:40px; width:40px; text-align:center; display:block; transition:all .4s ease 0s;}
#main_holder .footer div.soc ul li a:hover{color:#fff; background-color:#3daf2c;}
#main_holder .footer div.soc ul li a i{color:inherit; font:20px/40px "FontAwesome";}

@media screen and (max-width: 300px) 
{
	#main_holder #page .partners div.partners_item div.tit h2{font-size:20px;}
}

@media only screen and (max-width: 500px)
{
	#main_holder #page .partners div.partners_item div.tit h2{font-size:20px;}
}

#main_holder #page .slidorion{padding:0; border:1px solid #3daf2c; margin:10px auto; box-shadow:0 0 2px #1e1e1e; height:450px; width:94%; left:0; background-color:transparent}
#main_holder #page .slidorion .slider{}
#main_holder #page .slidorion .slider .slide{}
#main_holder #page .slidorion .slider .slide img{width:96%; height:94.5%; padding:2%; background-color:#fff;}
#main_holder #page .slidorion  .accordion{background-color:#fff !important;}
#main_holder #page .slidorion  .accordion .header{font-size:18px; font-family:ubuntu; line-height:30px; text-transform:capitalize; font-weight:normal;}
#main_holder #page .slidorion  .accordion .header:hover{}
#main_holder #page .slidorion  .accordion .header.active{font-size:18px; font-family:ubuntu; line-height:30px; text-transform:capitalize; font-weight:normal; background-color:#3daf2c !important; margin-bottom:15px;}
#main_holder #page .slidorion  .accordion .header.active:hover{}
#main_holder #page .slidorion  .accordion .content{background-color:#fff !important;}
#main_holder #page .slidorion  .accordion .content p{font-size:15px; font-family:ubuntu; line-height:22px; font-weight:normal; text-align:justify;}
#main_holder #page .slidorion .slidorion-nav{top:270px;}

#main_holder #page .slidorion  .accordion .header.small{font-size:14px;}

#main_holder #page .about{background-color:transparent; padding:1% 2%; margin-bottom:10px;}
#main_holder #page .about img{width:38%; display:inline-block; float:right; margin:2.5% 1% 1% 2%; border:1.5px solid #555; background-color:transparent; padding:.5%;}
#main_holder #page .about p{padding:2%; text-align:justify; font-family:ubuntu; font-size:18px; line-height:30px; color:#555; display:}

#main_holder #page .partner{padding:2%; margin:1% 0;}
#main_holder #page .partner .item{margin-bottom:1%; box-shadow:0px 1px 5px #555; padding:1%;}
#main_holder #page .partner .item h3{color:#2b6791; padding:1% 0 0.5% 1%; margin-bottom:5px; font-family:ubuntu; font-size:2.4vw; text-transform:capitalize; transition:all 1s ease 0s; cursor:auto; text-align:left; font-weight:normal; line-height:40px;}
#main_holder #page .partner .item img{width:190px; float:right; margin:0 1% 1% 1%; padding:0.5%; border:1px solid #2b6791;}
#main_holder #page .partner .item p{color:#555; padding:1%; text-align:justify; font-family:ubuntu; font-size:16px; line-height:28px;}
#main_holder #page .partner div.item a{font-family:menulk2; font-size:15px; line-height:22px; padding:10px 30px; text-transform:uppercase; cursor:pointer; border-radius:5px; transition:all 1s ease 0s; display:inline-block; text-align:center; color:#fff; background-color:#3daf2c; margin:2%; float:right;}
#main_holder #page .partner div.item a:hover{background-color:#2b6791;}