@font-face{font-family: ubun; src: url(../fonts/ubuntu-font-family-0.83/UbuntuMono-R.ttf);}
@font-face{font-family: lucid; src: url(../fonts/lucon.ttf);}
@font-face{font-family: myr; src: url(../fonts/Myriad-Pro-Regular.ttf);}
body{width:100%; padding: 0; margin: 0; font-family: myr, myriad pro; text-decoration: none; color:#363636;}

.top-head-nav{height:50px; padding-top:0px; padding-bottom: 0px; background-color: #363636; position: fixed; top:0; left:0; display: block; width: 100%; z-index: 1;}

.top-head-nav nav.navbar.navbar-default{border:0; background-color: #363636; border-radius: 0; margin-bottom:0; min-height:30px;}

.top-head-nav nav.navbar.navbar-default div.navbar-header{}
.top-head-nav nav.navbar.navbar-default div.navbar-header a{font-family: lucid, myriad pro, arial; color:#fff; text-transform: uppercase; font-weight: bold; font-size:25px; line-height: 50px; padding: 2px 15px; height:50px;}
.top-head-nav nav.navbar.navbar-default div.navbar-header a:hover{color:#fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-header a:hover span{color:#fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-header a span{color:#aeacae; font-size:14px; font-weight: normal; text-transform: none; margin-left:-10px;}

.top-head-nav nav.navbar.navbar-default div.navbar-header button.navbar-toggle{border-color:#fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-header button.navbar-toggle span.icon-bar{background-color:#fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-header button.navbar-toggle:hover{background-color:#fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-header button.navbar-toggle:hover span.icon-bar{background-color: #04395d;}
.top-head-nav nav.navbar.navbar-default div.navbar-header button.navbar-toggle:focus{background-color:#fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-header button.navbar-toggle:focus span.icon-bar{background-color: #04395d;}

.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse{}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right{margin:0;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li{transition:all .5s ease-in-out 0s;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li.active{background-color: #fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li a{font-family: ubun; color:#fff; font-size:18px; text-transform: capitalize; transition:all 1s ease-in-out 0s; line-height:50px; padding: 0 8px; background-color: transparent;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li.active a{color:#04395d;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li:hover{background-color: #fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li.active:hover{background-color: #fff;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li:hover a{color:#363636;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li.active:hover a{color:#04395d;}
.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-right li:hover a{color:#363636;}

header{border-bottom:5px solid #04395d; padding-top:50px; min-height: 150px; background-color: #fff; z-index: -1;}
header div.container{}
header div.container div.logo{padding: 10px 0; text-align: center;}
header div.container div.logo div.logo-img{text-align: center;}
header div.container div.logo div.logo-img img{display: inline;}
header div.container div.logo div.logo-txt{padding:10px 0 0;z-index: 0; text-align:left;}
header div.container div.logo div.logo-txt h2{font-family: lucid, myriad pro, arial; font-size:35px; line-height:40px; color:#04395d; text-transform: uppercase; font-weight: bold; margin:0;}
header div.container div.logo div.logo-txt h2 span{display: block; color:#f48a10; font-size:16px; line-height:20px; font-weight: normal;}

header div.container div.social-top{line-height:30px; margin:10px auto 0; text-align: center;}
header div.container div.social-top div.link a{color:#04395d; font-size:25px; line-height:30px; display: inline-block; margin: 0 7px;}
header div.container div.social-top div.link a:hover{color:#363636;}

header div.container div.social-top div.serv-btn a{color:#fff; font-size:20px; line-height:35px; display: inline-block; margin: 10px 7px 0; font-family: myr,myriad pro; text-transform: capitalize; background-color: #04395d; border-radius:15px 15px 0 0; padding: 5px 20px; transition: all .5s ease-in-out 0s;}
header div.container div.social-top div.serv-btn a i{top:5px; font-weight: 100;}
header div.container div.social-top div.serv-btn a:hover{color:#aeacae; text-decoration: underline;}

section.first-sec{background-image: url(../IMG/main-section-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 450px; width: 100%; align-content:center; overflow: hidden;}
section.first-sec div.container.title{margin:250px auto 0; height: auto;}
section.first-sec div.container.title h1{color:#fff; text-align: center; font-family: ubun; font-size: 40px; text-transform: uppercase; font-weight: bold; line-height: 60px;}
section.first-sec div.container.tel{align-content: center;}
section.first-sec div.container.tel h3{color:#aeacae; font-family: myr,myriad pro; font-size:25px; text-align: center;}
section.first-sec div.container.tel h3 a{color:inherit;}
section.first-sec div.container.tel h3 a:hover{color:#fff; text-decoration: none;}

section.second-sec{background-color: #f8f8f8; min-height: 450px; width: 100%;}
section.second-sec h2{font-family: myr,myriad pro; font-size: 25px; line-height: 50px; color: #363636; text-align: center; font-weight: bold;}
section.second-sec p{font-family: myr,myriad pro; color:#aeacae; line-height: 25px; font-size: 18px; text-align: center; width:70%; margin:20px auto 25px;}
section.second-sec hr{background-color: #04395d; width:30%; margin:15px auto 20px; height: 2px;}

section.second-sec div.serv-item-vert div{background-color: rgba(214,211,211,.4); padding: 25px; margin:5px -10px 50px; max-height:350px; overflow: hidden}
section.second-sec div.serv-item-vert:first-child div{border-radius: 20px 0 0 20px;}
section.second-sec div.serv-item-vert:last-child div{border-radius: 0 20px 20px 0;}
section.second-sec div.serv-item-vert img{max-width:150px; max-height: 150px; margin:50px auto 20px; display: block;}
section.second-sec div.serv-item-vert h4{font-size:20px; line-height: 50px; color:#04395d; font-family: myr,myriad pro; text-align: center; margin: 10px auto; text-transform: capitalize;}
section.second-sec div.serv-item-vert h4 a{color:inherit; transition: all 1s ease 0s;}
section.second-sec div.serv-item-vert h4 a:hover{color:#363636; text-decoration: none;}
section.second-sec div.serv-item-vert p{line-height:25px; font-size:18px; color:#363636; text-align: center; margin: 5px auto 25px; font-family: myr,myriad pro; width: auto;}

section.second-sec div.serv-item-hoz{margin:25px auto;}
section.second-sec div.serv-item-hoz div.serv-item-hoz-img{text-align:center; height: 150px; overflow: hidden; margin-bottom: 15px;}
section.second-sec div.serv-item-hoz div.serv-item-hoz-img img{display: inline; height: 100%;}
section.second-sec div.serv-item-hoz div.serv-item-hoz-txt{background-color: #04395d; padding: 20px; min-height: 150px; overflow: hidden; margin-bottom: 15px;}
section.second-sec div.serv-item-hoz div.serv-item-hoz-txt h4{color:#eae9e9; font-size:20px; line-height: 30px; font-family: myr,myriad pro; text-align: left; margin:0px auto; text-transform: capitalize;}
section.second-sec div.serv-item-hoz div.serv-item-hoz-txt h4 a{color:inherit; transition: all 1s ease 0s;}
section.second-sec div.serv-item-hoz div.serv-item-hoz-txt h4 a:hover{color: #000; text-decoration: underline;}
section.second-sec div.serv-item-hoz div.serv-item-hoz-txt p{line-height:25px; font-size:16px; color:#fff; margin: 15px auto 0; font-family: myr,myriad pro; text-align: justify; width: auto;}

section.third-sec{background-image: url( ../IMG/aboutBg.png); background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 450px; width: 100%; align-content:center; overflow: hidden; background-attachment: fixed;}
section.third-sec h2{color:#fff; line-height:40px; font-size:35px; font-weight: bold; font-family: ubun; margin:150px 20px 20px;}
section.third-sec h2 a{color:inherit; transition: all 1s ease 0s;}
section.third-sec h2 a:hover{color:#04395d; text-decoration: none; transition: all 1s ease 0s;}
section.third-sec h2 a span{color:#eae9e9; text-transform: uppercase;}
section.third-sec h2 a:hover span{color:inherit;}
section.third-sec p{font-size:17px; line-height: 25px; color: #fff; max-width: 480px; text-align: justify; margin: 25px 20px;}

section.fourth-sec{background-color: #eae9e9; padding: 35px 20px;}
section.fourth-sec div.container{text-align: center;}
section.fourth-sec div.container img{display: inline; max-width: 100%; margin-bottom:25px;}
section.fourth-sec div.container h2{text-align: left; color:#04395d; font-size:25px; line-height: 40px; font-family: myr,myriad pro; margin-top: 0;}
section.fourth-sec div.container h2 span{font-size:35px; text-decoration: underline; font-weight: bold; text-transform: uppercase;}
section.fourth-sec div.container p{text-align: justify; font-family: myr,myriad pro; font-size: 18px; line-height: 30px; color:#363636; margin:25px auto 20px;}


section.fifth-sec{background-color: #f8f8f8; min-height: 250px; width: 100%;}
section.fifth-sec h2{font-family: myr,myriad pro; font-size: 25px; line-height: 50px; color: #363636; text-align: center; font-weight: bold;}
section.fifth-sec p{font-family: myr,myriad pro; color:#aeacae; line-height: 25px; font-size: 18px; text-align: center; width:70%; margin:20px auto 25px;}

section.fifth-sec div.serv-item-vert div{background-color: rgba(214,211,211,.4); padding: 15px 25px; margin:5px -10px 50px;}
section.fifth-sec div.serv-item-vert:first-child div{border-radius: 20px 0 0 20px;}
section.fifth-sec div.serv-item-vert:last-child div{border-radius: 0 20px 20px 0;}
section.fifth-sec div.serv-item-vert img{max-width:150px; max-height: 150px; margin:50px auto 20px; display: block;}
section.fifth-sec div.serv-item-vert h4{font-size:20px; line-height: 50px; color:#04395d; font-family: myr,myriad pro; text-align: center; margin: 10px auto; text-transform: capitalize;}
section.fifth-sec div.serv-item-vert h4 a{color:inherit; transition: all 1s ease 0s;}
section.fifth-sec div.serv-item-vert h4 a:hover{color:#363636; text-decoration: none;}
section.fifth-sec div.serv-item-vert p{line-height:25px; font-size:18px; color:#363636; text-align: center; margin: 5px auto 25px; font-family: myr,myriad pro; width: auto;}

section.six-sec{background-image: url(../IMG/page-01_parallax02.png); background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 300px; width: 100%; align-content:center; overflow: hidden; text-align: center; padding: 25px 20px; background-attachment: fixed;}
section.six-sec h2{color:#fff; font-family:ubun; font-size: 50px; line-height: 60px; font-weight: bold; margin:15px auto 25px;}
section.six-sec h2 span{font-size: 35px;}
section.six-sec p{color:#fff; font-family:myr,myriad pro; font-size: 25px; line-height: 35px; margin:5px auto 25px;}
section.six-sec p span{font-size:30px; font-weight: bold; text-transform: uppercase;}
section.six-sec form{}
section.six-sec form input{color:#fff; font-family: myr,myriad pro; font-size:25px; line-height: 35px; background-color: transparent; padding: 8px 15px; margin:10px; border:3px solid #fff; font-weight: bold; max-width: 90%;}
section.six-sec form textarea{color:#fff; font-family: myr,myriad pro; font-size:16px; line-height: 22px; background-color: transparent; padding: 8px 15px; margin:10px; border:3px solid #fff; width:85%; max-width:960px;}
section.six-sec form input ::-webkit-input-placeholder{color:#fff; font-size: 25px; font-weight: bold;}
section.six-sec form input ::-moz-placeholder{color:#fff; font-size: 25px; font-weight: bold;}
section.six-sec form input :-ms-input-placeholder{color:#fff; font-size: 25px; font-weight: bold;}
section.six-sec form input :-moz-placeholder{color:#fff; font-size: 25px; font-weight: bold;}
section.six-sec form input[type="submit"]{text-align: center; padding: 10px 20px; text-transform: uppercase; margin:20px auto 15px; transition: all .7s ease 0s;}
section.six-sec form input[type="submit"]:hover{background-color:#04395d; border-color:#04395d;}

section.seven-sec{background-color: #eae9e9; min-height: 450px; width: 100%;}
section.seven-sec h2{font-family: myr,myriad pro; font-size: 25px; line-height: 50px; color: #363636; text-align: center; font-weight: bold;}
section.seven-sec p{font-family: myr,myriad pro; color:#aeacae; line-height: 25px; font-size: 18px; text-align: center; width:70%; margin:20px auto 25px;}
section.seven-sec hr{background-color: #04395d; width:30%; margin:15px auto 20px; height: 2px;}

section.seven-sec div.serv-item-hoz{margin:25px auto;}
section.seven-sec div.serv-item-hoz div.serv-item-hoz-img{text-align:center; height: 150px; overflow: hidden; margin-bottom: 15px;}
section.seven-sec div.serv-item-hoz div.serv-item-hoz-img img{display: inline; height: 100%;}
section.seven-sec div.serv-item-hoz div.serv-item-hoz-txt{background-color: #04395d; padding: 20px; min-height: 150px; overflow: hidden; margin-bottom: 15px;}
section.seven-sec div.serv-item-hoz div.serv-item-hoz-txt h4{color:#eae9e9; font-size:20px; line-height: 30px; font-family: myr,myriad pro; text-align: left; margin:0px auto; text-transform: capitalize;}
section.seven-sec div.serv-item-hoz div.serv-item-hoz-txt h4 a{color:inherit; transition: all 1s ease 0s;}
section.seven-sec div.serv-item-hoz div.serv-item-hoz-txt h4 a:hover{color: #000; text-decoration: underline;}
section.seven-sec div.serv-item-hoz div.serv-item-hoz-txt p{line-height:25px; font-size:16px; color:#fff; margin: 15px auto 0; font-family: myr,myriad pro; text-align: justify; width: auto;}

iframe.map-sec{width:100%; padding: 0; margin: 0;}

footer{padding: 25px 20px 0; background-color: #04395d; color:#fff; text-align: center;}
footer h4{font-size:25px; text-decoration: underline; font-family: myr,myriad pro; margin-bottom:10px; }
footer ul{list-style:none; padding: 0; display: inline-block;}
footer ul.link li{font-family: ubun; font-size:16px; line-height: 20px; margin-bottom:5px;}
footer ul.link li a{color:#fff; transition: all .7s ease 0s;}
footer ul.social-bottom{}
footer ul.social-bottom li{font-size:20px; margin-bottom: 5px; color:#fff;}
footer ul.social-bottom li a i{color:#fff;}
footer ul.social-bottom li a i:hover{color:#000;}
footer ul.contacts-links li{font-family: muyr, myriad pro; font-size:16px; line-height: 20px; margin-bottom:5px;}
footer ul.contacts-links li a{color:#fff; transition: all .7s ease 0s;}
footer ul.contacts-links li a span{text-transform: capitalize; min-width:50px; display: inline-block;}

footer div.serv-btn{text-align:right; margin-top:-30px;}
footer div.serv-btn a{color:#fff; font-size:20px; line-height:35px; display: inline-block; font-family: myr,myriad pro; text-transform: capitalize; background-color: #363636; padding: 5px 20px; transition: all .5s ease-in-out 0s;}
footer div.serv-btn a i{top:4px;}
footer div.serv-btn a:hover{color:#aeacae; text-decoration: underline;}

span.goto-top{width:50px; height:50px; line-height: 50px; background-color: #363636; color:#fff; font-size:25px; cursor: pointer; position: fixed; bottom:20px; right:30px; border-radius: 100%; text-align: center; transition: all 1s ease 0s; display:none;}
span.goto-top i{line-height:35px;}
span.goto-top:hover{background-color: #fff; color:#363636;}

section.about-first-sec{padding:0 15px; border-bottom: 5px solid #03495d;}
section.about-first-sec div.container div.row{margin:0; box-sizing: border-box; text-align: center; display: flex;}
section.about-first-sec div.container div.row div.mission{flex:1; padding-bottom: 25px;}
section.about-first-sec div.container div.row div.vision{flex:1; background-color: #eae9e9; padding-bottom: 25px;}
section.about-first-sec div.container div.row h2{font-size:25px; line-height: 35px; margin:20px 0 5px; text-transform: capitalize; color:#04395d; padding-bottom: 15px; border-bottom:1px solid #03495d; text-align: left;}
section.about-first-sec div.container div.row p{text-align: justify; line-height: 22px; margin:20px 15px 10px;}
section.about-first-sec div.container div.row img{margin:20px 15px 10px; box-sizing: border-box; max-width: 85%;}

section.about-second-sec{padding: 0 15px;}
section.about-second-sec div.container div.row{margin: 0; box-sizing: border-box;}

section.about-second-sec div.container div.row nav.navbar.navbar-default{border:1px solid #04395d; border-top:0; background-color: #fff; border-radius: 0 0 10px 10px; margin-bottom:20px; min-height:50px;}
section.about-second-sec div.container div.row div.about-body{border:1px solid #04395d; border-top:0; background-color: #fff; border-radius: 0 0 10px 10px; margin-bottom:20px; min-height:50px;}

section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header{}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header a{font-family: lucid, myriad pro, arial; color:#04395d; text-transform: capitalize; font-size:22px; line-height: 50px; padding: 2px 15px; height:50px;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header a:hover{color:#363636;}

section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header button.navbar-toggle{border-color:#04395d;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header button.navbar-toggle span.icon-bar{background-color:#363636;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header button.navbar-toggle:hover{background-color:#fff;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header button.navbar-toggle:hover span.icon-bar{background-color: #04395d;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header button.navbar-toggle:focus{background-color:#fff;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-header button.navbar-toggle:focus span.icon-bar{background-color: #04395d;}

section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse{}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav{margin:0;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li{transition:all .5s ease-in-out 0s;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li.active{background-color: #04395d;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li a{font-family: ubun; color:#363636; font-size:18px; text-transform: capitalize; transition:all 1s ease-in-out 0s; line-height:30px; padding: 10px 15px; background-color: transparent;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li.active a{color:#fff;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li:hover{background-color: #fff;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li.active:hover{background-color: #04395d;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li:hover a{color:#fff; background-color: #363636;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav li.active:hover a{color:#fff; background-color: #04395d;}
section.about-second-sec div.container div.row nav.navbar.navbar-default div.navbar-collapse.collapse.in ul.nav.navbar-nav li:hover a{color:#fff;}

section.about-second-sec div.container div.row div.about-body{border:1px solid #04395d; background-color: #fff; border-radius: 10px 10px 0 0; margin-bottom:20px; min-height:120px;}
section.about-second-sec div.container div.row div.about-body div{display: none;}
section.about-second-sec div.container div.row div.about-body div h2{font-size:25px; line-height: 35px; margin:20px 0 5px; text-transform: capitalize; color:#635e4f; padding-bottom: 15px; border-bottom:1px dashed #635e4f;}
section.about-second-sec div.container div.row div.about-body div p{text-align: justify; line-height: 22px; margin:20px 15px 10px;}
section.about-second-sec div.container div.row div.about-body div img{margin:20px auto 10px; box-sizing: border-box; width:100%;}
section.about-second-sec div.container div.row div.about-body div ul{list-style-type: decimal-leading-zero;}
section.about-second-sec div.container div.row div.about-body div ul li{color:#635e4f; line-height:22px;}
section.about-second-sec div.container div.row div.about-body div.active{display: block;}
section.about-second-sec div.container div.row div.about-body div div{display: block;}
section.about-second-sec div.container div.row div.about-body div div.person{padding: 0 5px;}
section.about-second-sec div.container div.row div.about-body div div.person div{background-color: #04395d; padding:10px; margin:5px 0; color:#fff; text-align: center; border-radius: 10px;}
section.about-second-sec div.container div.row div.about-body div div.person div i{margin:0 auto 5px; display: block; text-align: center; width:100%; line-height: 80px; font-size: 70px;}
section.about-second-sec div.container div.row div.about-body div div.person div h3{font-size:16px; text-align: center; font-style: italic; text-transform: capitalize; color:#eae9e9;}
section.about-second-sec div.container div.row div.about-body div div.person div span{text-align: center; line-height: 22px; margin:-5px 15px 10px; display: block}


section.partners{padding:0 0 25px; border-bottom: 5px solid #03495d;}

section.partners div.part-wel{padding: 20px 10px; background-color: #04395d; color:#fff; text-align: center;}
section.partners div.part-wel h1{font-family: lucid; font-size: 25px; line-height: 35px; text-transform: uppercase; padding: 0; margin: 5px auto 25px;}
section.partners div.part-wel p{font-size: 16px; line-height: 25px; color:#eae9e9; font-style: italic;}
section.partners div.partners-panels{}
section.partners div.partners-panels div.partner-panel-item{padding: 10px; border: 1px solid #04395d; border-radius: 5px; margin: 5px auto 10px;}
section.partners div.partners-panels div.partner-panel-item h2{font-family: ubun; font-size:22px; line-height: 25px; text-transform: capitalize; color:#04395d; padding:0 0 10px; border-bottom: 1px dashed #04395d; margin:5px auto; cursor: pointer;}
section.partners div.partners-panels div.partner-panel-item.active div.row{display: block;}
section.partners div.partners-panels div.partner-panel-item div.row{display: none; margin:0 0 10px; padding: 5px; text-align: center;}
section.partners div.partners-panels div.partner-panel-item div.row h3{font-family: lucid; font-size:16px; line-height: 20px; text-transform: capitalize; color:#04395d; padding:0 0 10px; border-bottom: 1px solid #04395d; margin:5px auto 15px; text-align: left;}
section.partners div.partners-panels div.partner-panel-item div.row p{text-align: justify; padding: 5px 20px 10px 10px; line-height: 22px;}
section.partners div.partners-panels div.partner-panel-item div.row img.part-logo{margin: 0; background-color: transparent;}
section.partners div.partners-panels div.partner-panel-item div.row img{margin:5px auto; background-color: #fcfcfc; display: inline-block; min-width: 100px;}


section.contact{padding:0 15px; border-bottom: 5px solid #03495d;}
section.contact div.container div.row{margin:0; box-sizing: border-box; display: flex;}
section.contact div.container div.row div.address{flex:1; padding-bottom: 25px; padding-top: 15px;}
section.contact div.container div.row div.form{flex:1; background-color: #eae9e9; padding-bottom: 25px; padding-top: 15px;}
section.contact div.container div.row h1{font-size:25px; line-height: 35px; margin:0 0 10px; text-transform: capitalize; color:#04395d; padding-bottom: 15px; border-bottom:1px solid #03495d;}
section.contact div.container div.row h2{font-size:20px; line-height: 25px; margin:10px auto 5px; text-transform: capitalize; color:#363636;}
section.contact div.container div.row p{text-align: justify; line-height: 25px; margin:5px 15px 10px; font-size: 16px;}
section.contact div.container div.row div.form label{text-transform: capitalize;}
section.contact div.container div.row div.form input[type=submit]{color:#fff; background-color: #04395d; text-transform: uppercase; line-height: 25px; padding: 5px 10px; border: 0; transition: all .7s ease 0s;}
section.contact div.container div.row div.form input[type=submit]:hover{background-color: #363636;}


section.services{padding:0 0 25px; border-bottom: 5px solid #03495d;}

section.services div.serv-wel{padding: 20px 10px; background-color: #04395d; color:#fff; text-align: center;}
section.services div.serv-wel h1{font-family: lucid; font-size: 25px; line-height: 35px; text-transform: uppercase; padding: 0; margin: 5px auto 25px;}
section.services div.serv-wel p{font-size: 16px; line-height: 25px; color:#eae9e9; font-style: italic;}

section.services div.container{padding: 20px;}
section.services div.container div.row div div.row{display: flex; margin:10px -10px 25px;}
section.services div.container img{display: inline-block;}
section.services div.container h2{margin:10px auto; font-family: ubun; font-size:22px; line-height: 25px; color:#04395d;}
section.services div.container p{color:#363636; line-height: 25px; margin:5px 0 15px; text-align: justify;}
section.services div.container div.serv-img{text-align: center;}
section.services div.container div.serv-text{background-color: rgba(214, 211, 211, 0.4);}

@media only screen and (max-width: 995px){
	.top-head-nav nav.navbar.navbar-default div.navbar-header a span{display:none;}
}
@media only screen and (max-width: 767px){
	.top-head-nav nav.navbar.navbar-default div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right{background-color: #363636; z-index: 10;}
	/*header div.container div.social-top div.link{display:none;}*/
	footer div.serv-btn{text-align:center;}
	section.about-first-sec div.container div.row{display: block;}
	section.contact div.container div.row{display: block;}
	section.services div.container div.row div div.row{display: block;}
}
@media only screen and (max-width: 410px){
	header div.container div.logo div.logo-txt h2{font-size:25px;}
	header div.container div.logo div.logo-txt h2 span{font-size: 14px;}
}
.anchor{display: block;  height: 50px; /*same height as header*/  margin-top: -50px; /*same height as header*/  visibility: hidden;}
section.first-sec.differ{min-height: 200px;}
section.first-sec.differ div.container.title{margin-top: 50px;}