body{width:100%; padding: 0; margin: 0; font-size:16px; line-height: 20px; color:#505b6d; min-height: 100%;}

.container-fluid.head{background-image: url(images/navpattern.png); background-repeat: repeat; padding: 30px 0; border-bottom: 15px solid #90b73e;}
.container-fluid.head .head-body{max-width:1200px; padding: 0; margin: 0 auto;}
.container-fluid.head .head-body ul{list-style: none; padding: 0; margin: 0;}
.container-fluid.head .head-body ul li{display: inline-block;}
.container-fluid.head .head-body .menu{text-align: left;}
.container-fluid.head .head-body .menu.ar{text-align: right;}
.container-fluid.head .head-body .menu nav{padding: 0; margin: 0; border: 0; background-color: transparent; border-radius: 0;}
.container-fluid.head .head-body .menu li{color:#505b6d; font-size: 18px; font-family: "myriad pro"; margin: 20px 0; padding:0 20px; border-right: 1px solid #d6d6d6; line-height: 32px; transition: all .7s ease 0s; font-weight: 100;}
/*.container-fluid.head .head-body .menu.ar li{border-left: 1px solid #d6d6d6;}*/
.container-fluid.head .head-body .menu li:hover{color:#90b73e;}
.container-fluid.head .head-body .menu li a{color: inherit; text-decoration: none;}
.container-fluid.head .head-body .menu li:last-child{padding-right: 0; border: 0;}
.container-fluid.head .head-body .menu li:first-child{padding-left: 0;}
.container-fluid.head .head-body .social-menu{}
.container-fluid.head .head-body .social-menu ul{}
.container-fluid.head .head-body .social-menu ul li{padding: 0 5px; line-height: 32px; margin: 20px 0; font-size: 17px; font-weight: bold; color: #4471ae; transition: all .7s ease 0s;}
.container-fluid.head .head-body .social-menu ul li:hover{color:#90b73e;}
.container-fluid.head .head-body .social-menu ul li a{color:inherit;}
.container-fluid.head .head-body .social-menu ul li a i{}
.etao-width{max-width: 1200px; a}

@media only screen and (max-width: 992px){
	.container-fluid.head .head-body .social-menu{text-align: center;}
}
