*{font-family: arial; font-size: 14px; line-height: 16px; color: #161616; text-decoration: none; text-transform: none;}
body{padding: 0; margin: 0; direction: ltr; width: 100%; overflow-x: hidden;}
.mainCont{padding: 0;}
.lineBorder{width: 100%; height:2px;}
.gray{background-color: #868686;}
.white{background-color: #fff;}
.topMenu{height:70px; padding: 15px; margin: 0;}
.topMenu ul{list-style-type: none; line-height: 40px; padding: 0; margin: 0; height: 40px;}
.topMenu ul li{display: inline-block; margin: 0 15px 0 0; color: #fff; text-transform: capitalize; font-weight: bold; font-size: 20px; vertical-align: middle;}
.topMenu ul li i{color: #fff; font-weight: bold; font-size: 20px; cursor: pointer; line-height: 40px; display: block;}
.imgHeader{margin-right: 5px !important;}
.marginZero{margin: 0 !important;}
.floatRight{float: right;}
.darkGray{background-color: #212121;}
.medMenu{height: 70px; padding: 0 15px 0 70px; margin: 0;}
.medMenu ul{list-style: none; margin: 0; padding: 0; line-height: 70px; height: 70px; overflow: hidden;}
.medMenu ul li{display: inline-block; vertical-align: middle; text-transform: uppercase; color: #c7c7c7; font-weight: bold; font-size: 18px; padding: 15px 5px; line-height: 40px; transition: all .7s ease 0s; margin: 0 15px;}
.medMenu ul li:hover{color: #fff;}
.medMenu ul li.active:hover{color: #bfc642;}
.medMenu ul li.active{color:#fff; border-bottom:3px solid #bfc642; padding-bottom: 12px;}
.medMenu ul li a{text-transform: inherit; color: inherit; font-weight: inherit; text-decoration: none; display: block; line-height: inherit; font-size: 15px;}
.medGray{background-color: #464646;}
.transparentBlack{background-color: rgba(0,0,0,0.4);}
.menuOverBack{width: 100vw; height: 100%; display: block; position: absolute; top: 0; left: 0; z-index: 2; padding: 0 !important; margin: 0 !important; visibility: hidden;}
.menuOverBack.active{visibility: visible;}
.hiddenMenu{background-color: #fff; padding: 0; margin: 0; position: absolute; top: 0; left: 0; display: block; z-index: 3; height: 100%; visibility: hidden;}
.hiddenMenu.active{visibility: visible;}
/*.animated{animation-duration:2s !important;}*/
.menuItem{border-bottom:2px solid #c7c7c7; padding: 25px; color:#232323; font-size: 18px; font-weight: bold; line-height: 20px; text-transform: capitalize; vertical-align: middle;}
.menuItem a{color: inherit; text-decoration: none; text-transform: inherit; vertical-align: middle; line-height: 20px; display: block; font-size: 18px;}
.menuItem a:hover{color:#bfc642; transition: all .7s ease 0s;}
.menuItem a img{margin-right:20px;}
.menuItem a i{margin-right:20px; width:20px;}
.menuItem ul.menuList{list-style: none; margin: 0; padding: 0; text-transform: capitalize;}
.menuItem ul.menuList li{margin-left:30px; padding: 10px; font-size: 18px; line-height: 20px; vertical-align: inherit;}
.menuItem ul.menuList li a{color: inherit; text-transform: capitalize; font-size: 18px;}
.menuItem ul.menuList li a:hover{color:#bfc642; transition: all .7s ease 0s;}
.hiddenMenu .exit{display: inline-block; position: relative; bottom: 40px; right: -20px; float: right; margin: 10px; padding: 10px; border: 1px solid #bfc642; cursor: pointer; color: #bfc642; transition: all .5s ease 0s;}
.hiddenMenu .exit:hover{color: #c7c7c7; border-color: #c7c7c7;}
.hiddenMenu .exit i{margin-right:5px; color: inherit;}
.borderLess{border: 0 !important;}
.sliderCont{background-color: #c7c7c7; padding: 0; margin: 0;}

.categoriesCont{padding: 20px 0 10px; margin: 0 auto;}
.offWhite{background-color: #f2f2f2;}
.panelHolder{margin-bottom: 20px;}
.panelHolder h2{line-height: 25px; font-weight: bold; font-size: 20px; color: #212121; margin:10px auto 20px;}
.panelHolder h2 a{line-height: 25px; font-weight: bold; font-size: 20px; color: #bfc642; display: inline-block; transition: all .5s ease 0s;}
.panelHolder h2 a:hover{color: #212121; text-decoration: none;}
.panelHolder ul{list-style: none; padding: 0; margin: 0;}
.panelHolder ul li{display: inline-block; padding: 10px 15px; background-color: #fff; margin: 0 .5%; box-shadow: 1px 1px 10px 1px #9a9a9a;}
.panelHolder div.panelItem{display: inline-block; padding: 10px 15px; background-color: #fff; margin: 0 .5% 5px; box-shadow: 1px 1px 10px 1px #9a9a9a;}

/*.panelItem div{border:1px solid #f2f2f2; margin: 10px auto; padding: 15px; box-shadow: 1px 1px #000;}*/
.panelItem img{border-radius: 15px; margin:5px auto 10px;}
.panelItem span img{border-radius: 0; margin:5px 0; height:10px;}
.panelItem h3{line-height: 25px; font-weight: bold; font-size: 14px; color: #212121; margin:10px auto 5px; height: 25px; overflow: hidden;}
.panelItem h4{line-height: 20px; height: 20px; overflow: hidden; font-size: 15px; color:#868786; text-transform: capitalize; font-weight: bold; margin: 5px auto 10px;}
.slideBtns{margin: 10px auto 0; padding: 5px; text-align: right;}
.slideBtns a{text-decoration: none; font-size: 20px; color: #bfc642; transition: all .5s ease 0s;}
.slideBtns a:hover{color: #212121;}
.slideBtns a i{color: inherit;}

@media only screen and (min-width: 1200px){
	.panelItem.col-lg-3{width: 19%;}
}

@media only screen and (min-width: 992px) and (max-width:1200px){
	.panelItem.col-lg-3{width: 19%;}
}
@media only screen and (min-width: 768px) and (max-width:992px){
	.panelItem.col-lg-3{width: 49%;}
}
@media only screen and (max-width: 767px){
	.panelItem.col-lg-3{width: 99%;}
}
@media only screen and (max-width: 677px){
	.medMenu{padding-left:15px;}
}
@media only screen and (max-width: 623px){
	.medMenu{padding:0 10px;}
	.medMenu ul li{margin:0 5px;}
	.medMenu ul li a{font-size:12px;}
}
@media only screen and (max-width: 438px){
	.medMenu{padding:0 5px;}
	.medMenu ul li{margin:0 2px;}
	.medMenu ul li a{font-size:12px;}
}
@media only screen and (max-width: 398px){
	.medMenu ul li{padding: 15px 2px;}
	.medMenu ul li a{font-size:10px;}
}