.faim_design{}

*{font-size:14pt; font-family:tahoma, arial, tw cen mt; padding:0; margin:0; text-align:left; direction:ltr;}

body{width:100%; height:100%; padding:0; margin:0; background-color:#f2f2f2;}

a{color:inherit; text-decoration:none;}

span.clear{display:block; height:0; clear:both; float:none; width:100%;}

div#wowslider-container0{margin-top:80px;}

@font-face {
    font-family: 'ambleregular';
    src:url(../fonts/Amble-Regular-webfont.woff);
}

@font-face {
    font-family: 'header';
    src:url(../fonts/Backslash.woff);
}

@font-face {
    font-family: 'header2';
    src:url(../fonts/911 Porscha.woff);
}

@font-face {
    font-family: 'headerblk';
    src:url(../fonts/mt.ttf) format('truetype');
}

@font-face {
    font-family: 'menulk';
    src:url(../fonts/Wintermute.woff);
}

@font-face {
    font-family: 'menulk2';
    src:url(../fonts/Baumans-Regular.woff);
}

@font-face {
    font-family: 'ubuntu';
    src:url(../fonts/Ubuntu-R.woff);
}

#menu{height:80px; background-color:#1e1e1e; color:#fff; width:100%; position:fixed; top:0; left:0; z-index:100;}

#menu .holder{width:90%; display:block; height:80px; margin:0 auto;}

.logo{float:left; position:absolute; display:inline-block; margin-left:2%; margin-right:2%; height:80px; overflow:hidden;}
.logo a{height:80px; display:inline-block; font-size:20pt;}
.logo h1{color:#fff; font-family:'header'; font-size:40pt; line-height:auto; height:80px; padding:0; text-transform:capitalize; font-weight:normal;}
.logo h1 span{font-family:inherit; font-size:inherit; background-color:#fff; display:inline-block; height:40px; padding:20px 10px; line-height:40px; vertical-align:top;}
.logo h1 span.green{color:#1e1e1e; background-color:#c9dd0a;}
.logo h1 span.black{color:#c9dd0a; background-color:transparent; font-family:headerblk; font-size:50pt; padding-top:15px;}

.link{float:right; margin:0 1%;}
.link ul{list-style:none; height:80px;}
.link ul li{float:left; padding:0; height:80px; cursor:auto; transition:all 1s ease 0s; color:#fff; margin:0 1px;}
.link ul li:hover{background-color:rgba(201,221,10,0.8); color:#1e1e1e;}
.link ul li.active{background-color:rgba(201,221,10,1); color:#1e1e1e;}
/* .link ul li div{position:absolute; height:80px; background-color:rgba(201,221,10,0.5);} */
.link ul li a{color:inherit; text-transform:capitalize; font-size:tw cen mt; font-size:18pt; font-weight:normal; text-align:center; height:80px; display:block; padding:0;}
.link ul li a span{line-height:20px; padding:30px 20px 30px; font-family:menulk2; font-size:13pt; color:inherit; height:20px; display:block; cursor:pointer;}

.link ul li ul{padding:15px; background-color:rgba(0,0,0,.4); color:#1e1e1e; list-style:none; position:absolute; margin-top:0; font-family:ubuntu; font-size:15px; line-height:25px; height:auto; margin-left:-2%; border-radius:0 0 10px 10px; visibility:hidden;  transition:all 0.3s ease 0s;}
.link ul li:hover ul{visibility:visible;}
.link ul li ul li{color:#fff; float:none; margin-bottom:8px; font-family:ubuntu; font-size:15px; line-height:25px; display:block; height:auto; transition:all 1s ease 0s; background-color:transparent; padding:5px 10px; cursor:pointer; text-align:left; text-transform:capitalize;}
.link ul li ul li:hover{color:#c9dd0a; margin-left:10px;  background-color:transparent; border-bottom:1px solid #fff; text-align:center;}

#wel{background-color:#c9dd0a; width:100%;}

#wel .holder{width:90%; margin:0 auto; padding:.5% 5%;}

#wel .holder .txt{color:#fff; font-family:ubuntu; font-size:20px; line-height:20px; float:left; clear:none; width:40%; padding:5%;}
#wel .holder .txt h2{color:#fff; font-size:550%; text-transform:capitalize; margin-bottom:30px; font-family:ubuntu; line-height:auto; line-height:130px; width:100%; text-align:center;}
#wel .holder .txt p{color:#000; line-height:30px; font-size:18px; font-family:ubuntu; text-align:justify;}
#wel .holder .txt a{padding:10px 30px; line-height:25px; font-size:10px; color:#fff; background-color:#1e1e1e; border-radius:5px; float:right; cursor:pointer; text-transform:uppercase; font-family:ubuntu; margin-top:-10px; transition:all .8s ease 0s;}
#wel .holder .txt a:hover{color:#1e1e1e; background-color:#fff;}

#wel .holder .img{width:40%; padding:5%; float:left;}
#wel .holder .img img{width:100%; padding:4px; background-color:#fff; border:1px solid #eee; height:auto;}

#wel2{background-color:#f85353; width:100%;}
#wel2 .wholder{width:90%; padding:5%}
#wel2 .wholder h2{width:100%; margin-bottom:5%; font-size:100px; font-family:ubuntu; text-transform:uppercase; color:#1e1e1e; text-align:center; line-height:140px;}
#wel2 .wholder p{width:70%; padding:2%; font-size:15px; line-height:28px; font-family:ubuntu; color:#fff; margin:0 auto; margin-bottom:10px;}
#wel2 .wholder a{padding:10px 30px; line-height:25px; font-size:10px; color:#1e1e1e; background-color:#fff; border-radius:5px; float:right; cursor:pointer; text-transform:uppercase; font-family:ubuntu; margin-top:-10px; transition:all .8s ease 0s;}
#wel2 .wholder a:hover{color:#fff; background-color:#1e1e1e;}
#wel .txt, #wel .img{min-width:250px;}

#serv{width:90%; padding:2% 5%; margin:0 auto;}
#serv .sholder{width:100%; margin:10px auto;}
#serv .sholder .serv_item{border:1px solid #ddd; padding:1%; margin:2% 1%; box-shadow:0px 0px 1px #eee; width:29%; float:left; color:#1e1e1e; background-color:#fff; text-align:center; min-width:250px;}
#serv .sholder .serv_item .img{width:64px; height:64%; border-radius:4em; display:block; margin:1% auto 5%; border:5px solid #f2f2f2; text-align:cente;}
#serv .sholder .serv_item .img img{width:64px; height:64px;}
#serv .sholder .serv_item .header{width:100%; padding:3% 0; margin:5% auto; text-align:center;}
#serv .sholder .serv_item .header h3{font-family:ubuntu; font-size:18px; line-height:40px; padding:3%; color:#1e1e1e; text-transform:capitalize; text-align:center;}
#serv .sholder .serv_item .main{width:90%; margin:5%; padding:2%;}
#serv .sholder .serv_item .main p{font-family:ubuntu; font-size:15px; line-height:20px; color:#888; text-align:center;}
#serv .sholder .serv_item .buttom{width:90%; text-align:center; margin:4% 5%; padding:0;}
#serv .sholder .serv_item .buttom a{color:#1e1e1e; padding:10px 25px; font-size:15px; text-transform:capitalize; cursor:pointer; font-family:menulk2; line-height:25px; background-color:#c9dd0a; border-radius:5px; display:inline-block; transition:all .8s ease 0s;}
#serv .sholder .serv_item .buttom a:hover{color:#fff; background-color:#1e1e1e;}

#why{width:90%; padding:2% 5%; margin:0; background-color:#44626e; color:#fff;}
#why .whholder{width:95%; margin:15px auto;}
#why .whholder .tit, #why .whholder .ans{width:45%; padding:0 2.5%; float:left; min-width:250px; text-align:center; vertical-align:center; color:#fff; font-size:15px; line-height:23px; font-family:ubuntu;}
/* #why .whholder img{width:;} */
#why .whholder h2{font-family:menulk2; font-size:60px; width:100%; margin:15px auto; padding:10px auto; color:#fefefe; text-transform:capitalize; vertical-align:middle; line-height:75px;}
#why .whholder p{color:#f2f2f2; padding:3%; line-height:30px; font-size:19px; font-family:ubuntu; margin:0 auto; text-align:justify; width:94%; background-color:rgba(0,0,0,0.3); border-radius:10px;}
#why .whholder ul{}
#why .whholder li{}
#why .whholder a.buttom{}

#cont{font-weight:300;}
#cont .map{margin:10px auto; width:100%; padding:0; height:350px; border:1px solid #bbb; border-width:1px 0;}
#cont .cont_det{width:90%; padding:2% 5%; background:none repeat scroll 0 0 #44626e; color:#fff; font-family:ubuntu; font-size:11px; line-height:18px; font-weight:normal;}
#cont .cont_det .contact_holder{width:90%; margin:1% 5%; padding:.5% 1%;}
#cont .cont_det .contact_holder .contact_item{width:22.5%; min-width:100px; margin-right:2%; float:left; clear:right;}
#cont .cont_det .contact_holder .contact_item h2{font-family:ubuntu; font-size:32px; text-transform:capitalize; color:#f4eae8; padding-bottom:32px; font:300 32px/30px "Ubuntu",Arial,sans-serif; font-weight:150; line-height:35px;}
#cont .cont_det .contact_holder .contact_item.lik {width:18%; padding-right:2.5%;}
#cont .cont_det .contact_holder .contact_item.lik ul{list-style:none; font-family:ubuntu; font-size:30px; margin-left:5px;}
#cont .cont_det .contact_holder .contact_item.lik ul li{margin-bottom:15px; font-size:10px; color:#fff; font-family:ubuntu; line-height:15px; cursor:pointer;  transition:all .4s ease 0s; text-transform:capitalize; padding:2px 10px 5px 30px; background:url("../img/list_marker.png") no-repeat scroll 1px 6px rgba(0, 0, 0, 0); font:14px/16px "Ubuntu";}
#cont .cont_det .contact_holder .contact_item.lik ul li:hover{color:#c9dd0a; text-decoration:underline; text-transform:capitalize; background:url("../img/list_marker_over.png") no-repeat scroll 10px 6px rgba(0, 0, 0, 0);}
#cont .cont_det .contact_holder .contact_item.lik ul li a{color:inherit; font-size:inherit; font-family:inherit;}
#cont .cont_det .contact_holder .contact_item.lik ul li a span{color:inherit; font-size:inherit; font-family:inherit;}
#cont .cont_det .contact_holder .contact_item.num{width:24.5%;}
#cont .cont_det .contact_holder .contact_item.num ul{margin-left:0; margin-top:0; font-family:tw cen mt; font-size:12px; line-height:20px; list-style:none; color:#fff;}
#cont .cont_det .contact_holder .contact_item.num ul li{padding:5px 5px 10px 5px; margin-bottom:8px; line-height:20px; font-size:17px; color:#fff; font-family:tw cen mt;}
#cont .cont_det .contact_holder .contact_item.num ul li span{font-size:19px; color:#fff; font-family:ubuntu; margin-right:10px; display:inline-block; width:70px; text-transform:capitalize;}
#cont .cont_det .contact_holder .contact_item.soc{width:18%; padding-right:2.5%;}
#cont .cont_det .contact_holder .contact_item.soc ul{margin:0; list-style:none;}
#cont .cont_det .contact_holder .contact_item.soc ul li{padding:2px; margin:0; font-family:ubuntu; font-size:15px; line-height:20px; color:#fff; float:left;}
#cont .cont_det .contact_holder .contact_item.soc ul li+li{padding:2px; margin:2px; font-family:ubuntu; font-size:15px; line-height:20px; color:#fff; float:left;}
#cont .cont_det .contact_holder .contact_item.soc ul li a{color:#44626e; border-radius:500px; background-color:#fff; height:29px; width:29px; text-align:center; display:block; transition:all .4s ease 0s;}
#cont .cont_det .contact_holder .contact_item.soc ul li a:hover{color:#fff; background-color:#1e1e1e;}
#cont .cont_det .contact_holder .contact_item.soc ul li a i{color:#inherit; font:14px/29px "FontAwesome";}
#cont .cont_det .contact_holder .contact_item.form{width:26.5%; margin-right:0;}
#cont .cont_det .contact_holder .contact_item.form form{font-family:ubuntu; font-size:12px; color:#888;}
#cont .cont_det .contact_holder .contact_item.form form input[type=text]{font-family:ubuntu; font-size:12px; color:#888; padding:5px 10px; border:1px solid #888; border-radius:5px; margin-bottom:10px; line-height:20px;}
#cont .cont_det .contact_holder .contact_item.form form textarea{font-family:ubuntu; font-size:12px; color:#888; padding:5px 10px; border:1px solid #888; border-radius:5px; margin-bottom:10px; line-height:20px;}
#cont .cont_det .contact_holder .contact_item.form form input[type=submit]{transition:all 1s ease 0s; padding:10px 25px; font-size:18px; font-family:menulk2; color:#fff; background-color:#1e1e1e; text-transform:uppercase; cursor:pointer; border-radius:5px; border:0; line-height:20px; float:right;}
#cont .cont_det .contact_holder .contact_item.form form input[type=submit]:hover{color:#44626e; background-color:#fff;}
#cont .cont_det .contact_holder .contact_item.form form input[type=clear]{transition:all 1s ease 0s; visibility:hidden; display:none;}
#cont .cont_det .contact_holder .contact_item.form form input[type=text].name{background-image:url(../img/name_back.png); background-repeat:no-repeat; background-position:10px center;}
#cont .cont_det .contact_holder .contact_item.form form input[type=text].mail{background-image:url(../img/mail_back.png); background-repeat:no-repeat; background-position:10px center;}
#cont .cont_det .contact_holder .contact_item.form form input[type=text].number{background-image:url(../img/number_back.png); background-repeat:no-repeat; background-position:10px center;}
#cont .cont_det .contact_holder .contact_item.form form textarea.mess{background-image:url(../img/mess_back.png); background-repeat:no-repeat; background-position:10px 12px;}
