.site{}

#container div.main_content div.admin
	{
		margin:5px auto;
		margin-top:0;
	}
	
#container div.main_content div.admin div.admin_menu
	{
	`	margin:5px;
	`	margin-bottom:0px;
		padding-left:10px;
	}
	
#container div.main_content div.admin div.admin_menu ul
	{
		list-style:none;
		margin:0;
		padding:0;
	}
	
#container div.main_content div.admin div.admin_menu ul li
	{
		color:#ffffff;
		background-color:#990000;
		float:left;
		margin:3px;
		padding:5px 20px;
		font-size:13pt;
		font-weight:bold;
		text-transform:capitalize;
		cursor:pointer;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}

#container div.main_content div.admin div.admin_menu ul li.active
	{
		position:relative;
		top:15px;
		border:1px solid #1e1e1e1;
		border-bottom:0;
		background-color:#7D9C30;
		border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
	}

#container div.main_content div.admin div.admin_content
	{
		min-height:100px;
		background-color:#7D9C30;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-top:10px;
		border:1px solid #1e1e1e;
	}
	
#container div.main_content div.admin div.admin_content form
	{
		padding:10px;
		color:#1e1e1e;
		font-size:10pt;
	}
	
#container div.main_content div.admin div.admin_content form label
	{
		display:inline-block;
		font-size:11pt;
		color:#fff;
		margin-bottom:5px;
		width:200px;
		vertical-align:top;
	}
	
#container div.main_content div.admin div.admin_content form label.cat
	{
		font-size:12pt;
		font-weight:bold;
		text-transform:capitalize;
	}
	
#container div.main_content div.admin div.admin_content form label.cat.title
	{
		margin-top:10px;
		font-size:13pt;
	}
	
#container div.main_content div.admin div.admin_content form input
	{
		background-color:#fff;
		color:#1e1e1e;
		font-size:10pt;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.main_content div.admin div.admin_content form input.sub
	{
		background-color:#990000;
		color:#ffffff;
		font-size:11pt;
		padding:3px;
		margin:5px;
		padding:3px 7px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		cursor:pointer;
		border:0;
	}
	
#container div.main_content div.admin div.admin_content form textarea
	{
		background-color:#fff;
		color:#1e1e1e;
		font-size:10pt;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		overflow:hidden;
	}
	
#container div.main_content div.admin div.admin_content form select
	{
		background-color:#fff;
		color:#1e1e1e;
		font-size:10pt;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		min-width:150px;
		max-width:auto;
	}
	
#container div.main_content div.admin div.admin_content form select option
	{
		font-size:10pt;
		padding:0 5px;
	}
	
#container div.main_content div.admin div.admin_content form button
	{
		background-color:#990000;
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		padding:3px;
		margin:5px;
		padding:3px 10px;
		float:right;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		cursor:pointer;
	}
	
#container div.main_content div.admin div.admin_content form span
	{
		margin:5px 10px;
		color:#990000;
		font-size:10pt;
		font-weight:bold;
	}
	
#container div.main_content div.admin div.admin_content form span.add_image
	{
		color:#ffffff;
		font-weight:normal;
		cursor:pointer;
	}
	
#container div.main_content div.admin div.admin_content form span.item_name
	{
		font-weight:normal;
		color:#1e1e1e;
		font-size:10pt;
		vertical-align:top;
	}
	
#container div.main_content div.admin div.admin_content form span.add_image:hover
	{
		text-decoration:underline;
	}
	
#container div.main_content div.admin div.admin_content.adtab_1
	{
		display:block;
	}
	
#container div.main_content div.admin div.admin_content.adtab_2
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_3
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_4
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_5
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_6
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_7
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_8
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_9
	{
		display:none;
	}

#container div.main_content div.admin div.admin_content.adtab_10
	{
		display:none;
	}
	

	
#container div.main_content div.admin div.admin_content form div.gedit
	{
		width:221px;
		float:left;
		clear:none;
		margin:5px;
		padding:5px;
		height:auto;
		border-bottom:1px dashed #1e1e1e;
		color:#1e1e1e;
		text-align:center;
	}
	
#container div.main_content div.admin div.admin_content form div.gedit img
	{
		width:215px;
		height:130px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-bottom:8px;
	}
	
#container div.main_content div.admin div.admin_content form div.gedit input
	{
		width:95%;
	}
	
#container div.main_content div.admin div.admin_content form div.gedit textarea
	{
		width:95%;
	}

#container div.main_content div.admin div.admin_content form div.gedit a
	{
		color:#ffffff;
		margin-right:5px;
		text-decoration:underline;
		cursor:pointer;
		margin-bottom:8px;
	}
	
#container div.main_content div.admin div.admin_content form div.gedit a:hover
	{
		text-decoration:none;
		color:#cc0000;
	}
	
#container div.main_content div.admin div.admin_content form div.gedit button
	{
		font-size:9pt;
		padding:3px 5px;
		margin:10px 20px;
	}
	
	
#container div.main_content div.admin div.admin_content  div.gedit
	{
		width:221px;
		float:left;
		clear:none;
		margin:5px;
		padding:5px;
		height:auto;
		border-bottom:1px dashed #1e1e1e;
		color:#1e1e1e;
		text-align:center;
	}
	
#container div.main_content div.admin div.admin_content  div.gedit img
	{
		width:215px;
		height:130px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-bottom:8px;
	}
	
#container div.main_content div.admin div.admin_content  div.gedit input
	{
		width:95%;
	}
	
#container div.main_content div.admin div.admin_content  div.gedit textarea
	{
		width:95%;
	}

#container div.main_content div.admin div.admin_content  div.gedit a
	{
		color:#ffffff;
		margin-right:5px;
		text-decoration:underline;
		cursor:pointer;
		margin-bottom:8px;
	}
	
#container div.main_content div.admin div.admin_content  div.gedit a:hover
	{
		text-decoration:none;
		color:#cc0000;
	}
	
#container div.main_content div.admin div.admin_content  div.gedit button
	{
		font-size:9pt;
		padding:3px 5px;
	}
	
#container div.main_content div.admin div.admin_content  div.gedit form
	{
		padding:0;
		margin:0;
	}
	
#container div.main_content div.admin div.admin_content  label.cat.title
	{
		margin-top:10px;
		font-size:13pt;
		display:inline-block;
		color:#fff;
		margin-bottom:5px;
		width:200px;
		vertical-align:top;
		font-weight:bold;
		text-transform:capitalize;
		padding-left:5px;
	}

	
	
	