.site{}

*
	{
		padding:0;
		margin:0;
		font-family:arial;
		font-size:9pt;
		color:#1e1e1e;
		font-weight:normal;
		text-transform:none;
		cursor:auto;
		text-decoration:none;
		border:0;
	}
	
body
	{
		margin:0 auto;
		padding:5px;
		padding-top:0;
		background-color:#f9f4ed;
		width:1000px;
		min-height:500px;
	}
	
.clear
	{
		height:1px;
		width:100%;
		clear:both;
	}
	
#container
	{
		width:990px;
	}
	
#container div.head
	{
		width:990px;
		margin:5px auto;
		padding-top:5px;
		color:#866146 ;
		text-align:left;
	}
	
#container div.head div.link div.link_left
	{
		float:left;
	}
	
#container div.head div.link  a
	{
		color:#866146 ;
		cursor:pointer;
		padding-right:5px;
		margin-right:5px;
		font-size:9.5pt;
	}
	
#container div.head div.link  a:hover
	{
		text-decoration:underline;
		color:#1e1e1e;
	}
	
#container div.head div.link div.link_right
	{
		float:right;
	}
	
#container div.head div.link div.link_right a span
	{
		color:#990000;
		font-weight:bold;
	}
	
#container div.head div.link div.link_right a.last
	{
		padding-right:0;
		margin-right:0;
	}
	
#container div.head div.link div.login_pop
	{
		display:none;
		float:left;
		position:absolute;
		background-color:#F9F4ED;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		z-index:10;
		width:auto;
		height:auto;
		margin-top:20px;
		margin-left:652px;
		padding:10px;
	}
	
#container div.head div.link div.login_pop span
	{
		float:right;
		margin:8px 0 0 0;
		padding:3px 5px;
		background-color:#866146;
		color:#ffffff;
		font-size:10pt;
		font-weight:bold;
		border-radius:5px;
		border:3px solid #1e1e1e;
		cursor:pointer;
	}
	
#container div.head div.link div.login_pop form
	{
		margin:0;
		padding:0;
		font-size:10pt;
		color:#866146;
	}
	
#container div.head div.link div.login_pop form label
	{
		margin-bottom:5px;
		display:block;
		font-size:10pt;
		color:#866146;
		font-weight:bold;
	}
	
#container div.head div.link div.login_pop form input
	{
		padding:3px;
		margin:5px 0;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:10pt;
		color:#866146;
	}
	
#container div.head div.link div.login_pop form button
	{
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		float:left;
		margin:5px;
		margin-bottom:0;
		display:block;
		background-color:#990000;
		padding:3px 8px;
		cursor:pointer;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.head div.bannar
	{
		margin:5px 0;
	}
	
#container div.head div.bannar img
	{
		border:0;
		width:250px;
		height:116px;
		margin-bottom:5px;
		cursor:pointer;
	}
	
#container div.main_menu
	{
		margin:0 0 5px 0;
		padding:0 5px;
		background-color:#E9DDCD;
		width:980px;
	}
	
#container div.main_menu ul
	{
		list-style:none;
		padding:0;
		margin:0;
	}
	
#container div.main_menu ul li
	{
		float:left;
		margin:0 2px;
		padding:5px 10px;
		font-size:10.5pt;
		font-weight:bold;
		cursor:pointer;
		color:#866146;
		display:inline;
		min-width:67px;
		text-align:center;
	}
	
#container div.main_menu ul li.active
	{
		background-color:#866146;
		color:#ffffff;
	}
	
#container div.main_menu ul li.menu_hot
	{
		color:#ffffff;
		background-color:#990000;
	}
	
#container div.main_menu ul li div.menu_item
	{
		position:absolute;
		padding:10px;
		padding-right:0;
		border:2px solid #866146;
		margin-top:5px;
		width:520px;
		text-align:left;
		display:none;
		cursor:default;
		margin-left:-10px;
		background-color:#ffffff;
		z-index:10000;
	}
	
#container div.main_menu ul li div.menu_item h2
	{
		color:#cc0000;
		font-size:10pt;
		margin:5px 0;
		font-weight:bold;
	}

#container div.main_menu ul li div.menu_item h3
	{
		color:#1e1e1e;
		font-size:10pt;
		margin:8px 0;
		font-weight:bold;
	}

	
#container div.main_menu ul li div.menu_item div.menu_item_img
	{
		margin:10px 0;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_img div.menu_item_img_item
	{
		width:94px;
		float:left;
		margin-right:10px;
		text-align:center;
		color:#866146;
		font-size:9pt;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_img div.menu_item_img_item img
	{
		width:90px;
		height:90px;
		border:0;
		display:block;
		margin-bottom:5px;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_img div.menu_item_img_item a
	{
		color:inherit;
		cursor:pointer;
		font-weight:bold;
		font-size:9.5pt;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_img div.menu_item_img_item a:hover
	{
		text-decoration:underline;
		color:#1e1e1e;
	}

#container div.main_menu ul li div.menu_item div.menu_item_txt
	{
		margin:10px 0;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_txt div.menu_item_txt_item.l
	{
		width:200px;
		margin-right:10px;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_txt div.menu_item_txt_item.r
	{
		width:140px;
		margin-right:10px;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_txt div.menu_item_txt_item
	{
		float:left;
		color:#866146;
		font-size:9pt;
		font-weight:bold;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_txt div.menu_item_txt_item a
	{
		color:inherit;
		margin-bottom:4px;
		cursor:pointer;
		display:inline-block;
	}
	
#container div.main_menu ul li div.menu_item div.menu_item_txt div.menu_item_txt_item a:hover
	{
		color:#cc0000;
	}
	
#container div.main_menu ul li div.menu_item.r1
	{
		margin-left:-106px;
	}
	
#container div.main_menu ul li div.menu_item.r2
	{
		margin-left:-227px;
	}
	
#container div.main_menu ul li div.menu_item.r3
	{
		margin-left:-318px;
	}
	
#container div.main_content
	{
		width:990px;
		padding:5px 0;
		margin:5px auto;
		min-height:200px;
	}
	
#container div.main_content div.content_left
	{
		width:300px;
		margin-right:12px;
		padding:0;
		padding-bottom:10px;
		float:left;
	}
	
#container div.main_content div.content_left div.content_left_item
	{		
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:0;
		padding-bottom:10px;
		margin-bottom:10px;
		background-color:#e9ddcd;
	}
	
#container div.main_content div.content_left div.content_left_item h1
	{
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		margin:0;
		margin-bottom:10px;
		padding:5px 10px;
		background-color:#866146;
	}

#container div.main_content div.content_left div.content_left_item h2
	{
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		margin:0;
		margin-bottom:10px;
		padding:5px 10px;
		background-color:#866146;
	}

	
#container div.main_content div.content_left div.content_left_item div.adv_block
	{
		padding:5px;
		width:260px;
		margin:8px auto;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		min-height:150px;
	}
	
#container div.main_content div.content_right
	{
		float:left;
		width:670px;
		margin:0;
		border:0px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:8px;
		padding-top:0;
		padding-bottom:0;
		padding-right:0;
	}

#container div.main_content div.content_right div.content_right_item_big
	{
		width:640px;
		margin:5px auto;
		margin-top:0;
		margin-left:0;
		padding:10px;
		background-color:#f9f4ed;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		min-height:200px;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_img
	{
		float:left;
		margin-right:5px;
		margin-bottom:5px;
		width:241px;
		height:auto;
		padding:0;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_img img
	{
		width:240px;
		height:200px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin:0;
		padding:0;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_desc
	{
		width:384px;
		margin:0;
		margin-bottom:5px;
		padding:0;
		padding-right:5px;
		padding-left:5px;
		float:left;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_desc h1
	{
		font-size:12pt;
		font-weight:bold;
		color:#866146;
		margin-bottom:5px;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_desc h2
	{
		color:#cc0000;
		font-size:10pt;
		font-weight:bold;
		margin-bottom:5px;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_desc p
	{
		color:#1e1e1e;
		font-size:8pt;
		margin-bottom:5px;
		text-align:justify;
		line-height:15px;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_desc a
	{
		color:#cc0000;
		font-size:9pt;
		font-weight:bold;
		float:right;
		margin:10px;
		margin-right:0;
		cursor:pointer;
		text-decoration:underline;
	}
	
#container div.main_content div.content_right div.content_right_item_big div.content_right_item_big_desc a:hover
	{
		color:#866146;
		text-decoration:none;
	}
	
#container div.main_content div.content_right div.content_right_item
	{
		width:152px;
		padding:5px;
		float:left;
		margin-right:5px;
		background-color:#e9ddcd;
		color:#866146;
		text-align:left;
		margin:5px;
		margin-left:0;
		margin-top:0;
		display:block;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.main_content div.content_right div.content_right_item img
	{
		width:140px;
		height:170px;
		border:1px solid #866146;
		border-radius:5px;
		margin:5px auto;
		display:block;
	}
	
#container div.main_content div.content_right div.content_right_item a
	{
		color:#866146;
		font-size:10pt;
		font-weight:bold;
		text-decoration:none;
		cursor:pointer;
		display:inline-block;
		margin:5px 0;
		margin-left:10px;
	}
	
#container div.main_content div.content_right div.content_right_item a:hover
	{
		text-decoration:underline;
		color:#cc0000;
	}
	
#container div.main_content div.content_right div.content_right_item p
	{
		color:#1e1e1e;
		font-size:8pt;
		text-align:left;
		width:140px;
		max-width:140px;
		margin:5px auto;
		height:43px;
		overflow:hidden;
		padding-bottom:2px;
		line-height:14px;
	}
	
#container div.main_content div.content_right div.contact
	{
		background-color:#F9F4ED;
		border:1px solid #866146;
		min-height:100px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:10px;
	}

#container div.main_content div.content_right div.contact h2
	{
		margin-bottom:5px;
		font-size:12pt;
		font-weight:bold;
		color:#866146;
		padding-bottom:5px;
		border-bottom:1px dashed #866146;
	}
	
#container div.main_content div.content_right div.contact form
	{
		margin:0;
		margin-bottom:5px;
		padding:0;
		padding-bottom:5px;
	}
	
#container div.main_content div.content_right div.contact form label
	{
		font-size:10pt;
		display:inline-block;
		margin-bottom:5px;
		width:200px;
		vertical-align:top;
		color:#866146;
	}
	
#container div.main_content div.content_right div.contact form input
	{
		color:#866146;
		font-size:10px;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.main_content div.content_right div.contact form textarea
	{
		color:#866146;
		font-size:10px;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		overflow:hidden;
	}
	
#container div.main_content div.content_right div.contact form button
	{
		color:#ffffff;
		background-color:#990000;
		font-size:11pt;
		font-weight:bold;
		cursor:pointer;
		float:right;
		margin:5px;
		margin-right:0;
		margin-bottom:0;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:3px 8px;
	}
	
	
#container div.main_content div.content_right div.faq
	{
		background-color:#F9F4ED;
		border:1px solid #866146;
		min-height:100px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:10px;
	}

#container div.main_content div.content_right div.faq div.faq_new h2
	{
		margin-bottom:5px;
		font-size:12pt;
		font-weight:bold;
		color:#866146;
		padding-bottom:5px;
		border-bottom:1px dashed #866146;
	}
	
#container div.main_content div.content_right div.faq div.faq_new form
	{
		margin:0;
		margin-bottom:10px;
		padding:0;
		padding-bottom:10px;
		border-bottom:1px dashed #866146;
	}
	
#container div.main_content div.content_right div.faq div.faq_new form label
	{
		font-size:10pt;
		display:inline-block;
		margin-bottom:5px;
		width:200px;
		vertical-align:top;
		color:#866146;
	}
	
#container div.main_content div.content_right div.faq div.faq_new form input
	{
		color:#866146;
		font-size:10px;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.main_content div.content_right div.faq div.faq_new form textarea
	{
		color:#866146;
		font-size:10px;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		overflow:hidden;
	}
	
#container div.main_content div.content_right div.faq div.faq_new form button
	{
		color:#ffffff;
		background-color:#990000;
		font-size:11pt;
		font-weight:bold;
		cursor:pointer;
		float:right;
		margin:5px;
		margin-right:0;
		margin-bottom:0;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:3px 8px;
	}
	
#container div.main_content div.content_right div.faq div.faq_item
	{
		margin-bottom:5px;
		border-bottom:1px dashed #990000;
		padding-bottom:5px;
	}
	
#container div.main_content div.content_right div.faq div.faq_item p
	{
		font-size:10pt;
		margin:5px auto;
	}
	
#container div.main_content div.content_right div.faq div.faq_item p.q
	{
		font-weight:bold;
		color:#866146;
	}

#container div.main_content div.content_right div.faq div.faq_item p.a
	{
		color:#1e1e1e;
		padding:5px;
		text-align:justify;
		background-color:#ffffff;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-bottom:2px;
		margin-right:5px;
		margin-left:10px;
	}
	
#container div.main_content div.content_right div.faq div.faq_item p.d
	{
		color:#990000;
		font-size:7pt;
		font-weight:bold;
		float:right;
		margin-bottom:0;
	}


#container div.foot
	{
		margin:5px;
		width:990px;
		padding:5px 0;
		text-align:center;
		background-color:#E9DDCD;
		color:#1e1e1e;
		display:block;
	}
	
#container div.foot a
	{
		color:#1e1e1e;
		font-size:10pt;
		text-decoration:none;
		cursor:pointer;
	}
	
#container div.foot a:hover
	{
		text-decoration:underline;
		color:#866146;
	}
	
#container div.foot span
	{
		margin:0 8px;
		color:#1e1e1e;
	}
	
#container div.main_content div.item_img
	{
		float:left;
		margin:0px 10px 5px 0;
		padding:0;
		width:320px;
		display:block;
		height:100%;
	}
	
#container div.main_content div.item_img img
	{
		width:320px;
		height:342px;
		border:1px solid #866146;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		margin-bottom:6px;
	}
	
#container div.main_content div.item_img p
	{
		font-size:10pt;
		color:#1e1e1e;
		background-color:#f9f4ed;
		padding:3px 8px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		text-align:center;
		margin-bottom:5px;
	}
	
#container div.main_content div.item_img div.pop
	{
		background-color:#f9f4ed;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:0;
		padding-bottom:5px;
		min-height:150px;
	}
	
#container div.main_content div.item_img div.pop h2
	{
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		margin:0;
		margin-bottom:10px;
		padding:5px 10px;
		background-color:#866146;
	}
	
#container div.main_content div.item_img div.pop div.pop_item
	{
		margin:8px auto;
		padding-bottom:5px;
		border-bottom:1px dashed #866146;
		text-align:center;
		width:300px;
	}
	
#container div.main_content div.item_img div.pop div.pop_item a
	{
		cursor:pointer;
		text-decoration:none;
	}
	
#container div.main_content div.item_img div.pop div.pop_item img
	{
		width:250px;
		height:150px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		cursor:pointer;
	}

#container div.main_content div.item_desc
	{
		float:left;
		width:656px;
		padding:4px;
		padding-top:0;
		PADDING-RIGHT:0;
	}

#container div.main_content div.item_desc div.item_desc_up
	{
		padding:10px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-bottom:5px;
		background-color:#f9f4ed;
		min-height:322px;
	}
	
#container div.main_content div.item_desc div.item_desc_up form
	{
		float:right;
		margin:0;
		padding:0;
	}
	
#container div.main_content div.item_desc div.item_desc_up form button
	{
		color:#ffffff;
		background-color:#990000;
		padding:3px 10px;
		font-size:10pt;
		font-weight:bold;
		text-transform:uppercase;
		cursor:pointer;
		margin:5px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}

#container div.main_content div.item_desc div.item_desc_up h2
	{
		margin-bottom:5px;
		font-size:12pt;
		font-weight:bold;
		color:#990000;
	}
	
#container div.main_content div.item_desc div.item_desc_up h1
	{
		margin-bottom:8px;
		color:#866146;
		font-weight:bold;
		font-size:14pt;
	}

#container div.main_content div.item_desc div.item_desc_up p
	{
		font-size:9pt;
		color:#1e1e1e;
		margin-bottom:5px;
		text-align:justify;
	}
	
#container div.main_content div.item_desc div.item_desc_down
	{
		margin:0;
		padding:5px;
		padding-right:0;
		padding-left:0;
		padding-top:0;
	}
	
#container div.main_content div.item_desc div.item_desc_down ul
	{
		list-style:none;
	}
	
#container div.main_content div.item_desc div.item_desc_down ul li
	{
		float:left;
		padding:3px 20px;
		margin-right:3px;
		border:1px solid #866146;
		border-bottom:0;
		background-color:#f9f4ed;
		border-radius:5px 5px 0 0;
		cursor:pointer;
		color:#866146;
		font-size:10pt;
		font-weight:bold;
	}
	
#container div.main_content div.item_desc div.item_desc_down ul li.active
	{
		color:#ffffff;
		background-color:#990000;
		border-color:#990000;
		position:relative;
		top:1px;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content
	{
		border:1px solid #866146;
		border-radius:0 5px 5px 5px;
		-moz-border-radius:0 5px 5px 5px;
		-webkit-border-radius:0 5px 5px 5px;
		padding:5px 10px;
		margin-bottom:10px;
		background-color:#F9F4ED;
		min-height:308px;
		max-height:308px;
		overflow:hidden;
	}

#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab1
	{
		display:block;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab2
	{
		display:none;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab3
	{
		display:none;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab3 p
	{
		font-size:10pt;
		font-weight:bold;
		text-align:center;
		color:#866146;
		margin-top:20px;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab3 form
	{
		margin:5px 0;
		text-align:center;
		padding:0;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab3 form button
	{
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		margin:5px 10px;
		padding:4px 15px;
		cursor:pointer;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background-color:#990000;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab3 form button.cart
	{
		background-color:#99b927;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4
	{
		display:none;
	}

/**********************************************/

	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review
	{
		background-color:#F9F4ED;
		min-height:100px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}

#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_new h2
	{
		margin-bottom:5px;
		font-size:12pt;
		font-weight:bold;
		color:#866146;
		padding-bottom:5px;
		border-bottom:1px dashed #866146;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_new form
	{
		margin:0;
		margin-bottom:10px;
		padding:0;
		padding-bottom:10px;
		border-bottom:1px dashed #866146;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_new form label
	{
		font-size:10pt;
		display:inline-block;
		margin-bottom:5px;
		width:200px;
		vertical-align:top;
		color:#866146;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_new form input
	{
		color:#866146;
		font-size:10px;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_new form textarea
	{
		color:#866146;
		font-size:10px;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		overflow:hidden;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_new form button
	{
		color:#ffffff;
		background-color:#990000;
		font-size:11pt;
		font-weight:bold;
		cursor:pointer;
		float:right;
		margin:5px;
		margin-right:0;
		margin-bottom:0;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:3px 8px;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_item
	{
		margin-bottom:5px;
		border-bottom:1px dashed #990000;
		padding-bottom:5px;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_item p
	{
		font-size:10pt;
		margin:5px auto;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_item p.q
	{
		font-weight:bold;
		color:#866146;
	}

#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_item p.a
	{
		color:#1e1e1e;
		padding:5px;
		text-align:justify;
		background-color:#ffffff;
		border:1px solid #866146;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-bottom:2px;
		margin-right:5px;
		margin-left:10px;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content.item_tab4 div.review div.review_item p.d
	{
		color:#990000;
		font-size:7pt;
		font-weight:bold;
		float:right;
		margin-bottom:0;
	}



/**********************************************/
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content h3
	{
		font-size:10pt;
		font-weight:bold;
		color:#990000;
		margin-bottom:5px;
	}
	
#container div.main_content div.item_desc div.item_desc_down div.item_tab_content p
	{
		color:#1e1e1e;
		font-size:9pt;
		text-align:justify;
		margin-bottom:5px;
	}
	
#container div.main_content div.account
	{
		border:1px solid #866146;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		background-color:#F9F4ED;
		padding:10px;
	}
	
#container div.main_content div.account h1
	{
		font-size:12pt;
		font-weight:bold;
		color:#990000;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px dashed #990000;
	}
	
#container div.main_content div.account ul
	{
		list-style:none;
		margin:0;
		padding:0;
	}
	
#container div.main_content div.account ul li
	{
		padding:3px 10px;
		margin-right:3px;
		border:1px solid #866146;
		border-bottom:0;
		border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		font-size:10pt;
		font-weight:bold;
		cursor:pointer;
		color:#866146;
		float:left;
	}
	
#container div.main_content div.account ul li.active
	{
		color:#ffffff;
		background-color:#990000;
		border-color:#990000;
		position:relative;
		top:1;
	}

#container div.main_content div.account div.acc_content
	{
		border:1px solid #866146;
		border-radius:0 5px 5px 5px;
		margin-bottom:5px;
		padding:10px;
		min-height:100px;
	}
	
#container div.main_content div.account div.acc_content.acc_tab1
	{
		display:block;
	}
	
#container div.main_content div.account div.acc_content.acc_tab2
	{
		display:none;
	}
	
#container div.main_content div.account div.acc_content.acc_tab3
	{
		display:none;
	}
	
#container div.main_content div.account div.acc_content.acc_tab4
	{
		display:none;
	}

	
	
	