@font-face {
	font-family: 'fontawesome';
	src: url('fontawesome-webfont.eot');
	src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('fontawesome-webfont.woff') format('woff'),
		url('fontawesome-webfont.ttf') format('truetype'),
		url('fontawesome-webfont.svg') format('svg');
}#our-services {
	background-image: url(../../images/nav/servicew.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 35px;
}
#our-project {
	background-image: url(../../images/nav/prow.png);
	background-position: 10px center;
	padding-left: 30px;
	background-repeat: no-repeat;
}
#contact {
	background-image: url(../../images/nav/conacetw.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 40px;
}
