.sharm{}

#account_body
	{
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		width:469px;
		height:auto;
		overflow:hidden;
		background-color:#fcfbf7;
		border:1px solid #e8cd98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-boder-radius:5px;
	}
	
#account_body td
	{
		border-bottom:1px dotted #5b3522;
		vertical-align:top;
	}
	
#account_body h5
	{
		font-family:arial;
		color:#da8920;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
	}
	
#account_body h5 a
	{
		font-family:arial;
		color:#da8920;
		font-size:7pt;
		font-weight:normal;
		text-decoration:none;
		text-transform:none;
	}
	
#account_body h5 a:hover
	{
		font-family:arial;
		color:#da8920;
		font-size:7pt;
		font-weight:normal;
		text-decoration:underline;
		text-transform:none;
	}
	
#account_body h1
	{
		text-transform:none;
		margin:2px;
		color:#4f2612;
		font-size:13pt;
		font-weight:bold;
		padding:2px;
		padding-left:0;
		margin-left:0;
		font-family:arial;
	}
	
#account_body h4
	{
		text-transform:none;
		margin:2px;
		color:#4f2612;
		font-size:9pt;
		font-weight:bold;
		padding:2px;
		padding-right:0;
		margin-right:0;
		font-family:arial;
	}
	
#account_des
	{
		padding-bottom:10px;
		margin-bottom:5px;
		border-bottom:1px dotted #da8920;
	}
	
#account_des h5
	{
		color:#da8920;
		font-size:9pt;
		font-weight:bold;
		margin:3px;
		padding:1px;
		margin-left:0;
		padding-left:0;
		text-transform:none;
	}
	
#account_des_title
	{
		margin-left:0;
		margin-top:20px;
		padding-bottom:0;
		border-bottom:1px solid #eacd97;
		color:#00b0ea;
		font-weight:bold;
		font-family:arial;
		font-size:10pt;
		text-transform:uppercase;
		text-decoration:none;
	}
	
#account_des_title a
	{
		padding-top:5px;
		padding-left:8px;
		padding-right:8px;
		padding-bottom:0;
		border:1px solid #eacd97;
		border-bottom:0;
		-moz-border-radius-topleft:5px;
		-moz-border-radius-topright:5px;
		-webkit-border-radius:5px 5px 0 0;
		color:#00b0ea;
		font-weight:bold;
		font-family:arial;
		font-size:10pt;
		text-transform:uppercase;
		text-decoration:none;
		background-color:#ffffff;
	}
	
#account_des_title span
	{
		font-size:7pt;
		font-weight:normal;
		float:right;
		color:#d77f0d;
		text-transform:none;
		background-color:#fdfbf7;
	}
	
#account_des_body
	{
		padding-top:8px;
		padding-left:8px;
		padding-right:8px;
		padding-bottom:15px;
		border:1px solid #eacd97;
		border-radius:0 0 5px 0;
		-moz-border-radius:0 0 5px 0;
		-webkit-border-radius:0 0 5px 0;
		background-color:#ffffff;
	}
	
.display2
	{
		display:none;
	}

.bor1
	{
		border-bottom:0;
		margin-bottom:-2px;
	}

#account_des_body form
	{
		width:100%;
		border-bottom:1px dotted #da8920;
		padding-bottom:5px;
		margin-bottom:5px;
	}
	
#account_des_body form table
	{
		width:100%;
	}
	
#account_des_body form label
	{
		font-family:arial;
		font-size:9pt;
		color:#4f2613;
		padding-left:0;
	}
	
#account_des_body form td
	{
		border:0;
		/*width:auto;*/
		padding-left:0;
	}
	
#account_des_body select
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		overflow:hidden;
		background-color:#f9eabc;
		-webkit-appearance: button;
		-webkit-border-radius: 5px;
		color:black;
		font-size:8pt;
	}
	
#account_des_body input
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#account_des_body textarea
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#account_des_body form button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
	
#account_des_body button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}

#account_des_body radio
	{
		background-color:red;
	}
	
#account_des_body form p
	{
		font-size:8.5pt;
		color:#4f2613;
	}
	
#account_des_body_room_confirm
	{
		padding:1px;
	}
	
#account_des_body_room_confirm table
	{
		border-spacing:5px;
		collapse:separate;
		border:1px solid #da8920;
	}
	
#account_des_body_room_confirm table td
	{
		border-left:1px solid #da8920;
		border-bottom:1px solid #da8920;
		font-size:9pt;
		font-weight:bold;
		text-transform:none;
		color:#4f2613;
		padding:5px;
		text-align:center;
		vertical-align:center;
	}
	
.radio1
	{
		font-size:9pt;
		color:#4f2613;
	}