77.sharmclub{}

.admin_clear
	{  
		clear: both;  
		height: 0;
		visibility: hidden;  
		display: block;  
	} 


#admin
	{
		width:950px;
		vertical-align:top;
		height:auto;
		margin:5px 5px;
		padding:10px 8px;
		border:1px solid #422010;
		border-radius:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		background-color:#fdfbf8;
		float:left;
	}

#goHome 
	{
		font-family:arial;
		font-size:9.5pt;
		font-weight:bold;
		color:#422010;
		text-transform:capitalize;
		text-decoration:none;
		cursor:pointer;
		float:left;
		clear:both;
		display:block;
		margin-bottom:10px;
		width:100%;
		height:auto;
		text-align:left;
	}

#goHome a
	{
		font-family:arial;
		font-size:9.5pt;
		font-weight:bold;
		color:#422010;
		text-transform:capitalize;
		text-decoration:none;
		cursor:pointer;
	}
	
.adminTabs
	{
		list-style:none;
		float:left;
		margin:0;
		padding:0;
	}

.adminTabs li
	{
		float:left;
		padding:3px;
		margin-right:2px;
		border:1px solid #422010;
		border-bottom:0;
		border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		cursor:pointer;
		font-family:arial;
		font-weight:bold;
		font-size:8pt;
		color:#422010;
		text-transform:capitalize;
		position:relative;
	}
	
.adminTabs li.active
	{
		top:2px;
		border-bottom:0;
		color:#ffffff;
		background-color:#83a642;
		border-color:#83a642;
	}
	
.adminContent
	{
		padding:8px 8px;
		font-family:arial;
		font-size:8.5pt;
		color:#ffffff;
		background-color:#83a642;
		border:1px solid #83a642;
		border-radius:0 0 5px 5px;
		-webkit-border-radius:0 0 5px 5px;
		-moz-border-radius:0 0 5px 5px;
		vertical-align:top;
	}
	
.adminContent span
	{
		font-family:arial;
		font-size:9.5pt;
		font-weight:bold;
		color:#422010;
		text-transform:capitalize;
	}
	
.adminContent td
	{
		vertical-align:top;
		padding-bottom:5px;
	}
	
.adminContent label
	{
		font-family:arial;
		font-size:8pt;
		font-weight:bold;
		color:#ffffff;
	}
	
.adminContent label sup
	{
		font-size:10pt;
	}
	
.adminContent label img
	{
		width:15px;
		height:15px;
		vertical-align:bottom;
		margin-bottom:-1px;
		margin-left:2px;
	}
	
.adminContent input
	{
		font-family:arial;
		font-size:8pt;
		border:1px solid #422010;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#fdfbf8;
		color:#422010;
		padding:2px;
	}
	
.adminContent textarea
	{
		font-family:arial;
		font-size:8pt;
		border:1px solid #422010;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#fdfbf8;
		color:#422010;
		padding:2px;
	}
	
.adminContent select
	{
		font-family:arial;
		font-size:8pt;
		border:1px solid #422010;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#fdfbf8;
		color:#422010;
		padding:2px;
	}
	
.adminContent a
	{
		text-decoration:none;
		font-family:arial;
		font-size:8pt;
		font-weight:bold;
		color:#ffffff;
		text-transform:capitalize;
		cursor:pointer;
	}

.adminContent a:hover
	{
		text-decoration:underline;
	}
	
.adminContent button
	{
		border:1px solid #422010;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		font-family:arial;
		font-size:8.5pt;
		font-weight:bold;
		color:#422010;
		background-color:#fdfbf8;
		text-transform:capitalize;
		padding:2px 3px;
		margin-bottom:2px;
		cursor:pointer;
	}
	
.adminContent.sBackground
	{
		display:block;
	}
	
.adminContent.addTour
	{
		display:none;
	}
	
.adminContent.addTour_1
	{
		display:block;
	}

.adminContent.addTour_1 img 
	{
		width:50px;
		height:50px;
		vertical-align:top;
	}
	
.adminContent.addTour_1 button
	{
		font-size:7pt;
		text-transform:none;
	}
	
.adminContent.addTour_1 span
	{
		display:inline-block;
		width:23%;
		height:auto;
		margin-bottom:2px;
	}
	
.adminContent.addTour_1 span a
	{
		margin-right:3px;
	}
		
.adminContent.tourMang
	{
		display:none;
	}
	
.adminContent.spOffer
	{
		display:none;
	}
	
.adminContent.artCat
	{
		display:none;
	}
	
.adminContent.artMang
	{
		display:none;
	}
	
.adminContent.userMang
	{
		display:none;
	}
	
.adminContent.addArt
	{
		display:none;
	}
	
.adminContent.addArt_1
	{	
		display:block;
	}
	
.adminContent.addArt_1 img 
	{
		width:50px;
		height:50px;
		vertical-align:top;
	}
	
.adminContent.addArt_1 button
	{
		font-size:7pt;
		text-transform:none;
	}
	

.adminContent.hotelcat
	{
		display:none;
	}
	
.adminContent.addhotel
	{
		display:none;
	}
	
.adminContent.hotelcat_1
	{
		display:block;
	}
	
.adminContent.addhotel_1
	{
		display:block;
	}
	
.adminContent.artCat_1
	{
		display:block;
	}
	
	
.adminContent.hotelcat_1 span
	{
		display:inline-block;
		width:23%;
		height:auto;
		margin-bottom:2px;
	}
	
.adminContent.hotelcat_1 span a
	{
		margin-right:3px;
	}
	
.adminContent.addhotel_1 span
	{
		display:inline-block;
		width:23%;
		height:auto;
		margin-bottom:2px;
	}
	
.adminContent.addhotel_1 span a
	{
		margin-right:3px;
	}
		
.adminContent.addtrans
	{
		display:none;
	}

.adminContent.addtrans_1
	{
		display:block;
	}

	
.adminContent.transmang
	{
		display:none;
	}
