.sharm{}

#art_pic_col
	{
		width:242px;
		height:auto;
		padding-left:0;
		padding-top:0;
	}

#art_pic_col div
	{
		padding:0px;
	}
	

#art_pic_col h2
	{
		font-family:arial;
		font-weight:bold;
		font-size:12pt;
		text-transform:uppercase;
		color:#00b0ea;
		padding-top:0;
		padding-left:15px;
		list-style:none;
		z-index:1;
		margin-top:-150px;
		margin-bottom:135px;
	}
	
#art_pic_col  img
	{
		width:240px;
		height:157px;
		border:1px solid #eacd97;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		padding:0;
		margin-top:0;
		z-index:-1;
	}
	
#art_body
	{
		border:1px solid #eacd97;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#fdfbf7;
		padding-left:8px;
		padding-right:8px;
		padding-bottom:15px;
		margin-right:5px;
	}
	
#art_body td
	{
		border-bottom:1px dotted #4f2613;
		padding-bottom:2px;
		padding-left:0;
	}
	
#art_body h5
	{
		font-family:arial;
		font-size:7pt;
		color:#00b0ea;
		text-transform:none;
		padding-bottom:0;
		margin-bottom:2px;
		margin-top:1px;
	}
	
#art_body h5 a
	{
		text-decoration:none;
		cursor:pointer;
		color:#00b0ea;
	}
	
#art_body h5 a:hover
	{
		text-decoration:underline;
		cursor:pointer;
		color:#00b0ea;
	}
	
#art_body h1
	{
		font-family:arial;
		font-size:16pt;
		color:#4f2613;
		text-transform:none;
		font-weight:bold;
		margin-top:5px;
		margin-bottom:2px;
	}
	
#art_body h3
	{
		font-family:arial;
		font-size:10pt;
		color:#3c86a9;
		text-transform:none;
		font-weight:bold;
		margin-top:5px;
		margin-bottom:2px;
	}
	
#art_body p
	{
		font-size:8pt;
		margin-top:3px;
		margin-bottom:20px;
		font-family:arial;
		color:#333333;
	}
	
#art_body h4 
	{
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		color:#4f2613;
		font-weight:bold;
		margin-bottom:0;
		margin-top:8px;
		text-decoration:none;
	}

#art_body h4  a
	{
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		color:#4f2613;
		font-weight:bold;
		margin-bottom:0;
		margin-top:8px;
		text-decoration:none;
	}
	
#art_body h4 span
	{
		font-size:7pt;
		font-weight:normal;
		float:right;
		color:#d77f0d;
	}
	
#about_egy
{
	border-top:1px dotted #d77f0d;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:15px;
}

#about_egy h4
	{
		font-family:arial;
		font-size:8pt;
		font-weight:bold;
		text-transform:none;
		margin-top:1px;
		margin-bottom:10px;
		color:#d77f0d;
	}
	
#art_cat_title
	{
		margin-left:0;
		margin-top:20px;
		padding-bottom:0;
		border-bottom:1px solid #eacd97;
		color:#00b0ea;
		font-weight:bold;
		font-family:arial;
		font-size:10pt;
		text-transform:uppercase;
		text-decoration:none;
		/*margin-bottom:-2px;*/
	}
	
#art_cat_title a
	{
		padding-top:5px;
		padding-left:8px;
		padding-right:8px;
		padding-bottom:0;
		border:1px solid #eacd97;
		border-bottom:0;
		-moz-border-radius-topleft:5px;
		-moz-border-radius-topright:5px;
		-webkit-border-radius:5px 5px 0 0;
		color:#00b0ea;
		font-weight:bold;
		font-family:arial;
		font-size:10pt;
		text-transform:uppercase;
		text-decoration:none;
		background-color:#ffffff;
	}
	
#art_cat_title span
	{
		font-size:7pt;
		font-weight:normal;
		float:right;
		color:#d77f0d;
		text-transform:none;
		background-color:#fdfbf7;
	}
	
#art_cat_body
	{
		padding-top:8px;
		padding-left:8px;
		padding-right:8px;
		padding-bottom:15px;
		border:1px solid #eacd97;
		border-radius:0 0 5px 0;
		-moz-border-radius:0 0 5px 0;
		-webkit-border-radius:0 0 5px 0;
		background-color:#ffffff;
	}

#art_cat_body_des td
	{
		width:100%;
		border-bottom:1px dotted #000000;
		padding-top:5px;
		padding-bottom:5px;
	}
		
#art_cat_body_des td a
	{
		text-decoration:none;
		color:#333333;
		font-size:9pt;
		font-weight:bold;
	}
	
#art_cat_body_des td a:hover
	{
		color:#d77f0d;
	}
	
#art_cat_body td img
	{
		width:216px;
		height:144px;
		border:1px solid #eacd97;
		float:right;
	}
		
.display2
	{
		display:none;
	}

#art_cat_title.bor1
	{
		border-bottom:0;
		margin-bottom:-2px;
	}
	
#back
	{
		float:right;
		text-decoration:none;
		font-size:10pt;
		font-weight:bold;
		color:#4f2613;
	}
	
#back img
	{
		width:6px;
		height:10px;
		border:0;
		vertical-align:absmiddle;
	}
	
#art1_pic img
	{
		width:103px;
		height:71px;
		border:1px solid #eacd97;
		border-radius:0;
		margin:1px;
		/*margin-left:3px;*/
		padding:0;
		
	}
	
#art_button
	{
		margin-top:-42px;
		margin-bottom:43px;
	}
	
#art_button img
	{
		width:6px;
		height:10px;
		cursor:pointer;
	}
	
#art_pic_over img
	{
		width:350px;
		height:250px;
		top:-200px;
		left:400px;
		position:relative;
		border:1px solid #EACD97;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	}