.sharmclub{}

body{margin-top:0;}

#form_login #forget_pass
	{
		padding:5px;
		PADDING-TOP:2PX;
		width:95%;
		height:90px;
		vertical-align:top;
		text-align:left;
	}
	
#form_login #for_close
	{
		display:inline-block;
		cursor:pointer;
		float:right;
		text-align:right;
		color:#DF9A18;
		font-size:9pt;
		font-weight:bold;
		text-transform:uppercase;
		padding-bottom:3px;
		border-bottom:1px dotted #4F2613;
		width:100%;
		margin-bottom:3px;
		padding-top:0;
	}
	
#form_login #forget_pass label
	{
		color:#4F2613;
		font-size:8pt;
		text-transform:capitalize;
		display:inline-block;
		margin-bottom:5px;
		clear:both;
		width:100%;
	}
	
#form_login #forget_pass input
	{
		border: 1px solid #BAA589;
		border-radius: 3px 3px 3px 3px;
		color: #BAA589;
		font-size: 7pt;
		margin-bottom: 8px;
		margin-top: 0px;
		width:100%;
	}
	
#form_login #forget_pass button
	{
		background-color:#f2d39b;
		color:#4f2613;
		border:1px solid #baa589;
		border-radius:5px;
		font-size:8pt;
		float:right;
	}

#container
	{
		width:1000px;
		height:auto;
		border-bottom:1px solid #eacd97;
		border-left:1px solid #eacd97;
		border-right:1px solid #eacd97;
		border-top:0;
		background-color:#ffffff;
		padding:1px 10px 7px 10px;
		font-family:arial;
		z-index:90;
	}
	
#bannar 
	{
		border:0;
		height:auto;
		width:100%;
		padding:2px;
		font-size:7pt;
		font-weight:bold;
		color:#000000;
		padding-top:0;
		margin-top:0;
		margin-bottom:0;
	}
	
#bannar  a
	{
		text-decoration:none;
		text-transform:uppercase;
		font-family:arial;
		color:#000000;
		font-size:8pt;
		font-weight:bold;
		padding-top:0;
		margin-top:0;
	}
	
#bannar a:hover
	{
		text-decoration:none;
		text-transform:uppercase;
		font-family:arial;
		color:#eda827;
		font-size:8pt;
		font-weight:bold;
		padding-top:0;
		margin-top:0;
	}
	
#bannar a:active
	{
		text-decoration:none;
		text-transform:uppercase;
		font-family:arial;
		color:#eda827;
		font-size:8pt;
		font-weight:bold;
		padding-top:0;
		margin-top:0;
	}
	
#bannar img
	{
		vertical-align:middle;
		padding-top:0;
		margin-top:0;
	}
	
#bannar span
	{
		margin-right:1px;
		margin-left:1px;
		padding-top:0;
		margin-top:0;
	}
	
#bannarlogo_pic
	{
		margin-right:0;
		padding-right:0;
		
	}
	
#bannarlogo_pic img
	{
		border-top:1px solid #eacd97;
		border-bottom:1px solid #eacd97;
		margin-right:0;
		padding-right:0;
	}
	
#hozmenu
	{
		/*border-bottom:1px solid #eacd97;
		padding-bottom:4px;*/
	}
	
#form_login
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #eacd97;
		background-color:#fdfbf7;
		margin-left:0;
		padding-left:0;
		font-size:7pt;
		
	}

#sign
	{
		margin-bottom:0;
	}
	
.border1
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
.border2
	{border:0}
	
#form_login td	
	{
		padding-left:0;
		margin-left:0;
		
	}
	
#form_login input
	{
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border:1px solid #baa589;
		color:#baa589;
		font-size:7pt;
	}
	
#form_login a
	{
		text-decoration:underline;
		font-family:arial;
		font-size:7pt;
		color:#df9a18;
		text-transform:none;
	}
	
#form_login a:hover
	{
		text-decoration:none;
		font-family:arial;
		font-size:7pt;
		color:#df9a18;
		text-transform:none;
	}
	
#form_login a:active
	{
		text-decoration:underline;
		font-family:arial;
		font-size:7pt;
		color:#df9a18;
		text-transform:none;
	}
	
#form_login span
	{
		color:#4f2613;
		font-size:7pt;
		text-transform:uppercase;
		margin-right:0px;
		margin-left:0px;
		padding-top:2px;
		margin-top:0;
		font-weight:bold;
	}
	
#form_login img
	{
		border:0;
		vertical-align:middle;
	}
	
	
#footer
	{
		width:100%;
		height:auto;
		color:#a45d0e;
		font-family:arial;
		font-size:8pt;
		margin-top:0px;
		padding-bottom:5px;
	}

#footer td
	{
		margin-top:0px;
		padding-top:0px;
	}
	
#footer img
	{
		vertical-align:middle;
		padding-left:1px;
		padding-right:6px;
		border:0;
		
	}
	
#footer a
	{
		text-transform:capitalize;
		text-decoration:none;
		font-family:arial;
		color:#a45d0e;
		font-size:8pt;
		margin-bottom:10px;
	}

#footer a:hover
	{
		text-transform:capitalize;
		text-decoration:none;
		font-family:arial;
		color:#000000;
		font-size:8pt;
		padding-bottom:10px;
	}
	
#footer a:active
	{
		text-transform:capitalize;
		text-decoration:none;
		font-family:arial;
		color:#d4b478;
		font-size:8pt;
		margin-bottom:10px;
	}
	
#footersup
	{
		width:100%;
		height:auto;
		color:#a45d0e;
		font-family:arial;
		font-size:8pt;
	}
	
	
#form_loged
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #eacd97;
		background-color:#fdfbf7;
		font-family:arial;
		font-size:7pt;
		color:#4f2613;
		padding-left:6px;
		padding:right:6px;
	}
	
#form_loged input
	{
		background-color:#f0cb84;
		color:#2d150a;
		text-transform:uppercase;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
	
#form_loged td
	{
		border-bottom:1px dotted #4f2613;
		padding-bottom:5px;
		padding-top:5px;
		padding-right:5px;
		padding-left:5px;
	}
	
#form_loged a
	{
		text-decoration:none;
		color:#4f2613;
		font-family:arial;
		font-size:7pt;
		text-transform:none;
	}
	
#form_loged a:hover
	{
		text-decoration:underline;
		color:#4f2613;
		font-family:arial;
		font-size:7pt;
		text-transform:none;
	}
		
#form_loged a:active
	{
		text-decoration:none;
		color:#4f2613;
		font-family:arial;
		font-size:7pt;
		text-transform:none;
	}
	
#form_loged span
	{
		text-transform:uppercase;
		font-size:7pt;
	}
	
#p_image
	{
		border:1px solid #eacd97;
		vertical-align:top;
		width:37px;
		height:37px;
	}
	
	
#content1
	{
		width:100%;
		margin-top:1px;
		margin-bottom:4px;
		border:0;
		max-height:300px;
		overflow:hidden;
	}
	

	
#content1_col1
	{
		width:242px;
		margin-right:0px;
		height:300px;
	}
	
#content1_col2
	{
		max-width:471px;
		padding:0;
		margin:0;
		padding:0;
		text-align:left;
	}
	
#content1_col2 img
	{
		border:1px solid #e5eef7;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		padding:0;
		margin:0;
		height:300px;
		width:469px;
		z-index:1;
		float:left;
	}
	
#content1_col2 div.grays
	{
		float:left;
		position:absolute;
		background-color:rgba(255,255,255,0.7);
		border-radius:5px;
		width:469px;
		height:55px;
		margin-top:250px;
		margin-left:1px;
		z-index:2;
	}
	
#content1_col2 div.header
	{
		width:469px;
		text-align:center;
		margin-top:250px;
		position:absolute;
	}
	
#content1_col2 div.header h1
	{
		float:left;
		position:absolute;
		z-index:3;
		margin:0;
		padding:0;
		margin-left:75px;
		margin-top:15px;
		color:#4F2613;
		font-size:18pt;
		font-weight:bold;
		text-transform:uppercase;
		text-align:center;
	}
	
#content1_col3
	{
		width:242px;
		margin-right:5px;
		max-height:300px;
		margin-left:0;
		padding-left:0;
	}
	
#content1_col3 img
	{
		border:0;
	}
	
#content1_col3_row1
	{
		border:1px solid #e46345;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		margin-bottom:5px;
		background-color:#fffffe;
		padding-left:15px;
		padding-top:8px;
		width:100%;
		overflow:hidden;
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		color:#e46345;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
	}
	
#content1_col3_row1 a
	{
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		color:#e46345;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
	}
	
#content1_col3_row1 a:hover
	{
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		color:#e46345;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
	}
	
#content1_col3_row1 a:active
	{
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		color:#e46345;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
	}
	
#content1_col3_row1 p
	{
		font-family:arial;
		font-size:8pt;
		color:#000000;
		margin-top:6px;
		margin-bottom:0;
		padding-bottom:5px;
		padding-right:8px;
		max-width:200px;
		font-weight:normal;
	}
	
#content1_col3_row2
	{
		background-color:#e9ffff;
		padding-left:15px;
		padding-top:5px;
		padding-right:6px;
		padding-bottom:0;
		font-family:arial;
		font-size:8pt;
		width:242px;
		height:100%;
		vertical-align:top;
		border:1px solid #ebcd97;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	}

#content1_col3_row2 div
	{
		display:block;
		max-height:195px;
		overflow:hidden;
	}


#content1_col3_row2 div::-webkit-scrollbar {
    width: 6px;
}

#content1_col3_row2 div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f6fdff;
    border-radius: 10px;
}

#content1_col3_row2 div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #3c86a9;
}
	
	
#content1_col3_row2 td
	{
		border-bottom:1px dotted #3a6273;
		padding-right:5px;
		font-family:arial;
		font-weight:bold;
		font-size:8pt;
		color:#00b0ea;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
		padding-top:3px;
		margin-top:3px;
	}
	
#content1_col3_row2 a
	{
		font-family:arial;
		font-weight:bold;
		font-size:8pt;
		color:#00b0ea;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
		padding-top:3px;
		margin-top:3px;
	}
	
#content1_col3_row2 a:hover
	{
		font-family:arial;
		font-weight:bold;
		font-size:8pt;
		color:#00b0ea;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
		padding-top:3px;
		margin-top:3px;
	}
	
#content1_col3_row2 a:active
	{
		font-family:arial;
		font-weight:bold;
		font-size:8pt;
		color:#00b0ea;
		text-transform:none;
		margin-bottom:2px;
		text-decoration:none;
		padding-top:3px;
		margin-top:3px;
	}
	
#content1_col3_row2 p
	{
		font-family:arial;
		font-size:8pt;
		color:#000000;
		margin-top:6px;
		margin-bottom:0;
		max-width:200px;
		padding-bottom:5px;
		padding-right:8px;
		font-weight:normal;
	}
	
	
	
#content2_col1
	{
		width:242px;
		margin-right:0;
		background-color:#f2f8e3;
		border:1px solid #ffffff;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:9pt;
		font-family:arial;
		color:#000000;
		/*padding:5px 0 5px 2px;*/
		padding:0;
		height:auto;
	}
	
#content2_col1 img
	{
		border:0;
	}
	
#content2_col1 td
	{
		border-bottom:1px dotted #3a6273;
		padding:3px;
		margin:2px;
	}
	
#content2_col1 a
	{
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		color:#587c16;
		text-transform:uppercase;
		margin-bottom:2px;
		text-decoration:none;
		padding-top:3px;
		margin-top:3px;
	}
	
#content2_col1 a:hover
	{
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		color:#587c16;
		text-transform:uppercase;
		margin-bottom:2px;
		text-decoration:none;
		padding-top:3px;
		margin-top:3px;
	}
	
#content2_col1 a:active
	{
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		color:#587c16;
		text-transform:uppercase;
		margin-bottom:2px;
		text-decoration:none;
		padding-top:3px;
		margin-top:3px;
	}
	
#content2_col1 p
	{
		font-family:arial;
		font-size:9pt;
		color:#000000;
		margin-top:6px;
		padding-bottom:5px;
		padding-right:8px;
	}
	
#content2_col1 div
	{
		display:block;
		height:auto;
		padding-right:0;
	}
	

#content2_col1 div::-webkit-scrollbar {
    width: 6px;
}

#content2_col1 div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #cfddb2;
    border-radius: 10px;
}

#content2_col1 div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #83a642;
}



	
#content2_col2
	{
		width:100%
	}
	
	
	
#myaccount
	{
		background-color:#e9ffff;
		width:242px;
		height:auto;
		border:1px solid #e9ffff;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		text-transform:none;
		font-weight:bold;
	}
	
#myaccount td
	{
		border-bottom:1px dotted #3c86a9;
		padding-bottom:5px;
		width:242px;
		color:#00b0ea;
		font-size:9pt;
	}
	
#myaccount a
	{
		text-decoration:none;
		color:#00b0ea;
		cursor:pointer;
	}
	
	
#book
		{
			width:250px;
			float:right;
			margin-top:14px;
			margin-left:30px;
			font-family:arial;
			font-weight:bold;
			font-size:9pt;
			text-transform:none;
			text-align:center;
			color:#000000;
			border-bottom:1px solid #eacd97;
			padding-bottom:17px;
		}
		
#book a
	{
		font-size:9pt;
		color:black;
		text-decoration:none;
	}
	
#book a:hover
	{
		font-size:9pt;
		color:#eea826;
		text-decoration:none;
	}
	
#book a:active
	{
		font-size:9pt;
		color:#eea826;
		text-decoration:none;
	}
	
#cart_empty
	{
		position:relative;
		top:5px;
		left:-90px;
		padding:0;
		margin:0 0 -19px 0;
		display:none;
	}
	
#nofications
	{
		display:none;
		z-index:99;
		position:relative;
		margin-bottom:-112px;
		background-color:#fdfbf8;
		border:1px solid #eacd97;
		border-radius:15px;
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
		padding:5px;
		width:242px;
		height:100px;
		font-family:arial;
		font-size:8pt;
		font-weight:bold;
		color:#472718;
		text-align:center;
		vertical-align:center;
	}

#nofications div
	{
		width:100%;
		height:100%;
		padding:auto;
	}
	
	