	.booking_clear
				{  
					clear: both;  
					height: 0;  
					visibility: hidden;  
					display: block;  
				} 

			#booking input
				{
					border: 1px solid #BAA589;
					border-radius: 5px 5px 5px 5px;
					color: #BAA589;
					font-size: 8pt;
					padding: 2px;
				}
				
		
			#booking
				{
					margin:0;
					padding:2px;
					padding-right:0;
					vertical-align:baseline;
					width:242px;
					height:300px;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					background-color:white;
				}
				
			#booking ul
				{
					list-style:none;
					padding:0;
					margin:0;
				}
				
			#booking ul.booking_menu li
				{
					float:left;
					margin-right:3px;
					margin-bottom:-1px;
					display:block;
					font-weight:bolder;
					padding:3px;
					padding-right:30px;
					background-color:#fff;
					text-transform:capitalize;
					border:1px solid #ebcd97;
					border-top-left-radius:5px;
					border-top-right-radius:5px;
					-webkit-border-radius:5px 5px 0 0;
					-webkit-border-radius:5px 5px 0 0;
					text-align:left;
					cursor:pointer;
					font-family:arial;
					font-size:8pt;
					color:#4f2613;
					position:relative;
					line-height:10px;
				}
				
			#booking ul.booking_menu li.active
				{
					top:1px;
					border-bottom:0;
					color:#4f2613;
					background-color:#eea826;
				}
				
			.book_way
				{
					float:right;
					font-family:arial;
					font-size:8pt;
					font-weight:bold;
					color:#ffffff;
					border-left:1px solid #ffffff;
				}
				
			.book_way img
				{
					padding-right:5px;
				}
					
			.booking_content
				{
					border:1px solid #daa13d;
					-moz-border-radius:5px;
					-webkit-border-radius:5px;
					border-radius:5px;
					padding-top:8px;
					text-align:left;
					padding-left:5px;
					padding-right:5px;
					overflow:hidden;
					background-color:#eea826;
				}
				
			.booking_content table
				{
					width:100%;
				}
			
			.booking_content table td
				{
					border-bottom:1px dotted #FFFFFF;
					padding-bottom:3px;
					vertical-align:top;
				}
							
			.booking_content table td table td
				{
					border:0;
					vertical-align:top;
					padding-bottom:0;
				}
				
			.booking_content table td table td span
				{
					font-family:arial;
					font-size:8pt;
					color:#4f2613;
					font-weight:bold;
				}
			
			.booking_content table td button
				{
					text-transform:uppercase;
					font-size:8pt;
					font-weight:bold;
					font-family:arial;
					color:#4f2613;
					float:right;
					background-color:#f5ddb1;
					border:1px solid #baa589;
					border-radius:5px;
					-webkit-border-radius:5px;
					-moz-border-radius:5px;
				}
				
			.booking_content table td button img
				{
					border:0;
					vertical-align:middle;
					padding-left:3px;
				}
				
			.booking_content h3
				{
					padding-top:0;
					padding-bottom:0;
					margin-top:0;
					margin-bottom:5px;
					padding-left:0;
					font-family:arial;
					font-weight:bold;
					font-size:9pt;
					color:#ffffff;
					text-transform:uppercase;
				}
				
			.booking_content label
				{
					font-family:arial;
					font-size:8pt;
					text-transform:capitalize;
					color:#ffffff;
					font-weight:bold;
					margin-right:10px;
				}
				
			.booking_content select
				{
					border-radius:5px;
					-moz-border-radius:5px;
					-webkit-border-radius:5px;
					border:1px solid #baa589;
					overflow:hidden;
					background-color:#f9eabc;
					-webkit-appearance: button;
					-webkit-border-radius: 5px;
					color:black;
					font-size:8pt;
					margin-right:2px;
				}
				
			.booking_content p
				{
					padding-top:0;
					margin-top:10px;
					padding-left:0;
					margin-bottom:3px;
					text-transform:capitalize;
					font-size:7pt;
					font-family:arial;
					color:#ffffff;
					line-height:18px;
				}
								
			.booking_content.hotel_only
				{
					display:none;
				}
				
			/*.booking_content.hotel_only img
				{
					border:1px solid #ebcd97;
					border-radius:5px;
					-webkit-border-width:5px;
					-o-boder-width:5px;
					-ms-layout-grid:5px;
					margin-top:0;
					margin-right:3px;
					margin-left:3px;
					margin-bottom:3px;
					width:56px;
					height:46px;
				}*/

			.booking_content.hotel_flight
				{
					display:none;
				}
		
			.booking_content.flight_only
				{
					display:block;
				}
			