.sharm-club{}

#book_body
	{
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		width:469px;
		height:100%;
		background-color:#fcfbf7;
		border:1px solid #e8cd98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-boder-radius:5px;
	}

#book_body td
	{
		border-bottom:1px dotted #5b3522;
		vertical-align:top;
		padding-top:1px;
		padding-bottom:1px;
	}
	
#book_body h5
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
		margin-top:1px;
	}
	
#book_body h5 a
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
		margin-top:1px;
		text-transform:none;
		text-decoration:none;		
	}
	
#book_body h5 a:hover
	{
		text-decoration:underline;
	}
	
#book_body h1
	{
		color:#4f2612;
		text-transform:none;
		margin-top:2px;
		margin-bottom:2px;
		font-family:arial;
		font-size:16pt;
	}
	
#book_body h4
	{
		color:#e08d22;
		font-family:arial;
		text-transform:none;
		font-size:10pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
	}
	
#book_body h4 img
	{
		height:25px;
		width:20px;
		vertical-align:bottom;
		margin:0;
		padding:0;
	}
	
#book_body h4 a
	{
		color:#eacd97;
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
		text-decoration:none;
		vertical-align:middle;
	}
	
#book_body h4 a span
	{
		font-size:16pt;
	}
	
#book_body h4 a:hover
	{
		color:#e08d22;
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
		text-decoration:underline;
	}
	
#book_body h4 a:active
	{
		color:#e08d22;
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
		text-decoration:none;
	}
	
#book_body h4 a:visited
	{
		color:#e08d22;
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
		text-decoration:none;
	}
	
#tour_body_des h4
	{
		margin-top:1px;
		margin-bottom:10px;
		padding-top:3px;
		padding-bottom:1px;
		font-size:9pt;
		font-family:arial;
		text-transform:uppercase;
		color:#E08D22;
	}
	
#book_tour
	{
		margin-bottom:8px;
		margin-top:8px;
	}
	
#book_tour form
	{
		margin:0;
		padding:0;
	}
	
#book_tour form input 
	{
		border:1px solid #baa589;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		margin:0;
		padding:0;
	}
	
#book_tour p
	{
		font-size:10pt;
		color:#4f2613;
		text-transform:none;
		font-weight:bold;
	}
	
#book_tour_form
	{
		width:100%;
		height:auto;
	}
	
#book_tour_form td
	{
		border:0;
		font-family:arial;
		color:#4f2613;
		font-size:9pt;
		font-weight:normal;
		text-align:left;
		vertical-align:top;
		width:auto;
		padding-top:2px;
		padding-bottom:2px;
		padding-right:4px;
	}
		
#book_tour_form select
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		overflow:hidden;
		background-color:#f9eabc;
		-webkit-appearance: button;
		-webkit-border-radius: 5px;
		color:black;
		font-size:8pt;
	}
	
#book_tour_form input
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
		margin-bottom:5px;
	}

#book_tour_form textarea
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#book_tour1
	{
		padding-top:10px;
		padding-bottom:10px;
		border-top:0px dotted #d77f0d;
		border-bottom:0px dotted #d77f0d;
		/*margin-bottom:5px;*/
	}
	
#book_tour1 table
	{
		border-bottom:1px dotted #d77f0d;
		margin-bottom:2px;
		padding-bottom:2px;
	}
	
#book_tour1 p
	{
		font-size:9pt;
		color:#4f2613;
		text-transform:none;
		font-weight:normal;
	}
	
	
#book_tour_form1
	{
		width:100%;
		height:auto;
	}
#book_tour_form1 td
	{
		border:0;
		font-family:arial;
		color:#4f2613;
		font-size:9pt;
		font-weight:normal;
		text-align:left;
		vertical-align:top;
		width:auto;
		padding-top:2px;
		padding-bottom:2px;
		padding-right:4px;
	}
		
#book_tour_form1 select
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		overflow:hidden;
		background-color:#f9eabc;
		-webkit-appearance: button;
		-webkit-border-radius: 5px;
		color:black;
		font-size:8pt;
	}
	
#book_tour_form1 input
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}


#tour_body_des button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;		
	}
	
	
#book_body button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		margin-top:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
	
	
#agree_term a
	{
		font-size:9pt;
		color:#4f2613;
		font-family:arial;
		text-decoration:none;
	}
	
#agree_term a:hover
	{
		text-decoration:underline;
	}
	
	
.dear_invoice
	{
		font-size:8pt;
		font-weight:bold;
		color:#4f2613;
	}

.dear_invoice a
	{
		text-decoration:underline;
		color:#4f2613;
		cursor:pointer;
	}
	
#invoice
	{
		width:100%;
		height:auto;
		border:1px solid #E8CD98;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#ffffff;
		padding:95px 0 0 0;
		margin-top:8px;
		font-family:arial;
		font-size:8pt;
		color:#4f2613;
		background-image:url("images/invoice_top.gif");
		background-position:top left;
		background-repeat:no-repeat;
	}
	
#invoice img
	{
		padding:0;
		margin:0;
		margin-bottom:-10px;
		padding-right:-8px;
		border:1px solid red;
	}
	
#invoice p
	{
		font-size:8pt;
		color:#4f2613;
		padding:1px 8px 1px 10px;
		margin-bottom:15px;
	}
	
#invoice p a
	{
		color:#d4b478;
	}
	
#invoice_bottom
	{
		margin-top:-84px;
		margin-right:-1px;
		float:right;
		z-index:-1;
	}
	
.invoice_head
	{
		font-family:arial;
		font-size:9pt;
		color:#4f2613;
		background-color:#e6f7fe; 
		border-top:1px solid #E8CD98;
		border-bottom:1px solid #E8CD98;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		margin-bottom:8px;
		margin-top:5px;		
	}

.invoice_head span
	{
		
	}
	
#invoice table
	{
		border-collapse:collapse;
	}

#invoice td 
	{
		border-top:0;
		border-bottom:1px solid #E8CD98;
		border-left:1px solid #E8CD98;
		text-align:center;
	}
	
#invoice th
	{
		font-family:arial;
		color:#4f2613;
		font-size:9pt;
		font-weight:bold;
		text-transform:uppercase;
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
		padding-top:10px;
		text-align:center;
		vertical-align:center;
		border-right:1px solid #E8CD98;
		border-bottom:1px solid #E8CD98;
	}
