#calender8
	{
		position:absolute;
		display:none;
		z-index:10;
		width:180px;
	}


#cal 
	{
		background-color:#4f2613;
	}
	
.cal_arrow
	{
		background-color:#eacd97;	
		padding:2px;
		border:1px solid #eacd97;
		border-radius:50px;
		cursor:pointer;
	}

.week
	{
		text-transform:uppercase;
		font-family:arial;
		color:#f6ae1b;
		font-size:8pt;
	}
				
.week a
	{
		text-transform:uppercase;
		font-family:arial;
		color:#f6ae1b;
		font-size:8pt;
		text-decoration:none;
	}
				
.week a:hover
	{
		text-transform:uppercase;
		font-family:arial;
		color:#4f2613;
		font-size:8pt;
		text-decoration:none;
	}
				
.day
	{
		font-family:arial;
		font-size:8pt;
		font-weight:normal;
		color:#845e16;
		text-decoration:none;
		text-align:right;
	}
				
.day a
	{
		font-family:arial;
		font-size:8pt;
		font-weight:normal;
		color:#845e16;
		text-decoration:none;
		padding:2px;
	}
				
.day a:hover
	{
		font-family:arial;
		font-size:8pt;
		font-weight:normal;
		color:#4c2800;
		text-decoration:none;
		padding:2px;
	}
				
.day a:active
	{
		font-family:arial;
		font-size:8pt;
		font-weight:normal;
		color:#4c2800;
		text-decoration:none;
		padding:2px;
	}
				
				
#calender8 table
	{
		border:1px solid #f6ae1b;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background-color:#ffffff;
		padding:0;
	}
				
#calender8 td
	{
		padding:4px;
	}
			
#months8
	{
		text-transform:uppercase;
		font-size:9pt;
		font-weight:bold;
		font-family:arial;
		color:#f6ae1b;
		padding-left:5px;
		padding-right:5px;
	}
				
#years8
	{
		text-transform:uppercase;
		font-size:9pt;
		font-weight:bold;
		font-family:arial;
		color:#f6ae1b;
		padding-left:5px;
		padding-right:5px;
	}
			
.t
	{
		width:20px; 
		height:20px;
		border:1px solid #eed9b4;
		background-color:#f8f1e1;
	}
	
#days8
	{
		padding-bottom:8px;
		padding-top:0; 
		padding-left:0; 
		padding-right:0;
		border-bottom:1px dotted #f6ae1b;
	}

#days8 table
	{
		border:0;
	}
	
.dDisable
	{
		color:#ecd6ac;
		font-size:8pt;
	}

.dDisableTD
	{
		background-color:#fcf9f4;
		border:1px solid #f9f1e4;
	}
	
#cal_close8
	{
		font-size:12pt;
		font-family:arial;
		font-weight:bold;
		float:right;
		color:#ffffff;
		padding-top:2px;
		padding-bottom:2px;
		padding-left:5px;
		padding-right:5px;
		background-color:#f6ae1b;
		vertical-align:middle;
		text-align:center;
		cursor:pointer;
	}