.sharmclub{}

#contact_body
	{
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		width:100%;
		background-color:#fcfbf7;
		border:1px solid #e8cd98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-boder-radius:5px;
	}
	
#contact_body td
	{
		border-bottom:1px dotted #4f2613;
		vertical-align:top;
		padding-top:1px;
		padding-bottom:1px;
	}

#contact_body h5
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
		margin-top:1px;
	}
	
#contact_body h5 a
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		text-decoration:none;
		text-transform:none;
	}
	
#contact_body h5 a:hover
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		text-decoration:underline;
		text-transform:none;
	}
	
#contact_body h1
	{
		color:#4f2612;
		text-transform:none;
		margin-top:2px;
		margin-bottom:2px;
		font-family:arial;
		font-size:16pt;
	}
	
#contact_body h4
	{
		color:#d77f0d;
		font-family:arial;
		text-transform:none;
		font-size:10pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
	}
	
#contact_body p
	{
		font-size:8.5pt;
		color:#4f2612;
		margin-top:2px;
		margin-bottom:2px;
	}

#contact_body form
	{
		width:100%;
		border-bottom:1px dotted #da8920;
		padding-bottom:5px;
		margin-bottom:5px;
	}
	
#contact_body form table
	{
		width:100%;
	}
	
#contact_body form label
	{
		font-family:arial;
		font-size:9pt;
		color:#4f2613;
		padding-left:0;
	}
	
#contact_body form td
	{
		border:0;
		/*width:auto;*/
		padding-left:0;
	}
	
#contact_body input
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#contact_body textarea
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#contact_body form button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
	
#contact_body button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
