		#img_gallery
			{
				width:722px;
				height:auto;
				border-top:1px solid #eacd97;
				background-color:#fff;
				/*margin-top:7em;*/
			}
			
		#img_gallery hr
			{
				height:5px;
				/*background-color:green;*/
				margin-top:0;
				padding-top:0;
				margin-bottom:1px;
				border:0;
				width:133px;
				float:left;
			}
			
		#img_gallery div
			{
				background-color:#ffffff;
				/*border:1px solid red;*/
				width:133px;
				height:auto;
				margin-left:5px;
				margin-top:2px;
				margin-bottom:10px;
				float:left;	
				text-align:left
			}
			
			
		#img_gallery div a
			{
				text-align:left;			
			}
			
		#img_gallery div img
			{
				width:133px;
				height:108px;
				border-width:1px;
				margin-top:1px;
				padding:left:0;
			}
			
		#img_gallery h2
			{
				color:#3c86a9;
				font-size:11pt;
				font-family:arial;
				text-align:left;
				margin-top:10px;
				margin-bottom:2px;
				padding-bottom:0;
				font-weight:bold;
				text-transform:uppercase;
				
			}
		#img_gallery h3
			{
				color:#3c86a9;
				font-size:8pt;
				font-family:arial;
				text-align:left;
				margin-top:1px;
				margin-bottom:2px;
				padding-bottom:1px;
				font-weight:bold;
				text-transform:none;
				width:130px;
			}
			
		#img_gallery a
			{
				color:#000000;
				font-size:8pt;
				font-family:arial;
				text-align:left;
				margin-bottom:0px;
				padding-bottom:1px;
				font-weight:normal;
				text-transform:none;
				text-decoration:none;
				width:128px;
			}
			
		#img_gallery a:hover
			{
				color:#000000;
				font-size:8pt;
				font-family:arial;
				text-align:left;
				margin-bottom:0px;
				padding-bottom:1px;
				font-weight:normal;
				text-transform:none;
				text-decoration:underline;
				width:128px;
			}
			
		.active
			{
				display:block;
			}
			
		 .notactive
			{
				display:none;
			}
			
		
			
		#button
			{
				/*border:1px solid black;
				margin-top:-400px;*/
				float:left;
				/*margin-right:142px;*/
			}
	