		.clear
				{  
					clear: both;  
					height: 0;  
					visibility: hidden;  
					display: block;  
				} 
		
		#tour_container
				{
					margin:0;
					padding:5px;
					vertical-align:baseline;
					width:716px;
					border-top:1px solid #ebcd97;
					font-family:arial;
					font-size:11pt;
					color:#000000;
					background-color:white;
					
				}
				
		#tour_container ul
				{
					list-style:none;
					margin:0;
					padding:0;
					
				}
				
		#tour_container ul.tour_menu li
				{
					float:right;
					margin-left:3px;
					margin-bottom:-1px;
					display:block;
					font-weight:bold;
					padding:4px;
					padding-bottom:5px;
					background-color:#fff;
					text-transform:uppercase;
					border:1px solid #ebcd97;
					border-top-left-radius:5px;
					border-top-right-radius:5px;
					-webkit-border-radius:5px 5px 0 0;
					-webkit-border-radius:5px 5px 0 0;
					text-align:center;
					cursor:pointer;
					font-family:arial;
					font-size:10pt;
					color:#5a3421;
					position:relative;
				}
				
		#tour_container ul.tour_menu li.active
				{
					top:1px;
					border-bottom:0;
					color:#ef795b;
				}
				
		#tour_container ul.tour_menu li.active1
				{
					top:1px;
					border-bottom:0;
					color:#3c86a9;
				}
				
		#tour_container ul.tour_menu li.active2
				{
					top:1px;
					border-bottom:0;
					color:#93b532;
				}
				
		#tour_container ul.tour_menu li.active3
				{
					top:1px;
					border-bottom:0;
					color:#e4a63f;
				}
				
		#tour_container ul.tour_menu li.active4
				{
					top:1px;
					border-bottom:0;
					color:#ef795b;
				}
		
		#tour_container ul.tour_menu li.active5
				{
					top:1px;
					border-bottom:0;
					color:#DF6718;
				}
				
		.content
				{
					border-top:1px solid #ebcd97;
					padding-top:15px;
					text-align:left;
					padding-left:10px;
				}
				
		.content h3
				{
					padding-top:0;
					padding-bottom:0;
					margin-top:0;
					margin-bottom:0;
					padding-left:20px;
					font-size:11pt;
					color:#eea826;
					text-transform:none;
				}
				
		.content p
				{
					padding-top:0;
					margin-top:10px;
					padding-left:20px;
					margin-bottom:20px;
					text-transform:none;
					font-size:9pt;
					font-family:arial;
					color:#000000;
					line-height:18px;
				}
								
		.content.tour_gallery
				{
					display:none;
				}
				
		.content.tour_gallery img
				{
					border:1px solid #ebcd97;
					border-radius:5px;
					-webkit-border-width:5px;
					-o-boder-width:5px;
					-ms-layout-grid:5px;
					margin-top:0;
					margin-right:3px;
					margin-left:3px;
					margin-bottom:3px;
					width:56px;
					height:46px;
				}

		.content.tour_day1
				{
					display:block;
				}
		
		.content.tour_day2
				{
					display:none;
				}
				
		.content.tour_price
				{
					display:none;
				}
				
		.content.tour_preview
				{
					display:none;
				}
		
		.content.tour_day3
				{
					display:none;
				}
				
		.content.tour_day4
				{
					display:none;
				}
				
		.content.tour_day5
				{
					display:none;
				}
				
		.content.tour_day6
				{
					display:none;
				}
				
		.content.tour_day7
				{
					display:none;
				}
				
		.content.tour_day8
				{
					display:none;
				}
				
		.content.tour_day9
				{
					display:none;
				}
				
		.content.tour_day10
				{
					display:none;
				}
				
		.content.tour_day11
				{
					display:none;
				}
				
		.content.tour_day12
				{
					display:none;
				}
				
		.content.tour_day13
				{
					display:none;
				}
				
		.content.tour_day14
				{
					display:none;
				}
				
		.content.tour_day15
				{
					display:none;
				}
				
		
				
		#des 
			{
				color:#4d2714;
				font-family:arial;
				font-size:9pt;
				text-transform:none;
				max-width:469;
				overflow:hidden;
				padding-left:10px;
			}

			
		#largeimg 
			{
				width:469px;
				height:341px;
				border:1px solid #EBCD97;
				border-radius:5px;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				margin-right:6px;
			}