.sharmclub{}

#hotel_body
	{
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		width:100%;
		background-color:#fcfbf7;
		border:1px solid #e8cd98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-boder-radius:5px;
	}
	
#hotel_body td
	{
		border-bottom:1px dotted #4f2613;
		vertical-align:top;
		padding-top:1px;
		padding-bottom:1px;
	}

#hotel_body h5
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
		margin-top:1px;
	}
	
#hotel_body h5 a
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		text-decoration:none;
		text-transform:none;
	}
	
#hotel_body h5 a:hover
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		text-decoration:underline;
		text-transform:none;
	}
	
	
#hotel_body h1
	{
		color:#4f2612;
		text-transform:none;
		margin-top:2px;
		margin-bottom:2px;
		font-family:arial;
		font-size:16pt;
	}
	
#hotel_body h4
	{
		color:#d77f0d;
		font-family:arial;
		text-transform:none;
		font-size:10pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
	}

#hotel_body h3
	{
		font-family:arial;
		text-transform:none;
		font-size:10.5pt;
		font-weight:bold;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:5px;
		color:#4f2613;
	}

#hotel_body h3 a
	{
		font-family:arial;
		text-transform:none;
		font-size:10.5pt;
		font-weight:bold;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:5px;
		color:#4f2613;
		text-decoration:none;
	}
	
#hotel_body h3 a:hover
	{
		text-decoration:underline;
	}

	
#hotel_body p
	{
		font-size:8.5pt;
		color:#4f2612;
		margin-top:2px;
		margin-bottom:15px;
	}

#hotel_invoice
	{
		width:100%;
		height:auto;
		border:1px solid #E8CD98;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#ffffff;
		padding:95px 0 0 0;
		margin-top:8px;
		font-family:arial;
		font-size:8pt;
		color:#4f2613;
	}
	
#hotel_invoice h4
	{
		font-family:arial;
		font-size:10pt;
		font-weight:bold;
		text-transform:none;
		color:#4f2613;
		padding:1px 8px 1px 10px;
		margin-top:1px;
		margin-bottom:5px;
	}
	
#hotel_invoice p
	{
		color:#4f2613;
		padding:1px 8px 1px 10px;
		margin-bottom:5px;
		margin-top:5px;
		font-size:8pt;
	}
	
.invoice_head
	{
		font-family:arial;
		font-size:9pt;
		color:#4f2613;
		background-color:#e6f7fe; 
		border-top:1px solid #E8CD98;
		border-bottom:1px solid #E8CD98;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		margin-bottom:8px;
		margin-top:5px;	
		text-transform:capitalize;
	}
	
#hotel_invoice p a
	{
		color:#d4b478;
	}

	
#hotel_body form
	{
		width:100%;
		border-bottom:1px dotted #da8920;
		padding-bottom:5px;
		margin-bottom:5px;
	}
	
#hotel_body form table
	{
		width:100%;
	}
	
#hotel_body form label
	{
		font-family:arial;
		font-size:9pt;
		color:#4f2613;
		padding-left:0;
		text-transform:none;
	}
	
#hotel_body form td
	{
		border:0;
		/*width:auto;*/
		padding-left:0;
	}
	
#hotel_body input
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#hotel_body textarea
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#hotel_body form button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
	
#hotel_body button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}

#hotel_body select
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		overflow:hidden;
		background-color:#f9eabc;
		-webkit-appearance: button;
		-webkit-border-radius: 5px;
		color:black;
		font-size:8pt;
	}
	
#hotel_body p a
	{
		color:#4f2612;
		text-decoration:underline;
		text-transform:none;
	}
	
	
#hotel_service
	{
		font-family:arial;
		font-size:9pt;
		font-weight:bold;
		color:#4f2613;
		padding-left:8px;
	}
	
#hotel_service td
	{
		border:0;
		text-align:left;
		vertical-align:top;
	}

.not_available
	{
		color:#eacd97;
	}
	
.not_check
	{
		color:#eacd97;
	}
	
.not_check ul
	{
		list-style-type:disk;
		padding:0;
		list-style-position:inside;
		margin:0;
	}
	
			.clear
				{  
					clear: both;  
					height: 0;  
					visibility: hidden;  
					display: block;  
				} 
		
		#hotel_container
				{
					margin:0;
					padding:5px;
					vertical-align:baseline;
					width:716px;
					border-top:1px solid #ebcd97;
					font-family:arial;
					font-size:11pt;
					color:#000000;
					background-color:white;
					
				}
				
		#hotel_container ul
				{
					list-style:none;
					margin:0;
					padding:0;
					
				}
				
		#hotel_container ul.hotel_menu li
				{
					float:right;
					margin-left:3px;
					margin-bottom:-1px;
					display:block;
					font-weight:bold;
					padding:4px;
					padding-bottom:5px;
					background-color:#fff;
					text-transform:uppercase;
					border:1px solid #ebcd97;
					border-top-left-radius:5px;
					border-top-right-radius:5px;
					-webkit-border-radius:5px 5px 0 0;
					-webkit-border-radius:5px 5px 0 0;
					text-align:center;
					cursor:pointer;
					font-family:arial;
					font-size:10pt;
					color:#5a3421;
					position:relative;
				}
				
		#hotel_container ul.hotel_menu li.active
				{
					top:1px;
					border-bottom:0;
					color:#d77f0d;
				}
				
		.content
				{
					border-top:1px solid #ebcd97;
					padding-top:15px;
					text-align:left;
					padding-left:10px;
				}
				
		.content h3
				{
					padding-top:0;
					padding-bottom:0;
					margin-top:0;
					margin-bottom:0;
					padding-left:20px;
					font-size:11pt;
					color:#eea826;
					text-transform:none;
				}
				
		.content p
				{
					padding-top:0;
					margin-top:10px;
					padding-left:20px;
					margin-bottom:20px;
					text-transform:none;
					font-size:9pt;
					font-family:arial;
					color:#000000;
					line-height:18px;
				}
								
		.content.hotel_gallery
				{
					display:none;
				}
				
		.content.hotel_gallery img
				{
					border:1px solid #ebcd97;
					border-radius:5px;
					-webkit-border-width:5px;
					-o-boder-width:5px;
					-ms-layout-grid:5px;
					margin-top:0;
					margin-right:3px;
					margin-left:3px;
					margin-bottom:3px;
					width:56px;
					height:46px;
				}

				
		#des 
			{
				color:#4d2714;
				font-family:arial;
				font-size:9pt;
				text-transform:none;
				max-width:469;
				overflow:hidden;
				padding-left:10px;
			}

			
		#largeimg 
			{
				width:469px;
				height:341px;
				border:1px solid #EBCD97;
				border-radius:5px;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				margin-right:6px;
			}
			
		.content.hotel_rate
				{
					display:block;
				}
		
		.content.hotel_map
				{
					display:none;
				}
				
		.content.hotel_preview
				{
					display:none;
				}
				
				
#hotel_menu ul li img {
    border: 0 none;
    height: 15px;
    margin-right: 3px;
    vertical-align: bottom;
    width: 30px;
}

#pages a
	{
		text-decoration:none;
		color:#4f2613;
		margin:0 3px;		
	}

#pages a:hover
	{
		text-decoration:none;
		margin:0 3px;
		color:#D77F0D;
	}
	
#pages a:active
	{
		text-decoration:none;
		margin:0 3px;
		color:#D77F0D;
	}

#pages a:visited
	{
		text-decoration:none;
		margin:0 3px;
		color:#D77F0D;
	}
	
#search_filter label
	{
		font-family:arial;
		font-size:8pt;
		font-weight:bold;
		padding-right:8px;
	}
		
#search_filter select
	{
		margin-right:10px;
	}
	
#search_filter option
	{
		color:#4f2613;
		font-family:arial;
		font-size:8pt;
	}
	
#hotel_result_view
	{
		/*height:140px;
		max-height:140px;*/
		width:122px;
		max-width:122px;
		padding-top:0;
		padding-bottom:0;
		float:right;
		border:1px solid #eacd97;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	}
	
#hotel_result_view img
	{
		border-bottom:1px solid #eacd97;
		padding:0;
		margin:0;
		clear:both;
		width:122px;
		height:89px;
	}
	
#hotel_result_view h6
	{
		color:#4f2613;
		font-family:arial;
		font-size:8pt;
		font-weight:bold;
		margin-top:1px;
		margin-bottom:3px;
		padding-top:2px;
		padding-bottom:0;
		padding-left:5px;
	}
	
#hotel_result_view p
	{
		color:#d77f0d;
		font-family:9pt;
		padding-left:5px;
		margin-bottom:0px;
		font-weight:bold;
	}
	
#hotel_result_des
	{
		margin-top:-10px;
		float:left;
		width:70%;
	}
	
#hotel_result_des p
	{
		width:98%;
		margin-bottom:8px;
	}
	
#hotel_result_des p a
	{
		color:#d77f0d;
	}
	
#hsearch_result
	{
		padding:5px 0;
	}
	
#hsearch_result div.hsearch_result_item
	{
		border-bottom:1px dotted #4F2613;
	}