		.sharm{}
		
		#hozmenu a
			{
				margin-bottom:1px;
				display:inline-block;
				/*width:100%;*/
			}
			
			#airtour p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					text-align:left;
				}
			
			#airtour h2
				{
					font-family:arial;
					font-size:9pt;
					color:#ef795d;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#airtour table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #ef795d;
					border-left:1px solid #ef795d;
					border-right:1px solid #ef795d;
					border-bottom:1px solid #ef795d;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#airtour a
				{
					max-width:250px;
					text-align:left;
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
				}
				
			#airtour a:hover
				{
					max-width:250px;
					text-align:left;
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#ef795d;
					text-transform:none;
				}
				
			#airtour a:active
				{
					max-width:250px;
					text-align:left;
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#ef795d;
					text-transform:none;
				}
				
			.airtour_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.airtour_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.airtour_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.airtour_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.airtour_des img
				{
					border:1px solid #ef795d;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.airtour_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			
			#hoteltour
				{
					position:relative;
					left:-220px;
				}
			
			#hoteltour p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					max-width:200px;
					text-align:left;
				}
			
			#hoteltour h2
				{
					font-family:arial;
					font-size:9pt;
					color:#ef795d;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#hoteltour table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #ef795d;
					border-left:1px solid #ef795d;
					border-right:1px solid #ef795d;
					border-bottom:1px solid #ef795d;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#hoteltour a
				{
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#hoteltour a:hover
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#ef795d;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#hoteltour a:active
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#ef795d;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			.hoteltour_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.hoteltour_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.hoteltour_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.hoteltour_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.hoteltour_des img
				{
					border:1px solid #ef795d;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.hoteltour_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.h_search
			{
				padding:5px 2px;
			}
			
		.h_search form
			{
				padding:0;
				margin:0;
			}
			
		.h_search input
			{
				font-family:arial;
				font-size:8pt;
				color:#4F2613;
				padding:1px 2px;
				border:1px solid #eacd97;
				border-radius:5px;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
			}
			
		.h_search button
			{
				font-family:arial;
				font-size:8pt;
				font-weight:bold;
				color:#4F2613;
				padding:1px 2px;
				background-color:#EEA826;
				border:1px solid #EEA826;
				border-radius:5px;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
			}
			
			
			#entertour
				{
					position:relative;
					left:-270px;
				}
				
				
			#entertour p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					text-align:left;
				}
			
			#entertour h2
				{
					font-family:arial;
					font-size:9pt;
					color:#95b634;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#entertour table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #95b634;
					border-left:1px solid #95b634;
					border-right:1px solid #95b634;
					border-bottom:1px solid #95b634;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#entertour a
				{
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#entertour a:hover
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#95b634;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#entertour a:active
				{
					max-width:250px;
					text-align:left;
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#95b634;
					text-transform:none;
				}
				
			.entertour_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.entertour_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.entertour_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.entertour_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.entertour_des img
				{
					border:1px solid #95b634;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.entertour_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
				
				
				#bustour p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					text-align:left;
				}
			
			#bustour h2
				{
					font-family:arial;
					font-size:9pt;
					color:#93b532;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#bustour table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #93b532;
					border-left:1px solid #93b532;
					border-right:1px solid #93b532;
					border-bottom:1px solid #93b532;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#bustour a
				{
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#bustour a:hover
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#93b532;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#bustour a:active
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#93b532;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			.bustour_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.bustour_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.bustour_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.bustour_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.bustour_des img
				{
					border:1px solid #93b532;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.bustour_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
				
				
				#seatour p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					text-align:left;
				}
			
			#seatour h2
				{
					font-family:arial;
					font-size:9pt;
					color:#97cfea;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#seatour table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #97cfea;
					border-left:1px solid #97cfea;
					border-right:1px solid #97cfea;
					border-bottom:1px solid #97cfea;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#seatour a
				{
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#seatour a:hover
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#97cfea;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#seatour a:active
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#97cfea;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			.seatour_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.seatour_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.seatour_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.seatour_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.seatour_des img
				{
					border:1px solid #97cfea;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.seatour_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
				
				#safaritour p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					text-align:left;
				}
			
			#safaritour h2
				{
					font-family:arial;
					font-size:9pt;
					color:#e4a63f;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#safaritour table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #e4a63f;
					border-left:1px solid #e4a63f;
					border-right:1px solid #e4a63f;
					border-bottom:1px solid #e4a63f;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#safaritour a
				{
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#safaritour a:hover
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#e4a63f;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#safaritour a:active
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#e4a63f;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			.safaritour_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.safaritour_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.safaritour_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.safaritour_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.safaritour_des img
				{
					border:1px solid #e4a63f;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.safaritour_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
				
			#niletour
				{
					position:relative;
					left:-220px;
				}
				
			#niletour p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					text-align:left;
				}
			
			#niletour h2
				{
					font-family:arial;
					font-size:9pt;
					color:#97cfea;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#niletour table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #97cfea;
					border-left:1px solid #97cfea;
					border-right:1px solid #97cfea;
					border-bottom:1px solid #97cfea;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#niletour a
				{
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#niletour a:hover
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#97cfea;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#niletour a:active:
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#97cfea;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			.niletour_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.niletour_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.niletour_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.niletour_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.niletour_des img
				{
					border:1px solid #97cfea;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.niletour_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
				
		
			.hozmenu ul li
				{
					display:block;
					float:left;
					list-style:none;
					margin-right:7px;
					/*background-color:red;*/
				}
				
			.hozmenu ul li ul
				{
					padding:0;
					margin-top:0; 
					margin-bottom:0; 
					visibility:hidden; 
					float:none; 
					position:absolute;
				}
			.hozmenu ul li ul li
				{
					display:inline;
					float:none;
				}
		
			#menu1
				{
					font-size:8pt;
					font-weight:bold;
					font-family:arial;
					color:#000000;
					text-transform:uppercase;
					cursor:pointer;
					vertical-align:midlle;
				}
				
				
			#menu7
				{
					font-size:8pt;
					font-weight:bold;
					font-family:arial;
					color:#000000;
					text-transform:uppercase;
					cursor:pointer;
					vertical-align:midlle;
				}
			
			#menu8
				{
					font-size:8pt;
					font-weight:bold;
					font-family:arial;
					color:#000000;
					text-transform:uppercase;
					cursor:pointer;
					vertical-align:midlle;
				}
				
				
			#menu6
				{
					font-size:8pt;
					font-weight:bold;
					font-family:arial;
					color:#000000;
					text-transform:uppercase;
					cursor:pointer;
					vertical-align:midlle;
				}
				
				
			#menu5
				{
					font-size:8pt;
					font-weight:bold;
					font-family:arial;
					color:#000000;
					text-transform:uppercase;
					cursor:pointer;
					vertical-align:midlle;
				}
				
				
			#packages
				{
					position:relative;
					left:-400px;;
				}
				
				
			#packages p
				{
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:200px;
					text-align:left;
				}
			
			#packages h2
				{
					font-family:arial;
					font-size:9pt;
					color:#df6718;
					text-transform:none;
					margin-top:0;
					padding-top:0;
					
				}
			
			#packages table
				{
					border-top-right-radius:0;
					border-top-left-radius:0;
					border-bottom-left-radius:5px;
					border-bottom-right-radius:5px;
					-moz-border-top-right-radius:0;
					-moz-border-top-left-radius:0;
					-moz-border-bottom-left-radius:5px;
					-moz-border-bottom-right-radius:5px;
					border-top:4px solid #df6718;
					border-left:1px solid #df6718;
					border-right:1px solid #df6718;
					border-bottom:1px solid #df6718;
					width:auto;
					height:auto;
					padding:2px 0 8px 3px;
					background-color:#ffffff;
				}
				
			#packages a
				{
					text-decoration:none;
					font-family:arial;
					font-size:8pt;
					color:#000000;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#packages a:hover
				{
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#df6718;
					text-transform:none;
					max-width:250px;
					text-align:left;
				}
				
			#packages a:active
				{
					max-width:250px;
					text-align:left;
					text-decoration:underline;
					font-family:arial;
					font-size:8pt;
					color:#df6718;
					text-transform:none;
				}
				
			.packages_link
				{
					min-width:160px;
					max-width:250px;
				}
				
			.packages_link table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
			.packages_link table td
				{
					border-bottom:1px dotted #937d70;
					vertical-align:top;
					text-align:left;
					/*width:160px;*/
					max-width:250px;
					min-width:160px;
				}
				
			.packages_des
				{
					padding-right:15px;
					padding-top:0;
					margin-top:0;
				}
				
			.packages_des img
				{
					border:1px solid #df6718;
					width:133px;
					height:108px;
					margin-right:5px;
					margin-top:0;
					padding-top:0;
				}
				
			.packages_des table
				{
					width:auto;
					border:0;
					margin-top:0;
					padding-top:0;
				}
				
				
				