.sharmclub{}

#new_acc
	{
		background-color:#fdfbf7;
		margin-left:0;
		margin-bottom:0;
		padding:0 8px 0 10px;
		font-size:7pt;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #eacd97;
	}
	
#new_acc td
	{
		border-bottom:1px dotted #4f2613;
		padding-bottom:2px;
		padding-top:2px;
	}
	
#new_acc span
	{
		color:#7a962f;
		text-transform:uppercase;
		float:left;
		font-size:8pt;
		font-weight:bold;
	}
	
#new_acc a
	{
		color:#DF9A18;
		font-size:11pt;
		font-weight:bold;
		margin-top:0;
		padding-top:0;
		text-decoration:none;
	}
	
#new_acc a:hover
	{
		color:#DF9A18;
		font-size:11pt;
		text-decoration:none;
	}
	
#new_acc  input
	{
		margin-top:1px;
		margin-bottom:1px;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border:1px solid #baa589;
		color:#baa589;
		font-size:8pt;
	}
	
#new_acc label
	{
		color:#4f2613;
		font-size:7pt;
		text-transform:capitalize;
		margin-bottom:1px;
	}
	
#new_acc select
	{
		width:100%;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border:1px solid #baa589;
		overflow:hidden;
		background-color:#f9eabc;
		-webkit-appearance: button;
		-webkit-border-radius: 5px;
	}
	
