.sharmclub{}

#site-map
	{
		width:740px;
		height:auto;
		padding:8px;
		margin:5px;
		border:1px solid #E8CD98;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#FCFBF7;
		font-family:arial;
		font-size:9pt;
		font-weight:normal;
		color:#4F2612;
		text-transform:none;
	}
	
#site-map a
	{
		text-decoration:none;
		cursor:pointer;
		color:#4F2612;
		display:inline-block;
		clear:both;
		width:100%;
		margin-bottom:3px;
	}
	
#site-map a:hover
	{
		text-decoration:underline;
		color:#000000;
	}
	
#site-map h2
	{
		margin-top:5px;
		margin-bottom:5px;
		padding:5px;
		border-radius:5px;
		border:1px solid #EEA826;
		background-color:#000;
		font-family:arial;
		font-size:12pt;
		text-transform:capitalize;
		color:#EEA826;
		width:15%;
		font-weight:bold;
	}
	
#site-map h3
	{
		margin-top:3px;
		margin-bottom:5px;
		font-family:9pt;
	}
	
#lef
	{
		float:left;
		clear:none;
		width:40%;
		margin-right:10px;
	}
	
#air
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#EF795D;
		border:1px solid #EF795D;
		border-radius:5px;
	}
	
#air-a
	{
		padding:5px;
		border:1px solid #EF795D;
		border-radius:5px;
		margin-bottom:5px;
	}
	
#sea
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#3C86A9;
		border:1px solid #3C86A9;
		border-radius:5px;
	}
	
#sea-a
	{
		padding:5px;
		border:1px solid #3C86A9;
		border-radius:5px;
		margin-bottom:5px;
	}
	
#safari
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#E4A63F;
		border:1px solid #E4A63F;
		border-radius:5px;
	}
	
#safari-a
	{
		padding:5px;
		border:1px solid #E4A63F;
		border-radius:5px;
		margin-bottom:5px;
	}
	
#bus
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#93B532;
		border:1px solid #93B532;
		border-radius:5px;
	}
	
#bus-a
	{
		padding:5px;
		border:1px solid #93B532;
		border-radius:5px;
		margin-bottom:5px;
	}
	
#nile
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#3C86A9;
		border:1px solid #3C86A9;
		border-radius:5px;
	}
	
#nile-a
	{
		padding:5px;
		border:1px solid #3C86A9;
		border-radius:5px;
		margin-bottom:5px;
	}
	
#hotels
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#EF795D;
		border:1px solid #EF795D;
		border-radius:5px;
	}
	
#hotels-a
	{
		padding:5px;
		border:1px solid #EF795D;
		border-radius:5px;
		margin-bottom:5px;
	}
	
#entertainment
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#93B532;
		border:1px solid #93B532;
		border-radius:5px;
	}
	
#entertainment-a
	{
		padding:5px;
		border:1px solid #93B532;
		border-radius:5px;
		margin-bottom:5px;
	}
	
#package
	{
		padding:5px;
		width:auto;
		color:#000;
		background-color:#DF6718;
		border:1px solid #DF6718;
		border-radius:5px;
	}
	
#package-a
	{
		padding:5px;
		border:1px solid #DF6718;
		border-radius:5px;
		margin-bottom:5px;
	}
	
	
	