.sharm{}

#terms_body
	{
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		width:469px;
		height:auto;
		overflow:hidden;
		background-color:#fcfbf7;
		border:1px solid #e8cd98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-boder-radius:5px;
	}
	
#terms_body td
	{
		border-bottom:1px dotted #5b3522;
		vertical-align:top;
	}
	
#terms_body h5
	{
		font-family:arial;
		color:#da8920;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
		margin-top:1px;
	}
	
#terms_body h5 a
	{
		font-family:arial;
		color:#da8920;
		font-size:7pt;
		font-weight:normal;
		text-decoration:none;
		text-transform:none;
	}
	
#terms_body h5 a:hover
	{
		font-family:arial;
		color:#da8920;
		font-size:7pt;
		font-weight:normal;
		text-decoration:underline;
		text-transform:none;
	}
	
#terms_body h1
	{	
		color:#4f2612;
		text-transform:none;
		margin-top:2px;
		margin-bottom:2px;
		padding-bottom:10px;
		font-family:arial;
		font-size:16pt;
	}
	
#terms_body button
	{
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border:1px solid #baa588;
		background-color:#fedc9d;
		padding-right:0;
		text-transform:uppercase;
		font-family:arial;
		color:#2c140a;
		font-size:10pt;
		font-weight:bold;
	}
	
#terms_body button img
	{
		border:0;
	}
	
#terms_body h4
	{
		color:#4f2612;
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		font-weight:bold;
		margin-bottom:1px;
		margin-top:2px;
		padding-bottom:1px;
		padding-top:3px;
	}
	
#terms_body h4 a
	{
		color:#4f2612;
		text-decoration:underline;
		text-transform:none;
		font-weight:bolder;
		font-size:11pt;
	}
	
#terms_body p
	{
		color:#4f2612;
		font-family:arial;
		font-size:9pt;
		margin-top:1px;
		padding-top:1px;
		padding-bottom:1px;
		margin-bottom:1px;
		text-transform:none;
	}
	
#terms_body_des h4
	{
		color:#4f2612;
		font-family:arial;
		text-transform:none;
		font-size:9pt;
		font-weight:bold;
		
		margin-bottom:1px;
		padding-bottom:1px;
		padding-top:3px;
	}
	
#terms_body_des h4 a
	{
		color:#4f2612;
		text-decoration:underline;
		text-transform:none;
		font-weight:bold;
		font-size:9pt;
	}
	
#terms_body_des p
	{
		color:#4f2612;
		font-family:arial;
		font-size:7.5pt;
		margin-top:1px;
		padding-top:2px;
		padding-bottom:1px;
		margin-bottom:4px;
		text-transform:none;
	}
	
	
#terms_body_des ol 
	{
		padding-left:0px;
		padding-top:2px;
		margin-top:0;
		margin-right:5px;
		margin-bottom:5px;
		list-style:number;
		list-style-position:inside;
		color:#da8920;
		font-size:9pt;
		font-weight:bold;
		font-family:arial;
		text-transform:none;
	}
	
#terms_body_des ol li
	{
		padding-bottom:3px;
	}
	
	
	
#how_to_pay
	{
		width:242px;
		height:300px;
		overflow:hidden;
	}
	
#how_to_pay td
	{
		border:1px solid #ebcd97;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#e6f7fe;
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		padding-bottom:5px;
		font-family:arial;
		font-size:8pt;
		color:#000000;
		
	}
	
#how_to_pay h3
	{
		font-size:11pt;
		color:#3d86a7;
		margin-bottom:3px;
		text-transform:uppercase;
	}
	
#how_to_pay  p
	{
		margin-top:2px;
	}
	
	
	
		

	