.sharm{}

#tour_body 
	{
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		width:469px;
		background-color:#fcfbf7;
		border:1px solid #e8cd98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-boder-radius:5px;
		
	}

#tour_body form a
	{
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border:1px solid #baa588;
		background-color:#fedc9d;
		padding-right:1px;
		padding-left:1px;
		padding-top:1px;
		padding-bottom:1px;
		text-transform:uppercase;
		font-family:arial;
		color:#2c140a;
		font-size:10pt;
		font-weight:bold;
		float:right;
		text-decoration:none;
		cursor:pointer;
	}
	
	
#tour_body td
	{
		border-bottom:1px dotted #5b3522;
		vertical-align:top;
		padding-top:1px;
		padding-bottom:1px;
	}
	
#tour_body h5
	{
		font-family:arial;
		color:#ef795f;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
		margin-top:1px;
	}
	
#tour_body h5 a
	{
		font-family:arial;
		color:#ef795f;
		font-size:7pt;
		font-weight:normal;
		text-decoration:none;
		text-transform:none;
	}
	
#tour_body h5 a:hover
	{
		font-family:arial;
		color:#ef795f;
		font-size:7pt;
		font-weight:normal;
		text-decoration:underline;
		text-transform:none;
	}
	
#tour_body h1
	{	
		color:#4f2612;
		text-transform:none;
		margin-top:2px;
		margin-bottom:2px;
		font-family:arial;
		font-size:16pt;
	}
#tour_body button
	{
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border:1px solid #baa588;
		background-color:#fedc9d;
		padding-right:0;
		padding-left:0;
		text-transform:uppercase;
		font-family:arial;
		color:#2c140a;
		font-size:10pt;
		font-weight:bold;
		float:right;
	}
	
#tour_body button img
	{
		border:0;
	}
	
#tour_body h4
	{
		color:#ef795f;
		font-family:arial;
		text-transform:none;
		font-size:10pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
	}
	
#tour_body p
	{
		color:#4f2612;
		font-family:arial;
		font-size:9pt;
		margin-top:1px;
		padding-top:1px;
		padding-bottom:1px;
		margin-bottom:1px;
		text-transform:none;
	}
	
#tour_body_des h4
	{
		color:#ef795f;
		font-family:arial;
		text-transform:none;
		font-size:10pt;
		margin-bottom:1px;
		margin-top:5px;
		padding-bottom:1px;
	}
	
#tour_body_des p
	{
		color:#4f2612;
		font-family:arial;
		font-size:8pt;
		margin-top:1px;
		padding-top:1px;
		padding-bottom:1px;
		margin-bottom:1px;
		text-transform:none;
	}
	
	
#tour_body_des ul 
	{
		padding-left:19px;
		padding-top:2px;
		margin-top:0;
		margin-right:5px;
		margin-bottom:5px;
		list-style:square;
		list-style-position:outside;
		color:#4f2612;
		font-size:8pt;
		font-family:arial;
	}
	
#tour_body_des ul li
	{
		padding-bottom:3px;
	}

.old_price
	{
		text-decoration:line-through;
	}
	
.special_price
	{
		color:#7fa41e;
		font-weight:bold;
	}

#special_offer
		{
			color:#7fa41e;
			font-size:16pt;
			float:left;
			text-transform:capitalize;
			margin-bottom:1px;
			margin-top:1px;
		}
		
#special_offer img
	{
		width:53px;
		height:43px;
		border:0;
		margin-bottom:-11px;
		margin-top:-3px;
		padding-top:-1px;
		padding-bottom:-1px;
		vertical-align:bootom;
	}
	
	
#how_to_pay
	{
		width:242px;
		height:300px;
		overflow:hidden;
	}
	
#how_to_pay td
	{
		border:1px solid #ebcd97;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#e6f7fe;
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		padding-bottom:5px;
		font-family:arial;
		font-size:8pt;
		color:#000000;
		
	}
	
#how_to_pay h3
	{
		font-size:11pt;
		color:#3d86a7;
		margin-bottom:3px;
		text-transform:uppercase;
		margin-top:1px;
	}
	
#how_to_pay  p
	{
		margin-top:2px;
	}
	
#how_to_pay span
	{
		color:#00b0ea;
	}
	
	
#visa
	{
		margin-bottom:-8px;
		padding-left:7px;
	}
	