.sharmclub{}

#transfer_body
	{
		padding-left:10px;
		padding-right:8px;
		padding-top:5px;
		width:100%;
		background-color:#fcfbf7;
		border:1px solid #e8cd98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-boder-radius:5px;
	}
	
#transfer_body td
	{
		border-bottom:1px dotted #4f2613;
		vertical-align:top;
		padding-top:1px;
		padding-bottom:1px;
	}

#transfer_body h5
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		margin-bottom:2px;
		margin-top:1px;
	}
	
#transfer_body h5 a
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		text-decoration:none;
		text-transform:none;
	}
	
#transfer_body h5 a:hover
	{
		font-family:arial;
		color:#d77f0d;
		font-size:7pt;
		font-weight:normal;
		text-decoration:underline;
		text-transform:none;
	}
	
#transfer_body h1
	{
		color:#4f2612;
		text-transform:none;
		margin-top:2px;
		margin-bottom:2px;
		font-family:arial;
		font-size:16pt;
	}
	
#transfer_body h4
	{
		color:#d77f0d;
		font-family:arial;
		text-transform:none;
		font-size:10pt;
		margin-bottom:1px;
		margin-top:1px;
		padding-bottom:1px;
		padding-top:3px;
	}
	
#transfer_body p
	{
		font-size:8.5pt;
		color:#4f2612;
		margin-top:2px;
		margin-bottom:2px;
	}

#transfer_body p a
	{
		color:#4f2612;
		text-decoration:underline;
		text-transform:none;
	}
	
#transfer_body form
	{
		width:100%;
		border-bottom:1px dotted #da8920;
		padding-bottom:5px;
		margin-bottom:5px;
	}
	
#transfer_body form table
	{
		width:100%;
	}
	
#transfer_body form label
	{
		font-family:arial;
		font-size:9pt;
		color:#4f2613;
		padding-left:0;
		text-transform:none;
	}
	
#transfer_body form td
	{
		border:0;
		/*width:auto;*/
		padding-left:0;
	}
	
#transfer_body input
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#transfer_body textarea
	{
		font-size:8pt;
		color:#baa589;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		padding:2px;
	}
	
#transfer_body form button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
	
#transfer_body button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:right;
		margin-bottom:5px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}

#transfer_body select
	{
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
		overflow:hidden;
		background-color:#f9eabc;
		-webkit-appearance: button;
		-webkit-border-radius: 5px;
		color:black;
		font-size:8pt;
	}
	
#transfer_invoice
	{
		width:100%;
		height:auto;
		border:1px solid #E8CD98;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#ffffff;
		padding:95px 0 0 0;
		margin-top:8px;
		font-family:arial;
		font-size:8pt;
		color:#4f2613;
	}
	
#transfer_invoice h4
	{
		font-family:arial;
		font-size:10pt;
		font-weight:bold;
		text-transform:none;
		color:#4f2613;
		padding:1px 8px 1px 10px;
		margin-top:1px;
		margin-bottom:10px;
	}
	
#transfer_invoice p
	{
		color:#4f2613;
		padding:1px 8px 1px 10px;
		margin-bottom:5px;
		margin-top:5px;
		font-size:8pt;
	}
	
.invoice_head
	{
		font-family:arial;
		font-size:9pt;
		color:#4f2613;
		background-color:#e6f7fe; 
		border-top:1px solid #E8CD98;
		border-bottom:1px solid #E8CD98;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		margin-bottom:8px;
		margin-top:5px;	
		text-transform:capitalize;
	}
	
#transfer_invoice p a
	{
		color:#d4b478;
	}


#choose_ur_transfer
	{
		background-color:#e6f7fe;
		border:1px solid #e8cd98;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		padding:3px 8px 8px 10px;
	}
	
#choose_ur_transfer h1
	{
		font-weight:bold;
		margin-top:5px;
		margin-bottom:15px;
		font-size:16pt;
		color:#4f2613;
		text-transform:none;
	}
	
#choose_ur_transfer_details
	{
		width:100%;
	}
	
#choose_ur_transfer_details td
	{
		border-right:1px solid #e8cd98;
		padding-right:8px;
		vertical-align:top;
	}

#choose_ur_transfer_details p
	{
		font-size:8pt;
		font-family:arial;
		color:#4f2613;
		margin-bottom:8px;
		font-weight:bold;
	}
	
#choose_ur_transfer_details td td
	{
		border-bottom:1px dotted #4f2613;
		border-right:0;
		padding-top:10px;
	}
	
#choose_ur_transfer_details td td ul
	{
		margin:0 0 0 18px;
		padding:0;
		color:#4f2613;
		list-style-type:square;
	}
#choose_ur_transfer_details td td ul li
	{
		margin-bottom:0;
	}
	
.pul
	{
		margin-left:-7px;
		margin-top:1px;
		margin-bottom:0;
	}
	
#choose_ur_transfer_details td td ul li p
	{
		margin-bottom:0;
	}
	
#tran_pattel
	{
		background-color:#ffffff;
		border:1px solid #e8cd98;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		padding:1px 2px 2px 5px;
		margin-bottom:5px;
		text-align:left;
		width:120px;
		float:left;
	}
	
#tran_pattel p
	{
		font-size:8pt;
		margin-top:0;
		margin-bottom:3px;
	}
	
#tran_pattel img
	{
		padding-right:5px;
	}
	
#choose_ur_transfer_details button
	{
		font-size:7pt;
		font-weight:bold;
		color:#2c140a;
		padding:2px 5px;
		text-transform:uppercase;
		float:left;
		margin-bottom:3px;
		margin-left:3px;
		background-color:#ffc062;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #baa589;
	}
	
#transfer_menu
	{
		margin-top:5px;
		border-top:1px solid #e8cd98;
		width:100%;
	}
	
#transfer_menu ul
	{
		list-style-type:none;
		float:right;
		display:inline;
		margin-top:5px;
		margin-bottom:0;
		padding-left:0;
		width:100%;
	}
	
#transfer_menu ul li
	{
		float:right;
		padding-left:5px;
		padding-right:5px;
		padding-top:3px;
		padding-bottom:3px;
		border:1px solid #e8cd98;
		border-bottom:0;
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		margin-left:2px;
		background-color:#ffffff;
		font-family:arial;
		font-size:9pt;
		font-weight:bold;
		color:#4f2613;
		cursor:pointer;
		position:relative;
	}
	
#transfer_menu ul li img
	{
		width:30px;
		height:15px;
		border:0;
		vertical-align:bottom;
		margin-right:3px;
	}
	

#transfer_menu ul li.tran_active
	{
		top:1px;
		border-bottom:0;
		color:#d77f0d;
	}
	
.tran_clear
	{
		clear: both;  
		height: 0;  
		visibility: hidden;  
		display: block;  
	}
	
.tran_content
	{
		border-top:1px solid #ebcd97;
		padding-top:8px;
		text-align:left;
		padding-left:10px;
	}
	
.tran_other
	{
		display:none;
	}

.tran_hotel
	{
		display:none;
	}
	
.tran_air
	{
		display:none;
	}
	
.tran_city
	{
		display:block;
	}
	
#transfer_menu div h4
	{
		color:#d77f0d;
		font-family:arial;
		font-weight:bold;
		font-size:10pt;
		margin-top:1px;
		margin-bottom:5px;
	}
	
#transfer_menu div p
	{
		font-size:8pt;
		font-family:arial;
		max-width:450px;
		color:#4f2613;
		margin-top:3px;
		margin-bottom:3px;
	}
	
#transfer_menu div img
	{
		border:1px solid #e8cd98;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		width:240px;
		height:172px;
	}