.safe{}
@font-face{font-family:'ubuntu';src:url(../fonts/Ubuntu-R.woff);font-weight:normal;}

.clear{display:block; height:1px; clear:both; width:100%; float:none; background-color:transparent; border:0;}

.hidden{visibility:hidden;}

.none{display:none;}

*{font-family:ubuntu,tw cen mt, arial; font-size:12px; line-height:18px; color:#1e1e1e; padding:0; margin:0; text-decoration:none; text-transform:normal; font-weight:normal;}

body{width:100%; height:100%; padding:0; margin:0; background-color:#f5f5f5;}

a{color:inherit; font-size:inherit; font-family:inherit;text-decoration:none;}

header{width:100%; display:block; margin:0px auto; box-sizing:border-box; min-height:10px;}
.contact-info{width:100%; display:inline-block; text-align:right; box-sizing:border-box; background-color:#de0124; color:#fff; padding:.5% 1%;}
.contact-info span{color:#fff; font-size:14px; line-height:20px; margin-left:10px; display:inline-flex; text-transform:capitalize;}
.contact-info span i{color:inherit; font-size:18px; line-height:inherit; margin-right:8px; vertical-align:middle;}
.contact-info span+span i{color:inherit; font-size:inherit; line-height:inherit; margin-right:8px;}
.logo{width:80%; box-sizing:border-box; padding:1%; display:table; margin:auto;}
.logo .img{width:auto; max-width:200px; margin-right:10px; box-sizing:border-box; display:inline; clear:none; float:left;}
.logo .img img{width:170px;}
.logo .txt{display:inline-block; width:auto; max-width:500px; display:inline-block; float:right; vertical-align:middle; text-align:center; height:124px; padding:0 100px;}
.logo .txt p{font-size:30px; color:#de0124; font-style:italic; text-transform:capitalize; font-family:calibri; line-height:50px; padding-top:30px;}
.logo .txt ul{list-style:none;}
.logo .txt ul li{display:inline; color:#3b8ede; font-size:15px; line-height:24px; padding-right:15px; box-sizing:border-box; text-transform:capitalize;}
.logo .txt ul li a{font-size:13px; line-height:24px; color:#3b8ede; font-family:ubuntu; font-weight:bold;}
.logo .txt ul li a:hover{color:#1e1e1e;}

nav{width:100%; background-color:#3b8ede; box-sizing:border-box;}
.wide-menu{width:80%; margin:auto; display:block; color:#fff; box-sizing:border-box;}
.wide-menu ul{list-style:none;}
.wide-menu ul li{font-family:ubuntu; text-transform:capitalize; cursor:pointer; font-size:15px; line-height:27px; display:inline-block; width:auto; padding:10px 20px; height:27px;}
.wide-menu ul li:hover{background-color:#fff; color:#3b8ede;}
.wide-menu ul li:hover a{color:#3b8ede;}
.wide-menu ul li:hover a i{color:#3b8ede;}
.wide-menu ul li a{font-family:ubuntu; text-transform:capitalize; cursor:pointer; font-size:15px; line-height:27px; color:#fff; display:block;}
.wide-menu ul li a i{cursor:pointer; font-size:25px; line-height:27px; color:#fff; vertical-align:middle;}
.mob-menu{display:none; width:100%; padding:0 5%; box-sizing:border-box;}
.mob-menu p{font-family:ubuntu; text-transform:capitalize; cursor:pointer; font-size:20px; line-height:27px; display:inline-block; width:auto; padding:10px 20px; height:27px; color:#fff;}
.mob-menu p:hover{background-color:#fff; color:#3b8ede;}
.mob-menu p:hover i{color:#3b8ede;}
.mob-menu p i{color:#fff; line-height:20px; font-size:20px; vertical-align:middle; height:27px;margin-right:10px; font-weight:normal;}
.mob-menu ul{display:none; list-style:none; width:120px; position:absolute; margin-top:10px; background-color:#fff; border:1px solid #ddd; text-align:center; z-index:100;}
.mob-menu ul li{font-family:ubuntu; text-transform:capitalize; cursor:pointer; font-size:15px; line-height:27px; display:block; width:auto; padding:20px; height:27px; transition:all .7s ease 0s;}
.mob-menu ul li:hover{background-color:#3b8ede; color:#fff;}
.mob-menu ul li:hover a{color:#fff;}
.mob-menu ul li:hover a i{color:#fff;}
.mob-menu ul li a{font-family:ubuntu; text-transform:capitalize; cursor:pointer; font-size:15px; line-height:27px; color:#1e1e1e; display:block;}

footer{min-height:10px; width:100%; padding:10px 10%; background-color:#3b8ede; box-sizing:border-box;}
.foot-hold{width:100%; box-sizing:border-box; display:block;}
.foot-hold-item{width:auto; display:inline-block; float:left; box-sizing:border-box; padding:0 30px 0 0; clear:none;}
.foot-hold-item p{font-family:ubuntu; color:#fff; font-size:13px; line-height:20px; text-transform:capitalize;}
.foot-hold-item p a{font-family:ubuntu; color:#fff; font-size:13px; line-height:18px; text-transform:uppercase;}
.foot-hold-item p a:hover{color:#1e1e1e; text-decoration:underline;}
.foot-hold-item h3{font-size:14px; line-height:20px; text-decoration:underline; font-weight:bold; color:#fff; text-transform:capitalize; margin-bottom:10px;}
.foot-hold-item ul{list-style:none; margin-left:10px;}
.foot-hold-item ul li{color:#fff; font-family:ubuntu; font-size:13px; line-height:18px; margin-bottom:5px; text-transform:capitalize;}
.foot-hold-item ul li a{color:#fff; font-family:ubuntu; font-size:13px; line-height:18px;}
.foot-hold-item ul li a i{color:#fff; font-size:15px; line-height:18px;}
.foot-hold-item ul li a:hover{color:#de0124; text-decoration:underline;}
ul.social{margin-left:0;}
ul.social li{display:inline-block;}
ul.social li a{background-color:#fff; font-family:ubuntu; font-size:13px; line-height:18px; width:30px; height:30px; border-radius:500px; text-align:center; display:block;}
ul.social li a:hover{background-color:#de0124;}
ul.social li a:hover i{color:#fff;}
ul.social li a i{color:#3b8ede; font-size:15px; line-height:30px; vertical-align:middle; cursor:pointer;}
.address{width:40%;}
.links{width:20%;}

main{width:100%; display:block; margin:0; box-sizing:border-box;}

section{margin-bottom:10px;}

section.slider{margin-bottom:0;}

section.news{width:100%; padding:5px 1%; min-height:2%; background-color:#de0124; color:#fff; display:block; margin-bottom:5px; box-sizing:border-box;}
section.news h2{display:inline-block; color:#fff; font-size:15px; font-weight:bold; text-transform:capitalize; padding:5px 10px; margin-right:10px; line-height:22px;}
section.news ul{list-style:none; display:inline-block; height:22px; overflow:hidden; vertical-align:middle; padding-bottom:5px;}
section.news ul li{display:inline-block; font-size:14px; color:#f2f2f2; padding:5px; line-height:22px; height:22px; text-transform:capitalize;}
section.news ul li{display:table-header-group;}

section.cols div.clear{border:0; padding:0; float:none;}
section.cols{width:98%; margin:10px auto; box-sizing:border-box; text-align:center; display:table;}
section.cols div.item{width:32.5%; float:left; box-sizing:border-box; padding:5px 10px; margin:5px 5px 10px; border:1px solid #aaa; min-height:10px; display:block; text-align:left; background-color:#fff; box-shadow:1px 1px 2px #aaa;}
section.cols div.item h2{margin:10px auto 15px; line-height:25px; font-size:22px; color:#000; text-transform:capitalize; border-bottom:1px solid #aaa; padding-bottom:15px;}
section.cols div.item p{font-size:14px; line-height:24px; text-align:justify; color:#1e1e1e; margin:0 5px 10px; max-height:168px; overflow:hidden; display:block; box-sizing:border-box;}
section.cols div.item h3{font-size:16px; color:#de0124; margin:10px auto 5px; display:block; box-sizing:border-box; text-transform:uppercase; text-decoration:underline;}
section.cols div.item ul{list-style:none; padding-left:20px; list-style-type:dicimal;}
section.cols div.item ul li{font-size:14px; text-align:justify; color:#1e1e1e; margin-bottom:5px;}
section.cols div.item ul li a:hover{text-decoration:underline; color:#de0124;}

section.cols div.item.big{width:99%; padding:1.5%; margin:0 auto 15px; float:none; clear:both;}
section.cols div.item.big h1{font-family:ubuntu; color:#de0124; font-size:25px; line-height:30px; margin-bottom:10px; display:block; text-transform:capitalize; padding-bottom:10px; border-bottom:1px solid #bbb; font-weight:bold; text-transform:uppercase;}
section.cols div.item.big h1 span{font-family:ubuntu; color:#de0124; font-size:25px; line-height:30px; margin-bottom:10px; font-weight:bold; text-transform:uppercase;}
section.cols div.item.big p{font-size:14px; line-height:24px; text-align:justify; color:#1e1e1e; margin:0 5px 5px;}
section.cols div.item.big p a{color:#3b8ede; text-decoration:underline; text-transform:uppercase;}
section.cols div.item.big p a:hover{color:#1e1e1e; text-decoration:none;}

section.partners{width:100%; margin:5px auto 15px; display:table; padding:5px 1%; background-color:transparent; box-sizing:border-box; background-color:#fff; box-shadow:1px 1px 2px #aaa; border:1px solid #aaa; text-align:center; border-width:1px 0;}
section.partners div.partner-item{width:16.48%; box-sizing:border-box; padding:2%; display:inline-block; margin:10px auto; border-right:1px solid #bbb}
section.partners div.partner-item.row-last{border-color:#fff;}
section.partners div.partner-item img{width:85%; margin:0 auto 10px; transition:all .7s ease 0s;}
section.partners div.partner-item h2{text-align:center; margin:10px auto; line-height:25px; font-size:18px; color:#000; text-transform:capitalize;}
section.partners div.partner-item h2 a{transition:all .7s ease 0s;}
section.partners div.partner-item h2 a:hover{color:#de0124; font-size:25px;}
section.partners div.partner-item:hover h2 a{color:#de0124; font-size:25px;}
section.partners div.partner-item:hover img{width:75%;}

.img{width:100%; margin-bottom:0; max-height:300px; overflow:hidden;}
.img img{width:100%; display:block;}
.about{width:80%; margin:5px auto; display:table; vertical-align:top;}

.news ul.path{width:80%; margin:auto; display:block;}
.news ul.path li{display:inline;}

aside.left-menu{display:inline-block; width:24%; margin:5px .7% 10px auto; clear:none; padding:0; box-sizing:border-box; vertical-align:top; background-color:#fff; border:1px solid #ddd;}
aside.left-menu h2{font-family:ubuntu; color:#3b8ede; text-transform:uppercase; padding:10px 10px 5px; font-size:16px; line-height:20px; border-bottom:1px solid #3b8ede; margin-bottom:10px;}
aside.left-menu ul{list-style:none; padding:5px 10px; display:block; box-sizing:border-box;}
aside.left-menu ul li{font-size:14px; line-height:18px; color:#000; text-transform:capitalize; cursor:pointer; padding:10px 15px; box-sizing:border-box; transition:all .7s ease 0s;}
aside.left-menu ul li.active{background-color:#3b8ede; color:#fff;}

section.right-content{display:inline-block; width:75%; box-sizing:border-box; vertical-align:top; margin-top:5px; background-color:#fff; padding:10px; border:1px solid #ddd; box-sizing:border-box;}
section.right-content div.item{display:none; transition:all .7s ease 0s;}
section.right-content div.item h1{font-size:18px; line-height:25px; display:inline-block; text-transform:uppercase; color:#3b8ede; margin-bottom:5px;}
section.right-content div.item h2{font-size:16px; line-height:25px; display:inline-block; text-transform:capitalize; color:#de0124; margin-bottom:5px;}
section.right-content div.item p{font-size:13px; line-height:20px; color:#000; text-align:justify;}
section.right-content div.item div{display:inherit; width:95%; margin:0 auto; padding-bottom:10px; margin-bottom:12px; border-bottom:1px solid #ddd;}
section.right-content div.item.active{display:block;}

section.right-content div.item.prod{margin-bottom:5px; border-bottom:1px solid #ddd;}
section.right-content div.item.prod h1{font-size:25px; font-weight:bold;}
section.right-content div.item.prod h2.sub-title{display:block; color:#888; font-size:20px; margin:5px auto 15px;}
section.right-content div.item.prod h2{margin:10px auto 0;}
section.right-content div.item.prod p{margin-bottom:5px;}
section.right-content div.item.prod div.prod-img{float:right; box-sizing:border-box; margin:5px 10px 15px; border:0; width:auto;}
section.right-content div.item.prod div.clear{border:0; width:100%;}

section.products{width:80%; margin:5px auto; display:table; vertical-align:top; box-sizing:border-box;}
.products .sectors{padding:15px; background-color:#fff; border:1px solid #ddd; box-sizing:border-box; margin-bottom:10px;}
.products .sectors h2.title{font-size:25px; line-height:20px; color:#3b8ede; font-family:ubuntu; margin-bottom:10px; text-transform:uppercase;}
.products .sectors h2.title span{float:right; cursor:pointer; font-size:25px; line-height:25px; width:30px; height:30px; background-color:#3b8ede; color:#fff; text-align:center; vertical-align:middle; border-radius:500px;}
.products .sectors p{font-size:13px; color:#000; font-family:ubuntu; margin-bottom:5px; text-align:justify;}
.products .sectors div.prod{max-width:24.7%; box-sizing:border-box; margin:10px auto; border-right:1px solid #ddd; text-align:center;}
.products .sectors div.prod.end{border-right:0;}
.products .sectors div.prod a{display:block; padding:10px 15px; margin-bottom:5px; box-sizing:border-box;}
.products .sectors div.prod img{}
.products .sectors div.prod h2{padding:10px; font-size:16px; line-height:20px; color:#3b8ede; font-family:ubuntu; margin-bottom:10px; text-transform:capitalize; text-align:left;}
.products .sectors div.prod h2 a{padding:0; margin:0;}
.products .sectors div.prod p{padding:0 10px 5px; text-align:left;}
.products .sectors div.prod{display:none;}
.products .sectors div.prod.active{display:inline-block;}

.product{width:80%; margin:5px auto; display:table; vertical-align:top;}

#welcome{width:90%;margin:5% auto;display:block;box-sizing:border-box;text-align:center;}
#welcome img{width:50%;vertical-align:middle;}

@media screen and (max-width: 1000px){
	.foot-hold-item.address{float:none; margin-bottom:20px; width:100%}
	.links{width:33.3%;}
}

@media screen and (max-width: 500px){.links{width:50%; margin-bottom:10px;}}

@media screen and (max-width: 860px){
	.contact-info{text-align:center; padding:1% 2%;}
	.logo{width:100%; padding:10px; text-align:center;}
	.logo .img{max-width:auto; margin:5px auto; float:none; display:block;}
	.logo .img img{width:140px;}
	.logo .txt{max-width:100%; float:none; display:block; padding:5px; height:auto;}
	.logo .txt p{line-height:30px; padding-top:0;}
}
@media screen and (max-width:875px){.wide-menu{width:100%;}}
@media screen and (max-width:570px){.wide-menu{display:none;}.mob-menu{display:block;}}
/* @media screen and (max-width: 1335px){section.cols{width:99%;}} */
@media screen and (max-width: 1050px){section.cols div.item{width:49%;}}
@media screen and (max-width: 760px){section.cols div.item{width:98%;}}
@media screen and (max-width: 700px){section.partners div.partner-item{width:48.5%;}}
@media screen and (max-width: 500px){section.partners div.partner-item{width:98.5%;}}
@media screen and (max-width: 1150px){section.about{width:98.5%;}}
@media screen and (max-width: 950px){aside.left-menu{width:155px; box-sizing:border-box;}section.right-content{max-width:780px; min-width:400px; box-sizing:border-box;}}
@media screen and (max-width: 660px){aside.left-menu{width:100%; box-sizing:border-box;}section.right-content{width:100%; box-sizing:border-box; max-width:100%; min-width:100%;}}