div#main {padding-top:1%;}
div#main div#account{padding:0 1% .5%; box-sizing: border-box; border:0px solid #ddd; display:table; background-color:transparent; width:100%; margin:0; min-height:1px;}
div#main div#account div.account_left_side{box-sizing: border-box; padding:.5% 0%; width:70%; margin-bottom:0; min-height:1px; border:1px solid #df9a18; background-color:#fcfbf7; border-radius:10px; display:inline-block;}
div#main div#account div.account_left_side div.path{margin-bottom:5px; color:#df9a18; padding:0 1%;}
div#main div#account div.account_left_side div.path ul{list-style:none; display:inline-block; width:100%;}
div#main div#account div.account_left_side div.path ul li{font-size:12px; line-height:16px; color:#df9a18; font-family:ubuntu; padding:2px; text-transform:capitalize; display:inline-block;}
div#main div#account div.account_left_side div.path ul li.book{font-size:14px; line-height:18px; color:#4f2610; font-family:ubuntu; padding:2px; text-transform:uppercase; display:inline-block; float:right; position:relative; top:-1px; right:-1%; padding:5px 10px; box-sizing:border-box; background-color:#df9a18; border-radius:5px; font-weight:bold; cursor:pointer; margin-bottom:-7px;}
div#main div#account div.account_left_side div.path ul li.book a{font-size:14px; line-height:18px; color:#4f2610; font-family:ubuntu; text-transform:uppercase; font-weight:bold; transition:all .7s ease 0s;}
div#main div#account div.account_left_side div.path ul li.book a:hover{color:#fff; text-decoration:underline;}
div#main div#account div.account_left_side div.path ul li a{color:inherit; font-family:inherit; line-height:inherit; padding:0 2px;}
div#main div#account div.account_left_side div.path ul li a:hover{color:#4f2610; text-decoration:underline;}
div#main div#account div.account_left_side h2{font-size:20px; line-height:30px; font-family:ubuntu; margin:0 1%; padding-bottom:5px; color:#4db2d9; text-transform:uppercase; font-weight:bold; margin-bottom:0; display:inline-block;}
div#main div#account div.account_left_side div.account_info{margin:5px 1%; display:block; padding:2px 0; border:1px dashed #4f2612; border-width:1px 0;}
div#main div#account div.account_left_side div.account_info p{font-size:14px; font-weight:bold; line-height:20px; color:#da8920; text-align:right; font-family:ubuntu;}
div#main div#account div.account_left_side div.account_info p+p{color:#4f2612;}
div#main div#account div.account_left_side h3{color:#da8920; font-weight:bold; font-family:ubuntu; font-size:14px; line-height:20px; margin:5px 1% 15px; text-transform:capitalize;}
div#main div#account div.account_left_side ul.booking, div#main div#account div.account_left_side ul.feedback{list-style:none; margin:5px 1% 10px; padding:0;}
div#main div#account div.account_left_side ul.booking li, div#main div#account div.account_left_side ul.feedback li{border-bottom:1px solid #da8920; display:block; margin-bottom:10px;}
div#main div#account div.account_left_side ul.booking li.active, div#main div#account div.account_left_side ul.feedback li.active{border-bottom:0;}
div#main div#account div.account_left_side ul.booking li span, div#main div#account div.account_left_side ul.feedback li span{text-transform:uppercase; font-family:ubuntu; font-size:18px; line-height:22px; padding:5px 10px; border:1px solid #da8920; border-bottom:0; border-radius:10px 10px 0 0; color:#4db2d9; cursor:pointer; display:inline-block; background-color:#fcfbf6;  cursor:pointer;}
div#main div#account div.account_left_side ul.booking li.active span, div#main div#account div.account_left_side ul.feedback li.active span{top:1px; position:relative;}
div#main div#account div.account_left_side ul.booking li div, div#main div#account div.account_left_side ul.feedback li div{border:1px solid #da8920; padding:10px; border-radius:0 0 10px 10px; display:none; font-size:20px; font-weight:bold; line-height:50px;}
div#main div#account div.account_left_side ul.booking li.active div, div#main div#account div.account_left_side ul.feedback li.active div{display:block;}
div#main div#account div.account_left_side ul.booking li div{text-align:left;}
div#main div#account div.account_left_side ul.booking li div div.clear{border:0px solid #da8920; padding:0px; border-radius:0; width:100%; float:none;}
div#main div#account div.account_left_side ul.booking li div a.full_payment{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block; float:right;}
div#main div#account div.account_left_side ul.booking li div a.full_payment:hover{color:#fff; text-decoration:underline;}
div#main div#account div.account_left_side ul.booking li div p.sub_summary{font-weight:bold; font-family:ubuntu; font-size:16px; line-height:25px; margin:10px auto; text-transform:uppercase; color:#4f2612;}
div#main div#account div.account_left_side ul.booking li div p.sub_summary span{font-weight:inherit; font-family:inherit; font-size:inherit; line-height:inherit; margin:5px auto; text-transform:capitalize; color:#cc0000; border:0; padding:0; margin-left:5px; cursor:auto;}
div#main div#account div.account_left_side ul.booking li div p.sub_summary span.price{color:#df9a18;}
div#main div#account div.account_left_side ul.booking li div p.sub_summary span.price i{color:#df9a18;}
div#main div#account div.account_left_side ul.booking li div form{font-size:14px; line-height:25px; color:#666; font-weight:normal; font-family:ubuntu; border-bottom:1px dashed #da8920; padding-bottom:5px; margin-bottom:10px;}
div#main div#account div.account_left_side ul.booking li div form.trans div{border:0px solid #da8920; padding:5px; border-radius:0; width:50%; box-sizing:border-box; float:left;}
div#main div#account div.account_left_side ul.booking li div form.trans div.clear{border:0px solid #da8920; padding:0px; border-radius:0; width:100%; float:none;}
div#main div#account div.account_left_side ul.booking li div form.trans div+div{border-left:1px solid #da8920;}
div#main div#account div.account_left_side ul.booking li div form.tours div{border:0px solid #da8920; padding:5px; border-radius:0; width:33%; box-sizing:border-box; float:left;}
div#main div#account div.account_left_side ul.booking li div form.tours div.clear{border:0px solid #da8920; padding:0px; border-radius:0; width:100%; float:none;}
div#main div#account div.account_left_side ul.booking li div form.tours div+div{border-left:1px solid #da8920;}
div#main div#account div.account_left_side ul.booking li div form h2{color:#df9a18; font-size:15px; line-height:20px; margin:0px auto 10px; display:block; box-sizing:border-box; text-align:left; text-transform:capitalize; font-family:ubuntu; font-weight:bold;}
div#main div#account div.account_left_side ul.booking li div form p{font-family:ubuntu; font-size:15px; font-weight:normal; line-height:25px; color:#4f2612; margin-bottom:10px; text-transform:capitalize;}
div#main div#account div.account_left_side ul.booking li div form button{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}
div#main div#account div.account_left_side ul.booking li div form button:hover{color:#fff; text-decoration:underline;}
div#main div#account div.account_left_side ul.booking li div form label{font-size:16px; line-height:25px; color:#4f2613; font-family:ubuntu; width:180px; display:inline-block; margin-bottom:10px; vertical-align:top;}
div#main div#account div.account_left_side ul.booking li div form input[type=text]{display:inline-block; margin-bottom:10px; background-color:transparent; border:1px solid #da8920; border-radius:5px; padding:3px 5px; font-size:14px; color:#4f2613; line-height:25px; box-sizing:border-box; min-width:400px;}
div#main div#account div.account_left_side ul.feedback li div form{font-size:14px; line-height:25px; color:#666; font-weight:normal; font-family:ubuntu;}
div#main div#account div.account_left_side ul.feedback li div form label{font-size:16px; line-height:25px; color:#4f2613; font-family:ubuntu; width:180px; display:inline-block; margin-bottom:10px; vertical-align:top;}
div#main div#account div.account_left_side ul.feedback li div form select{display:inline-block; margin-bottom:10px; background-color:#f9eabc; border:1px solid #da8920; border-radius:5px; padding:3px 5px; font-size:14px; color:#4f2613; line-height:25px; box-sizing:border-box; min-width:250px;}
div#main div#account div.account_left_side ul.feedback li div form select option{margin-bottom:5px; padding:3px 5px; font-size:14px; color:#4f2613; line-height:25px; box-sizing:border-box; display:block; transition:all .7s ease 0s; font-family:ubuntu;}
div#main div#account div.account_left_side ul.feedback li div form textarea{display:inline-block; margin-bottom:10px; background-color:transparent; border:1px solid #da8920; border-radius:5px; padding:3px 5px; font-size:14px; color:#4f2613; line-height:25px; box-sizing:border-box; min-width:400px;}
div#main div#account div.account_left_side ul.feedback li div form button{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block; float:right; margin-top:-35px;}
div#main div#account div.account_left_side ul.feedback li div form button:hover{color:#fff; text-decoration:underline;}

div#main div#account div.account_right_side{box-sizing: border-box; width:29%; margin-bottom:0; min-height:1px; display:inline-block; float:right; border:1px solid #df9a18; background-color:#e6f7fe; border-radius:10px;}

div#main div#account div.account_right_side h3.main{border-radius:10px 10px 0 0; background-color: #4db2d9; box-sizing: border-box; color: #fff; display: inline-block; font-family: ubuntu; font-size: 16px; font-weight: normal; line-height: 22px; margin-bottom: 10px; padding:5px 10px; width: 100%; text-transform:uppercase;}
div#main div#account div.account_right_side div.account_right_side_item{box-sizing: border-box; margin-bottom:5px; min-height:1px; display:inline-block; width:100%;}
div#main div#account div.account_right_side div.account_right_side_item div.img{text-align:center;}
div#main div#account div.account_right_side div.account_right_side_item div.img img{width:60%; padding:1%; margin:10px auto; display:block; background-color:#fcfbf6; box-sizing:border-box; max-height:200px;}
div#main div#account div.account_right_side div.account_right_side_item ul{width:95%; padding:0 2.5%; display:inline-block; margin:10px; box-sizing:border-box; list-style:circle;}
div#main div#account div.account_right_side div.account_right_side_item ul li{font-size:16px; font-weight:normal; margin:10px; color:#4db2d9; line-height:20px; font-family:ubuntu; transition:all .7s ease 0s;}
div#main div#account div.account_right_side div.account_right_side_item ul li a{font-family:inherit; font-size:inherit; color:inherit; font-weight:inherit; transition:all .7s ease 0s;}
div#main div#account div.account_right_side div.account_right_side_item ul li:hover{color:#666; text-decoration:underline;}
div#main div#account div.account_right_side div.account_right_side_item ul li a:hover{color:#666; text-decoration:underline;}
div#main div#account div.account_right_side div.account_right_side_item h3{border-radius:0; background-color:transparent; box-sizing: border-box; color: #666; display: inline-block; font-family: ubuntu; font-size: 14px; font-weight: bold; line-height: 18px; margin:0 2.5% 10px; padding:5px 0; width: 95%; border-bottom:1px solid #999;}
div#main div#account div.account_right_side div.account_right_side_item p{color:#1e1e1e; font-size:14px; line-height:18px; text-align:justify; font-family:ubuntu; margin-bottom:10px; padding:5px 10px;}
div#main div#account div.account_right_side div.account_right_side_item p span{color:#01afeb; font-size:14px; line-height:18px; font-family:ubuntu; text-transform:uppercase;}


div#change_password{display:none; min-height:1%; width:400px; margin:10% auto; background-color:#fff; padding:.5%; border-radius:10px; border:4px solid #000; color:#000; transition:all .7s ease 0s; z-index:1000; max-width:60%; position:fixed; top:2%; box-sizing:border-box;}


div#edit_profile{display:none; min-height:1%; width:400px; margin:10% auto; background-color:#fff; padding:.5%; border-radius:10px; border:4px solid #000; color:#000; transition:all .7s ease 0s; z-index:1000; max-width:60%; position:fixed; top:2%; box-sizing:border-box;}div#screen_over div.account_profile div h3{color:rgb(60,134,169); margin-bottom:10px; text-align:center; font-size:16px; line-height:35px; text-transform:uppercase; font-family:ubuntu; font-weight:normal; border-bottom:1px solid rgb(60,134,169); margin-top:-10px;}div#screen_over div.account_profile div form{}div#screen_over div.account_profile div form label{font-size:14px; text-transform:capitalize; line-height:18px; color:#666; vertical-align:top; display:inline-block; padding:2px ; margin-right:2px; margin-bottom:5px; min-width:120px; margin-bottom:8px;}div#screen_over div.account_profile div form textarea{display:inline-block; margin-bottom:10px; background-color:transparent; border:1px solid #666; border-radius:5px; padding:3px 5px; font-size:14px; color:#666; line-height:25px; box-sizing:border-box; min-width:250px; margin-left:5px;}div#screen_over div.account_profile div form button{float:right; background-color: rgb(60,134,169); border-radius: 5px; color: #fff; border:1px solid rgb(60,134,169); cursor: pointer; font-size:12px; font-weight: normal; padding: 2px; text-transform: capitalize; font-family:ubuntu; line-height:16px; transition:all .7s ease 0s; display:inline-block; margin-top:5px;}div#screen_over div.account_profile div form input[type=text],div#screen_over div.account_profile div form input[type=password],div#screen_over div.account_profile div form input[type=email], div#screen_over div.account_profile div form input[type=file]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:150px; padding:2px 4px; margin-bottom:8px; margin-left:5px; border-radius:5px; border:1px solid #666;}div#screen_over div.account_profile div form input[type=file]{width:200px;}div#screen_over div.account_password div h3{color:rgb(60,134,169); margin-bottom:10px; text-align:center; font-size:16px; line-height:35px; text-transform:uppercase; font-family:ubuntu; font-weight:normal; border-bottom:1px solid rgb(60,134,169); margin-top:-10px;}div#screen_over div.account_password div form{}div#screen_over div.account_password div form label{font-size:14px; text-transform:capitalize; line-height:18px; color:#666; vertical-align:top; display:inline-block; padding:2px ; margin-right:2px; margin-bottom:5px; min-width:150px; margin-bottom:8px;}div#screen_over div.account_password div form textarea{display:inline-block; margin-bottom:10px; background-color:transparent; border:1px solid #666; border-radius:5px; padding:3px 5px; font-size:14px; color:#666; line-height:25px; box-sizing:border-box; min-width:250px; margin-left:5px;}div#screen_over div.account_password div form button{float:right; background-color: rgb(60,134,169); border-radius: 5px; color: #fff; border:1px solid rgb(60,134,169); cursor: pointer; font-size:12px; font-weight: normal; padding: 2px; text-transform: capitalize; font-family:ubuntu; line-height:16px; transition:all .7s ease 0s; display:inline-block; margin-top:5px;}div#screen_over div.account_password div form input[type=text],div#screen_over div.account_password div form input[type=password],div#screen_over div.account_password div form input[type=email], div#screen_over div.account_password div form input[type=file]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:150px; padding:2px 4px; margin-bottom:8px; margin-left:5px; border-radius:5px; border:1px solid #666;}div#screen_over div.account_profile.active{display:block;}div#screen_over div.account_profile.active div{display:block;}div#screen_over div.account_profile div{display:none;}div#screen_over div.account_password.active{display:block;}div#screen_over div.account_password.active div{display:block;}div#screen_over div.account_password div{display:none;}body.m_test div#main div#account{padding:0;}body.m_test div#main div#account div.account_left_side{width:100%; padding:5px; box-sizing:border-box; float:none; display:block; margin-bottom:5px;}body.m_test div#main div#account div.account_left_side div.path ul li{line-height:14px;}body.m_test div#main div#account div.account_left_side h2{font-size:16px; line-height:20px;}body.m_test div#main div#account div.account_left_side h3{font-size:12px; line-height:16px;}body.m_test div#main div#account div.account_left_side div.account_info p{font-size:12px; line-height:16px;}body.m_test div#main div#account div.account_left_side ul.booking li, body.m_test div#main div#account div.account_left_side ul.feedback li{margin-bottom:5px;}body.m_test div#main div#account div.account_left_side ul.booking li span, body.m_test div#main div#account div.account_left_side ul.feedback li span{padding:5px; line-height:18px; font-size:14px;}body.m_test div#main div#account div.account_left_side ul.booking li form div{width:100%; float:none; padding:5px 3px; box-sizing:border-box;}body.m_test div#main div#account div.account_left_side ul.booking li form div+div{border:0;}body.m_test div#main div#account div.account_left_side ul.booking li div form h2{font-size:13px; line-height:15px; text-align:justify; margin-bottom:5px;}body.m_test div#main div#account div.account_left_side ul.booking li div form p{font-size:13px; line-height:16px; text-align:justify;}body.m_test div#main div#account div.account_left_side ul.booking li div form button{font-size:13px; line-height:16px; padding:3px;}body.m_test div#main div#account div.account_left_side ul.booking li div p.sub_summary{font-size:13px; line-height:16px;}body.m_test div#main div#account div.account_left_side ul.booking li div a.full_payment{font-size:13px; line-height:16px; padding:3px;}body.m_test div#main div#account div.account_left_side ul.feedback li div form label{font-size:13px; line-height:16px;}body.m_test div#main div#account div.account_left_side ul.feedback li div form select{font-size:13px; line-height:16px; min-width:100%; padding:3px 8px; display:block;}body.m_test div#main div#account div.account_left_side ul.feedback li div form option{font-size:13px; line-height:16px;}body.m_test div#main div#account div.account_left_side ul.feedback li div form textarea{font-size:13px; line-height:16px; min-width:100%; width:100%;}body.m_test div#main div#account div.account_left_side ul.feedback li div form button{float:none; margin-top:-5px; font-size:13px; line-height:16px; padding:3px;}body.m_test div#main div#account div.account_right_side{width:100%; padding:0; box-sizing:border-box; float:none; display:block;}