div#main {padding-top:1%;}
div#main div#article{padding:.5% 1%; box-sizing: border-box; border:1px solid #df9a18; display:inline-block; background-color:#fcfbf7; width:100%; margin:0; min-height:1px; border-radius:10px;}
div#main div#article div.path{padding:0; margin:0; box-sizing:border-box;}
div#main div#article div.path ul{list-style:none; display:inline-block; margin-bottom:10px;}
div#main div#article div.path ul li{color:#3c86a9; font-size:12px; line-height:16px; font-family:ubuntu; display:inline-block; padding:0 5px 0 0;}
div#main div#article div.path ul li a{color:inherit; font-size:inherit; line-height:inherit; font-family:inherit; transition:all .7s ease 0s;}
div#main div#article div.path ul li a:hover{text-decoration:underline; color:#4f2610;}
div#main div#article h1{font-size:25px; line-height:35px; font-family:ubuntu; padding-bottom:8px; color:#4f2610; text-transform:none; font-weight:normal; margin-bottom:15px; display:inline-block; border-bottom:1px solid #4f2610;}
div#main div#article h2{font-size:22px; line-height:28px; font-family:ubuntu; padding-bottom:5px; color:#3c86a9; text-transform:none; font-weight:normal; margin-bottom:0px;}
div#main div#article h2.title{border-bottom:1px dashed #4f2610; margin-bottom:5px;}
div#main div#article a.title{color:#4f2610; font-size:14px; line-height:20px; font-family:ubuntu; display:block; padding:0 0 5px 0; border-bottom:1px dashed #4f2610; margin-bottom:10px; font-weight:bold;}
div#main div#article a.title:hover{text-decoration:underline;}
div#main div#article a.title.right{text-align:right;}
div#main div#article a.title.left{text-align:left; border-bottom:0; border-top:1px dashed #4f2610; padding:5px 0 0 0;}
div#main div#article ul.gal{display:block; box-sizing:border-box; list-style:none; padding:1%; margin:0 0 10px 0; text-align:center;}
div#main div#article ul.gal li{display:inline-block; width:33%;}
div#main div#article ul.gal li img{height:15vw; width:100%;}
div#main div#article p{font-family:ubuntu; font-size:16px; line-height:25px; margin-bottom:20px; text-align:justify; color:#4f2610;}

div#main div#all_article{padding:0 1% .5%; box-sizing: border-box; border:0px solid #ddd; display:table; background-color:transparent; width:100%; margin:0; min-height:1px;}
div#main div#all_article div.article_left_side{box-sizing: border-box; padding:.5% 1%; width:70%; margin-bottom:0; min-height:1px; border:1px solid #df9a18; background-color:#fcfbf7; border-radius:10px; display:inline-block;}
div#main div#all_article div.article_left_side div.path{padding:0; margin:0; box-sizing:border-box;}
div#main div#all_article div.article_left_side div.path ul{list-style:none; display:inline-block; margin-bottom:10px;}
div#main div#all_article div.article_left_side div.path ul li{color:#3c86a9; font-size:12px; line-height:16px; font-family:ubuntu; display:inline-block; padding:0 5px 0 0;}
div#main div#all_article div.article_left_side div.path ul li a{color:inherit; font-size:inherit; line-height:inherit; font-family:inherit; transition:all .7s ease 0s;}
div#main div#all_article div.article_left_side div.path ul li a:hover{text-decoration:underline; color:#4f2610;}
div#main div#all_article div.article_left_side h2.title{font-size:25px; line-height:35px; font-family:menulk2; padding-bottom:5px; color:#4f2610; text-transform:none; font-weight:normal; margin-bottom:5px;}
div#main div#all_article div.article_left_side h3{font-size:22px; line-height:28px; font-family:ubuntu; padding-bottom:5px; color:#3c86a9; text-transform:none; font-weight:normal; margin-bottom:0px;}
div#main div#all_article div.article_left_side h3.title{border-bottom:1px dashed #4f2610; margin-bottom:5px;}
div#main div#all_article div.article_left_side ul.new_topics{display:block; box-sizing:border-box; list-style:none; padding:0; margin:0 0 20px 0;}
div#main div#all_article div.article_left_side ul.new_topics li{display:block; margin:10px 0; padding-bottom:5px; border-bottom:1px dashed #4f2610;}
div#main div#all_article div.article_left_side ul.new_topics li a{color:#4f2610; font-family:ubuntu; font-size:14px; line-height:25px; transition:all .7s ease 0s;}
div#main div#all_article div.article_left_side ul.new_topics li a:hover{color:#df9a18; text-decoration:underline;}
div#main div#all_article div.article_left_side ul.new_topics li span{color:#df9a18; font-family:ubuntu; font-size:12px; line-height:35px; float:right;}
div#main div#all_article div.article_left_side div.art_left_item{display:bloc; margin:10px 0;}
div#main div#all_article div.article_left_side div.art_left_item h3{border-bottom:1px solid #eacd97; margin:0; padding:0; line-height:34px;}
div#main div#all_article div.article_left_side div.art_left_item h3 span{color:#00b0ea; font-family:ubuntu; font-size:16px; line-height:25px; border:1px solid #eacd97; background-color:#fff; border-bottom:0; border-radius:10px 10px 0 0; padding:5px 10px; cursor:pointer}
div#main div#all_article div.article_left_side div.art_left_item h3.active span{position:relative; top:1px;}
div#main div#all_article div.article_left_side div.art_left_item h3.active span+span{position:relative; top:0px;}
div#main div#all_article div.article_left_side div.art_left_item h3 span+span{float:right; color:#df9a18; font-family:ubuntu; font-size:12px; line-height:25px; background-color:transparent; border:0; padding:10px 0 0 0;}
div#main div#all_article div.article_left_side div.art_left_item div{display:none; border:1px solid #eacd97; border-top:0; border-radius:0 0 10px 10px; padding:10px; box-sizing:border-box; min-height:1px; background-color:#fff;}
div#main div#all_article div.article_left_side div.art_left_item div.active{display:block;}
div#main div#all_article div.article_left_side div.art_left_item div ul{list-style:none; display:inline-block; margin:0 10px 10px 10px; box-sizing:border-box; width:55%;}
div#main div#all_article div.article_left_side div.art_left_item div ul li{display:block; margin-bottom:10px; padding-bottom:5px; border-bottom:1px dashed #4f2610; color:#4f2610; font-family:ubuntu; font-size:14px; line-height:25px; font-weight:normal;}
div#main div#all_article div.article_left_side div.art_left_item div ul li a{color:#4f2610; font-family:ubuntu; font-size:14px; line-height:25px; font-weight:normal; transition:all .7s ease 0s;}
div#main div#all_article div.article_left_side div.art_left_item div ul li a:hover{color:#df9a18; text-decoration:underline;}
div#main div#all_article div.article_left_side div.art_left_item div img{width:40%; float:right; display:inline-block; border-radius:10px; margin-top:10px;}

div#main div#all_article div.article_right_side{box-sizing: border-box; width:29%; margin-bottom:0; min-height:1px; display:inline-block; float:right;}
div#main div#all_article div.article_right_side div.art_right_item{padding:0; margin:0 0 15px 0; border:1px solid #3c86a9 ; border-radius:10px;}
div#main div#all_article div.article_right_side div.art_right_item h3{color:#3c86a9; background-color:#e9ffff; padding:5px 0 8px 10px; line-height:28px; font-family:ubuntu; font-size:22px; border-bottom:1px solid #3c86a9; border-radius:10px 10px 0 0; font-weight:normal;}
div#main div#all_article div.article_right_side div.art_right_item img{width:100%; border-radius:0 0 10px 10px; display:block;}

body.m_test div#main div#all_article{padding:0; display:block;}
body.m_test div#main div#article {padding:5px;}
body.m_test div#main div#article h1{font-size:18px; line-height:20px;}
body.m_test div#main div#article h2{font-size:14px; line-height:16px;}
body.m_test div#main div#article p{font-size:13px; line-height:18px;}
body.m_test div#main div#article ul.gal{padding:5px;}
body.m_test div#main div#article ul.gal li{display:block; width:100%; margin-bottom:3px;}
body.m_test div#main div#article ul.gal li img{width:100%; height:auto;}
body.m_test div#main div#all_article div.article_left_side{width:100%; float:none; margin-bottom:5px; padding:5px; display:block;}
body.m_test div#main div#all_article div.article_left_side h2{font-size:18px; line-height:20px;}
body.m_test div#main div#all_article div.article_left_side h3{font-size:14px; line-height:16px;}
body.m_test div#main div#all_article div.article_left_side ul.new_topics li {margin:10px 5px; text-align:justify;}
body.m_test div#main div#all_article div.article_left_side ul.new_topics li a{font-size:14px; line-height:18px;}
body.m_test div#main div#all_article div.article_left_side ul.new_topics li span{font-size:14px; line-height:18px; float:none; display:inline; margin-left:5px;}

body.m_test div#main div#all_article div.article_left_side div.art_left_item h3 span{padding:5px; line-height:18px; font-size:14px; display:inline-block;}
body.m_test div#main div#all_article div.article_left_side div.art_left_item h3 span+span{float:none; display:none; line-height:14px; font-size:12px; margin-left:5px;}
body.m_test div#main div#all_article div.article_left_side div.art_left_item div{padding:5px;}
body.m_test div#main div#all_article div.article_left_side div.art_left_item div img{display:none;}
body.m_test div#main div#all_article div.article_left_side div.art_left_item div ul{width:100%; margin:0 0 10px;}

body.m_test div#main div#all_article div.article_right_side{width:100%; float:none; margin-bottom:5px; padding:0; display:block;}