div#main {padding-top:1%;}
div#main div#excur{padding:0 1% .5%; box-sizing: border-box; border:0px solid #ddd; display:table; background-color:transparent; width:100%; margin:0; min-height:1px;}
div#main div#excur div.excur_left_side{box-sizing: border-box; padding:.5% 0%; width:70%; margin-bottom:0; min-height:1px; border:1px solid #df9a18; background-color:#fcfbf7; border-radius:10px; display:inline-block;}
div#main div#excur div.excur_left_side div.path{margin-bottom:5px; color:#df9a18; padding:0 1%;}
div#main div#excur div.excur_left_side div.path ul{list-style:none; display:inline-block; width:100%;}
div#main div#excur div.excur_left_side div.path ul li{font-size:12px; line-height:16px; color:#df9a18; font-family:ubuntu; padding:2px; text-transform:capitalize; display:inline-block;}
div#main div#excur div.excur_left_side div.path ul li.book{font-size:14px; line-height:18px; color:#4f2610; font-family:ubuntu; padding:2px; text-transform:uppercase; display:inline-block; float:right; position:relative; top:-1px; right:-1%; padding:5px 10px; box-sizing:border-box; background-color:#df9a18; border-radius:5px; font-weight:bold; cursor:pointer; margin-bottom:-7px;}
div#main div#excur div.excur_left_side div.path ul li.book a{font-size:14px; line-height:18px; color:#4f2610; font-family:ubuntu; text-transform:uppercase; font-weight:bold; transition:all .7s ease 0s;}
div#main div#excur div.excur_left_side div.path ul li.book a:hover{color:#fff; text-decoration:underline;}
div#main div#excur div.excur_left_side div.path ul li a{color:inherit; font-family:inherit; line-height:inherit; padding:0 2px;}
div#main div#excur div.excur_left_side div.path ul li a:hover{color:#4f2610; text-decoration:underline;}
div#main div#excur div.excur_left_side h2.title{font-size:25px; line-height:35px; font-family:ubuntu; margin:0 1%;padding-bottom:5px; border-bottom:1px dashed #4f2610; color:#4f2610; text-transform:uppercase; font-weight:normal; margin-bottom:5px; display:inline-block;}
div#main div#excur div.excur_left_side h2.title.air{border-bottom:1px dashed #93b241; color:#93b241;}
div#main div#excur div.excur_left_side div.paging{padding-bottom:5px; margin-bottom:5px; border-bottom:1px dashed #4f2610; color:#df9a18; text-align:right;}
div#main div#excur div.excur_left_side div.paging.left{text-align:left; border:0; padding-top:10px;}
div#main div#excur div.excur_left_side div.paging p{font-size:13px; font-weight:bold; font-family:ubuntu; line-height:16px; margin-bottom:5px; color:#df9a18; text-transform:capitalize;}
div#main div#excur div.excur_left_side div.paging p span{font-size:13px; font-weight:bold; font-family:ubuntu; line-height:16px; color:#df9a18;}
div#main div#excur div.excur_left_side div.paging ul{list-style:none;}
div#main div#excur div.excur_left_side div.paging ul li{display:inline-block; font-size:13px; font-weight:bold; font-family:ubuntu; color:#df9a18; padding:0 2px; text-transform:capitalize;}
div#main div#excur div.excur_left_side div.paging ul li a{color:#4f2610;}
div#main div#excur div.excur_left_side div.paging ul li a:hover{color:#df9a18; text-decoration:underline;}
div#main div#excur div.excur_left_side div.paging ul li.active a{color:#df9a18;}
div#main div#excur div.excur_left_side div.sorting{padding-bottom:0px; margin-bottom:5px; border-bottom:1px dashed #df9a18;}
div#main div#excur div.excur_left_side div.sorting form{padding:10px 0; margin:5px 0; font-family:ubuntu;}
div#main div#excur div.excur_left_side div.sorting form label{font-size:14px; color:#4f2610; display:inline-block; width:150px; line-height:20px; margin-right:10px; font-family:ubuntu;}
div#main div#excur div.excur_left_side div.sorting form select{margin-right:15px; padding:5px 7px; border:1px solid #4f2610; color:#1e1e1e; display:inline-block; font-family:ubuntu; border-radius:5px; font-size:14px;}
div#main div#excur div.excur_left_side div.sorting form select option{font-size:14px; line-height:20px; padding:2px 5px; color:#1e1e1e; text-transform:capitalize; font-family:ubuntu;}

div#main div#excur div.excur_left_side div.excur_item{padding:10px 1%; border-bottom:1px solid #df9a18; margin-bottom:0; box-sizing:border-box;}
div#main div#excur div.excur_left_side div.excur_item.diff{background-color:rgba(250, 229, 190, 0.3);}
div#main div#excur div.excur_left_side div.excur_item.last{border-bottom-color:transparent;}
div#main div#excur div.excur_left_side div.excur_item div.left{width:70%; box-sizing:border-box; display:inline-block;}
div#main div#excur div.excur_left_side div.excur_item div.left span.rate{font-size:17px; line-height:20px; margin-bottom:2px; display:inline-block; width:100%;}
div#main div#excur div.excur_left_side div.excur_item div.left span.rate i{color:#df9a18;}
div#main div#excur div.excur_left_side div.excur_item div.left h3{color:#4f2610; font-family:ubuntu; font-size:18px; line-height:25px; font-weight:normal; margin-bottom:10px; text-transform:uppercase; text-align:justify; font-weight:bold;}
div#main div#excur div.excur_left_side div.excur_item div.left h3 a{color:#4f2610; font-family:ubuntu; font-size:18px; line-height:25px; font-weight:normal; margin-bottom:2px; text-transform:uppercase; text-align:justify; font-weight:bold; transition:all .5s ease 0s; text-decoration:none;}
div#main div#excur div.excur_left_side div.excur_item div.left h3 a:hover{text-decoration:underline; color:#df9a18}
div#main div#excur div.excur_left_side div.excur_item div.left p{color:#4f2610; font-family:ubuntu; font-size:16px; line-height:20px; margin-bottom:5px; text-align:justify;}
div#main div#excur div.excur_left_side div.excur_item div.left a{font-family:ubuntu; font-size:16px; line-height:20px; color:#df9a18; text-decoration:underline; transition:all .7s ease 0s;}
div#main div#excur div.excur_left_side div.excur_item div.left a:hover{color:#4f2610;}
div#main div#excur div.excur_left_side div.excur_item div.left a.main{font-family:ubuntu; font-size:15px; line-height:20px; color:#fff; text-decoration:none; transition:all .7s ease 0s; float:right; background-color:#93b241; text-transform:uppercase; padding:1%}
div#main div#excur div.excur_left_side div.excur_item div.left a.main:hover{color:#000;}
div#main div#excur div.excur_left_side div.excur_item div.left p.main{box-sizing:border-box; padding-top:10px;}
div#main div#excur div.excur_left_side div.excur_item div.left span.opt{font-size:17px; line-height:20px; margin-bottom:2px; display:inline-block; width:100%; color:#4f2610; margin-top:10px;}
div#main div#excur div.excur_left_side div.excur_item div.left span.opt i{color:#df9a18; margin-right:5px;}
div#main div#excur div.excur_left_side div.excur_item div.right{width:27%; display:inline-block; background-color:#fff; border:1px solid #df9a18; border-radius:10px; box-sizing:border-box; min-height:1px; margin-bottom:10px; float:right;}
div#main div#excur div.excur_left_side div.excur_item div.right img{width:100%; border-bottom:1px solid #df9a18; border-radius:10px 10px 0 0; margin-bottom:5px; display:inline-block; height:150px;}
div#main div#excur div.excur_left_side div.excur_item div.right p{color:#4f2610; font-family:ubuntu; font-size:16px; line-height:20px; margin-bottom:5px; text-align:justify; text-transform:uppercase; padding:0 10px; font-weight:normal;}
div#main div#excur div.excur_left_side div.excur_item div.right p.price{color:#df9a18; font-size:18px; line-height:22px; margin:5px; padding:0 10px; font-weight:bold; display:inline-block;}
div#main div#excur div.excur_left_side div.excur_item div.right p.price i{margin-right:5px; color:#df9a18;}
div#main div#excur div.excur_left_side div.excur_item div.right p.price i+i{margin-right:0px; color:#df9a18;}
div#main div#excur div.excur_left_side div.excur_item div.book{padding:5px 0 0 0; text-align:center; width:27%; float:right; box-sizing:border-box;}

div#main div#excur div.excur_left_side div.excur_item div.book a{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}
div#main div#excur div.excur_left_side div.excur_item div.book a:hover{color:#fff; text-decoration:underline;}

div#main div#excur div.excur_left_side div.excur_item div.book button{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}
div#main div#excur div.excur_left_side div.excur_item div.book button:hover{color:#fff; text-decoration:underline;}

div#main div#excur div.excur_left_side div.rate_price{padding-bottom:5px; border-bottom:1px dashed #4f2610; margin-bottom:10px;}
div#main div#excur div.excur_left_side div.rate_price div.rate{width:35%; display:inline-block; box-sizing:border-box; font-size:17px; color:#df9a18; line-height:25px;}
div#main div#excur div.excur_left_side div.rate_price div.rate i{display:inline-block; font-size:17px; color:#df9a18; line-height:25px;}
div#main div#excur div.excur_left_side div.rate_price div.price{width:65%; display:inline-block; box-sizing:border-box; float:right;}
div#main div#excur div.excur_left_side div.rate_price div.price p{width:75%; display:inline-block; box-sizing:border-box; color:#4f2610; font-size:14px; line-height:20px; font-family:ubuntu; text-align:right; margin-bottom:2px; padding:2px 8px 2px 2px; border-right:2px solid #4f2610; margin-right:0px; float:right; font-weight:bold;}
div#main div#excur div.excur_left_side div.rate_price div.price span{width:auto; display:inline-block; box-sizing:border-box; float:right; color:#df9a18; font-size:25px; line-height:40px; font-family:ubuntu; text-align:left; margin-bottom:2px; padding:0 0 0 10px; border-right:0px solid #4f2610; margin-right:0px; font-weight:bold;}
div#main div#excur div.excur_left_side div.rate_price div.price span i{color:#df9a18; font-size:22px; line-height:40px; margin-right:5px;}
div#main div#excur div.excur_left_side div.excur_desc{box-sizing:border-box; padding:0 0 .5% 0;}
div#main div#excur div.excur_left_side div.excur_desc h2{font-size:14px; line-height:20px; font-weight:bold; text-transform:uppercase; font-family:ubuntu; margin-bottom:2px; color:#df9a18;}
div#main div#excur div.excur_left_side div.excur_desc p{font-size:14px; line-height:18px; font-weight:normal; font-family:ubuntu; padding-bottom:8px; color:#4f2610; text-align:justify;}
div#main div#excur div.excur_left_side div.excur_desc br{margin-top:5px;}
div#main div#excur div.excur_left_side div.excur_desc ul{margin-top:15px; display:block; list-style:none; width:98%; margin:15px auto 10px; text-align:center;}
div#main div#excur div.excur_left_side div.excur_desc ul li{display:inline-block; width:33%; margin-bottom:10px; color:#4f2610; font-size:14px; line-height:18px; font-family:ubuntu; font-weight:normal; text-align:left;}
div#main div#excur div.excur_left_side div.excur_desc ul li.dis_active{color:#ebcd99;}
div#main div#excur div.excur_left_side div.excur_desc ul li.dis_active i{font-size:10px; vertical-align:top;}
div#main div#excur div.excur_left_side div.excur_desc ul li i{color:inherit; margin-right:8px;}


div#main div#excur div.excur_right_side{box-sizing: border-box; width:29%; margin-bottom:0; min-height:1px; display:inline-block; float:right; border:1px solid #df9a18; background-color:#e6f7fe; border-radius:10px;}

div#main div#excur div.excur_right_side h3.main{border-radius:10px 10px 0 0; background-color: #4db2d9; box-sizing: border-box; color: #fff; display: inline-block; font-family: ubuntu; font-size: 16px; font-weight: normal; line-height: 22px; margin-bottom: 10px; padding:5px 10px; width: 100%;}
div#main div#excur div.excur_right_side div.excur_right_side_item{box-sizing: border-box; margin-bottom:5px; min-height:1px; display:inline-block;}
div#main div#excur div.excur_right_side div.excur_right_side_item h3{border-radius:0; background-color:transparent; box-sizing: border-box; color: #666; display: inline-block; font-family: ubuntu; font-size: 14px; font-weight: bold; line-height: 18px; margin:0 2.5% 10px; padding:5px 0; width: 95%; border-bottom:1px solid #999;}
div#main div#excur div.excur_right_side div.excur_right_side_item p{color:#1e1e1e; font-size:14px; line-height:18px; text-align:justify; font-family:ubuntu; margin-bottom:10px; padding:5px 10px;}
div#main div#excur div.excur_right_side div.excur_right_side_item p span{color:#01afeb; font-size:14px; line-height:18px; font-family:ubuntu; text-transform:uppercase;}

div#main div#excur div.excur_right_side div.blue{box-sizing: border-box; padding:15px; margin-bottom:10px; min-height:1px; border:1px solid #df9a18; background-color:#e6f7fe; border-radius:10px; display:inline-block;}
div#main div#excur div.excur_right_side div.blue h3{color:#3c86ab; text-transform:uppercase; font-size:20px; line-height:30px; text-align:justify; font-family:ubuntu; font-weight:bold; margin-bottom:0px;}
div#main div#excur div.excur_right_side div.blue p{color:#1e1e1e; font-size:15px; line-height:20px; text-align:justify; font-family:ubuntu; margin-bottom:18px;}
div#main div#excur div.excur_right_side div.blue p span{color:#01afeb; text-transform:uppercase; font-size:15px; line-height:18px;}
div#main div#excur div.excur_right_side div.red{box-sizing: border-box; padding:15px; margin-bottom:10px; min-height:1px; border:1px solid #ea6747; background-color:transparent; border-radius:10px; display:inline-block;}
div#main div#excur div.excur_right_side div.red h3{color:#ea6747; text-transform:uppercase; font-size:20px; line-height:30px; text-align:justify; font-family:ubuntu; font-weight:bold; margin-bottom:0px;}
div#main div#excur div.excur_right_side div.red p{color:#1e1e1e; font-size:15px; line-height:20px; text-align:justify; font-family:ubuntu; margin-bottom:18px;}
div#main div#excur div.excur_right_side a.more{color:#1e1e1e; padding:2px; margin:auto 5px; background-image:url(../img/read-more.gif); background-position:center bottom; background-repeat:no-repeat; width:60px; display:inline-block; height:20px; box-sizing:border-box; top:3px; position:relative;}
div#main div#excur div.excur_tabs{border-top:1px solid #df9a18; box-sizing:border-box; margin-top:10px;}
div#main div#excur div.excur_tabs ul{display:inline-block; width:100%; border-bottom:1px solid #df9a18; margin-top:10px; text-align:right; list-style:none;}
div#main div#excur div.excur_tabs ul li{padding:5px 8px; border:1px solid #df9a18; border-bottom:0; background-color:#fcfbf6; font-size:14px; font-family:ubuntu; line-height:16px; font-weight:bold; cursor:pointer; color:#4f2610; text-transform:uppercase; display:inline-block; margin-left:2px; border-radius:5px 5px 0 0;}
div#main div#excur div.excur_tabs ul li.active{color:#df9a18; position:relative; top:1px;}
div#main div#excur div.excur_tabs ul li#excur_value{float:left; border:0; cursor:auto; font-size:16px; padding:0; line-height:26px; position:relative;}
div#main div#excur div.excur_tabs ul li#excur_value i{margin-right:5px; color:inherit; font-size:20px; vertical-align:middle;}
div#main div#excur div.excur_tabs div.excur_tabs_desc{display:none; padding:1%; margin-bottom:10px; box-sizing:border-box;}
div#main div#excur div.excur_tabs div.excur_tabs_desc.active{display:block;}

body.m_test div#main div#excur{padding:0; display:block;}
body.m_test div#main div#excur div.excur_left_side{width:100%; display:block; margin-bottom:5px; padding:10px 5px; float:none;}
body.m_test div#main div#excur div.excur_left_side h2.title{font-size:18px; line-height:20px;}

body.m_test div#main div#excur div.excur_left_side div.excur_item div.left{width:100%; display:block; float:none; margin-bottom:5px;}
body.m_test div#main div#excur div.excur_left_side div.excur_item div.right{width:100%; display:block; float:none; margin-bottom:5px;}
body.m_test div#main div#excur div.excur_left_side div.excur_item div.book{width:100%; display:block; float:none; margin-bottom:5px;}
body.m_test div#main div#excur div.excur_left_side div.excur_item div.left h3{font-size:14px; line-height:16px;}
body.m_test div#main div#excur div.excur_left_side div.excur_item div.left h3 a{font-size:14px; line-height:16px;}
body.m_test div#main div#excur div.excur_left_side div.excur_item div.left p{font-size:13px; line-height:18px;}
body.m_test div#main div#excur div.excur_left_side div.excur_item div.left p a{font-size:13px; line-height:18px;}

body.m_test div#main div#excur div.excur_right_side{width:100%; display:block; margin-bottom:5px; float:none;}