.sharm{}
.clear{display:block; height:1px; clear:both; width:100%; float:none;}

*{font-family:tw cen mt, arial; font-size:12px; line-height:15px; color:#1e1e1e; padding:0; margin:0; text-decoration:none;}

body{width:100%; height:100%; padding:0; margin:0; background-color:#fcfbf6;}

a{color:inherit; text-decoration:none;}

@font-face {
    font-family: 'ubuntu';
    src:url(../fonts/Ubuntu-R.woff);
	font-weight:normal;
}
@font-face {
    font-family: 'menulk2';
    src:url(../fonts/Baumans-Regular.woff);
}
@font-face {
    font-family: 'lato';
    src:url(../Lato-Regular.woff);
}
#wnote, #wnote h1, #wnote p{width:0; height:0; visibility:hidden;}
header{width:80%; padding:.7% 10%; background-color:/* rgba(157,194,52,1) */#fcfbf6; display:table;}
#tabs.top{margin-top:-50px;}body.m_test #tabs.top{margin-top:0;}
header div#logo{display:inline-block; margin:0.5% 1%;}
header div#logo img{width:100%; height:; margin-right:15px; display:inline-block; vertical-align:bottom;}
header div#logo h2{font-family:menulk2; color:#df9a18; font-size:40px; font-weight:normal; display:inline-block; line-height:80px;}
header div#contact{float:right; display:inline-block; margin:.5% 1%; background-image:url(../img/contact_sharm_club.gif); background-repeat:no-repeat; background-position:center left; padding-left:0; width:200px; height:80px; overflow:hidden;}
header div#contact h2{font-family:ubuntu; color:#df9a18; font-size:30px; font-weight:normal; display:inline-block; line-height:80px; visibility:hidden;}
header div#login{display:block; float:right; margin:.5% 1%; padding:10px; box-sizing:border-box; text-align:center;}
header div#login a{transition:all .7s ease 0s;}
header div#login a.sec{display:block; background-color:#ea6747; border-radius:500px; transition:all .7s ease 0s; height:45px; width:45px; padding:5px;}
header div#login a.sec i{color:#fff;}
header div#login a.sec:hover{background-color:#3598dc;}
header div#login a.sec:hover i{color:#fff;}
/* header div#login a:hover{top:10px; position:relative;} */
header div#login a i{font-size:40px; color:#ea6747; vertical-align:top; margin-bottom:5px; transition:all .7s ease 0s;}
header div#login a:hover i{color:#333;}
header div#login a span{font-family:ubuntu; font-size:14px; line-height:16px; color:#333; transition:all .7s ease 0s;}
header div#login a:hover span{color:#ea6747;}
header div#member-of{display:inline-block; margin:1% 1% 0 6%; float:right; background-image:url(../img/etaa-logo-2.png),url(../img/IATA-logo.png); background-repeat:no-repeat; background-position:center left, center right; padding:0 90px 0 120px; line-height:50px; height:50px;}
div#menu_holder{width:100%; margin:0; display:block; min-height:50px; z-index:997; background-color:#ea6747; transition:all 1s ease 0s;}
div#menu_holder.top{position:fixed; top:0; left:0;}
div#menu_holder div.menu{display:inline-block; margin:0 9%; width:82%; background-color:#ea6747;}
div#menu_holder ul{display:inline-block; margin:0 auto; list-style:none; height:50px; width:100%;}
div#menu_holder ul li {display:inline-block; height:50px; padding:0; margin:0; position:relative; top:-5px;}
div#menu_holder ul li span.button{color:#fff; font-family:ubuntu; font-size:14px; line-height:30px; padding:10px; text-align:center; text-transform:capitalize; vertical-align:middle; display:block; cursor:pointer; transition:.8s 0s all ease;}
div#menu_holder ul li span.button:hover{background-color:#3598dc;}
div#menu_holder ul li:hover span.button{background-color:#3598dc;}
div#menu_holder ul li.home{/* position:relative;  */height:60px; /* top:-5px; */ background-color:#ea6747; transition:.8s 0s all ease; cursor:pointer;}
div#menu_holder ul li.home:hover{background-color:#3598dc;}
div#menu_holder ul li.home span.button{padding:10px 15px; line-height:40px;}
div#menu_holder ul li.home i{font-size:40px; color:#fff; vertical-align:top;}
div#menu_holder ul li.cart, div#menu_holder ul li.mail, div#menu_holder ul li.sign{float:right; top:0;}
div#menu_holder ul li.cart i{font-size:30px; color:#fff; vertical-align:top;}div#menu_holder ul li.cart span span{padding:1px 2px 2px; display: inline-block; background-color: red; box-sizing: border-box; line-height: 14px; font-size: 12px; font-family: ubuntu; text-align: center; width: 20px; height: 20px; border-radius: 50px; color: rgb(255, 255, 255); margin-left: -10px; z-index: 10; position: relative; top:-10px; border:1px solid rgba(0,0,0,0.4);}
div#menu_holder ul li.mail i{font-size:30px; color:#fff; vertical-align:top;}
div#menu_holder ul li.sign i{font-size:30px; color:#fff; vertical-align:top;}
div#menu_holder ul li ul{display:none; transition:all .5s ease 0s; height:auto; padding:10px 0; position:absolute; background-color:#3598dc; margin:0; min-width:280px; width:auto;}
div#menu_holder ul li ul li{display:block; float:none; padding:10px 15px; margin:0 0; color:#fff; font-family:ubuntu; font-size:13px; line-height:20px; height:auto; position:unset; top:0;}
div#menu_holder ul li ul li:hover{background-color:#5bb1ee; cursor:pointer;}
div#menu_holder ul li ul li a{color:inherit; font-family:inherit; font-size:inherit; line-height:inherit;}
div#menu_holder ul li ul li:hover a{text-decoration:underline;}
div#menu_holder ul li ul li a:hover{}
div#slider{width:100%; z-index:-1; margin-bottom:0;}
div#slider img{width:100%; min-height:25%; margin-bottom:0; display:inline-block; position:relative; z-index:-2; top:-50px; margin-bottom:-45px;}
div#slider div.txt{width:80%; height:50px; margin:0 auto; z-index:-1; position:relative; top:25px; text-align:right;}
div#slider div.txt h2{padding:1%; font-family:ubuntu; font-size:20px; line-height:25px; background-color:#ea6747; display:inline-block; color:#fff; font-weight:normal; text-transform:uppercase;}
div#tabs{margin:0 15%; min-height:25%; width:70%; z-index:20; position:absolute;}
div#tabs ul{display:inline-block; list-style:none;}
div#tabs ul li{display:inline-block; color:#ea6747; background-color:rgba(251,252,246,0.8); line-height:25px; font-family:ubuntu; font-size:18px; font-weight:normal; text-transform:capitalize; cursor:pointer; margin-right:5px; padding:5px 10px; padding-left:30px; transition:all .7s ease 0s; text-transform:uppercase; max-width:20%;}
div#tabs ul li.active{color:#fff; background-color:#df9a18; top:-7px; position:relative; box-shadow:-5px 5px 0 0 rgba(0, 0, 0, 0.3);}
div#tabs ul{}
div#tabs div.item{display:none; padding:10px 15px; background-color:#df9a18; transition:all .5s ease 0s;}
div#tabs div.item.active{display:block; box-shadow:-5px 5px 0 0 rgba(0, 0, 0, 0.3);}
div#tabs div.item form{min-height:80px; padding:5px 0;}
div#tabs div.item form div.form_item{width:32%; border-right:1px solid rgba(242,242,242,.6); min-height:70px; display:inline-block; float:left; clear:none; padding:5px; min-width:210px;}div#tabs div.item form div.form_item.wide{width:auto;}div#tabs div.item form div.form_item.wide.last{width:auto;}div#tabs div.item form div.form_item.wide.last button.last{margin-top:0; float:none; vertical-align:buttom; margin-top:10px;}
div#tabs div.item form div.form_item label{font-size:14px; text-transform:uppercase; line-height:18px; color:#fff; vertical-align:middle; display:inline-block; padding:2px ; margin-right:2px; margin-bottom:5px; min-width:60px;}div#tabs div.item form div.form_item label.inline{min-width:auto; margin-right:5px;}div#tabs div.item form div.form_item select.inline{min-width:auto; margin-right:5px; margin-left:0;}div#tabs div.item form div.form_item span.Zebra_DatePicker_Icon_Wrapper{margin-left:5px;}
div#tabs div.item form div.form_item input[type=text]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:140px; padding:2px 4px; margin-bottom:5px; margin-left:5px; border-radius:5px;}
div#tabs div.item form div.form_item input[type=date]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:140px; padding:2px 4px; margin-bottom:5px; margin-left:5px; border-radius:5px;}
div#tabs div.item form div.form_item input[type=checkbox]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:auto; padding:2px 4px; margin-bottom:5px; margin-right:5px;}
div#tabs div.item form div.form_item span.calendar{font-size:14px; line-height:18px; color:#fff; vertical-align:middle; display:inline-block; width:auto; padding:2px 4px; margin-bottom:5px; margin-right:5px;}
div#tabs div.item form div.form_item span.calendar i{font-size:20px; line-height:18px; color:#4f2612; margin-bottom:5px; margin-right:5px; cursor:pointer;}
div#tabs div.item form div.form_item label.trav{min-width:25px; margin:0 5px 5px 5px;}
div#tabs div.item form div.form_item label i{font-size:20px; line-height:22px; color:#fff; margin-bottom:5px;}
div#tabs div.item form div.form_item select{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:auto; padding:2px 2px; margin-bottom:5px; margin-left:5px; border-radius:5px;}
div#tabs div.item form div.form_item select option{font-size:14px; line-height:16px; color:#666; vertical-align:middle; padding:2px 4px; margin-bottom:5px;}
/* div#tabs div.item form div.form_item button{font-size:14px; text-transform:uppercase; line-height:22px; color:#666; vertical-align:middle; padding:2px 4px; margin-bottom:5px;} */
div#tabs div.item form div.form_item button{float:right; background-color: yellow; border: 0px solid #baa589; border-radius: 5px; color: #666; cursor: pointer; font-size:13px; font-weight: bold; padding: 5px; text-transform: uppercase; font-family:ubuntu; line-height:14px; transition:all .7s ease 0s; display:inline-block;}div#tabs div.item form div.form_item button.last{margin-top:-60px;}
div#tabs div.item form div.form_item button:hover{color:#f2f2f2; text-decoration:underline;}
div#tabs div.item form div.form_item div.option{display:none;}
div#tabs div.item form div.form_item div.option.active{display:block;}
div#tabs div.item form div.form_item.last{border-right:0;}
div#main{background-color:#fcfbf6; padding:0% 5% 0; width:90%; margin-top:-1px; display:block;}
div#main div#pallet{padding:1% 0;}
div#main div#pallet div.item{width:49%; display:inline-block; background-color:transparent;}
div#main div#pallet div.item.r {float:right; clear:none;}
div#main div#pallet div.item  div{width:100%; background-color:#fff; padding:0; margin-bottom:15px; border:1px solid #eee;}
div#main div#pallet div.item  div img{width:35%; height:165px; background-color:#f2f2f2; display:inline-block; vertical-align:top;}
div#main div#pallet div.item  div div{padding:10px 10px 5px; display:inline-block; width:60%; vertical-align:top; text-align:justify; border:0; height:150px; overflow-x:auto; margin-bottom:0; background-color:transparent;}
div#main div#pallet div.item  div div h2{font-size:18px; line-height:20px; margin-bottom:5px; color:#3598dc; font-family:ubuntu; font-weight:normal;}
div#main div#pallet div.item  div div a{font-size:18px; line-height:20px; margin-bottom:5px; color:#3598dc; font-family:ubuntu; font-weight:normal; transition:all .5s ease 0s;}
div#main div#pallet div.item  div div a:hover{color:#ea6747; text-decoration:underline;}
div#main div#pallet div.item  div div p{font-size:16px; font-family:tw cen mt; line-height:22px; color:#333; padding:5px 2px;}
div#footer{background-color:#fcfbf6; width:100%; padding:1% 0 0; margin:0;}
div#footer div.holder{margin:0 auto; width:100%;}
div#footer div.holder div.social{background-color:#fff; border:1px solid #eee; border-width:1px 0; padding:10px 1%; margin-bottom:0;}
div#footer div.holder div.social ul{list-style:none; margin:0; display:inline-block;}
div#footer div.holder div.social img{width:; height:40px; margin:0 5px; vertical-align:middle; display:inline-block; float:right;}
/* div#footer div.holder div.social ul li{font-family:ubuntu; color:#3598dc; font-size:15px; line-height:50px; float:left; display:inline-block; text-transform:capitalize;} */
div#footer div.holder div.social ul li{display:inline-block; color:#fff; padding:2px; font-size:15px; line-height:20px; margin:3px;}
div#footer div.holder div.social ul li a{background-color:#3598dc; color:#fff; border-radius:500px; height:40px; display:block; text-align:center; transition:all 0.4s ease 0s; width:40px;}
div#footer div.holder div.social ul li a:hover{background-color:#ea6747;}
div#footer div.holder div.social ul li a i{color: inherit; font: 20px/40px "FontAwesome";}
div#footer div.holder div.col{background-color:#f8f0e5; padding:15px 1%;}
div#footer div.holder div.col div{vertical-align:top;}
div#footer div.holder div.col div.item{display:inline-block; width:24%; clear:none; border-right:1.5px solid #e4dbc9; margin-right:.5%; min-height:150px;}
div#footer div.holder div.col div.item.last{border-right:0;}
div#footer div.holder div.col div.item h3{color:#52948a; font-family:ubuntu; font-size:16px; line-height:20px; margin-bottom:5px; font-weight:normal; text-transform:capitalize;}
div#footer div.holder div.col div.item p{color:#5b6066; font-family:tw cen mt; font-size:14px; line-height:16px; margin-bottom:5px; text-align:justify; padding:0 8px;}
div#footer div.holder div.col div.sep{width:2px; background-color:#e4dbc9; min-height:150px; display:inline-block; margin-right:10px;}
div#footer div.holder div.partners{background-color:#fff; padding:15px; border-top:1px solid #eee;}
div#footer div.holder div.partners p{font-size:14px; color:#333; font-family:ubuntu; text-transform:capitalize; text-align:left; display:inline-block; margin-right:10px; line-height:20px;}
div#footer div.holder div.partners img{width:; height:40px; margin:0 5px; vertical-align:middle;}

div#main div#pallet {display:table;}
div#main div#pallet div.pall_item{width:50%; padding:0 15px; position:relative; min-height:1px; box-sizing: border-box; float:left;}
div#main div#pallet div.pall_item article{margin-bottom:20px; box-sizing: border-box; clear:both; display:table; background-color:#fff; display:block; border:1px solid #ddd;}
div#main div#pallet div.pall_item article figure{display:block; float:left; width:250px; margin:0; height:165px; box-sizing: border-box;}
div#main div#pallet div.pall_item article figure img{width:100%;}
div#main div#pallet div.pall_item article div{padding:20px 15px 10px 270px; text-align:left; height:167px; box-sizing: border-box;}
div#main div#pallet div.pall_item article div h2{font-size:18px; line-height:20px; margin-bottom:5px; color:#3598dc; font-family:ubuntu; font-weight:normal;}
div#main div#pallet div.pall_item article div h2 a{font-size:18px; line-height:20px; margin-bottom:5px; color:#3598dc; font-family:ubuntu; font-weight:normal; transition:all .5s ease 0s;}
div#main div#pallet div.pall_item article div h2 a:hover{color:#ea6747; text-decoration:underline;}
div#main div#pallet div.pall_item article div p{font-size:16px; font-family:tw cen mt; line-height:22px; color:#333; padding:5px 2px;}div#screen{display:none; width:100%; position:fixed; top:0; left:0; background-color:rgba(0,0,0,0.4); height:120%; padding:0; margin:0; z-index:998; box-sizing:border-box; transition:all .7s ease 0s;}div#screen_over{display:none; z-index:999; padding:15px; position:fixed; margin:5% auto; border:2px solid rgba(60,134,169,0.4); border-radius:10px; background-color:#fff; font-size:14px; line-height:18px; font-family:ubuntu; color:#000; box-sizing:border-box; transition:all .7s ease 0s; top:0; min-width:30%;}div#screen_over a#close_pop{color:#fff; background-color:rgb(60,134,169); border-radius:500px; height:25px; display:block; text-align:center; transition:all 0.4s ease 0s; width:25px; line-height:20px; font-size:18px; font-family:ubuntu; cursor:pointer; position:relative; top:-26.5px; left:26.5px; z-index:1000; float:right; font-weight:bold;}div#screen_over div{display:inherit; box-sizing:border-box; transition:all .7s ease 0s;}div#screen_over div.active{display:block;}div#screen_over div.login{display:none;}div#screen_over div.login ul{list-style:none;}div#screen_over div.login ul li{font-family:ubuntu; font-size:14px; line-height:25px; text-transform:capitalize; display:inline-block; margin-bottom:1px;}div#screen_over div.login ul li span{font-family:ubuntu; font-size:14px; line-height:25px; text-transform:capitalize; cursor:pointer; padding:5px 10px; margin-right:5px; border:1px solid rgb(60,134,169); color:rgb(60,134,169); border-bottom:0; background-color:#fff; border-radius:5px 5px 0 0;}div#screen_over div.login ul li.active span{top:1px; position:relative;}div#screen_over div.login div{display:none; border:1px solid rgb(60,134,169); background-color:#fff; color:#666; border-radius:0 5px 5px 5px; padding:20px 10px; box-sizing:border-box;}div#screen_over div.login div form{}div#screen_over div.login div form label{font-size:14px; text-transform:capitalize; line-height:18px; color:#666; vertical-align:top; display:inline-block; padding:2px ; margin-right:2px; margin-bottom:5px; min-width:120px; margin-bottom:8px;}div#screen_over div.login div form button{float:right; background-color: rgb(60,134,169); border-radius: 5px; color: #fff; border:1px solid rgb(60,134,169); cursor: pointer; font-size:12px; font-weight: normal; padding: 2px; text-transform: capitalize; font-family:ubuntu; line-height:16px; transition:all .7s ease 0s; display:inline-block; margin-top:-30px;}div#screen_over div.login div form input[type=text],div#screen_over div.login div form input[type=password],div#screen_over div.login div form input[type=email]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:150px; padding:2px 4px; margin-bottom:8px; margin-left:5px; border-radius:5px; border:1px solid #666;}div#screen_over div.cart div h3{color:rgb(60,134,169); margin-bottom:10px; text-align:center; font-size:16px; line-height:35px; text-transform:uppercase; font-family:ubuntu; font-weight:normal; border-bottom:1px solid rgb(60,134,169); margin-top:-10px;}div#screen_over div.cart div div{display:inherit;}div#screen_over div.cart div div.item{color:#666; padding:8px; margin-bottom:2px; box-sizing:border-box; font-size:14px; font-family:ubuntu; line-height:25px;}div#screen_over div.cart div div.item.diff{background-color:rgba(60,134,169,0.25);}div#screen_over div.cart div div.item span{color:rgb(60,134,169); font-family:ubuntu; font-size:16px; line-height:32px; text-transform:cap; font-weight:normal; margin-right:5px; text-transform:capitalize;}div#screen_over div.cart div div.item span i{color:inherit; font-size:inherit;}div#screen_over div.cart div div.item a{float:right;  background-color: rgb(60,134,169); border-radius: 5px; color: #fff; border:1px solid rgb(60,134,169); cursor: pointer; font-size:12px; font-weight: normal; padding: 5px; text-transform: capitalize; font-family:ubuntu; line-height:16px; transition:all .7s ease 0s; display:inline-block; margin-left:5px;}div#screen_over div.cart div div.item a:hover{color:#000;}div#screen_over div.cart div a.check_out{display:inline-block; margin:10px auto -10px; background-color: #eea826; border: 1px solid #eea826; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: normal; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; float:right; margin-left:5px;}div#screen_over div.cart div a.check_out:hover{}div#screen_over div.cart div form{}div#screen_over div.cart div form label{font-size:14px; text-transform:capitalize; line-height:18px; color:#666; vertical-align:top; display:inline-block; padding:2px ; margin-right:2px; margin-bottom:5px; min-width:120px; margin-bottom:8px;}div#screen_over div.cart div form button{float:right; background-color: rgb(60,134,169); border-radius: 5px; color: #fff; border:1px solid rgb(60,134,169); cursor: pointer; font-size:12px; font-weight: normal; padding: 2px; text-transform: capitalize; font-family:ubuntu; line-height:16px; transition:all .7s ease 0s; display:inline-block; margin-top:-30px;}div#screen_over div.cart div form input[type=text],div#screen_over div.cart div form input[type=password],div#screen_over div.cart div form input[type=email]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:150px; padding:2px 4px; margin-bottom:8px; margin-left:5px; border-radius:5px; border:1px solid #666;}div#screen_over div.mail div h3{color:rgb(60,134,169); margin-bottom:10px; text-align:center; font-size:16px; line-height:35px; text-transform:uppercase; font-family:ubuntu; font-weight:normal; border-bottom:1px solid rgb(60,134,169); margin-top:-10px;}div#screen_over div.mail div form{}div#screen_over div.mail div form label{font-size:14px; text-transform:capitalize; line-height:18px; color:#666; vertical-align:top; display:inline-block; padding:2px ; margin-right:2px; margin-bottom:5px; min-width:120px; margin-bottom:8px;}div#screen_over div.mail div form textarea{display:inline-block; margin-bottom:10px; background-color:transparent; border:1px solid #666; border-radius:5px; padding:3px 5px; font-size:14px; color:#666; line-height:25px; box-sizing:border-box; min-width:250px; margin-left:5px;}div#screen_over div.mail div form button{float:right; background-color: rgb(60,134,169); border-radius: 5px; color: #fff; border:1px solid rgb(60,134,169); cursor: pointer; font-size:12px; font-weight: normal; padding: 2px; text-transform: capitalize; font-family:ubuntu; line-height:16px; transition:all .7s ease 0s; display:inline-block; margin-top:5px;}div#screen_over div.mail div form input[type=text],div#screen_over div.mail div form input[type=password],div#screen_over div.mail div form input[type=email]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:150px; padding:2px 4px; margin-bottom:8px; margin-left:5px; border-radius:5px; border:1px solid #666;}div#screen_over div.login div.active{display:block;}div#screen_over div.login.active{display:block;}div#screen_over div.mail.active{display:block;}div#screen_over div.mail.active div{display:block;}div#screen_over div.mail div{display:none;}div#screen_over div.cart.active{display:block;}div#screen_over div.cart.active div{display:block;}div#screen_over div.cart div{display:none;}/**for mobile***/body.m_test header{width:100%; padding:.5% 5%; background-color:/* rgba(157,194,52,1) */#fcfbf6; display:table; box-sizing:border-box;}body.m_test header div#logo{display:block; padding:0 .5%; box-sizing:border-box; width:100%; text-align:center;}body.m_test header div#contact{display:block; padding:0 .5%; box-sizing:border-box; width:100%; text-align:center; background-position:center center; height:50px;}body.m_test header div#login{display:none;}body.m_test div#menu_holder.m_test{padding:0 .5%; box-sizing:border-box;}body.m_test div#menu_holder.m_test h2{display:inline-block; height:50px; padding:0; margin:0; position:relative; top:0px;}body.m_test div#menu_holder.m_test h2#mob_login{float:right;}body.m_test div#menu_holder.m_test h2#mob_cart{float:right;}body.m_test div#menu_holder.m_test h2:hover{background-color:#3598dc;}body.m_test div#menu_holder.m_test h2 i{color:#fff; font-size:14px; line-height:30px; margin-right:5px;}body.m_test div#menu_holder.m_test h2 span{color:#fff; font-family:ubuntu; font-size:14px; line-height:30px; padding:10px; text-align:center; text-transform:capitalize; vertical-align:middle; display:block; cursor:pointer; transition:.8s 0s all ease;}body.m_test div#menu_holder.m_test h2 span span{color:#fff; font-family:ubuntu; font-size:14px; line-height:30px; padding:0; text-align:center; text-transform:capitalize; vertical-align:middle; display:inline; cursor:pointer; transition:.8s 0s all ease;}body.m_test div#menu_holder.m_test h2 span a{color:#fff; font-family:ubuntu; font-size:14px; line-height:30px; padding:0; text-align:center; text-transform:capitalize; vertical-align:middle; display:inline; cursor:pointer; transition:.8s 0s all ease;}body.m_test div#menu_holder.m_test h2 span:hover{background-color:#3598dc;}body.m_test div#menu_holder.m_test div.menu{display:none;}div#mobile_menu_body{width:90%; margin:5px auto; display:block; background-color:#ea6747; color:#fff; border:1px solid #666; border-radius:10px; padding:10px; display:none; transition:all .7s ease 0s;}div#mobile_menu_body.top{position:fixed; top:55px; left:5px; z-index:1000;}div#mobile_menu_body div.menu_close{color:#3598dc; float:right; cursor:pointer; padding:4px; border-radius:500px; width:20px; height:20px; display:inline-block; background-color:#fff; text-align:center; vertical-align:middle; line-height:12px; box-sizing:border-box; font-family:ubuntu; font-size:14px; font-weight:bold; padding-top:2px;}div#mobile_menu_body div.menu{display:block; margin:5px 0; width:100%; background-color:#ea6747; box-sizing:border-box;}div#mobile_menu_body ul{display:inline-block; margin:0 auto; list-style:none; width:100%; padding:5px; box-sizing:border-box; padding-top:0;}div#mobile_menu_body ul li {display:block; padding:2px 0; margin-bottom:2px; box-sizing:border-box;}div#mobile_menu_body ul li span.button{color:#fff; font-family:ubuntu; font-size:14px; line-height:25px; padding:5px 10px; text-align:left; text-transform:capitalize; vertical-align:middle; display:block; cursor:pointer; transition:.8s 0s all ease; box-sizing:border-box;}div#mobile_menu_body ul li span.button:hover{background-color:#3598dc;}div#mobile_menu_body ul li:hover span.button{background-color:#3598dc;}div#mobile_menu_body ul li.home{/* position:relative;  */height:auto; /* top:-5px; */ background-color:#ea6747; transition:.8s 0s all ease; cursor:pointer; display:inline-block; clear:both;}div#mobile_menu_body ul li.home:hover{background-color:#3598dc;}div#mobile_menu_body ul li.home span.button{padding:5px; line-height:40px;}div#mobile_menu_body ul li.home i{font-size:40px; color:#fff; vertical-align:top;}div#mobile_menu_body ul li.cart, div#mobile_menu_body ul li.mail, div#mobile_menu_body ul li.sign{float:none; top:0; display:inline-block;}div#mobile_menu_body ul li.cart i{font-size:30px; color:#fff; vertical-align:top;}div#mobile_menu_body ul li.cart span span{padding:1px 2px 2px; display: inline-block; background-color: red; box-sizing: border-box; line-height: 14px; font-size: 12px; font-family: ubuntu; text-align: center; width: 20px; height: 20px; border-radius: 50px; color: rgb(255, 255, 255); margin-left: -10px; z-index: 10; position: relative; top:-10px; border:1px solid rgba(0,0,0,0.4);}div#mobile_menu_body ul li.mail i{font-size:30px; color:#fff; vertical-align:top;}div#mobile_menu_body ul li.sign i{font-size:30px; color:#fff; vertical-align:top;}div#mobile_menu_body ul li ul{display:none; transition:all .3s ease 0s; height:auto; padding:10px 0; position:absolute; background-color:#3598dc; margin:0; min-width:280px; width:auto; z-index:1100;}div#mobile_menu_body ul li ul li{display:block; float:none; padding:10px 15px; margin:0 0; color:#fff; font-family:ubuntu; font-size:13px; line-height:20px; height:auto; position:unset; top:0;}div#mobile_menu_body ul li ul li:hover{background-color:#5bb1ee; cursor:pointer;}div#mobile_menu_body ul li ul li a{color:inherit; font-family:inherit; font-size:inherit; line-height:inherit;}div#mobile_menu_body ul li ul li:hover a{text-decoration:underline;}div#mobile_menu_body ul li ul li a:hover{}body.m_test div#slider{margin-bottom:5px;}body.m_test div#slider img{margin-top:0; margin-bottom:0; display:block; position:unset; top:0;}body.m_test div#tabs{position:static; margin:5px 0; width:100%; box-sizing:border-box; padding:0 10px; display:block;}body.m_test div#tabs form#book_select{padding:10px; box-sizing:border-box; border-radius:5px; margin-bottom:5px; color:#fff; font-size:14px; line-height:18px; font-family:ubuntu; text-transform:capitalize; background-color:#df9a18;}body.m_test div#tabs form#book_select label{color:#fff; font-size:14px; line-height:18px; font-family:ubuntu; text-transform:capitalize; margin-bottom:5px; margin-right:5px;}body.m_test div#tabs form#book_select select{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:auto; padding:2px 2px; margin-bottom:5px; margin-left:5px; border-radius:5px; border:1px solid #666;}body.m_test div#tabs form#book_select select option{font-size:14px; line-height:16px; color:#666; vertical-align:middle; padding:2px 4px; margin-bottom:5px;}body.m_test div#tabs div.item.active{box-shadow:0 0 0 0 transparent;}body.m_test div#tabs div.item{border-radius:5px; padding:5px; box-sizing:border-box;}body.m_test div#tabs div.item form{min-height:10px; padding:0;}body.m_test div#tabs div.item form div.form_item{float:none; min-height:1px; min-width:100%; border:0; padding:5px; display:block; box-sizing:border-box;}body.m_test div#footer div.holder div.social{text-align:center; padding:5px; box-sizing:border-box;}body.m_test div#footer div.holder div.social img{float:none; margin-top:4px;}body.m_test div#footer div.holder div.col{padding:5px; box-sizing:border-box;}body.m_test div#footer div.holder div.col div.item{border:0; margin:0 0 8px 0; box-sizing:border-box; display:block; min-height:10px; width:100%; border-bottom:1.5px solid #e4dbc9; padding-bottom:5px;}body.m_test div#main{overflow:hidden; display:block; margin-top:5px;}body.m_test div#main div#pallet{display:block; padding:5px; box-sizing:border-box; text-align:center;}body.m_test div#main div#pallet div.pall_item{float:none; margin-bottom:5px; width:100%; padding:2px; position:unset; box-sizing:border-box; overflow:hidden;}body.m_test div#main div#pallet div.pall_item article{border-color:#666; margin-bottom:5px; border-radius:5px;}body.m_test div#main div#pallet div.pall_item article figure{float:none; text-align:center; width:100%; height:auto;}body.m_test div#main div#pallet div.pall_item article figure a img{border-radius:5px 5px 0 0; border-bottom:1px solid #666;}body.m_test div#main div#pallet div.pall_item article div{padding:2px 5px; box-sizing:border-box; height:auto;}body.m_test div#main div#pallet div.pall_item article div p{text-align:justify; font-size:15px; line-height:18px;}body.m_test div#main div#pallet div.pall_item article div h2{margin-top:5px; margin-bottom:2px; line-height:18px; font-size:16px;}body.m_test div#main div#pallet div.pall_item article div h2 a{line-height:18px; font-size:16px;}