div#main {padding-top:1%;}
div#main div#tour{padding:0; box-sizing: border-box; border:0px solid #ddd; display:table; background-color:#fcfbf6; width:100%; margin:0;}
div#main div#tour div.path{background-color:#3598dc; padding:0 0 0 1%; margin-bottom:15px; color:#fff; box-sizing: border-box; font-size:14px; line-height:20px; font-family:tw cen mt; display:none;}
div#main div#tour div.path span{font-size:14px; line-height:50px; font-family:tw cen mt; color:#fff; display:inline-block;}
div#main div#tour div.path a{font-size:14px; line-height:50px; font-family:tw cen mt; color:#fff; transition:all .7s ease 0s;  display:inline-block;}
div#main div#tour div.path a.add_cart{padding:0 1%; display:inline-block; height:50px; float:right; background-color:#ea6747; font-family:ubuntu;}
div#main div#tour div.path a.add_cart:hover{color:#222; text-decoration:none;}
div#main div#tour div.path a.add_cart i{color:inherit; font-size:35px; line-height:50px; vertical-align:top; margin-left:5px;}
div#main div#tour div.path a:hover{color:#222; text-decoration:underline;}
div#main div#tour div.tour_desc{box-sizing: border-box; padding:10px 1%; margin-bottom:10px; display:inline-block; width:70%; min-height:1px; border:1px solid #df9a18; border-radius:10px; background-color:#fcfbf7;}
div#main div#tour div.tour_desc div.add_cart{text-align:right;}
/* div#main div#tour div.tour_desc div.add_cart a.add_cart{padding:0 1%; display:inline-block; box-sizing:border-box; background-color:#ea6747; font-family:ubuntu; font-size:14px; line-height:30px; color:#fff; transition:all .7s ease 0s; border-radius:20px; margin:0 -.7% 5px 10px;} */

div#main div#tour div.tour_desc div.add_cart a.add_cart{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}
div#main div#tour div.tour_desc div.add_cart a.add_cart:hover{color:#fff; text-decoration:underline;}

div#main div#tour div.tour_desc div.add_cart button{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}
div#main div#tour div.tour_desc div.add_cart button:hover{color:#fff; text-decoration:underline;}

div#main div#tour div.tour_desc a.add_cart:hover{color:#222; text-decoration:none;}
div#main div#tour div.tour_desc a.add_cart i{color:inherit; font-size:30px; line-height:inherit; vertical-align:top; margin-left:5px;}
div#main div#tour div.tour_desc h1{font-family:ubuntu; font-size:25px; line-height:50px; color:#3598dc; font-weight:normal; text-align:justify; margin-top:-10px;}
div#main div#tour div.tour_desc p.main{color:#999; font-family:ubuntu; font-size:16px; line-height:25px; padding:0 10px 10px; box-sizing: border-box; border-bottom:1px dashed #999;}
div#main div#tour div.tour_desc h2{color:#ea6747; font-family:ubuntu; line-height:35px; font-size:20px; font-weight:normal; text-align:justify; padding-top:7px;}
div#main div#tour div.tour_desc h2 span{color:#3598dc; line-height:35px; font-size:13px; display:inline-block; float:right;}
div#main div#tour div.tour_desc h2 span i{color:#3598dc; line-height:35px; font-size:13px;}
div#main div#tour div.tour_desc p{color:#222; font-family:ubuntu; font-size:14px; line-height:25px; text-align:justify; margin-bottom:10px;}
div#main div#tour div.tour_det{box-sizing: border-box; padding-bottom:0; margin-bottom:10px; display:inline-block; width:29%; min-height:1px; float:right; border:1px solid #3598dc; border-radius:10px; background-color: rgba(53, 152, 220, 0.1);}
div#main div#tour div.tour_det h2{border-radius:0; background-color:transparent; box-sizing: border-box; color: #666; display: inline-block; font-family: ubuntu; font-size: 14px; font-weight: bold; line-height: 18px; margin:10px 2.5% 10px; padding:5px 0; width: 95%; border-bottom:1px solid #999;}
div#main div#tour div.tour_det h2.main{border-radius:10px 10px 0 0; background-color: #4db2d9; box-sizing: border-box; color: #fff; display: inline-block; font-family: ubuntu; font-size: 16px; font-weight: normal; line-height: 22px; margin-bottom: 10px; padding:5px 10px; width: 100%; border:0; margin:0 0 10px 0;}
div#main div#tour div.tour_det img{width:95%; margin:1% 2.5%; padding:0; box-sizing: border-box; border:2px soldi #ddd; background-color:#f59512; max-height:200px;}
div#main div#tour div.tour_det p{color:#222; font-family:ubuntu; font-size:14px; line-height:20px; text-align:center; margin-bottom:10px; padding-bottom:10px; border-bottom:0px dashed #999;}
div#main div#tour div.tour_det p span{box-sizing: border-box; display:inline-block; text-align:center; width:48%; line-height:30px; color:#222; font-size:inherit; font-family:inherit;}
div#main div#tour div.tour_det p span i{color:#999; font-size:25px;}
div#main div#tour div.tour_det p span.price{font-size:20px; font-family:ubuntu;}
div#main div#tour div.tour_det p i, div#main div#tour div.tour_det h2 i{color:inherit; font-size:inherit; line-height:inherit; text-align:justify; margin-left:5px; margin-right:5px; font-weight:inherit;}
div#main div#tour div.tour_det span.sep{height:1px; margin:5px 2.5%; border-bottom:1px dashed #999; display:block; width:95%; clear:both;}
div#main div#tour div.tour_det ul{margin:0px 10px 10px 20px; padding:1px; list-style:square;}
div#main div#tour div.tour_det ul li{color:#222; font-family:ubuntu; font-size:14px; line-height:25px; text-align:justify;}
div#main div#tour div.tour_det ul li span{font-weight:bold;}
div#main div#tour div.tour_det h3{color:#3598dc; font-weight:normal; font-family:menulk2; line-height:30px; font-size:20px; text-align:center;}
div#main div#tour div.tour_det h3 a{color:#3598dc; font-weight:normal; font-family:menulk2; line-height:30px; font-size:20px; text-align:center; transition:all .7s ease 0s;}
div#main div#tour div.tour_det h3 a:hover{color:#f59512;}
div#main div#tour div.tour_tabs{box-sizing: border-box; padding:10px 1%; display:block; min-height:1px; border:1px solid #df9a18; border-radius:10px;}
div#main div#tour div.tour_tabs ul{list-style:none; display:block; margin:0; padding-top:1%; padding-left:10px;}
div#main div#tour div.tour_tabs ul li{display:inline-block; padding:.5% 1%; margin-right:5px; box-sizing: border-box; min-width:25px; font-size:15px; line-height:20px; font-family:ubuntu; text-transform:uppercase; cursor:pointer; color:#333; background-color:transparent; transition:all .7s ease 0s; border:1px solid #df9a18; border-radius:10px 10px 0 0; border-bottom:0;}
div#main div#tour div.tour_tabs ul li#tour_tab_value{cursor:auto; color:#4f2612; text-transform:none; border:0px solid #fff; border-radius:0; border-bottom:0; float:right; position:relative; top:5px; padding:0;}
div#main div#tour div.tour_tabs ul li#tour_tab_value span{font-size:15px; line-height:35px; font-family:ubuntu; text-transform:capitalize; color:inherit; background-color:transparent; font-style:italic;}
div#main div#tour div.tour_tabs ul li#tour_tab_value i{font-size:16px; line-height:35px; color:inherit; background-color:transparent; margin-right:5px; font-style:italic;}
div#main div#tour div.tour_tabs ul li.active{position:relative; top:1px; background-color:#fff; color:#3598dc;}
div#main div#tour div.tour_tabs ul li{}
div#main div#tour div.tour_tabs div.tour_tab_body{display:none; transition:all .7s ease 0s; padding:1% 10px 10px; box-sizing: border-box; border-top:1px solid #df9a18; background-color:transparent; min-height:50px;}
div#main div#tour div.tour_tabs div.tour_tab_body.active{display:block;}
div#main div#tour{}

div#main div#tour div.tour_left{box-sizing: border-box; padding:0; margin-bottom:10px; display:inline-block; width:29%; min-height:1px; float:right;}
div#main div#tour div.tour_left div.item{box-sizing: border-box; margin-bottom:10px; min-height:1px; border:1px solid #df9a18; background-color:#e6f7fe; border-radius:10px; display:block;}
div#main div#tour div.tour_left div.item img{width:90%; margin:0 auto 15px; padding:0; box-sizing: border-box; background-color:#f59512; max-height:200px; display:block;}
div#main div#tour div.tour_left div.item h3{background-color: #4db2d9; box-sizing: border-box; color: #fff; display: inline-block; font-family: menulk2; font-size: 16px; font-weight: normal; line-height: 22px; margin-bottom: 10px; padding:5px 10px; width: 100%; border-radius:10px 10px 0 0;}
div#main div#tour div.tour_left div.item h3 i , div#main div#tour div.tour_left div.item p i{color:inherit; font-size:inherit; line-height:inherit; text-align:justify; margin-left:5px; margin-right:5px; font-weight:inherit;}
div#main div#tour div.tour_left div.item p{color:#1e1e1e; font-size:15px; line-height:20px; text-align:justify; font-family:ubuntu; margin-bottom:10px; padding:5px 10px;}
div#main div#tour div.tour_left div.item p span{box-sizing: border-box; display:inline-block; text-align:center; width:48%; line-height:30px; color:#222; font-size:inherit; font-family:inherit;}
div#main div#tour div.tour_left div.item p span i{color:#999; font-size:25px;}
div#main div#tour div.tour_left div.item p span.price{font-size:20px; font-family:ubuntu;}
div#main div#tour div.tour_left div.item ul{margin:5px 10px 2px 20px; padding:1px; list-style:square; margin-bottom:10px;}
div#main div#tour div.tour_left div.item ul li{color:#222; font-family:ubuntu; font-size:14px; line-height:25px; text-align:justify;}
div#main div#tour div.tour_left div.item ul li span{font-weight:bold;}
div#main div#tour div.tour_left div.item h2{color:#3598dc; font-weight:normal; font-family:menulk2; line-height:30px; font-size:20px; text-align:center; margin-bottom:10px;}
div#main div#tour div.tour_left div.item h2 a{color:#3598dc; font-weight:normal; font-family:menulk2; line-height:30px; font-size:20px; text-align:center; transition:all .7s ease 0s;}
div#main div#tour div.tour_left div.item h2 a:hover{color:#f59512;}
div#main div#tour div.tour_left div.item span.sep{height:1px; margin:5px auto; border-bottom:1px dashed #999; display:block; width:90%; clear:both;}

body.m_test div#main div#tour div.tour_desc{width:100%; padding:10px; box-sizing:border-box; display:block;}
body.m_test div#main div#tour div.tour_desc h1{line-height:30px; font-size:20px; margin-top:0;}
body.m_test div#main div#tour div.tour_desc h2{line-height:20px; font-size:18px; text-align:left; margin-bottom:5px;}
body.m_test div#main div#tour div.tour_desc h2 span{line-height:15px; font-size:12px; float:none; margin-left:4px; display:inline;}

body.m_test div#main div#tour div.tour_det{width:100%; box-sizing:border-box; display:block; padding-bottom:10px;}

body.m_test div#main div#tour div.tour_tabs{padding:5px;}
body.m_test div#main div#tour div.tour_tabs ul{padding:0;}
body.m_test div#main div#tour div.tour_tabs ul li{padding:5px 3px; margin-right:3px; font-size:13px; line-height:18px; min-width:auto;}
body.m_test div#main div#tour div.tour_tabs ul li#tour_tab_value{display:none;}
