div#main {padding-top:1%;}
div#main div#transfer{padding:0 1% .5%; box-sizing: border-box; border:0px solid #ddd; display:table; background-color:transparent; width:100%; margin:0;}
div#main div#transfer div.path{box-sizing: border-box; min-height:1px;}
div#main div#transfer div.path ul{display:block; padding:0 0 10px 0; width:100%; box-sizing: border-box; list-style:none; height:46px;}
div#main div#transfer div.path ul li{padding:10px 40px; display:inline-block; font-size:14px; color:#fff; font-family:ubuntu; text-align:center; min-width:100px; line-height:16px; background-color:#df9a18; text-transform:capitalize; box-sizing: border-box; float:left;}
div#main div#transfer div.path ul li.active{background-color:#3598dc; background-image:url(../img/book_step_active.gif); background-repeat:no-repeat; background-position:center right;}
div#main div#transfer div.path ul li.dis_active{background-image:url(../img/book_step_dis_active.gif); background-repeat:no-repeat; background-position:center right;}
div#main div#transfer div.trans_left{box-sizing: border-box; padding:0.5% 0; margin-bottom:10px; display:inline-block; width:70%; min-height:1px; background-color:#fcfbf7; border-radius:10px; border:1px solid #df9a18;}
div#main div#transfer div.trans_left div.step_desc{box-sizing: border-box; padding:0; margin:0 1% 10px; display:inline-block; width:98%; min-height:1px; /* border:1px solid #3598dc; background-color: rgba(53, 152, 220, 0.1); */ border-bottom:1px solid #eacd97;}
div#main div#transfer div.trans_left div.step_desc h2{box-sizing: border-box; font-weight:normal; font-family:menulk2; font-size:16px; line-height:22px; padding:1%; color:#fff; background-color:#3598dc; margin-bottom:10px; width:100%; display:inline-block;}
/* 
div#main div#transfer div.trans_left div.step_desc ul.path{padding:0; width:100%; box-sizing: border-box; list-style:none; height:50px; background-color:transparent; margin-bottom:10px; display:inline-block;}
div#main div#transfer div.trans_left div.step_desc ul.path li{padding:15px 20px; display:inline-block; font-size:18px; color:#fff; font-family:menulk2; text-align:center; min-width:100px; line-height:20px; background-color:transparent; text-transform:capitalize; box-sizing: border-box; float:left; width:auto;}
div#main div#transfer div.trans_left div.step_desc ul.path li.arrow{padding:0 20px; display:inline-block; font-size:80px; color:#fff; font-family:ubuntu; text-align:center; min-width:5px; line-height:80px; float:left; width:auto;}
div#main div#transfer div.trans_left div.step_desc ul.path li.active{background-color:transparent;} */

div#main div#transfer div.trans_left div.step_desc ul.path{display:block; padding:0; width:100%; box-sizing: border-box; list-style:none; height:50px;}
div#main div#transfer div.trans_left div.step_desc ul.path li{padding:15px 10px; display:inline-block; font-size:16px; color:#eacd97; font-family:ubuntu; text-align:center; min-width:100px; line-height:20px; background-color:transparent; text-transform:capitalize; box-sizing: border-box; float:left; width:20%;}
div#main div#transfer div.trans_left div.step_desc ul.path li.arrow{padding:5px 10px; display:inline-block; font-size:40px; color:#eacd97; font-family:menulk2; text-align:center; min-width:10px; line-height:40px; background-color:transparent; text-transform:capitalize; box-sizing: border-box; float:left; width:auto; background-image:url(../img/book_step_dis_active.gif); background-position:center center; background-repeat:no-repeat;}
div#main div#transfer div.trans_left div.step_desc ul.path li.active{color:#df9a18;}
div#main div#transfer div.trans_left div.step_desc ul.path li.active.arrow{background-image:url(../img/book_step_active.gif);}
div#main div#transfer div.trans_left div.step_desc ul.path li.dis_active{}


div#main div#transfer div.trans_left div.step_desc span{box-sizing: border-box; width:50px; height:50px; display:inline-block; margin:0 1% .5%; color:#fff; font-size:30px; line-height:50px; vertical-align:middle; text-align:center; background-color:#3598dc; border-radius:500px; max-width:10%;}
div#main div#transfer div.trans_left div.step_desc span i{color:#fff;}
div#main div#transfer div.trans_left div.step_desc ul{display:inline-block; width:90%; padding:.5% 1%; box-sizing:border-box; float:right;}
div#main div#transfer div.trans_left div.step_desc ul li{font-family:ubuntu; font-size:14px; line-height:20px; color:#666;}
div#main div#transfer div.trans_left div.extra_choose{font-family:ubuntu; font-size:14px; line-height:20px; color:#000; background-color: rgba(53, 152, 220, 0.1); border:1px solid #3598dc; width:98%; margin:0 1%;}
div#main div#transfer div.trans_left div.extra_choose tr.diff{background-color:#d6e9f7;}div#main div#transfer div.trans_left div.extra_choose th{padding:.5% 1%; background-color:#3598dc; text-align:left;}
div#main div#transfer div.trans_left div.extra_choose th+th{ text-align:center;}
div#main div#transfer div.trans_left div.extra_choose td{padding:.5% 1%; background-color:transparent; box-sizing:border-box; width:50%; text-align:left; vertical-align:center; font-size:13px; color:#666; line-height:18px; font-family:ubuntu;}div#main div#transfer div.trans_left div.extra_choose td i{font-size:13px; color:#666; line-height:18px;}
div#main div#transfer div.trans_left div.extra_choose td+td{width:12.5%; text-align:center;}
div#main div#transfer div.trans_left div.extra_choose th h2{font-family:ubuntu; font-size:14px; line-height:22px; color:#fff;}
div#main div#transfer div.trans_left div.extra_choose th p{font-family:ubuntu; font-size:12px; line-height:18px; color:#fff; font-weight:normal;}
div#main div#transfer div.trans_left div.extra_choose td h2{font-family:ubuntu; font-size:14px; line-height:22px; color:#000; margin-bottom:10px;}
div#main div#transfer div.trans_left div.extra_choose td p{font-family:ubuntu; font-size:13px; line-height:18px; color:#000; text-align:justify;}div#main div#transfer div.trans_left div.extra_choose td select{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:auto; padding:2px; margin-bottom:5px; border-radius:5px; border:1px solid #666;}
div#main div#transfer div.trans_left div.car_item {box-sizing: border-box; padding:1%; margin-bottom:0px; display:inline-block; width:100%; min-height:1px; border-bottom:1px solid #df9a18; border-radius:0;}div#main div#transfer div.trans_left div.step_pass{padding:10px 0 0 0; text-align:center; width:100%; float:none; box-sizing:border-box;}div#main div#transfer div.trans_left div.step_pass a{background-color: #eea826; border: 1px solid #eea826; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}div#main div#transfer div.trans_left div.step_pass a:hover{color:#fff; text-decoration:underline;}
div#main div#transfer div.trans_left div.car_item.last{border:0;}
div#main div#transfer div.trans_left div.car_item.diff{background-color:rgba(250, 229, 190, 0.3);}
div#main div#transfer div.trans_left div.car_item div.desc {box-sizing: border-box; padding:0; display:inline-block; width:70%; min-height:1px;}
/* div#main div#transfer div.trans_left div.car_item div.desc div.img{box-sizing: border-box; padding:2% 3%; margin-right:2% display:inline-block; width:39%; min-height:1px; display:inline-block; vertical-align:middle;}
div#main div#transfer div.trans_left div.car_item div.desc div.img img{width:100%;}
div#main div#transfer div.trans_left div.car_item div.desc div.txt{box-sizing: border-box; padding:0; display:inline-block; width:59%; min-height:1px; float:right; padding-top:2%;  vertical-align:middle;} */
div#main div#transfer div.trans_left div.car_item div.desc h3{color:#4f2610; font-size:16px; line-height:25px; font-family:ubuntu; font-weight:bold; margin-bottom:15px;}
div#main div#transfer div.trans_left div.car_item div.desc p{color:#4f2610; font-size:14px; line-height:20px; font-family:ubuntu; text-align:justify; margin-bottom:10px;}
div#main div#transfer div.trans_left div.car_item div.desc p i{color:#4f2610; font-size:14px; line-height:20px; vertical-align:middle; margin:0 4px;}
div#main div#transfer div.trans_left div.car_item div.desc ul{list-style:none; display:block; width:100%; margin-top:30px;}
div#main div#transfer div.trans_left div.car_item div.desc ul li{display:inline-block; width:45%; box-sizing: border-box; font-family:ubuntu; font-size:12px; color:#4f2610; margin-bottom:10px; line-height:16px;}
div#main div#transfer div.trans_left div.car_item div.desc ul li i{color:#4f2610; margin-right:5px; font-size:16px;}
div#main div#transfer div.trans_left div.car_item div.action {box-sizing: border-box; padding:0%; padding-bottom:10px; display:inline-block; width:29%; min-height:1px; border:1px solid #df9a18; border-radius:0; background-color:#fff; float:right; border-radius:10px;}
div#main div#transfer div.trans_left div.car_item div.action img{width:100%; margin-bottom:5px; border-bottom:1px solid #df9a18; border-radius:10px 10px 0 0; height:150px;}
/* div#main div#transfer div.trans_left div.car_item div.action p.price {padding:2% .5%;}
div#main div#transfer div.trans_left div.car_item div.action p.price span.curr{font-size:35px; font-family:ubuntu; color:#1e1e1e; line-height:50px; display:inline-block; width:100%; font-weight:bold;}
div#main div#transfer div.trans_left div.car_item div.action p.price span.curr i{font-weight:normal; margin-right:5px; font-size:30px; margin-left:5px;}
div#main div#transfer div.trans_left div.car_item div.action p.price span.msg{display:inline-block; width:100%; font-size:14px; line-height:18px; font-family:ubuntu}
div#main div#transfer div.trans_left div.car_item div.action p.price a{line-height:20px; margin:5px 0; text-decoration:underline; color:#3598dc;}
div#main div#transfer div.trans_left div.car_item div.action p.price br{line-height:5px;}
div#main div#transfer div.trans_left div.car_item div.action a.book{padding:2%; color:#fff; background-color:#93b241; text-transform:uppercase; transition:all .7s ease 0s; margin:5px 0; display:inline-block; text-align:center; font-size:15px; line-height:20px; font-family:ubuntu; font-weight:bold;}
div#main div#transfer div.trans_left div.car_item div.action a.book:hover{color:#1e1e1e;}
div#main div#transfer div.trans_left div.car_item div.action p.msg{font-family:ubuntu; font-size:12px; line-height:18px;}
div#main div#transfer div.trans_left div.car_item div.action{} */
div#main div#transfer div.trans_left div.car_item div.action p{color:#4f2610; font-family:ubuntu; font-size:16px; line-height:20px; margin-bottom:5px; text-align:justify; text-transform:uppercase; padding:0 10px; font-weight:normal;}
div#main div#transfer div.trans_left div.car_item div.action p.price{color:#df9a18; font-size:18px; line-height:22px; margin:5px; padding:0 10px; font-weight:bold; display:inline-block;}
div#main div#transfer div.trans_left div.car_item div.action p.price i{margin-right:5px; color:#df9a18;}
div#main div#transfer div.trans_left div.car_item div.action a{color: #df9a18; line-height: 20px; margin: 5px 0; text-decoration: underline; font-family:ubuntu; font-size:14px; transition:all .7s ease 0s; float:right; margin-right:10px;}
div#main div#transfer div.trans_left div.car_item div.action a:hover{color: #4f2610;}
div#main div#transfer div.trans_left div.car_item div.book{padding:5px 0 0 0; text-align:center; width:27%; float:right; box-sizing:border-box;}
div#main div#transfer div.trans_left div.car_item div.book a{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}
div#main div#transfer div.trans_left div.car_item div.book a:hover{color:#fff; text-decoration:underline;}div#main div#transfer div.trans_left div.car_item div.book button{background-color: #eea826; border: 1px solid #baa589; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:14px; font-weight: bold; padding: 5px 8px; text-transform: uppercase; font-family:ubuntu; line-height:18px; transition:all .7s ease 0s; display:inline-block;}
div#main div#transfer div.trans_left div.car_item div.book button:hover{color:#fff; text-decoration:underline;}div#main div#transfer div.trans_left div.passenger_info{padding:0 15px; color:#df9a18;}div#main div#transfer div.trans_left div.passenger_info form h3{width:auto; padding-bottom:5px; color:#df9a18; font-size:13px; line-height:18px; margin:10px auto 5px; display:inline-block; box-sizing:border-box; text-align:left; text-transform:uppercase; font-family:ubuntu; font-weight:bold; border-bottom:1px dashed #df9a18;}div#main div#transfer div.trans_left div.passenger_info form h3{width:auto; padding-bottom:5px; color:#df9a18; font-size:13px; line-height:18px; margin:10px auto 5px; display:inline-block; box-sizing:border-box; text-align:left; text-transform:uppercase; font-family:ubuntu; font-weight:bold; border-bottom:1px dashed #df9a18;}div#main div#transfer div.trans_left div.passenger_info form label{font-size:14px; text-transform:none; line-height:18px; color:#4f2612; vertical-align:top; display:inline-block; padding:2px ; margin-right:2px; margin-bottom:5px; min-width:280px;}div#main div#transfer div.trans_left div.passenger_info form label input[type=checkbox]{margin-right:10px;}div#main div#transfer div.trans_left div.passenger_info form label a{color:inherit; font-family:inherit; font-size:inherit; text-decoration:underline; transition:all .7s ease 0s;}div#main div#transfer div.trans_left div.passenger_info form label a:hover{text-decoration:none; color:#df9a18;}div#main div#transfer div.trans_left div.passenger_info form input[type=text]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:260px; padding:2px 4px; margin-bottom:5px; margin-left:0px; border-radius:5px; border:1px solid #666;}div#main div#transfer div.trans_left div.passenger_info form input[type=mail]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:260px; padding:2px 4px; margin-bottom:5px; margin-left:0px; border-radius:5px; border:1px solid #666;}div#main div#transfer div.trans_left div.passenger_info form input[type=date]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:200px; padding:2px 4px; margin-bottom:5px; margin-left:0px; border-radius:5px; border:1px solid #666;}div#main div#transfer div.trans_left div.passenger_info form input[type=checkbox]{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:auto; padding:2px 4px; margin-bottom:5px; margin-right:5px; border-radius:5px;}div#main div#transfer div.trans_left div.passenger_info form span.calendar{font-size:14px; text-transform:uppercase; line-height:16px; color:#fff; vertical-align:middle; display:inline-block; width:auto; padding:2px 4px; margin-bottom:5px; margin-right:5px;}div#main div#transfer div.trans_left div.passenger_info form span.calendar i{font-size:20px; line-height:16px; color:#4f2612; margin-bottom:5px; margin-right:5px; cursor:pointer;}div#main div#transfer div.trans_left div.passenger_info form select{font-size:14px; line-height:16px; color:#666; vertical-align:middle; display:inline-block; width:auto; padding:2px; margin-bottom:5px; border-radius:5px; border:1px solid #666;}div#main div#transfer div.trans_left div.passenger_info form select option{font-size:14px; line-height:16px; color:#666; vertical-align:middle; padding:2px; margin-bottom:5px;}div#main div#transfer div.trans_left div.passenger_info form button.book{float:right; background-color: #eea826; border: 1px solid #eea826; border-radius: 5px; color: #4f2612; cursor: pointer; font-size:12px; font-weight: bold; padding: 2px; text-transform: uppercase; font-family:ubuntu; line-height:16px; transition:all .7s ease 0s; display:inline-block; margin-top:-30px;}div#main div#transfer div.trans_left div.passenger_info form button:hover{color:#fff; text-decoration:underline;}div#main div#transfer div.trans_left div.passenger_info form textarea{display:inline-block; margin-bottom:10px; background-color:transparent; border:1px solid #666; border-radius:5px; padding:3px 5px; font-size:14px; color:#4f2613; line-height:25px; box-sizing:border-box; min-width:400px;}

div#main div#transfer div.trans_right{box-sizing: border-box; padding:0 0 10px 0; margin-bottom:10px; display:inline-block; width:29%; min-height:1px; float:right;}
div#main div#transfer div.trans_right div.tran_side_item{padding:0; margin-bottom:15px; background-color: rgba(53, 152, 220, 0.1); border-radius:10px; border:1px solid #df9a18;}
div#main div#transfer div.trans_right div.tran_side_item h2{box-sizing: border-box; font-weight:normal; font-family:menulk2; font-size:16px; line-height:22px; padding:1%; color:#fff; background-color:#4db2d9; margin-bottom:10px; width:100%; display:inline-block; border-radius:10px 10px 0 0;}
div#main div#transfer div.trans_right div.tran_side_item div{padding:0 3% 3%;}
div#main div#transfer div.trans_right div.tran_side_item div h3{color:#666; padding-bottom:4px; font-size:13px; font-family:ubuntu; border-bottom:1px solid #999; margin-bottom:5px;}
div#main div#transfer div.trans_right div.tran_side_item div ul{list-style:none; margin-bottom:15px;}
div#main div#transfer div.trans_right div.tran_side_item div ul li span{font-weight:bold; font-family:inherit; color:inherit; line-height:inherit; font-size:inherit; margin-right:5px;}
div#main div#transfer div.trans_right div.tran_side_item div ul li{color:#1e1e1e; font-size:12px; line-height:16px; margin-bottom:4px; font-family:ubuntu;}

div#main div#transfer div.trans_left div.trans_item {box-sizing: border-box; padding:10px 1% 0; margin-bottom:10px; display:inline-block; width:100%; min-height:1px; border-bottom:0px solid #df9a18; border-radius:0;}

div#main div#transfer div.trans_left div.trans_item div.invoice{}
div#main div#transfer div.trans_left div.trans_item div.invoice h3{text-align:center; font-size:14px; color:#000; margin-bottom:10px; font-family:ubuntu;}
div#main div#transfer div.trans_left div.trans_item div.invoice h2{width:100%; padding:0 1%; color:rgb(19, 55, 133); font-size:12px; line-height:18px; margin:0px auto 5px; display:inline-block; box-sizing:border-box; text-align:left; text-transform:none; font-family:ubuntu; font-weight:bold;}
div#main div#transfer div.trans_left div.trans_item div.invoice h2 span{font-family:inherit; color:inherit; font-size:inherit; line-height:inherit; font-weight:inherit;}
div#main div#transfer div.trans_left div.trans_item div.invoice h2 span.bold{font-size:13px; margin-right:5px;}
div#main div#transfer div.trans_left div.trans_item div.invoice h2.sub_title{text-transform:capitalize;}
div#main div#transfer div.trans_left div.trans_item div.invoice h2.title{background-color:rgb(195, 226, 255); margin:5px auto; padding:5px; padding-left:15px;}
div#main div#transfer div.trans_left div.trans_item div.invoice h2.sub_title.black{color:#000; border-bottom:1px solid rgb(146, 187, 225); margin:5px auto; padding:5px; padding-left:15px;}
div#main div#transfer div.trans_left div.trans_item div.invoice p{color:#000; margin:5px auto; padding:2px; font-size:13px; line-height:16px; font-family:ubuntu; text-align:justify;}
div#main div#transfer div.trans_left div.trans_item div.invoice p.blu, div#main div#transfer div.trans_left div.trans_item div.invoice p span.blu{color:rgb(19, 55, 133);}
div#main div#transfer div.trans_left div.trans_item div.invoice p span.red{color:red;}
div#main div#transfer div.trans_left div.trans_item div.invoice p span{font-family:inherit; color:inherit; font-size:inherit; line-height:inherit; font-weight:inherit;}
div#main div#transfer div.trans_left div.trans_item div.invoice p.sep{border-bottom:1px solid rgb(146, 187, 225);}
div#main div#transfer div.trans_left div.trans_item div.invoice ul{list-style-type:n; padding-left:20px; border-bottom:1px solid rgb(146, 187, 225); margin:5px 4px; padding-bottom:5px;}
div#main div#transfer div.trans_left div.trans_item div.invoice ul li{color:rgb(19, 55, 133); font-size:12px; margin-bottom:3px; font-family:ubuntu; line-height:15px; text-align:justify;}
div#main div#transfer div.trans_left div.trans_item div.invoice table {width:100%; margin:5px 0; box-sizing:border-box;}
div#main div#transfer div.trans_left div.trans_item div.invoice table td, div#main div#transfer div.trans_left div.trans_item div.invoice table th{padding:.5%;}
