@font-face{font-family: RalewayRegular; src:url(../fonts/Raleway-Regular.ttf);}
*{font-family: RalewayRegular; line-height: 20px; color: #333; text-transform: none; text-align: left; direction: ltr; text-decoration: none; box-sizing: border-box;}

.mainContainer{
	padding: 0;
	margin: 0;
	background-color: #fff;
}

/*Start of first Containe rWrap*/

.firstContainerWrap{
	padding: 0;
	margin: 0;
	background-image: url(../img/banner2-bg.jpg);
	background-size: cover;
}

.firstSection{
	padding-top: 20px;
	padding-bottom: 20px;
}
.headerLogo{
	padding-left: 30px;
	margin-top: -3px;
}
.headerContactsMenu{
	padding-right: 30px;
	margin-top: 4px;
}
.numbers{
	text-align: right;
}
.contacts{
	list-style: none; padding: 0; margin: 0; float: right;
}
.contacts li{
	display: inline-block; float: right; text-align: right; font-size: 16px;color: #fff; margin: 0 10px;
	padding-left: 9px;
}
.contacts li strong{
	color: inherit;
	font-size: 16px;
	margin-right: 5px;
}
.navbar-default{
	margin-top:4px;
	background-color: transparent;
	border:0;
}
.navbar-header{display: none;}
.navbar-default .navbar-nav li {transition: .5s all ease 0s;  border-radius: 10px; padding-left: 4px;}
.navbar-default .navbar-nav li:hover {background-color: #fff;}
.navbar-default .navbar-nav li > a{color:#fff; font-size: 16px; display: block; line-height: 20px; padding: 12px 10px; transition:.5s all ease 0s;}
.navbar-default .navbar-nav li:hover > a{color:#e52a3b;}
.navbar-default .navbar-nav li > a > span.caret{color:inherit;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: inherit; border:0; color: #e52a3b; border-radius: 10px;
}
.navbar-nav>li>.dropdown-menu{border-radius:10px;}
.navbar-default .navbar-nav ul.dropdown-menu > li > a{color:#e52a3b; border-radius:10px; padding: 3px 10px; margin: 0 5px; font-size:14px; line-height: 18px;}
.navbar-default .navbar-nav ul.dropdown-menu > li:hover > a{color:#fff;background-color: #e52a3b}

.bannerBody {margin-top: -9px;}
.bannerBody .txt h3{color: #fff; font-weight: normal; font-size: 36px; line-height: 25px; text-align: center; margin-bottom: 27px;}
.bannerBody .txt p{color: #fff; font-size: 16px; line-height: 20px; text-align: center; margin-bottom: 20px;}
.bannerBtns{
	margin-top: -25px;
}
.bannerBtns ul{
	list-style: none; color: #fff; margin: 80px auto; padding: 0; text-align: center;
}
.bannerBtns ul li{list-style: none; color:#fff; font-size: 20px; line-height: 30px; display: inline-block; z-index: 10; text-align: center; padding: 20px; margin:5px -5px 10px;}
.bannerBtns ul li p{color: #fff; text-align: center; z-index: 10; position: relative; display: block; font-size: 16px;}
.bannerBtns ul li h4{color: #fff; text-align: center; z-index: 10; position: relative; display: block; font-size:36px; min-width: 135px;}

.bannerBtns ul li span.back{
	display: block; position: relative; top: 0; left: -1.3%; padding: 48%; margin-top:-84.5%; transform: rotate(45deg); transition: .5s all ease-in-out 0s; 
}
.bannerBtns ul li.first span.back{ background-color: rgba(0, 163, 219, 0.6); z-index: 4;}
.bannerBtns ul li.second span.back{ background-color:rgba(3, 201, 169, 0.8); z-index: 5;}
.bannerBtns ul li.third span.back{ background-color: rgba(229, 42, 59, 0.8); z-index: 4;}
.bannerBtns ul li.fourth span.back{ background-color: rgba(255, 95, 155, 0.6); z-index: 5;}
.bannerBtns ul li:hover span.back{transform: rotate(-45deg)}
.bannerBtns ul li a{background-color: #000; z-index: 10; color: #fff; border-radius: 25px; display: block; width: 74px; text-align: center; text-decoration: none; padding: 7px; margin-bottom: 5px; font-size:14px;}
.bannerBtns ul li span.blinks{display: none; position: absolute; z-index: 10; padding: 10px; padding: 30px; margin-top: -35px;}
.bannerBtns ul li span.blinks span{background-color: rgba(255,255,255,.3); border-radius: 25px; padding: 7px 7px 2px; display: block; margin-bottom: 5px;}
.bannerBtns ul li:hover span.blinks{display: block;}
.bannerBtns ul li a:first-child:hover {background-color: #e52a3b; z-index: 10; color: #fff; border-radius: 25px; display: block; width: 74px; text-align: center; text-decoration: none; padding: 7px; margin-bottom: 5px; border: 1px solid #fff;}
.bannerBtns ul li a:first-child{border: 1px solid transparent;}
.bannerBtns ul li span.blinks a:last-child{background-color: #e52a3b; border: 1px solid transparent;}
.bannerBtns ul li span.blinks a:last-child:hover{border: 1px solid #fff; background-color: #000;}

.bannerBtns ul li span.blinks a:last-child.details{background-color: #000;}
.bannerBtns ul li span.blinks a:last-child.details:hover{background-color: #e52a3b;}
#callUs {
	font-size: 16px;
	color:#e2cc55
}
#callUs span{
	color: #fff;
	font-size: 16px;
	
}
/*end of CSS for first Container Wrap*/

/*Start of Second Container wrap*/

.secondContainerWrap {
	background-image: url(../img/header-triangle.png);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #e52a3b;
}

.secondSection p, .secondSection strong {color:#fff;}

.redBannerTitle {
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}

.redBannerP {
	font-size: 16px;
}

.bigButton {position: relative; margin-left: 2%; margin-top: 20px;}

.bigButton span {width: 46px; line-height: 46px; border-radius: 50%; z-index: 1; box-shadow: 0 0 0 6px rgba(255,255,255,.2); 
	background: #FAFAF8; color: #444; text-transform: uppercase;position: absolute; left: 48%; top: 54%; 
	transform: translate(-50%, -50%);text-align: center;}

.bigButton .btn-primary {color: #fff; background-color: #e52a3b; border-color: #e52a3b; border-radius: 25px; padding: 15px 40px; margin-top: 10px; margin-bottom: 5px;box-shadow: 0 0 0 7px rgba(255,255,255,0.2); transition: all .25s ease-in-out;width: 48%;}
.bigButton .btn-primary:hover {background-color: #243441; border: 1px solid #fff;}

.bigButton .btn-default {color: #fff; background-color: #243441; border-color: #fff; border-radius: 25px; padding: 15px 40px; margin-top: 10px; margin-bottom: 5px; box-shadow: 0 0 0 7px rgba(255,255,255,0.2); transition: all .25s ease-in-out;width: 48%;}
.bigButton .btn-default:hover {background-color: #E52A3B; border-color: 1px solid #fff; color: #fff; }

/*End of Second Container wrap*/

/*Start of third container wrap and diagram*/
.thirdContainerWrap{padding-top: 30px;}
.thirdSection{margin:10px auto;}
.diagramTitle {
	text-align: center;
}

.diagramTitle h2 {
	font-weight: 500;
	margin:20px auto 0;
	text-align: center;
}

.diagramTitle h2 span {
	font-weight: bold;
	font-size: 30px;
}

.diagramTitle p {
	font-size: 16px;
	margin-bottom: 0;
}

.diagramMain {
	background-image: url(../img/ourprocess.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
    padding-top: 82px;
    display: table;
    padding: 44px 40px 0;
    margin-bottom: 55px;
	width: 100%;
}
.diagramMain a{text-decoration: none;}
.diagramMain i {
	background: #fff;
    color: #52535c;
    font-size: 32px;
    clear: both;
    border-radius: 50%;
    border: 2px solid #f4f3f3;
    width: 120px;
    height: 120px;
    text-shadow: none;
    box-shadow: 0 2px 0 0px rgba(0,0,0,0.017);
	line-height: 120px; display: block; text-align: center;	
	margin: 0 auto;
	transition: .5s all ease 0s;
	cursor: pointer;
}
.diagramMain i:hover{color:#e52a3b; border-color: #e52a3b;}

.panelItem{text-align: center;}
.panelItem h4{margin: 34px auto 15px; font-size: 17px; color:#171c24; text-transform: uppercase; text-align: center;}
.panelItem h4 a{margin: 0; display: block; color: #000; text-decoration: none; font-size: 17px; text-transform: inherit; text-align: inherit;}
.panelItem h4 a span{font-weight: bold; text-transform: inherit; font-size: 17px; color: inherit}
.panelItem p{color: #8a8a8a;font-size: 16px; padding: 0 15px; line-height: 1.6; text-align: center;}
.panelItem p span{font-weight: bold;text-transform: capitalize; color:#8a8a8a; font-size: 16px;}

.custHome{
	background: url(../img/home-clients.png) center 30px no-repeat;
	background-size: contain;
	min-height: 374px;
	padding-top: 160px;
}
h3.custHomeTitle{
	color: #999; text-align: center; font-size: 24px; margin: 20px auto 10px;
}
.custHome img{margin: 0 auto;}
.custHome .carousel{margin:15px auto 30px;}
p.custBtn{text-align: center;}
p.custBtn a{padding: 15px 40px; background-color: #e52a3b; text-decoration: none; box-shadow: 0 0 0 7px rgba(255,255,255,0.2); border-radius: 4px; transition: all .25s ease-in-out; margin:10px auto 5px; border:1px solid #e52a3b;}
p.custBtn a:hover{background-color: #333; border-color: #333;}
/*diagram ends here*/

.fourthSection {
	margin-top: 20px;
}

.lefthalf {
	margin-top: -35px;
}

.lefthalf h1 {
	font-size: 50px;
	font-weight: bold;
}

.lefthalf p {
	font-size: 16px;
	padding-right: 10px;
}

.lefthalf ul {
	list-style: none;
	padding-left: 10px;
}

.lefthalf ul li {
	margin-bottom: 10px;
	font-size: 16px;
}

.lefthalf i.fa.fa-star {
	background-color: #e52a3b;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.lefthalf i.fa.fa-user{
	background-color: #e52a3b;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.lefthalf i.fa.fa-mobile{
	    background-color: #e52a3b;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.lefthalf i.fa.fa-lock{
	background-color: #e52a3b;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}



#lefthalf-callus  {
	color: #e52a3b;
}

#lefthalf-callus, #lefthalf-contacts {
	font-size: 22px;
}

.fourthContainerWrap{
	background-image: url(../img/STS-website-design.png);
	background-repeat: no-repeat;
	background-position: right;
	height: 700px;
	padding-bottom: 0px;
}

/*fifth contianer wrap */
.fifthContainerWrap {
	height: 700px;
	padding-top: 20px;
}
.crmImage {
	background: url(../img/crm.png) -32% top no-repeat;
}

.bordering {
    background-color: #e52a3b;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.fifthSection h1 {
	font-size: 50px;
	font-weight: normal;
	padding-bottom: 15px;
}

.fifthSection p {
	font-size: 16px;
	font-weight: normal;
}
#righthalf-callus {
	color: #e52a3b;
}

#righthalf-contacts, #righthalf-callus {
	font-size: 22px;
}

/* six container wrap*/
.sixContainerWrap{padding-top: 20px;}
.hostTitle{font-size: 50px; color: #333; line-height: 1.4}
.hostParagraph p:first-child{line-height: 1.4; font-size: 22px;}
.hostParagraph p:last-child{line-height: 1.4; font-size: 16px;}

/* seven container wrap*/
.sevenContainerWrap{padding:30px 0 20px;}
.devPanel{padding-bottom: 20px;}
.devEnvo{padding-top: 20px;}
.techItem img{margin: 0 auto;}
.techItem h4, .techItem p{text-align: center;}
.devEnvoTitle{font-size: 44px; color: #333; line-height: 1.4}

/* eight container wrap */
.eightContainerWrap{padding:30px 0; background-color: #f6f6f6; min-height: 100px;}
.devItem img{margin: 0 auto;}
.devItem h4, .devItem p{text-align: center;}
.devItem h4{font-weight: 600}

/* nine container wrap*/
.nineContainerWrap{padding-top: 30px; padding-bottom: 20px;}
.blogPanel h3 a{
	font-size: 24px;
	transition: all 0.5s ease 0s; 
	text-decoration: none;
	color: #333;
	line-height: 1.1;
}

.blogPanel h3:hover a {
	color: #e52a3b;
}

.blogPanel p a{
	font-size: 16px;
	transition: all 0.5s ease 0s; 
	text-decoration: none;
	color: #999;
	line-height: 1.4;
}

.blogPanel p:hover a {
	color: #e52a3b;
}
.blogPanel p{font-size: 16px; line-height: 20px;}
.blogPanel p.hostTitle{font-size: 50px; color: #333; line-height: 1.4}

/* footer */
footer{padding: 20px 0; background-color: #191919;}
footer .footerTitle{font-size: 22px; line-height: 1.4; color: #fff;}
footer ul.footerList{list-style: none; padding: 0; margin: 10px;}
footer ul.footerList li{font-size:16px; line-height: 1.4;}
footer ul.footerList li a{font-size:16px; line-height: 1.4; color: #727272; text-decoration: none;}
footer ul.footerList li:hover a{color: #fff;}
footer ul.footerList li:hover a i{color: #fff;}
footer form{}
footer form input[type='text'], footer form input[type='tel'], footer form input[type='email'],footer form textarea{display:block; width: 100%; background-color: transparent; color: #fff; border:1px solid #525050; height:35px; padding: 5px 10px; margin:5px auto 10px; border-radius:5px;}
footer form textarea{height:90px;}
footer form input[type='button'].btn-primary {color: #fff; background-color: #e52a3b; border-color: #e52a3b; border-radius: 5px; padding: 15px 40px; margin-top: 10px; margin-bottom: 5px;box-shadow: 0 0 0 7px rgba(255,255,255,0.2); transition: all .25s ease-in-out;}
footer form input[type='button'].btn-primary:hover {background-color: #243441; border: 1px solid #fff;}

.copyRights{background-color: #303030; padding: 20px 0; text-align: left;}
.copyRights .rights p,.copyRights .rights span{color: #727272; font-size: 14px; line-height: 20px; margin-bottom: 0;}
.copyRights .rights a{color:#727272; font-size: 14px; line-height: 20px; text-decoration: none;}
.copyRights .social {text-align: right;}
.copyRights .social a{width: 25px; height: 25px; background-color: #727272; margin:0 5px; border-radius: 50%; transition: .3s all ease 0s; display: inline-block; float: right;}
.copyRights .social a:hover{background-color: #333;}
.copyRights .social a i{line-height: 25px; display: block; margin: 0 auto; color: #fff; font-size: 14px; text-align: center;}

.clientsBanner{background-image: url(../img/sts-egypt-header.png); background-position: right bottom; background-repeat: no-repeat; min-height:260px; background-size: contain; margin-bottom: -20px;}
.clientsBanner h1{color:#fff; font-size: 45px; line-height: 1.4;}
.clientsBanner p{color:#fff; font-size: 22px; line-height: 1.4;}
.secondContainerWrap.innerPage{background-color: #fff; padding: 30px 15px 0; }
p.clientsBigNote{padding: 15px; margin-bottom: 20px; background-color: #eee; color:#333; font-size: 22px; line-height: 1.4;}
.clientsPanel{}
.clientsPanel div{margin-bottom: 25px;}
.clientsPanel div img{display: block; margin: 0 auto; vertical-align: middle;}
.clientsPanel div h4{font-size: 18px; line-height: 1.1; color: #333; text-align: center;}
.clientsPanel div span{}

.aboutBanner{background-image: url(../img/crm-egypt-header.png); background-position: right bottom; background-repeat: no-repeat; min-height:305px; background-size: contain; margin-bottom: -20px;}
.aboutBanner h1{color:#fff; font-size: 45px; line-height: 1.4;}
.aboutBanner p{color:#fff; font-size: 22px; line-height: 1.4;}
.aboutPage.innerPage .imgRight img{ display: inline-block;}
.aboutLeft{}
.aboutLeft h3{font-size: 24px; line-height: 1.1;}
.aboutLeft p{color:#333; font-size: 16px; line-height: 1.4;}
.aboutLeft ul{margin: 10px; list-style: none; padding: 0;}
.aboutLeft ul li{font-size:16px; line-height: 1.4; color: #333;}
p.aboutFootParagraph{margin-top:30px; font-size: 22px;}
.aboutAchieveWrap{padding: 0;}
.aboutAchieve{padding: 20px 0; background-color:#fbfbfb;}
.aboutAchieve h2{font-size: 30px; line-height: 1.4; }
.aboutAchieve div i{color: #999; text-align: center; line-height: 1.4; font-weight: 400; display: block; margin: 0 auto 5px; font-size: 60px;}
.aboutAchieve div p{font-size: 16px; color: #333; text-align: center;}
.aboutAchieve div p.aboutFootParagraph{font-size: 50px; margin-top: 0; line-height: 1.4;}
.aboutDownloads{padding: 20px 0; background-color:#fff; margin: 0 120px 25px;}
.aboutDownloads h2{font-size: 30px; line-height: 1.4; }

.aboutDownloads i{color: #fff; text-align: center; line-height: 60px; font-weight: 400; display: block; margin: 0 auto 5px; font-size: 30px; border-radius: 50%; height:60px; width: 60px; clear: both;}
.aboutDownloads .red i{ background-color: #EA6449; }
.aboutDownloads .blue i{ background-color: #6BBFFF; }
.aboutDownloads .green i{ background-color: #86C163; }
.aboutDownloads a{color: #333; display: block; margin:10px auto; line-height: 1.4; font-size: 18px; text-align: center;}
.aboutDownloads div{padding: 20px 0;}

.socialBtnFix{padding: 10px 0; position: fixed; bottom: 20px; left:0; font-size: 16px; color: #fff; line-height: 20px;}
.socialBtnFix i{margin-right: 10px; color: #fff; font-size: 16px; line-height: 20px;}
.socialBtnFix button{border:0; border-radius: 0;}

.grayBack{background-color: rgba(0,0,0,0.85); display: none; position: fixed; width: 100vw; height: 100vh; top:0; left: 0; z-index: 20;}
.alertModal{background-color: #fff; display: none; position: fixed; width: 60vw; height: 20vh; top:30vh; left: 20vw; z-index: 21; border-radius: 20px;}
.alertModal span.closeModal{position: relative; display: block; top: 10px; text-align: right; color: #333; font-size: 14px; line-height: 20px; cursor: pointer; padding-right: 10px;}

@media (min-width: 768px){
	.navbar-right .dropdown-menu{right: auto; left: 0;}
	p.custBtn a{width: 100%}
}
@media (max-width:768px){
	.navbar-header{display: block;}
}
@media (max-width:992px){
	.blogPanel div{margin-bottom: 50px;}
	.crmImage{background: none;}
	.fourthContainerWrap{background: none; height: auto !important;}
	.fifthContainerWrap{height: auto !important}
	.bigButton .btn-primary{width: 100%;}
	.clientsBanner .bigButton .btn-default{width: 100%;}
	.clientsBanner{margin-bottom: 0; background-image: none;}
	.diagramMain{background-image: url(../img/ourprocess-mobile-v.png); background-position: center; padding-bottom: 30px;}
	.aboutBanner .bigButton .btn-default{width: 100%;}
	.aboutBanner{margin-bottom: 0; background-image: none;}
}
@media(max-width: 1199px) and (min-width: 992px){
	.crmImage{background:  url(../img/crm.png) -68% bottom no-repeat !important;}
	.fourthContainerWrap{background:  url(../img/STS-website-design.png) 148% bottom no-repeat !important;}
	.aboutBanner{background:  url(../img/crm-egypt-header.png) no-repeat 90% bottom !important}
}

@media (max-width: 990px) {
	.firstSection{padding-bottom: 0;}
	.headerContactsMenu{padding: 0 35px;}
	.navbar-default .navbar-toggle{border-color: #fff;}
	.largeFont{color:#fff; line-height: 60px; font-size: 32px;}
	.navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
	.navbar-default .navbar-toggle .icon-bar + .icon-bar{margin-top:4px;}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	.navbar-collapse.in {overflow-y: auto!important;}
	.collapse.in{display: block!important;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #fff;}
	.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{background-color: #e52a3b;}
	.dropdown-menu{background-color: transparent; border:0; position: static; float: none; -webkit-box-shadow:none; box-shadow: none;}
	.navbar-default .navbar-nav li:hover{background-color: transparent;}
	.navbar-default .navbar-nav li:hover > a:active{background-color: #fff; border-radius: 10px;}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
		background-color: #fff; border-radius: 10px;}
	.navbar-default .navbar-nav ul.dropdown-menu > li > a{color: #fff; line-height: 20px; padding: 5px 15px 5px 25px;}
	
}	