@font-face {font-family: Gotham; src: url(../fonts/GothamBook.ttf);}
@font-face {font-family: GothamBold; src: url(../fonts/GothamBold.ttf);}
*{
	padding: 0;
	margin: 0;
	color: #96a6a7;
	text-decoration: none;
	font-family: Gotham;
	box-sizing: border-box;
}
body{
	/*overflow-x: hidden;*/
}
.navigation {
	background-color: #fff;
	background: linear-gradient(to left, #e94e38  19vw, #fff 19vw);
}

.search {
	background-image: url('../images/search-bg-img.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.filter {
	background-color: #fff;
}

.main-body {
	background-color: #f3f1f2
}

.bg-green{background-color: #1baf5d;}
.bg-red{background-color: #e94e38;}
.bg-orange{background-color: #f19e1f;}
.bg-purple{background-color: #88499c;}
.bg-gray{background-color: #9dacad;}

.navbar-default{
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	padding:0;
}

.navbar-default a.navbar-brand{
	padding: 0;
	vertical-align: middle;
	margin: 14px auto 6px;
}
.navbar-default a.navbar-brand img{
	display: inline-block;
}

.navbar-default .navbar-nav>li>a{
	font-size: 14px;
	font-family: Gotham;
	color: #96a6a7;
	text-transform: uppercase;
	line-height: 1.714;
	padding:25px 10px 15px;
}

.navbar-default .navbar-nav>li.menu__search a i{
	color: #fff;
}
.navbar-default .navbar-nav>li.menu__search a{
	color: #fff;
	font-size: 24px;
	padding: 15px 25px;
}
.navbar-default .navbar-nav>li.menu__search{
	background-color: #e2dee0;
}

.navbar-default .navbar-nav>li.menu__login a i{
	margin-right: 15px;
	color: #fff;
}
.navbar-default .navbar-nav>li.menu__login a{
	padding-left: 40px;
	color: #fff;
}

.search{
	padding: 40px 0;
}
.search h1{
	font-size: 30px;
	font-family: Gotham;
	color: #fff;
	line-height: 1.6;
	text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
	margin: 0 auto 30px;
}

.search form{
	font-size: 30px;
	font-family: Gotham;
	color: rgb(255, 255, 255);
	text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
	line-height: 1.6;
}

.search form button.btn-default:hover{
	background-color: #e94e38;
	color: #fff;
}
.search form button, .search form input{
	border: 1px solid rgba(255,255,255,.2);
	background-color: rgba(255,255,255,.1);
	border-radius: 200px;
	padding: 20px 30px;
	width: 100%;
	display: block;
	margin-bottom: 25px;
	color: #fff;
	font-size: 18px;
	text-align: left;
	line-height: 1.6;
}

.search form input[type=text]::placeholder{
	color: #fff;
}

.search form button span{
	color: #fff;
	font-size: 18px;
}

.search form button.button-search:hover{
	color: #fff;
}
.search form button.button-search{
	width:auto;
	background-color: #e94e38;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
}

.search form .dropdown-menu{
	min-width: 100%;
	color: #fff;
	border: 1px solid #9dacad;
	background-color: #fff;
	border-radius: 10px;
}

.filter{
	padding: 5px 0;
}

.filter-links a{
	font-size: 12px;
	font-family: Gotham;
	color: #9dacad;
	text-transform: uppercase;
	margin-right: 25px;
	line-height: 40px;
	transtion: all .5s ease 0s;
}

.filter-links a:hover{
	text-decoration: none;
	color: #e94e38;
}

.filter-links a.active{
	color: #e94e38;
}

.filter .dropdown{
	width: 46%;
	margin: 0 1%;
	display: inline-block;
}

.filter button.dropdown-toggle{
	text-align: left;
	font-family: Gotham;
	font-size: 12px;
	background-color: transparent;
	border:1px solid #9dacad;
	border-radius: 200px;
	color: #e94e38;
	padding: 12px;
	width: 100%;
	text-transform: uppercase;
}

.filter button.dropdown-toggle span{
	color: #9dacad;
	font-size: 12px;
}

.filter button.dropdown-toggle.gray{
	color: #9dacad;
}

.filter ul.menu-icon{
	list-style: none;
}

.filter ul.menu-icon li{
	display: inline-block;
	margin-right: 5px;
}
.filter ul.menu-icon li+li{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%
}

.filter ul.menu-icon li+li a{
	display: block;
	text-align: center;
}
.filter ul.menu-icon li+li a img{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 5px auto;
}

.post-section{
	padding: 35px 0;
	margin:0;
}

.post-section .post{
	padding: 0 20px;
}

.post-section .post div{
	background-color: #fff;
	border-radius: 10px;
	margin: 0 auto 10px;
}

/********************************/
.post-section .bed-price {
    position: absolute;
    display: block;
    top: 15px;
    right: 30px;
    border: 1px solid #1baf5d;
    background: #1baf5d;
    color: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
}

.post-section .post div div.hover-btn{
	background-image: url('../images/poster-small-img-back.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 165px;
	border-bottom: 5px solid #1baf5d;
	border-radius: 10px 10px 0 0;
	margin-bottom: 35px;
}

.post-section .post div div.hover-btn span.hover{
	background-color: rgba(27, 175, 93, .4);
	width: 100%;
	height: 100%;
	min-height: 165px;
	visibility: hidden;
	border: 0;
	border-radius: 10px 10px 0 0;
}
.post-section .post div div.hover-btn span.hover button{
	background-color: transparent;
	border-radius: 200px;
	border: 2px solid #fff;
	text-transform: uppercase;
	margin: 25px auto 20px;
	color: #fff;
	padding: 10px 25px;
}
.post-section .post div div.hover-btn span.hover button.show-more i{
	padding-right: 15px;
	padding-left: 0px;
}

.post-section .post div div.hover-btn span.hover div{
	background-color: transparent;
}
.post-section .post div div.hover-btn span.hover div i{
	color: #fff;
	font-size: 20px;
}

.post-section .post div div.hover-btn span.hover i:last-child{
	padding-left: 15px;
}


.post-section .post div div.hover-btn span.hover button i{
	color: #fff;
}

.post-section .post div:hover div.hover-btn span.hover{
	visibility: visible;
}

.post-section .post div:hover span.bed-price{
	display: none;
}

.post-section .post div div.hover-btn span{
	height:50px;
	width: 50px;
	display: block;
	border-radius: 100px;
	margin: 0 auto -25px;
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
	bottom: 0px;
	position: relative;
}

.post-section .post div div.hover-btn span img{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 10px auto;
}
/**************************/
.post-section .post div div.beach{
	background-image: url('../images/beach.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 165px;
	border-bottom: 5px solid #f19e1f;
	border-radius: 10px 10px 0 0;
	margin-bottom: 35px;
}


.post-section .post div div.beach span.hover{
	background-color: rgba(241, 158, 31, .4);
	width: 100%;
	height: 100%;
	min-height: 165px;
	visibility: hidden;
	border: 0;
	border-radius: 10px 10px 0 0;
}
.post-section .post div:hover div.beach span.hover{
	visibility: visible;
}

.post-section .post div div.beach span{
	height:50px;
	width: 50px;
	display: block;
	border-radius: 100px;
	margin: 0 auto -25px;
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
	bottom: 0px;
	position: relative;
}

.post-section .post div div.beach span img{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 10px auto;
}
.post-section .post div div.text{
	padding: 0 20px 10px;
}
.post-section .post div div.text p{
	text-align: center;
	font-weight: bold;
	line-height: 1.2;
	font-size: 14px;
	height: 30px;
}
.post-section .post div div.text span{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.post-section .post div div.text div.stars{
	text-align: center;
	width: 100%;
	margin-bottom: 0;
}

.post-section .post div div.text div.stars span{
	display: inline;
}

.post-section .post div div.text span.beach-span, .post-section .post div div.text div.stars i {
	color: #f19e1f;
}

.post-section .post div div.text span.bed{
	color: #1baf5d;
}

.post-section .post div div.text span.bus-span{
	color: #88499c;
}
.post-section .post div div.bus{
	background-image: url('../images/poster-small-img-back.png');
	border-bottom: 5px solid #88499c;
}
.post-section .post div div.bus span.hover{
	background-color: rgba(169, 123, 177, .4);
}

/***************************************/
.big-card{
	background-image: url('../images/card1.png');
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 4px solid #1baf5d;
	margin: 22px auto 0;
	width: 100%;
	height: 120px;
}
.big-card div{
	position: relative;
	bottom: -70px;
	background-color: rgba(0,0,0,0.1);
	height: 46px;
}
.big-card div.card-title span{
	font-size: 18px;
	font-family: Gotham;
	color: #fff;
	line-height: 2.6;
	text-transform: uppercase;
}
.big-card div.card-title span i{
	color: #f19e1f;
}
.home-icon{
	/*position: relative;*/
    top: 150px;
    right:230px;
	height: 50px;
    width: 50px;
    display: block;
    border-radius: 100px;
    margin: 23px auto;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
}
.home-icon img{
	display: inline-block;
    width: 25px;
    height: 25px;
    margin: 10px auto;
}

.face-icon {
	margin: 25px 0 0 -15px;
	height: 50px;
    width: 50px;
    display: block;
    border-radius: 100px;
    border: 2px solid #f5f4f5;
}

.face-icon img {
	display: inline-block;
    width: 100%;
    height: 100%;
}

.big-card-text{
	background-color: #fff;
	padding: 17px 20px 18px;
	border-radius: 0 0 10px 10px;
	margin-top: -10px;
	margin-bottom: 32px;
}
.big-card-text h3{
  font-size: 16px;
  font-family: Gotham;
  font-weight: bold;
  text-transform: uppercase;
  margin: 18px auto 12px;
}
.big-card-text span.stars i{
	color: #f19e1f;
}
.big-card-text p{
	font-size: 14px;
	line-height: 1.4;
	margin:0;
}
.big-card-text p a{
	color: inherit;
	font-size: inherit;
	font-weight: bold;
}
.big-card-text p a:hover{
	color: inherit;
	text-decoration: none;
}

.color-orange{
	border-color: #f19e1f;
}

.margin-top-20{
	margin-top: 20px;
}

.load-more{
	padding-bottom: 35px;
	font-size: 18px;
	margin: 0 auto 70px;
	border-bottom: 1px solid #e2dee0;
	font-weight: bold;
}

.load-more a{
	border-bottom: 1px solid #e2dee0;
	padding-bottom: 2px;
	color: inherit;
}
.load-more a:hover{
	color: inherit;
	text-decoration: none;
}

.offer-scetion{
	margin:0 0 106px 0;
}
.offer-scetion h2{
  font-size: 22px;
  color: #566375;
  font-weight: bold;
  margin: 0 auto 18px;
}

.offer-scetion span.sub-title{
	font-size: 16px;
	color: #96a6a7;
	margin-bottom: 75px;
	display: inline-block;
}
.offer-scetion ul.menu-icon{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.offer-scetion ul.menu-icon li{
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	text-align: center;
	line-height: 100px;
	border: 1px solid #9dacad;
	margin-right: 65px;
	background-color: transparent;
}
.offer-scetion ul.menu-icon li.active{
	border-color:#1baf5d;
}
.offer-scetion ul.menu-icon li:last-child{
	margin-right: 0;
}
.offer-scetion ul.menu-icon li a{
	display: inline-block;
	margin: 0 auto;
}
.offer-scetion ul.menu-icon li a img{
	height: 40px;
	display: block;
	margin: 30px auto;
}
.offer-scetion ul.menu-icon li img{display: block;}
.offer-scetion ul.menu-icon li img+img{display: none;}
.offer-scetion ul.menu-icon li.active img{display: none;}
.offer-scetion ul.menu-icon li.active img+img{display: block;}
.offer-scetion ul.menu-icon li::after{
	content: '';
	display: block;
	left: 103px;
	top: -100%;
	width: 61px;
	border-top:2px solid #e2dee0;
	position: relative;
}
.offer-scetion ul.menu-icon li:last-child::after{
	display: none;
}

.offer-scetion h3{
	color: #1db05e;
	margin:38px auto;
	font-size: 24px;
	line-height: 1.25;
	text-transform: capitalize;
	font-weight: bold;
}
.offer-scetion p{
	font-size: 14px;
	line-height: 1.7;
	text-align: left;
	color: #566375;
	margin-bottom: 30px;
}
.offer-scetion span.offer-icon{
	background-color: #1baf5d;
	width: 62px;
	height: 62px;
	border-radius: 100px;
	line-height: 62px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
.offer-scetion span.offer-icon i{
	color: #fff;
	font-size: 30px;
	line-height: 62px;
}


footer {
	background-image: url('../images/search-bg-img.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0;
}

footer h3{
	margin: 0 auto 48px;
	font-size: 24px;
	color: #fff;
	line-height: 1.25;
}
footer form{
	margin-bottom: 42px;
	border-bottom: 1px solid #5e5a54;
}
footer input[type=text]{
	border: 1px solid rgba(255,255,255,.2);
	background-color: rgba(255,255,255,.1);
	padding: 20px 30px;
	min-width: 50%;
	display: inline-block;
	margin: 0 auto 60px;
	color: #fff;
	font-size: 18px;
	text-align: left;
	line-height: 1.6;
	border-width: 1px 1px 1px 0;
	border-radius: 0 200px 200px 0;
}
footer input[type=text]::placeholder{
	color: #fff;
}
input[type=text]:focus{
	outline: none;
}
footer form i{
	border: 1px solid rgba(255,255,255,.2);
	background-color: rgba(255,255,255,.1);
	border-radius: 200px 0 0 200px;
	padding: 20px 30px;
	color: #fff;
	font-size: 18px !important;
	text-align: left;
	line-height: 1.6 !important;
	border-width: 1px 0 1px 1px;
	margin-right: -4px;
}

footer form button.btn:hover{
	background-color: #e94e38;
	color: #fff;
}
footer form button.btn{
	background-color: #e94e38;
	border-radius: 200px;
	padding: 15px 30px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 1.6;
	margin-left: -160px;
	margin-top: -4px;
}

footer h4{
	font-size: 16px;
	color: #fff;
	line-height: 1.5;
	margin:0 auto 25px;
	padding-bottom: 1px;
	border-bottom: 1px solid #585350;
	display: inline-block;
}

footer ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

footer ul li{
	font-size: 14px;
	line-height: 1.7;
	color: #c0bebc;
}
footer ul li a{
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	transition: all .5s ease 0s;
}
footer ul li a:hover{
	color: #fff;
	text-decoration: none;
}

footer ul.social-menu{}
footer ul.social-menu li{
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 65px;
}
footer ul.social-menu li:last-child{
	margin-right: 0;
}
footer ul.social-menu li i{
	color: #fff;
	font-size: 22px !important;
	line-height: 0.8 !important;
	transition: all 1s ease 0s;
}

footer ul.social-menu li:hover i{
	color: #96a6a7;
}

footer span.rights{
	font-size: 14px;
	color: #fff;
	line-height: 1.714;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
@media (max-width: 1200px) {
	.filter-links a:last-child{
		margin-right: 0;
	}
	.filter-links a{
		margin-right:15px;
	}
}

@media (max-width: 980px) {
	.container{
		width: 100%;
	}
	.filter ul.menu-icon li{
		margin-right: 0;
	}
	footer ul{
		margin-bottom: 10px;
	}
	footer ul.social-menu{
		margin-bottom: 0;
	}
	footer .container .row+.row div.col-xs-12+div.col-xs-12{
		text-align: center;
		margin-top: 20px;
	}
}

@media (max-width: 900px) {

	.navigation{
		background:none;
		background-color: #fff;
	}
	.menu__login{
		background-color: #e94e38;
		border-top: 1px solid #e94e38;
		position: absolute;
		display: inline-block !important;
		width: 50%;
	}
	.menu__login a{
		padding-bottom:22px !important;
	}
	.menu__search{
		display: inline-block !important;
		width: 49%;
	}
   .navbar-header {
            float: none;
    }
    .navbar-toggle {
            display: block;
            margin-top: 15px;
    }
    .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
            display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
            float: none!important;
            margin: 7.5px -15px;
    }
    .navbar-nav>li {
            float: none;
    }
    .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
    }
}

@media (max-width: 768px) {
	.menu-icon{
		text-align: center;
		margin-top: 10px;
	}
	.offer-scetion ul.menu-icon li{
		margin-right:20px;
	}
	.offer-scetion ul.menu-icon li:last-child{
		margin-right: 0;
	}
	.offer-scetion ul.menu-icon li::after{
		width: 16px;
	}
	.filter-links{
		text-align: center;
	}
}

@media (max-width: 680px) {
	footer input[type=text]{
		padding: 20px 10px;
		min-width: 80%;
	}
	footer form i{
		padding: 20px 10px 20px 15px;
	}
	footer form button.btn{
		padding: 15px 10px;
		margin-left: -120px;
	}
}

@media (max-width: 600px) {
	.offer-scetion ul.menu-icon li a img{
		height: 28px;
		margin:21px auto;
	}
	.offer-scetion ul.menu-icon li{
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.offer-scetion ul.menu-icon li::after{
		left: 72px;
	}
}

@media (max-width: 420px) {
	footer input[type=text]{
		padding: 20px 10px;
		min-width: 80%;
	}
}

@media (max-width: 450px) {
	.offer-scetion ul.menu-icon li a img{
		height: 16px;
		margin:12px auto;
	}
	.offer-scetion ul.menu-icon li{
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.offer-scetion ul.menu-icon li::after{
		left: 41px;
	}
}