.transfer{}

#container div.admin_menu
	{
		margin:5px;
		margin-bottom:0;
		margin-left:9px;
	}
	
#container div.admin_menu ul
	{
		margin:0;
		padding:0;
		list-style:none;
	}
	
#container div.admin_menu ul li
	{
		float:left;
		padding:3px 10px;
		margin-right:2px;
		font-size:10pt;
		font-weight:bold;
		color:#1e1e1e;
		background-color:#f2f2f2;
		border:1px solid #1e1e1e;
		border-bottom:0;
		border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		cursor:pointer;
	}
	
#container div.admin_menu ul li.active
	{
		position:relative;
		top:1px;
		color:#ffffff;
		background-color:#009ddb;
		border-color:#009ddb;
	}

#container div.admin
	{
		width:960px;
		margin:5px auto;
		margin-top:0;
		padding:10px;
		background-color:#f2f2f2;
		border:1px solid #1e1e1e;
		border-radius:0 5px 5px 5px;
		-moz-border-radius:0 5px 5px 5px;
		-webkit-border-radius:0 5px 5px 5px;
	}
	
#container div.admin form
	{
		padding:0;
		margin:0;
	}
	
#container div.admin form.form1
	{
		display:block;
	}
	
#container div.admin form.form2
	{
		display:none;
	}
	
#container div.admin form.form3
	{
		display:none;
	}
	
#container div.admin form.form4
	{
		display:none;
	}

#container div.admin form.form5
	{
		display:none;
	}

#container div.admin form.form6
	{
		display:none;
	}

#container div.admin form.form7
	{
		display:none;
	}

#container div.admin form.form8
	{
		display:none;
	}

#container div.admin form.form9
	{
		display:none;
	}

#container div.admin form.form10
	{
		display:none;
	}

	
#container div.admin form table
	{
		width:950px;
		margin:0 auto;
	}
	
#container div.admin form table td
	{
		padding:4px 0;
		font-size:10pt;
		color:#1e1e1e;
	}

#container div.admin form table td span
	{
		font-size:11pt;
		font-weight:bold;
	}
	
#container div.admin form table td label
	{
		font-weight:bold;
	}
	
#container div.admin form table td input
	{
		padding:4px;
		font-size:9pt;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.admin form table td select
	{
		padding:4px;
		font-size:9pt;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		min-width:150px;
	}

	
#container div.admin form table td textarea
	{
		padding:4px;
		font-size:9pt;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		overflow:auto;
	}
	
#container div.admin form table td button
	{
		margin:5px;
		padding:3px 8px;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:11pt;
		color:#ffffff;
		text-transform:capitalize;
		cursor:pointer;
	}
	
#container div.admin form table td a
	{
		margin:5px;
		padding:3px 4px;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:10pt;
		color:#ffffff;
		text-transform:capitalize;
		cursor:pointer;
		text-decoration:none;
	}

#container div.admin form div.car_cat_edit button
	{
		margin:5px;
		padding:3px 8px;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:11pt;
		color:#ffffff;
		text-transform:capitalize;
		cursor:pointer;
		margin:5px auto;
		display:block;
	}

#container div.admin form div.car_cat_edit
	{
		display:none;
		margin:0;
		margin-bottom:5px;
		margin-left:30px;
		padding:0;
		width:350px;
	}
	
#container div.admin form div.car_cat_edit input
	{
		padding:4px;
		font-size:9pt;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin:5px;
	}



	
/*******************************************************/

#container div.admin form div.email
	{
		margin:0;
		padding:0;
	}
	
#container div.admin form div.email h2
	{
		font-size:11pt;
		color:#009ddb;
		font-weight:bold;
		margin-bottom:5px;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
	}

#container div.admin form div.email div.email_head
	{
		width:950px;
		margin:5px auto;
		padding-bottom:0;
		border-bottom:1px solid #009ddb;
	}
	
#container div.admin form div.email div.email_head div
	{
		color:#009ddb;
		font-size:11pt;
		font-weight:bold;
		text-transform:capitalize;
		display:inline-block;
		text-align:center;
		margin-right:5px;
		height:35px;
		min-height:35px;
		max-height:35px;
		vertical-align:middle;
		overflow:hidden;
		border-right:1px solid #009ddb;
	}
	
#container div.admin form div.email div.email_head div.sender
	{
		width:200px;
	}

#container div.admin form div.email div.email_head div.subject
	{
		width:230px;
	}
	
#container div.admin form div.email div.email_head div.content
	{
		width:280px;
	}
	
#container div.admin form div.email div.email_head div.date
	{
		width:200px;
		border:0;
	}
	
#container div.admin form div.email div.email_item
	{
		width:950px;
		margin:5px auto;
		padding-bottom:0;
		border-bottom:1px solid #1e1e1e;
	}
	
#container div.admin form div.email div.email_item span
	{
		color:#1e1e1e;
		font-size:10pt;
		text-transform:capitalize;
		display:inline-block;
		text-align:center;
		margin-right:5px;
		height:35px;
		min-height:35px;
		max-height:35px;
		overflow:hidden;
		border-right:1px solid #1e1e1e;
	}
	
#container div.admin form div.email div.email_item span.sender
	{
		width:200px;
	}

#container div.admin form div.email div.email_item span.subject
	{
		width:230px;
	}
	
#container div.admin form div.email div.email_item span.content
	{
		width:280px;
	}
	
#container div.admin form div.email div.email_item span.content button
	{
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #ffffff;
		cursor:pointer;
		margin-right:10px;
		padding:3px 10px;
		text-align:center;
		text-transform:uppercase;
	}
	
#container div.admin form div.email div.email_item span.content input
	{
		color:#ffffff;
		font-size:11pt;
		font-weight:bold;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #ffffff;
		cursor:pointer;
		margin-right:10px;
		padding:3px 10px;
		text-align:center;
		text-transform:uppercase;
	}

	
#container div.admin form div.email div.email_item span.content p
	{
		display:none;
	}
	
#container div.admin form div.email div.email_item span.date
	{
		width:200px;
		border:0;
	}
/*******************************************************/

div.email_screen
	{
		width:100%;
		height:150%;
		display:none;
		margin:0;
		padding:10px;
		z-index:6999;
		float:left;
		position:absolute;
		background-color:rgba(0,0,0,0.6);
	}
	
div.email_pop
	{
		background-color:#F2F2F2;
		border:1px solid #009DDB;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:10px;
		margin:5px auto;
		min-height:200px;
		float:left;
		display:none;
		margin-left:300px;
		margin-top:100px;
		width:700px;
		position:absolute;
		z-index:7000;
	}
	
div.email_pop label
	{
		font-size:10.5pt;
		color:#009ddb;
		display:inline-block;
		width:200px;
		margin-bottom:5px;
	}
	
div.email_pop p
	{
		font-size:9pt;
		color:#1e1e1e;
		padding:5px;
		display:inline-block;
		margin-bottom:5px;
		width:400px;
	}
	
div.email_pop p.con
	{
		font-size:9.5pt;
		font-weight:bold;
	}
	
div.email_pop div
	{
		margin:0;
		padding:0;
		text-align:center;
	}
	
div.email_pop div button
	{
		color:#ffffff;
		background-color:#009ddb;
		font-size:12pt;
		font-weight:bold;
		cursor:pointer;
		margin:10px;
		margin-bottom:0;
		padding:3px 10px;
		text-transform:uppercase;
		border:1px solid #ffffff;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		text-align:center;
	}


/*******************************************************/
	
	
	