.transfer{}


#container div.book_form form div.rentcar_book
	{
		background-color:#ffffff;
		padding:5px;
		margin-bottom:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.book_form form div.rentcar_book label
	{
		font-size:9pt;
		font-weight:bold;
		margin-left:5px;
		display:inline-block;
		margin-right:20px;
		width:200px;
		margin-bottom:5px;
		margin-top:5px;
		text-transform:capitalize;
		vertical-align:top;
	}
	
#container div.book_form form div.rentcar_book label sup
	{
		color:#990000;
		font-size:7pt;
	}

#container div.book_form form div.rentcar_book input
	{
		margin:4px;
		padding:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:8pt;
		color:#1e1e1e;
	}

#container div.book_form form div.rentcar_book textarea
	{
		margin:4px;
		padding:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:8pt;
		color:#1e1e1e;
		overflow:auto;
	}

	
#container div.book_form form div.rentcar_book select
	{
		margin:4px;
		padding:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:8pt;
		color:#1e1e1e;
	}

#container div.book_form form div.rentcar_book p
	{
		display:inline-block;
		font-weight:normal;
		margin:0 8px;
	}

#container div.rentcar_book  div.cal
	{
		display:none;
		position:absolute;
		width:auto;
		height:auto;
		padding:5px 2px;
		margin:5px;
		background-color:#ffffff;
		border:1px solid #009ddb;
		border-radius:5px;
		margin-left:110px;
		margin-top:-60px;
	}
	
#container div.rentcar_book  div.cal1
	{
		margin-left:380px;
		margin-top:-150px;
	}
	
#container div.rentcar_book  div.cal2
	{
		margin-left:380px;
		margin-top:-150px;
	}
	
#container div.rentcar_book  div.cal div.head
	{
		font-size:10pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:3px;
		padding:2px 8px;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
	}
	
#container div.rentcar_book  div.cal div.head span
	{
		margin-right:5px;
		font-size:10pt;
		font-weight:bold;
	}

#container div.rentcar_book  div.cal div.dayname
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#ffffff;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.rentcar_book  div.cal div.dayname div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
	}
	
#container div.rentcar_book  div.cal div.days
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.rentcar_book  div.cal div.days div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:pointer;
	}
	
#container div.rentcar_book  div.cal div.days div.dis
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:auto;
		color:#1e1e1e;
		text-decoration:line-through;
	}
	
#container div.rentcar_book  div.cal div.days div.clear
	{
		margin:0;
		padding:0;
		font-size:9pt;
		font-weight:bold;
		background-color:transparent;
		border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		width:100%;
		height:1px;
		text-align:center;
		text-transform:capitalize;
		clear:both;
	}
	
#container div.rentcar_book  div.cal div.bend
	{
		clear:both;
		border-bottom:1px dashed #009ddb;
		height:2px;
		margin:2px 5px;
	}
	
	
#container div.rentcar_book  div.cal div.end
	{
		font-size:12pt;
		font-weight:bold;
		text-align:right;
		padding:3px 8px;
		margin:3px 5px;
		color:#fff;
		background-color:#009ddb;
		border-radius:5px;
		float:right;
		cursor:pointer;
	}
	
#container div.rentcar_book  img
	{
		width:25px;
		height:25px;
		border:0;
		margin:0;
		vertical-align:middle;
		cursor:pointer;
	}

