.transfer{}

#container div.book_form
	{
		margin:5px auto;
		margin-bottom:0;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:5px;
		background-color:#f2f2f2;
		width:980px;
	}
	
#container div.book_form form
	{
		margin:0;
		padding:0;
		width:960px;
		margin:5px auto;
	}
	
#container div.book_form form h2
	{
		color:#009ddb;
		font-size:10pt;
		text-transform:capitalize;
		margin:2px;
		margin-bottom:10px;
		font-weight:bold;
	}
	
#container div.book_form form div.suminfo
	{
		background-color:#ffffff;
		padding:5px;
		margin-bottom:5px;
	}
	
#container div.book_form form div.suminfo label
	{
		font-size:9pt;
		font-weight:bold;
		margin-left:5px;
		display:inline-block;
		margin-right:20px;
		min-width:100px;
		margin-bottom:5px;
		margin-top:5px;
	}
	
#container div.book_form form div.suminfo label p
	{
		display:inline;
		font-weight:normal;
		margin:0 8px;
		text-decoration:underline;
	}
	
#container div.book_form form div.suminfo button
	{
		font-size:9pt;
		text-transform:uppercase;
		padding:2px 5px;
		background-color:#990000;
		border-radius:5px;
		color:#ffffff;
		margin:5px;
		cursor:pointer;
		float:right;
		margin-bottom:1px;
	}
	
#container div.book_form form div.travinfo
	{
		background-color:#ffffff;
		padding:5px;
		margin-bottom:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.book_form form div.travinfo label
	{
		font-size:9pt;
		font-weight:bold;
		margin-left:5px;
		display:inline-block;
		margin-right:20px;
		width:200px;
		margin-bottom:5px;
		margin-top:5px;
		text-transform:capitalize;
	}
	
#container div.book_form form div.travinfo label sup
	{
		color:#990000;
		font-size:7pt;
	}

#container div.book_form form div.travinfo input
	{
		margin:4px;
		padding:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:8pt;
		color:#1e1e1e;
	}
	
#container div.book_form form div.travinfo select
	{
		margin:4px;
		padding:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:8pt;
		color:#1e1e1e;
	}

#container div.book_form form div.travinfo p
	{
		display:inline-block;
		font-weight:normal;
		margin:0 8px;
	}

#container div.book_form form div.contactinfo
	{
		background-color:#ffffff;
		padding:5px;
		margin-bottom:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.book_form form div.contactinfo label
	{
		font-size:9pt;
		font-weight:bold;
		margin-left:5px;
		display:inline-block;
		margin-right:20px;
		width:200px;
		margin-bottom:5px;
		margin-top:5px;
		text-transform:capitalize;
	}
	
#container div.book_form form div.contactinfo label sup
	{
		color:#990000;
		font-size:7pt;
	}

#container div.book_form form div.contactinfo input
	{
		margin:4px;
		padding:5px;
		border:1px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-size:8pt;
		color:#1e1e1e;
	}
	
#container div.book_form form div.goinfo
	{
		background-color:#009ddb;
		padding:5px;
		margin-bottom:5px;
		border:0px solid #999a98;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		color:#ffffff;
		text-align:center;
	}
	
#container div.book_form form div.goinfo p
	{
		display:inline;
		font-size:10pt;
	}
	
#container div.book_form form div.goinfo p a
	{
		color:inherit;
	}
	
#container div.book_form form div.goinfo span.slash
	{
		margin:2px 40px;
	}
	
#container div.book_form form div.goinfo button
	{
		color:#009ddb;
		font-size:12pt;
		font-weight:bold;
		text-transform:uppercase;
		padding:2px 5px;
		background-color:#ffffff;
		border-radius:5px;
		cursor:pointer;
	}

/***********************************************************************************************************************************/	
	
	
/***************************************************************************************************/



	
#container div.travinfo  div.cal
	{
		display:none;
		position:absolute;
		width:auto;
		height:auto;
		padding:5px 2px;
		margin:5px;
		background-color:#ffffff;
		border:1px solid #009ddb;
		border-radius:5px;
		margin-left:110px;
		margin-top:-60px;
	}
	
#container div.travinfo  div.cal1
	{
		margin-left:380px;
		margin-top:-150px;
	}
	
#container div.travinfo  div.cal2
	{
		margin-left:380px;
		margin-top:-150px;
	}
	
#container div.travinfo  div.cal div.head
	{
		font-size:10pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:3px;
		padding:2px 8px;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
	}
	
#container div.travinfo  div.cal div.head span
	{
		margin-right:5px;
		font-size:10pt;
		font-weight:bold;
	}

#container div.travinfo  div.cal div.dayname
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#ffffff;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.travinfo  div.cal div.dayname div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
	}
	
#container div.travinfo  div.cal div.days
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.travinfo  div.cal div.days div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:pointer;
	}
	
#container div.travinfo  div.cal div.days div.dis
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:auto;
		color:#1e1e1e;
		text-decoration:line-through;
	}
	
#container div.travinfo  div.cal div.days div.clear
	{
		margin:0;
		padding:0;
		font-size:9pt;
		font-weight:bold;
		background-color:transparent;
		border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		width:100%;
		height:1px;
		text-align:center;
		text-transform:capitalize;
		clear:both;
	}
	
#container div.travinfo  div.cal div.bend
	{
		clear:both;
		border-bottom:1px dashed #009ddb;
		height:2px;
		margin:2px 5px;
	}
	
	
#container div.travinfo  div.cal div.end
	{
		font-size:12pt;
		font-weight:bold;
		text-align:right;
		padding:3px 8px;
		margin:3px 5px;
		color:#fff;
		background-color:#009ddb;
		border-radius:5px;
		float:right;
		cursor:pointer;
	}
	
#container div.travinfo  img
	{
		width:25px;
		height:25px;
		border:0;
		margin:0;
		vertical-align:middle;
		cursor:pointer;
	}

/***********************************************************************************************************************/
div.pop_screen
	{
		width:100%;
		height:1150px;
		display:none;
		margin:0;
		padding:10px;
		z-index:6999;
		float:left;
		position:absolute;
		background-color:rgba(0,0,0,0.6);
	}
	
div.terms_pop_s
	{
		background-color:#f2f2f2;
		border:1px solid #009DDB;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:10px;
		margin:5px auto;
		min-height:200px;
		float:left;
		display:none;
		margin-left:300px;
		margin-top:100px;
		width:700px;
		position:absolute;
		z-index:7000;
	}
	
div.terms_pop_s h1
	{
		font-size:12pt;
		font-weight:bold;
		margin:0;
		margin-bottom:15px;
		padding:0;
		padding-bottom:5px;
		color:#009ddb;
		border-bottom:1px dashed #009ddb;
	}
	
div.terms_pop_s p
	{
		font-size:9pt;
		color:#1e1e1e;
		font-weight:normal;
		padding:0 5px;
		margin:8px 0;
		text-align:justify;
	}
	
div.terms_pop_s p span
	{
		font-weight:bold;
		color:#990000;
		font-size:9.5pt;
	}
	
div.terms_pop_s p.hot
	{
		font-weight:bold;
		color:#990000;
		text-align:center;
		font-size:9.5pt;
	}
	
div.terms_pop_s h2
	{
		font-size:10pt;
		font-weight:bold;
		margin:0;
		margin-bottom:5px;
		margin-top:5px;
		padding:0;
		padding-bottom:5px;
		color:#009ddb;
	}
	
div.terms_pop_s div
	{
		margin:0;
		padding:0;
		text-align:center;
	}
	
div.terms_pop_s div button
	{
		color:#ffffff;
		background-color:#009ddb;
		font-size:12pt;
		font-weight:bold;
		cursor:pointer;
		margin:10px;
		margin-bottom:0;
		padding:3px 10px;
		text-transform:uppercase;
		border:1px solid #ffffff;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		text-align:center;
	}



/***********************************************************************************************************************/


	
	