.transfer{}

#container div.rent_car
	{
		background-color:#ffffff;
		border:1px solid #009ddb;
		min-height:100px;
		max-height:auto;
		margin:5px auto;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:10px;
	}

#container div.rent_car div.rent_car_option
	{
		width:800px;
		margin:5px auto;
		margin-bottom:15px;
		padding:10px;
		padding-bottom:5px;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.rent_car div.rent_car_option form
	{
		margin:0;
		padding:0;
	}
	
#container div.rent_car div.rent_car_option form h1
	{
		font-size:11pt;
		font-weight:bold;
		color:#009ddb;
		padding:0;
		margin:0;
		margin-bottom:8px;
		padding-bottom:4px;
		border-bottom:1px dashed #009ddb;
	}
	
#container div.rent_car div.rent_car_option form label
	{
		display:inline-block;
		width:200px;
		font-size:9pt;
		color:#1e1e1e;
		text-transform:capitalize;
		margin-bottom:5px;
	}
	
#container div.rent_car div.rent_car_option form span
	{
		color:#990000;
		font-size:9pt;
		font-weight:bold;
	}
	
#container div.rent_car div.rent_car_option form select
	{
		padding:4px;
		width:250px;
		color:#1e1e1e;
		font-size:9pt;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-bottom:5px;
	}
	
#container div.rent_car div.rent_car_option form button
	{
		display:block;
		padding:2px 5px;
		text-transform:uppercase;
		color:#ffffff;
		background-color:#009ddb;
		cursor:pointer;
		font-size:10pt;
		font-weight:bold;
		margin:5px;
		margin-bottom:1px;
		float:right;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.rent_car div.rent_car_menu
	{
		margin:0;
		padding:0;
		padding-left:10px;
		display:block;
		border-bottom:1px solid #009ddb;
		height:24.5px;
	}
	
#container div.rent_car div.rent_car_menu ul
	{
		margin:0;
		padding:0;
		list-style:none;
	}
	
#container div.rent_car div.rent_car_menu li
	{
		padding:3px 10px;
		margin-right:2px;
		margin-bottom:0;
		float:left;
		border:1px solid #009ddb;
		border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		background-color:#009ddb;
		color:#ffffff;
		font-size:11pt;
		cursor:pointer;
		min-width:50px;
		text-align:center;
	}
	
#container div.rent_car div.rent_car_menu li.active
	{
		position:relative;
		top:2px;
		color:#1e1e1e;
		background-color:#ffffff;
		border-bottom:0;
	}
	
#container div.rent_car div.rent_car_menu li.hover
	{
		color:#009ddb;
		background-color:#f2f2f2;
		border-bottom:0;
		position:relative;
		top:1px;
	}

#container div.rent_car div.rent_car_cat
	{
		margin-top:0;
		margin-bottom:5px;
		padding:5px;
		padding-top:10px;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item
	{
		margin:0px;
		margin-bottom:5px;
		padding:5px;
		padding-bottom:10px;
		border-bottom:1px dashed #1e1e1e;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_img
	{
		float:left;
		clear:none;
		width:350px;
		margin-right:4px;
	}

#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_img h2
	{
		color:#009ddb;
		font-size:10pt;
		font-weight:bold;
		margin:0;
		margin-bottom:5px;
		text-transform:uppercase;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_img img
	{
		width:340px;
		margin:5px auto;
		display:block;
		height:200px;
		border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
	}

#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det
	{
		width:588px;
		margin-right:4px;
		float:left;
		padding:26px 5px 10px 5px;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det h2
	{
		font-size:10pt;
		color:#1e1e1e;
		padding:0;
		margin:0;
		padding-bottom:2px;
		padding-left:5px;
		margin-bottom:5px;
		border-bottom:1px dashed #009ddb;
		text-transform:capitalize;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det h2 span
	{
		margin-left:50px;
		font-weight:bold;
		color:#009ddb;
		font-size:10pt;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det table
	{
		width:95%;
		padding:5px;
		margin-bottom:5px;
		text-align:left;
		vertical-align:top;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det table td
	{
		font-size:9pt;
		color:#1e1e1e;
		padding:0;
		padding-bottom:3px;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det table td div.cap_lug
	{
		margin:0;
		padding:0;
		margin-top:10px;
		font-size:8pt;
		color:#1e1e1e;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det table td div.cap_lug img
	{
		margin:0;
		padding:0;
		border:0;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det table td div.cap_lug span
	{
		position:relative;
		top:-11px;
		display:inline-block;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item div.rent_car_cat_item_det table td div.cap_lug span.p
	{
		position:relative;
		left:-132px;
	}

#container div.rent_car div.rent_car_cat div.rent_car_cat_item form
	{
		margin:0;
		padding:5px;
		display:block;
		width:580px;
		float:left;
	}
	
#container div.rent_car div.rent_car_cat div.rent_car_cat_item form button
	{
		margin:2px 10px;
		font-size:10pt;
		font-weight:bold;
		color:#ffffff;
		background-color:#009ddb;
		padding:3px 10px;
		float:right;
		cursor:pointer;
		border-radius:5px;
	}
	
#container div.rent_car div.rent_car_cat.cat1
	{
		display:block;
	}
	
#container div.rent_car div.rent_car_cat.cat2
	{
		display:none;
	}

#container div.rent_car div.rent_car_cat.cat3
	{
		display:none;
	}
	
#container div.rent_car div.rent_car_cat.cat4
	{
		display:none;
	}
	
#container div.rent_car div.rent_car_cat.cat5
	{
		display:none;
	}
	
#container div.rent_car div.rent_car_cat.cat6
	{
		display:none;
	}
	
#container div.rent_car div.rent_car_cat.cat7
	{
		display:none;
	}
	
#container div.rent_car div.rent_car_cat.cat8
	{
		display:none;
	}
	
#container div.rent_car div.rent_car_cat.cat9
	{
		display:none;
	}
	
#container div.rent_car div.rent_car_cat.cat10
	{
		display:none;
	}


	
	
	
