.transfer{}

#container div.contact
	{
		margin:10px;
		margin-left:5px;
		padding:0px;
		width:540px;
		height:auto;
		background-color:#f2f2f2;
		border:1px solid #009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float:left;
		clear:none;
	}
	
#container div.contact h1
	{
		margin:5px;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
		font-size:11pt;
		font-weight:bold;
		text-transform:normal;
		color:#1e1e1e;
	}
	
#container div.contact h1 span
	{
		font-family:Hobo std;
		font-size:15pt;
		margin-top:3px;
	}

#container div.contact h1 span span
	{
		color:#009ddb;
	}
	
#container div.contact h2
	{
		margin:5px;
		margin-top:0;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
		font-size:9pt;
		font-weight:bold;
		text-transform:normal;
		color:#1e1e1e;
		text-align:right;
	}
	
#container div.contact h3
	{
		margin:5px;
		font-size:10pt;
		color:#009ddb;
		font-weight:bold;
		margin-bottom:2px;
	}
	
#container div.contact p
	{
		margin:5px;
		margin-top:2px;
		padding-bottom:5px;
		border-bottom:1px dashed #1e1e1e;
		font-size:9pt;
		color:#1e1e1e;
	}
	
#container div.contact form
	{
		margin:5px;
		padding:5px;
		padding-bottom:10px;
	}
	
#container div.contact form label
	{
		width:150px;
		display:inline-block;
		margin-bottom:5px;
		font-size:9pt;
		color:#1e1e1e;
		vertical-align:top;
	}
	
#container div.contact form input
	{
		padding:2px 4px;
		margin-bottom:5px;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background-color:#f2f2f2;
		color:#1e1e1e;
		font-size:9pt;
	}
	
#container div.contact form textarea
	{
		padding:2px 4px;
		margin-bottom:5px;
		border:1px solid #1e1e1e;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background-color:#f2f2f2;
		color:#1e1e1e;
		font-size:9pt;
		overflow:hidden;
	}

#container div.contact form button
	{
		padding:2px 4px;
		margin-bottom:5px;
		border:1px solid #009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background-color:#009ddb;
		color:#ffffff;
		font-size:10pt;
		float:right;
		margin-top:10px;
		margin-bottom:10px;
		cursor:pointer;
	}
	