.transfer{}

#container div.invoice
	{
		background-color:#ffffff;
		border:1px solid #009ddb;
		border-bottom-width:10px;
		min-height:100px;
		max-height:auto;
		margin:5px auto;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:700px;
		padding:0;
	}
	
#container div.invoice img
	{
		border-bottom:3px solid #009ddb;
		margin-bottom:5px;
	}

#container div.invoice div.invoice_welcome
	{
		padding:5px 10px;
		font-size:8pt;
		color:#1e1e1e;
	}
	
#container div.invoice div.invoice_welcome h4
	{
		font-weight:bold;
		font-size:10pt;
		margin:0;
		margin-bottom:5px;
		color:#009ddb;
	}
	
#container div.invoice div.invoice_welcome p
	{
		margin:0;
		margin-bottom:5px;
		text-align:justify;
	}
	
#container div.invoice div.invoice_welcome p span
	{
		color:#990000;
	}

#container div.invoice div.invoice_title
	{
		background-color:#f2f2f2;
		margin:5px 0;
		padding:10px;
		font-size:10pt;
		font-weight:bold;
		color:#009ddb;
		border:1px solid #009ddb;
		border-width:1px 0;
	}
	
#container div.invoice div.invoice_title span
	{
		color:#1e1e1e;
		font-weight:bold;
		font-size:8pt;
	}
	
#container div.invoice div.invoice_item
	{
		color:#1e1e1e;
		font-size:8.5pt;
		padding:2px 10px;
		margin-bottom:10px;
	}
	
#container div.invoice div.invoice_foot
	{
		margin:10px;
		margin-top:-15px;
		margin-bottom:5px;
		padding:10px;
		float:right;
		color:#1e1e1e;
		font-size:8pt;
		background-color:#f2f2f2;
		border:1px solid #009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}


