.transfer{}

*
	{
		margin:0;
		padding:0;
		border:0;
		font-family:arial;
		font-size:8pt;
		text-transform:none;
		font-weight:normal;
	}
	
body
	{
		background-color:#f2f2f2;
		width:100%;
		height:100%;
	}
	
.clear
	{
		width:100%;
		height:1px;
		clear:both;
	}
	
#container
	{
		width:1000px;
		margin:0 auto;
		height:auto;
		background-color:#ffffff;
		padding:5px;
		padding-bottom:0;
		border-radius:0 0 10px 10px;
		-moz-border-radius:0 0 10px 10px;
		-webkit-border-radius:0 0 10px 10px;
	}
	
#container div.bannar
	{
		width:980px;
		height:80px;
		margin:0 auto;
		/*border-bottom:2px solid #009ddb;*/
	}
	
#container div.bannar img
	{
		width:980px;
		height:80px;
		cursor:pointer;
	}
	
#container div.hoz_menu
	{
		width:980px;
		height:30px;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:0 10px;
		margin:5px auto;
		margin-bottom:5px;
	}
	
#container div.hoz_menu ul
	{
		list-style:none;
	}
	
#container div.hoz_menu ul li
	{
		float:left;
		color:#f2f2f2;
		font-size:11pt;
		padding:3px 10px;
		padding-top:4px;
		margin:3px 0;
		text-transform:capitalize;
		cursor:pointer;
		width:143px;
		text-align:center;
		font-weight:bold;
	}
	
#container div.hoz_menu ul li a
	{
		font-size:11pt;
		text-transform:capitalize;
		text-decoration:none;
		color:#f2f2f2;
		font-weight:bold;
	}
	
#container div.hoz_menu ul li.active
	{
		background-color:#f2f2f2;
		color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	
#container div.hoz_menu ul li.active a
	{
		color:#009ddb;
	}
	
#container div.hoz_menu ul li.hsup
	{
		margin-bottom:0;
		padding-bottom:6px;
	}
	
#container div.hoz_menu ul li.hsup.active
	{
		background-color:#f2f2f2;
		color:#009ddb;
		border-radius:5px 5px 0 0 ;
		-moz-border-radius:5px 5px 0 0 ;
		-webkit-border-radius:5px 5px 0 0 ;
	}
	
#container div.hoz_menu ul li.hsup div.sup
	{
		display:none;
		position:absolute;
		background-color:#f2f2f2;
		border:1px solid #009ddb;
		border-top:0;
		border-radius:0 0 5px 5px;
		padding:10px;
		margin-left:-11px;
		margin-top:5px;
		cursor:auto;
		text-align:left;
	}
	
#container div.hoz_menu ul li.hsup div.sup a
	{
		display:block;
		color:#1e1e1e;
		min-width:138px;
		text-decoration:none;
		margin-bottom:5px;
		font-size:10pt;
		padding-right:5px;
		font-weight:normal;
	}
	
#container div.hoz_menu ul li.hsup div.sup a:hover
	{
		text-decoration:underline;
		color:#009ddb;
	}
	
#container div.quickbook
	{
		background-color:#f2f2f2;
		width:400px;
		min-height:464px;
		margin:10px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:10px;
		float:left;
		clear:none;
	}
	
#container div.quickbook form
	{
		margin:0;
	}
	
#container div.quickbook form h1
	{
		text-transform:capitalize;
		font-size:14pt;
		font-weight:bold;
		margin:8px;
		margin-bottom:15px;
		color:#009ddb;
	}
	
#container div.quickbook form div.cal
	{
		display:none;
		position:absolute;
		width:auto;
		height:auto;
		padding:5px 2px;
		margin:5px;
		background-color:#ffffff;
		border:1px solid #009ddb;
		border-radius:5px;
		margin-left:110px;
		margin-top:-60px;
	}
	
#container div.quickbook form div.cal div.head
	{
		font-size:10pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:3px;
		padding:2px 8px;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
	}
	
#container div.quickbook form div.cal div.head span
	{
		margin-right:5px;
		font-size:10pt;
		font-weight:bold;
	}

#container div.quickbook form div.cal div.dayname
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#ffffff;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.quickbook form div.cal div.dayname div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
	}
	
#container div.quickbook form div.cal div.days
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.quickbook form div.cal div.days div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:pointer;
	}
	
#container div.quickbook form div.cal div.days div.dis
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:auto;
		color:#1e1e1e;
		text-decoration:line-through;
	}
	
#container div.quickbook form div.cal div.days div.clear
	{
		margin:0;
		padding:0;
		font-size:9pt;
		font-weight:bold;
		background-color:transparent;
		border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		width:100%;
		height:1px;
		text-align:center;
		text-transform:capitalize;
		clear:both;
	}
	
#container div.quickbook form div.cal div.bend
	{
		clear:both;
		border-bottom:1px dashed #009ddb;
		height:2px;
		margin:2px 5px;
	}
	
	
#container div.quickbook form div.cal div.end
	{
		font-size:12pt;
		font-weight:bold;
		text-align:right;
		padding:3px 8px;
		margin:3px 5px;
		color:#fff;
		background-color:#009ddb;
		border-radius:5px;
		float:right;
		cursor:pointer;
	}
	

	
#container div.quickbook form img
	{
		width:25px;
		height:25px;
		border:0;
		margin:0;
		vertical-align:middle;
		cursor:pointer;
	}
	
#container div.quickbook form div.way
	{
		text-align:center;
		margin-top:10px;
		font-size:11pt;
		color:#009ddb;
	}
	
#container div.quickbook form div.way label
	{
		font-size:11pt;
		color:#009ddb;
		display:inline-block;
	}
	
#container div.quickbook form label
	{
		font-size:11pt;
		display:block;
		margin-bottom:5px;
		text-transform:capitalize;
		color:#009ddb;
	}
	
#container div.quickbook form label.hover
	{
		color:#1e1e1e;
	}
	
#container div.quickbook form select
	{
		width:390px;
		margin-bottom:5px;
		padding:5px;
		font-size:10pt;
		color:#1e1e1e;
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		margin-left:5px;
		margin-right:5px;
	}
	
#container div.quickbook form input
	{
		margin-bottom:5px;
		padding:5px;
		font-size:10pt;
		color:#1e1e1e;
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		margin-left:5px;
		margin-right:5px;
	}
	
#container div.quickbook form select#hour,#container div.quickbook form select#min
	{
		width:50px;
	}
	
#container div.quickbook form button
	{
		width:300px;
		margin:10px 45px;
		margin-bottom:0;
		color:#ffffff;
		background-color:#009ddb;
		text-align:center;
		font-size:12pt;
		padding:8px;
		border:5px solid #ffffff;
		cursor:pointer;
	}
	
#container div.quickbook form a
	{
		width:300px;
		margin:10px 45px;
		margin-bottom:0;
		color:#ffffff;
		background-color:#009ddb;
		text-align:center;
		font-size:12pt;
		padding:8px;
		border:5px solid #ffffff;
		cursor:pointer;
		text-decoration:none;
		display:block;
	}

#container div.quickbook form div.travnum label
	{
		margin-right:8px;
		display:inline-block;
		color:#1e1e1e;
		font-weight:bold;
		font-size:8pt;
	}
	
#container div.quickbook form div.travnum select
	{
		width:auto;
		margin-right:5px;
	}
	
#container div.quickbook form div.tprice
	{
		text-align:center;
		margin:10px auto;
		width:200px;
		padding:10px;
		background-color:#990000;
		border-radius:5px;
		vertical-align:middle;
	}
	
#container div.quickbook form div.tprice label
	{
		color:#ffffff;
		font-weight:bold;
		font-size:9pt;
		display:inline-block;
		margin:0;
	}
	
#container div.quickbook form div.tprice p
	{
		font-size:12pt;
		font-weight:bold;
		display:inline-block;
		color:#EEA826;
		margin-left:5px;
	}
	
#container div.move
	{
		margin:10px;
		padding:0px;
		width:540px;
		height:auto;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float:left;
		clear:none;
	}
	
#container div.move div.move_pic
	{
		width:540px;
		margin:0 auto;
		background-color:transparent;
		height:280px;
	}

#container div.move div.move_pic img
	{
		width:520px;
		height:260px;
		border:5px solid #009ddb;
		margin:5px;
	}
	
#container div.move div.col1
	{
		width:250px;
		height:auto;
		margin:5px;
		padding:5px;
		float:left;
		clear:none;
	}
	
#container div.move div.col1 p
	{
		color:#1e1e1e;
		font-size:8pt;
		margin:4px 0;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
		width:230px;
		text-align:justify;
	}
	
#container div.move div.col2
	{
		width:260px;
		height:auto;
		margin:5px;
		padding:0px;
		float:left;
		clear:none;
		background-color:#009ddb;
		border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
		padding-bottom:5px;
	}
	
#container div.move div.col2 h2
	{
		color:#009ddb;
		background-color:#fff;
		padding:8px;
		border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		margin:3px auto;
		margin-top:0;
		font-weight:bold;
		font-size:11pt;
	}
	
#container div.move div.col2 a
	{
		display:block;
		color:#f2f2f2;
		font-size:10pt;
		margin:4px 9px;
		padding:3px 0;
		cursor:pointer;
		text-decoration:none;
	}
	
#container div.move div.col2 a:hover
	{
		color:#1e1e1e;
		text-decoration:underline;
	}
	
#container div.tytran
	{
		width:980px;
		background-color:transparent;
		height:auto;
		margin:3px auto;
		margin-bottom:10px;
	}
	
#container div.tytran h2
	{
		font-size:12pt;
		color:#009ddb;
		margin:5px;
		margin-bottom:10px;
		text-decoration:underline;
		text-transform:normal;
		font-weight:bold;
	}
	
#container div.tytran div.tytran_item
	{
		margin:0 5px;
		width:175px;
		padding:0 5px;
		border-right:1px solid #f0f0f0;
		height:auto;
		float:left;
	}
	
#container div.tytran div.tytran_item h3
	{
		font-size:10pt;
		font-weight:bold;
		margin:3px 0;
		text-transform:capitalize;
		color:#990000;
	}
	
#container div.tytran div.tytran_item img
	{
		width:155px;
		height:100px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin:0 auto;
		margin-bottom:5px;
		display:block;
	}
	
#container div.tytran div.tytran_item p
	{
		line-height:14px;
		max-height:84px;
		overflow:hidden;
		text-align:justify;
	}
	
#container div.footer
	{
		width:980px;
		height:auto;
		background-color:#990000;
		margin:0 auto;
		margin-top:10px;
		border-radius:10px 10px 0 0;
		-moz-border-radius:10px 10px 0 0;
		-webkit-border-radius:10px 10px 0 0;
		color:#f2f2f2;
		font-size:9pt;
		text-align:center;
		padding:10px 0;
	}
	
#container div.footer span
	{
		font-weight:bold;
		font-size:9pt;
		background-color:#ffffff;
		border-radius:5px;
		padding:3px 5px;
		color:#009ddb;
	}
	
#container div.footer span.adlog
	{
		margin-left:10px;
		cursor:pointer;
	}
	
#container div.footer span.adlog a
	{
		color:inherit;
		text-decoration:none;
		text-transform:capitalize;
	}
	
	
	
	