.transfer{}

#container div.full_search
	{
		margin:5px auto;
		width:980px;
		padding:5px 10px;
	}
	
#container div.full_search div.qsearch_review
	{
		margin:5px auto;
		padding:5px 0;
		background-color:#f2f2f2;
		border-radius:5px;		
		-moz-border-radius:5px;		
		-webkit-border-radius:5px;		
	}
	
#container div.full_search div.qsearch_review h2
	{
		color:#009ddb;
		margin:5px;
		margin-bottom:10px;
		font-size:12pt;
		font-weight:bold;
		text-transform:capitalize;
	}
	
#container div.full_search div.qsearch_review h2 span.dest
	{
		font-size:10pt;
		margin-left:100px;
		color:#1e1e1e;
		text-transform:normal;
	}

#container div.qsearch_review form
	{
		margin:0;
	}
	
#container div.qsearch_review form td
	{
		vertical-align:top;
		padding:5px;
		width:180px;
		border-right:1px solid #009ddb;
	}
	
#container div.qsearch_review form h1
	{
		text-transform:capitalize;
		font-size:14pt;
		font-weight:bold;
		margin:8px;
		margin-bottom:15px;
		color:#009ddb;
	}
	
#container div.qsearch_review form div.cal
	{
		display:none;
		position:absolute;
		width:auto;
		height:auto;
		padding:5px 2px;
		margin:5px;
		background-color:#ffffff;
		border:1px solid #009ddb;
		border-radius:5px;
		margin-left:110px;
		margin-top:-60px;
	}
	
#container div.qsearch_review form div.cal div.head
	{
		font-size:10pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:3px;
		padding:2px 8px;
		padding-bottom:5px;
		border-bottom:1px dashed #009ddb;
	}
	
#container div.qsearch_review form div.cal div.head span
	{
		margin-right:5px;
		font-size:10pt;
		font-weight:bold;
	}

#container div.qsearch_review form div.cal div.dayname
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#ffffff;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.qsearch_review form div.cal div.dayname div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
	}
	
#container div.qsearch_review form div.cal div.days
	{
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		color:#009ddb;
		margin:2px 5px;
		margin-bottom:8px;
		padding:2px 8px;
	}
	
#container div.qsearch_review form div.cal div.days div
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:pointer;
	}
	
#container div.qsearch_review form div.cal div.days div.dis
	{
		margin:4px;
		padding:5px;
		font-size:9pt;
		font-weight:bold;
		background-color:#f2f2f2;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:15px;
		text-align:center;
		float:left;
		text-transform:capitalize;
		clear:none;
		cursor:auto;
		color:#1e1e1e;
		text-decoration:line-through;
	}
	
#container div.qsearch_review form div.cal div.days div.clear
	{
		margin:0;
		padding:0;
		font-size:9pt;
		font-weight:bold;
		background-color:transparent;
		border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		width:100%;
		height:1px;
		text-align:center;
		text-transform:capitalize;
		clear:both;
	}
	
#container div.qsearch_review form div.cal div.bend
	{
		clear:both;
		border-bottom:1px dashed #009ddb;
		height:2px;
		margin:2px 5px;
	}
	
	
#container div.qsearch_review form div.cal div.end
	{
		font-size:12pt;
		font-weight:bold;
		text-align:right;
		padding:3px 8px;
		margin:3px 5px;
		color:#fff;
		background-color:#009ddb;
		border-radius:5px;
		float:right;
		cursor:pointer;
	}
	

	
#container div.qsearch_review form img
	{
		width:25px;
		height:25px;
		border:0;
		margin:0;
		vertical-align:middle;
		cursor:pointer;
	}
	
#container div.qsearch_review form div.way
	{
		text-align:center;
		margin-top:10px;
		font-size:11pt;
		color:#009ddb;
	}
	
#container div.qsearch_review form div.way label
	{
		font-size:9pt;
		color:#009ddb;
		display:inline-block;
	}
	
#container div.qsearch_review form label
	{
		font-size:9pt;
		display:block;
		margin-bottom:5px;
		text-transform:capitalize;
		color:#009ddb;
	}
	
#container div.qsearch_review form label.hover
	{
		color:#1e1e1e;
	}
	
#container div.qsearch_review form select
	{
		width:90%;
		margin-bottom:5px;
		padding:5px;
		font-size:9pt;
		color:#1e1e1e;
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		margin-left:5px;
		margin-right:5px;
	}
	
#container div.qsearch_review form input
	{
		margin-bottom:5px;
		padding:5px;
		font-size:9pt;
		color:#1e1e1e;
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		margin-left:5px;
		margin-right:5px;
	}
	
#container div.qsearch_review form select#hour,#container div.qsearch_review form select#min
	{
		width:50px;
	}
	
#container div.qsearch_review form button
	{
		width:95%;
		margin:5px 0;
		margin-bottom:0;
		color:#ffffff;
		background-color:#009ddb;
		text-align:center;
		font-size:12pt;
		padding:8px;
		border:5px solid #ffffff;
		cursor:pointer;
	}
	
#container div.qsearch_review form a
	{
		width:100px;
		margin:5px;
		margin-bottom:0;
		color:#ffffff;
		background-color:#009ddb;
		text-align:center;
		font-size:12pt;
		padding:8px;
		border:5px solid #ffffff;
		cursor:pointer;
		text-decoration:none;
		display:block;
	}

#container div.qsearch_review form div.travnum label
	{
		margin-right:8px;
		display:inline-block;
		width:110px;
		color:#1e1e1e;
		font-weight:bold;
		font-size:8pt;
	}
	
#container div.qsearch_review form div.travnum select
	{
		width:auto;
		margin-right:5px;
	}
	
#container div.qsearch_review form div.tprice
	{
		text-align:center;
		margin:10px auto;
		width:130px;
		padding:10px;
		background-color:#990000;
		border-radius:5px;
		vertical-align:middle;
	}
	
#container div.qsearch_review form div.tprice label
	{
		color:#ffffff;
		font-weight:bold;
		font-size:9pt;
		display:inline-block;
		margin:0;
	}
	
#container div.qsearch_review form div.tprice p
	{
		font-size:12pt;
		font-weight:bold;
		display:inline-block;
		color:#EEA826;
		margin-left:5px;
	}

	
#container div.full_search div.search_result
	{
		margin:5px auto;
		padding:5px;
		margin-bottom:0;
		background-color:#990000;
		border-radius:5px 5px 0 0;		
		-moz-border-radius:5px 5px 0 0;		
		-webkit-border-radius:5px 5px 0 0;
		color:#ffffff;
	}
	
#container div.full_search div.search_result h2
	{
		text-transform:capitalize;
		font-size:11pt;
		font-weight:bold;
		padding:5px 0;
	}
	
#container div.full_search div.search_result h2 span.perunit
	{
		margin-left:300px;
		font-size:11pt;
		margin-right:20px;
	}
	
#container div.full_search div.search_result h2 span.perperson
	{
		font-size:11pt;
	}
	
#container div.full_search div.search_result h2 span span
	{
		color:#ffffff;
		padding:4px;
		padding-bottom:2px;
		margin:0 15px;
		font-weight:bold;
		font-size:12pt;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-family:Tw Cen Mt;
		width:10px;
		text-align:center;
		display:inline-block;
	}
	
#container div.full_search div.search_review
	{
		margin:5px auto;
		margin-top:0;
		padding:5px;
		background-color:#ffffff;
		border-radius:0 0 5px 5px;		
		-moz-border-radius:0 0 5px 5px;		
		-webkit-border-radius:0 0 5px 5px;
		border:1px solid #990000;
		border-top:0;		
	}

#container div.full_search div.search_review table
	{
		width:100%;
		height:auto;
		border:0;
		padding:0;
		margin:5px auto;
		font-size:9pt;
		color:#1e1e1e;
	}
	
#container div.full_search div.search_review table td
	{
		font-size:9pt;
		padding:5px;
		color:#1e1e1e;
		vertical-align:middle;
		text-align:center;
	}
	
#container div.full_search div.search_review table tr.ttheader td
	{
		text-transform:capitalize;
		color:#009ddb;
		font-weight:bold;
		font-size:9pt;
	}
	
#container div.full_search div.search_review table td.theader hr
	{
		border-bottom:2px solid #009ddb;
	}

#container div.full_search div.search_review table td span 
	{
		color:#ffffff;
		padding:4px;
		padding-bottom:2px;
		margin:0 15px;
		font-weight:bold;
		font-size:12pt;
		background-color:#009ddb;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		font-family:Tw Cen Mt;
		width:10px;
		text-align:center;
		display:inline-block;
	}
	
#container div.full_search div.search_review table td button
	{
		color:#ffffff;
		font-size:10pt;
		font-weight:bold;
		padding:4px 10px;
		text-transform:capitalize;
		background-color:#009ddb;
		border-radius:5px;
		cursor:pointer;
	}
	
#container div.full_search div.search_review table tr.gray td
	{
		background-color:#f2f2f2;
	}