.transfer{}

#container div.terms
	{
		background-color:#f2f2f2;
		border:1px solid #009DDB;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:10px;
		margin:5px auto;
		min-height:200px;
	}
	
#container div.terms h1
	{
		font-size:12pt;
		font-weight:bold;
		margin:0;
		margin-bottom:15px;
		padding:0;
		padding-bottom:5px;
		color:#009ddb;
		border-bottom:1px dashed #009ddb;
	}
	
#container div.terms p
	{
		font-size:9pt;
		color:#1e1e1e;
		font-weight:normal;
		padding:0 5px;
		margin:8px 0;
		text-align:justify;
	}
	
#container div.terms p span
	{
		font-weight:bold;
		color:#990000;
		font-size:9.5pt;
	}
	
#container div.terms p.hot
	{
		font-weight:bold;
		color:#990000;
		text-align:center;
		font-size:9.5pt;
	}
	
#container div.terms h2
	{
		font-size:10pt;
		font-weight:bold;
		margin:0;
		margin-bottom:5px;
		margin-top:5px;
		padding:0;
		padding-bottom:5px;
		color:#009ddb;
	}