.faim_design{}

*{font-size:14pt; font-family:tahoma, arial, tw cen mt; padding:0; margin:0; text-align:left; direction:ltr;}

body{width:100%; height:100%; padding:0; margin:0; background-color:#f2f2f2;}

a{color:inherit; text-decoration:none;}

span.clear{display:block; height:0; clear:both; float:none; width:100%;}

@font-face {
    font-family: 'ambleregular';
    src:url(../fonts/Amble-Regular-webfont.ttf) format('truetype');
}

@font-face {
    font-family: 'header';
    src:url(../fonts/Backslash.ttf) format('truetype');
}

@font-face {
    font-family: 'header2';
    src:url(../fonts/911 Porscha.ttf) format('truetype');
}

@font-face {
    font-family: 'headerblk';
    src:url(../fonts/mt.ttf) format('truetype');
}

@font-face {
    font-family: 'menulk';
    src:url(../fonts/Wintermute.ttf) format('truetype');
}

@font-face {
    font-family: 'menulk2';
    src:url(../fonts/Baumans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ubuntu';
    src:url(../fonts/Ubuntu-R.ttf) format('truetype');
}

div#txtover{display:inlne-block; float:right; padding;5%; width:auto; height:auto; margin-right:5%; margin-top:-35%; z-index:2;}
div#txtover p{font-family:menulk2; font-size:50px; line-height:60px; padding:25px; background-color:rgba(0,0,0,0.3); border-radius:10px; color:#fff;}