.rolacc{}

*{font-family:arial;}

.ar{direction:rtl;}

/* div#logo{border:1px solid #0971CE; border-top:0; width:958px; border-radius:0 0 10px 10px;} */

div#admenu{margin-top:20px; width:200px; margin-bottom:10px; float:left;}
div#admenu ul{list-style:none;}
div#admenu ul li{font-size:14pt; color:#fff; width:200px; height:20px; text-align:center; background-color:#0971CE; border:1px solid #fff; margin-bottom:1px; border-radius:0 10px 10px 0; vertical-align:middle; text-transform:capitalize; line-height:20px; padding:10px 0; cursor:pointer; border-left:0;}
div#admenu ul li.active{font-size:14pt; color:#0971CE; width:200px; height:20px; text-align:center; background-color:#fff; border:1px solid #0971CE; margin-bottom:1px; border-radius:0 10px 10px 0; vertical-align:middle; text-transform:capitalize; line-height:20px; padding:10px 0; cursor:pointer; border-left:0; right:5px;}
div#admenu ul li:hover{background-color:#1e1e1e; }
div#admenu ul li.active:hover{background-color:#fff; }

div#adcont{width:798px; background-color:#fff; min-height:728px; margin-top:20px; margin-bottom:10px; float:left; border-radius:10px 0 0 10px; border:1px solid #0971CE; border-right:0;}

div#adcont div{display:none; width:778px; margin:10px auto; font-size:11pt; font-family:tahoma; padding:5px 10px;}
div#adcont div.active{display:block;}
div#adcont div div{display:inherit; font-family:inherit;}

div#adcont div div.spmenu{font-size:8pt; font-weight:normal; color:#666; width:778px; margin:0 auto; padding:0; padding-bottom:5px; border-bottom:1px dashed #333; margin-bottom:10px;}
div#adcont div div.spmenu ul{list-style:none; padding-right:20px;}
div#adcont div div.spmenu ul li {float:left; padding:3px 5px; text-transform:capitalize; font-size:10pt; margin-bottom:5px; cursor:pointer; font-weight:bold;}
div#adcont div div.spmenu ul li.active{color:#0971CE;}
div#adcont div div.spmenu ul li:hover{text-decoration:underline;}
div#adcont div form{direction:rtl; display:none; margin:5px auto; padding:5px; font-size:11pt; font-family:tahoma; font-weight:normal;}
div#adcont div form br{line-height:5px;}
div#adcont div form label{width:200px; display:inline-block; margin-right:10px; margin-bottom:5px; vertical-align:top; font-size:inherit; font-family:inherit; text-transform:capitalize; line-height:20px;}
div#adcont div form label span{color:#0971CE; font-size:8pt;}
div#adcont div form span.clear{color:#0971CE; font-size:8pt; border-bottom:1px dashed #0971ce; margin:2px 0 8px;}
div#adcont div form textarea{font-size:10pt; font-family:arial; font-weight:bold; color:#1e1e1e; padding:3px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; overflow:hidden; line-height:20px;}
div#adcont div form input{font-size:10pt; font-family:arial; font-weight:bold; color:#1e1e1e; padding:3px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; overflow:hidden;}
div#adcont div form input[type=file]{margin-left:-5px;}
div#adcont div form input[type=submit],div#adcont div form input[type=reset]{background-color:#0971ce; color:#fff; cursor:pointer; margin:5px 2px; cursor:pointer; float:right; padding:3px 7px; text-transform:capitalize;}
div#adcont div form input:hover[type=submit],div#adcont div form input:hover[type=reset]{background-color:#fff; color:#0971ce;}
div#adcont div form input[type=button]{background-color:#1e1e1e; color:#fff; cursor:pointer; margin:5px 2px; cursor:pointer; float:right; padding:3px 7px; text-transform:capitalize; border-color:#1e1e1e;}
div#adcont div form input[type=button]:hover{background-color:#fff; color:#1e1e1e;}
div#adcont div form input[type=radio]{border:0;}
div#adcont div form select{width:300px; margin-bottom:5px; font-family:inherit; font-size:inherit; border:1px solid #0971ce; color:#666; border-radius:5px; padding:2px 5px; overflow:hidden; line-height:20px;}
div#adcont div form select option{padding:3px 5px; margin:3px auto; font-family:inherit; font-size:inherit; line-height:inherit;}
div#adcont div form h2{font-size:14pt; font-family:arial; margin:10px 0 10px 0; padding-bottom:10px; border-bottom:1px solid #0971ce; color:#0971ce; text-transform:capitalize; text-align:center;}
div#adcont div form h2+h2{margin-top:15px;}
div#adcont div form.active{display:inherit;}

div#adcont div form table{border:1px solid #0971ce; border-radius:5px; margin:5px auto;}
div#adcont div form table tr th{border:1px solid #fff; margin:1px; color:#fff; background-color:#0971ce; font-family:arial; font-weight:bold; font-size:12pt; line-height:14pt; padding:5px;}
div#adcont div form table tr td{font-family:Tahoma; font-size:11pt; line-height:13pt; color:#1e1e1e; padding:5px 10px; border:1px solid #0971ce; margin:1px; min-width:50px;}


div#adlogin{width:450px; margin: 10em auto; padding:10px;}
div#adlogin img{width:150px; height:150px; margin:10px; margin-left:0; float:left; clear:right; background-color:#fff; padding:5px; border:1px solid #0971ce;}
div#adlogin form{float:right; width:250px; margin:10px; padding:10px 0; padding-top:2px;}
div#adlogin form label{font-size:12pt; font-family:tw cen mt, arial; color:#00338e; margin-bottom:5px; display:block;}
div#adlogin form input[type="text"]{font-size:12pt; font-family:tw cen mt, arial; color:#666; margin-bottom:10px; padding:3px 5px; border:1px solid #00388e; border-radius:5px; display:block;}
div#adlogin form input[type="password"]{font-size:12pt; font-family:tw cen mt, arial; color:#666; margin-bottom:10px; padding:3px 5px; border:1px solid #00388e; border-radius:5px; display:block;}
div#adlogin form input[type="submit"], div#adlogin form button{padding:5px 8px; margin:5px; font-size:11pt; font-family: tw cen mt, arial; color:#fff; background-color:#00338e; text-transform:capitalize; cursor:pointer; border:1px solid #00338e; margin-left:0;}
div#adlogin form input[type="reset"]{padding:5px 8px; margin:5px; font-size:11pt; font-family: tw cen mt, arial; color:#00338e; background-color:#fff; text-transform:capitalize; cursor:pointer; border:1px solid #00338e;}