.rolacc{}

div#uplink div.l{direction:rtl; float:right;}
div#uplink div.l ul li{float:right;}
div#uplink div.l ul li.links{padding:5px 10px;}
div#uplink div.l ul li ul{direction:rtl; margin-right:-11px;}
div#uplink div.l ul li ul li {text-align:right;}
div#uplink div.r{float:left; clear:none; }

div#logo{background-color:#fff; padding:10px 20px; height:160px; width:960px; margin:0 auto; background-image:url(../images/qatar-twoers-ar.png) ;background-repeat:no-repeat; background-position: bottom left; direction:rtl; margin-top:35px;}
div#logo div.search{float:left;}
div#logo div.search form input{border-radius:0 5px 5px 0; border-left:0; border-right:1px solid #1e1e1e; margin-left:-10px;}
div#logo div.search form input+input{margin-left:0px; border:0; background-color:#1e1e1e; color:#fff; font-weight:bold; border-radius:5px 0 0 5px; padding:2px 8px; text-transform:capitalize; cursor:pointer;}
div#logo div.search form input+input+input{background-color:#0971ce; border:0; border-radius:5px; margin-left:0px; padding:2px 8px;}
div#adcont div form input[type=submit],div#adcont div form input[type=reset]{float:left;}
div#adcont div form input[type=button]{float:left;}

div#menu{direction:rtl; height:38px;}
div#menu ul li{float:right;}
div#menu ul li a, div#menu ul li span{font-family:abode arabic; font-weight:bold; font-size:16pt;}
div#menu ul li ul{margin-left:0; margin-right:-10px;}
div#menu ul li.last ul{margin-right:-93px;}
div#menu ul li ul li{direction:rtl; text-align:right;}
div#menu ul li ul li span{float:left;}

div#footer{direction:rtl;}
div#footer div{float:right;}

div#p1{}
div#p1 div.news{float:right; margin-right:0;}
div#p1 div.news div.news-item h2{font-family:sc_dubai; text-align:right; padding:5px 15px 5px 80px;}
div#p1 div.news div.news-item img{float:right; margin:15px 15px 10px 15px;}
div#p1 div.news div.news-item h3{text-align:right; font-family:adobe arabic; margin-right:0; margin-left:15px; font-weight:bold; font-size:18pt; line-height:18pt; max-height:18pt;}
div#p1 div.news div.news-item span{text-align:right; font-family:adobe arabic; margin-right:0; margin-left:15px; font-weight:bold; font-size:11pt; margin-bottom:10px;}
div#p1 div.news div.news-item p{text-align:right; font-family:adobe arabic; margin-right:0; margin-left:15px; font-size:15pt; line-height:16pt; max-height:31pt;}
div#p1 div.news  div.but{margin-right:15px; margin-left:10px; text-align:right; margin-bottom:8px;}
div#p1 div.news  div.but a{font-family:tw cen mt; font-size:11pt; font-weight:bold;}
div#p1 div.news  div.but a.lasta{margin-left:-650px; position:absolute;}
div#p1 div.news  div.but a.nmorea{position:absolute; margin-left:-650px; margin-top:-162px; color:#1e1e1e; background-color:#fff;}
div#p1 div.news  div.but a.nmorea:hover{color:#fff; background-color:#1e1e1e;}
div#p1 div.news div.nnavi span{float:right;}
/* div#p1 div.news div.nnavi {margin-top:-25px; margin-bottom:5px;} */
div#p1 div.manager h2{font-family:sc_dubai; font-size:20pt; font-weight:normal;padding:2px 5px; }
div#p1 div.manager img{margin-bottom:5px;}
div#p1 div.manager p{font-family:adobe arabic; font-size:14pt; text-align:right;}

div#p1 div.manager{float:left;}

div#p2 div.tabs{float:right; margin-right:-16px; margin-left:10px;}
div#p2 div.tabs ul{padding-left:0; padding-right:20px;}
div#p2 div.tabs ul li{float:right; font-family:sc_dubai; font-size:13pt;}
div#p2 div.tabs div.tcont ul{padding-left:0; padding-right:0;}
div#p2 div.tabs div.tcont ul li{float:right; font-family:sc_dubai; padding:4px 3px;}
div#p2 div.tabs div.tcont div.item div.over h2{text-align:right; font-family:adobe arabic; font-size:20pt;}
div#p2 div.tabs div.tcont div.item div.over p{font-family:tw cen mt; font-size:12pt; text-align:right;}
div#p2 div.tabs div.tcont div.but{margin:15px 10px 0 10px; text-align:right;}
div#p2 div.tabs div.tcont div.but span.last{float:left;}
div#p2 div.rmess{float:left;}
div#p2 div.rmess h1{font-family:sc_dubai; text-align:right;}
div#p2 div.rmess p{text-align:right;}

div#p3-l{float:right; margin-right:0; margin-left:10px;}
div#p3-l div.partner{float:right; margin-right:0;}
div#p3-l div.partner h4{font-family:sc_dubai; text-align:right;}
div#p3-l div.partner h2{float:right; margin-right:10px; text-align:right; font-family:adobe arabic; font-weight:bold; font-size:16pt;}
div#p3-l div.partner img{float:left; margin-left:10px; margin-right:0;}
div#p3-l div.partner p{font-family:adobe arabic; text-align:right; font-size:14pt; max-height:28pt; line-height:16pt;}
div#p3-l div.survey{float:left;}
div#p3-r{float:left;}
div#p3-r div h3 a{font-family:sc_dubai; font-size:18pt; font-weight:bold;}
div#p3-r div ul li{text-align:right;}
div#p3-r div ul li a{font-family:adobe arabic; font-size:14pt; height:12pt;}

div#p3-l div.gallery ul li{float:right; font-family:sc_dubai; font-size:14pt;}
div#p3-l div.gallery div div.sc{float:right; margin-right:20px; margin-left:10px;}
div#p3-l div.gallery div div.na{float:right;}
div#p3-l div.gallery div div.sc p{text-align:right; font-family:adobe arabic; font-weight:bold; font-size:14pt; line-height:16pt; max-height:50pt; overflow:hidden;}

div#p3-l div.survey h4{text-align:right; font-family:sc_dubai;}
div#p3-l div.survey h2{text-align:right; font-family:adobe arabic; padding-right:10px;}
div#p3-l div.survey form{text-align:right;}
div#p3-l div.survey form input[type=radio]{margin-left:10px;}
div#p3-l div.survey form input[type=submit]{margin-top:28px; margin-right:0; position:normal; top:0; left:0; float:left; width:60px; text-align:center;}
div#p3-l div.survey form input[type=button]{top:-0; left:-0; position:normal; float:left; margin-top:-138px; margin-left:-62px;}
div#p3-l div.survey form input[type=button].ie{margin-top:-135px;}
div#p3-l div.survey form input[type=submit].ie{height:29px;}

div#path.ar{text-align:right; margin:10px auto; margin-top:-10px; padding-right:25px; padding-top:2px; padding-bottom:5px; border-bottom:1px solid #0971ce; background-image:url(../images/path-left-ar.png); background-repeat:no-repeat; background-position:center right; color:#0971ce; vertical-align:middle; padding-left:0;}
div#path.ar a{color:#0971ce; font-family:arial; font-size:12pt; text-transform:capitalize;}
div#path.ar a:hover{color:#666;}
div#path.ar span{color:#1e1e1e; font-family:arial; font-size:12pt; text-transform:capitalize;}

div#mission{direction:rtl; box-shadow:-3px 3px 2px #1e1e1e;}
div#mission h1{text-align:right; font-family:adobe arabic; font-size:22pt; font-weight:bold;}
div#mission h2{text-align:right;}
div#mission p{text-align:right;}

div#chairman{direction:rtl; box-shadow:-3px 3px 2px #1e1e1e;}
div#chairman h1{font-family:adobe arabic; text-transform:right; font-size:22pt; font-weight:bold;}
div#chairman div.cimg{width:306px; height:156x; border:3px solid #1e1e1e; display:inline-block; float:left; margin-left:0; margin-right:20px; margin-bottom:20px;}
div#chairman div.cimg img{width:300px; height:150px; border:3px solid #fff;}
div#chairman p.cimgt{font-family:tw cen mt; color:#1e1e1e; font-size:11pt; margin-bottom:10px; display:inline-block; text-align:right; line-height:20pt;}
div#chairman p{text-align:right;}
div#chairman h2{text-align:right; font-family:adobe arabic; font-weight:bold;}
div#chairman ul{list-style:square; margin-left:0; margin-right:50px;}
div#chairman ul li{margin-bottom:10px; font-family:adobe arabic; font-size:14pt; color:#666; text-align:right;}
div#chairman ul li a{margin-bottom:10px; font-family:adobe arabic; font-size:14pt; color:#666; text-align:right;}

div#faq{direction:rtl; margin-right:0; margin-left:10px;}
div#faq div h2{text-align:right;}
div#faq div p{text-align:right;}

div#add_faq div form{direction:rtl; margin-top:5px; margin-bottom:-5px;}
div#add_faq div form label{margin-right:0; margin-left:10px; text-align:right;}
div#add_faq div form input{text-align:right;}
div#add_faq div form textarea{text-align:right;}
div#add_faq div form input[type=button]{float:left;}


div#rnew{float:right; margin-right:0; margin-left:10px; direction:rtl;}
div#rnew div{margin-left:10px; margin-right:0; float:right;}
div#rnew div+div{margin-left:0 ;margin-right:0;}
div#rnew div h2{font-family:adobe arabic; font-weight:bold;}
div#rnew div p{font-size:12pt; line-height:18pt;}
div#rnew div p a{font-weight:bold;}

div#snew{margin:10px auto;}
div#snew div.item{}
div#snew div.item div{width:470px; margin-right:0; float:right; height:150px; padding:10px; background-color:#fff; border:1px solid #aaa; margin-bottom:10px; margin-left:10px;}
div#snew div.item div+div{margin-right:0; float:left; margin-left:0; margin-top:-2px;}
div#snew div.item div img{width:120px; height:140px; display:inline-block; float:right; margin-right:0; margin-left:10px; }
div#snew div.item div h2{color:#00338e; font-family:adobe arabic; font-size:14pt; margin-bottom:10px; text-transform:capitalize; text-align:right; font-weight:bold;}
div#snew div.item div p{font-family:arial; font-size:12pt; line-height:14pt; height:70pt; overflow:hidden; text-align:right; }
div#snew div.item div p a{color:#00338e; font-family:inherit; font-size:inherit; font-weight:noraml; text-transform:capitalize; text-decoration:underline;}
div#snew div.item div p a:hover{color:#1e1e1e; text-decoration:none;}


div#nl{width:753px; min-height:100px; float:right; clear:none; margin-right:0; margin-top:15px; margin-left:10px;}
div#nl div.up{min-height:240px; direction:rtl;}
div#nl div.up h1{text-transform:capitalize; font-size:18pt; font-family:adobe arabic; font-weight:bold; text-align:right; margin-bottom:10px; color:#0971ce; width:439px;}
div#nl div.up span{font-family:tw cen mt; font-size:11pt; color:#1e1e1e; text-transform:capitalize; margin-bottom:15px; display:block;}
div#nl div.up span.clear{font-family:tw cen mt; font-size:0pt; color:#1e1e1e; text-transform:capitalize; margin-bottom:0px; display:block;}
div#nl div.up span.rw{color:#00338E; font-family:rockwell; text-transform:capitalize; margin-bottom:20px; font-size:12pt;}
div#nl div.up div.img{display:inline-block; float:left; border:2px solid #0971ce; width:304px; height:204px;}
div#nl div.up div.img img{width:300px; height:200px; border:2px solid #fff;}
div#nl div.up div.but{margin-top:-30px;}
div#nl div.up div.but a{color:#fff; background-color:#1e1e1e; background-image:url(../images/cn-back.png); background-repeat:repeat-x; height:18px; padding:5px 10px; border:1px solid #1e1e1e; margin-right:5px; font-family:tw cen mt; font-size:14pt; text-transform:capitalize; margin-bottom:5px; display:inline-block;}
div#nl div.up div.but a+a{background-color:#0971ce; background-image:url(../images/ln-back.png); border:1px solid #0971ce; margin-right:0;}
div#nl div.md{background-color:#94b5d4; padding:10px 15px; border-radius:5px; margin:5px auto; min-height:55px; margin-top:-25px; text-align:right;}
div#nl div.md p{font-family:arial; font-size:12pt; line-height:16pt;}
div#nl div.bt{background-color:#e8e9eb; border-radius:5px; margin:5px auto; padding:10px 15px; min-height:523px; text-align:right;}
div#nl div.bt p{font-family:arial; font-size:12pt; color:#1e1e1e; line-height:17pt; margin-bottom:20px;}

div#p3-r div.lanews{background-color:#fff; margin-bottom:10px; border:1px solid #666; border-radius:10px; padding:5px 10px;}
div#p3-r div.lanews h2{font-family:adobe arabic; font-size:14pt; font-weight:bold; margin-bottom:10px; color:#666; text-transform:capitalize; text-align:right;}
div#p3-r div.lanews div{border-bottom:1px solid #0971ce; margin-bottom:5px; padding-bottom:5px;}
div#p3-r div.lanews div.last{border-bottom:0;}
div#p3-r div.lanews div h3{color:#0971ce; font-family:adobe arabic; font-size:12pt; font-weight:bold;text-transform:capitalize; margin-bottom:5px; border:0; border-radius:0; height:auto; padding:0; width:auto; text-align:left; background-color:transparent; text-align:right;}
div#p3-r div.lanews div h3 span{font-family:tw cen mt; font-size:9pt; color:#94B5D4; direction:rtl;}
div#p3-r div.lanews div h3 a{color:#0971ce; font-family:rockwell; font-size:12pt; text-transform:capitalize; margin-bottom:5px; padding:0;}
div#p3-r div.lanews div h3 a:hover{color:#666;}
div#p3-r div.lanews div h3 a span{font-family:tw cen mt; font-size:9pt; color:#94B5D4;}
div#p3-r div.lanews div p{font-family:tw cen mt; font-size:11pt; color:#1e1e1e; line-height:12pt; height:24pt; overflow:hidden; text-align:right;}

div#conf{}
div#conf h1{font-family:adobe arabic; font-weight:bold; font-size:20pt; color:#0971ce; margin-bottom:10px; text-transform:capitalize; text-align:right;}
div#conf span.cd{font-size:11pt; font-family:tahoma; margin-bottom:10px; display:block; color:#1e1e1e; text-align:right;}
div#conf div.cm{background-color:#f2f2f2; border-radius:10px; padding:15px; margin-bottom:10px;}
div#conf div.cm p{font-family:tahoma; font-size:12pt; line-height:20pt; text-align:right;}
div#conf div.cs{background-color:#fff; border:2px solid #0971ce; border-radius:10px; margin:10px auto; padding:10px;}
div#conf div.cs h2{font-family:adobe arabic; margin-bottom:20px; font-size:14pt; text-transform:capitalize; color:#0971ce; text-align:right; font-weight:bold;}
div#conf div.cs div{border-bottom:1px dashed #0971ce; padding-bottom:10px; margin-bottom:10px;}
div#conf div.cs div.last{border-bottom:0; padding-bottom:0;}
div#conf div.cs div h3{color:#666; margin-bottom:10px; font-family:adobe arabic; font-weight:bold; text-align:right; font-size:12pt; text-transform:capitalize;}
div#conf div.cs div p{font-family:tahoma; font-size:12pt; color:#1e1e1e; line-height:14pt; text-align:right;}
div#conf div.cg{background-color:#464646; border:2px solid #fff; margin:10px auto; border-radius:10px; padding:10px;}
div#conf div.cg h2{font-family:adobe arabic; font-weight:bold; text-align:right; color:#f2f2f2; padding-bottom:10px; border-bottom:1px dashed #f2f2f2; font-size:14pt; text-transform:capitalize; margin-bottom:15px;}
div#conf div.cg div.cgb{float:right; margin-right:0; margin-left:10px; height:300px; width:550px; display:inline-block; margin-bottom:10px;}
div#conf div.cg div.cgb img{width:548px; height:298px; border:1px solid #f2f2f2; border-radius:10px;}
div#conf div.cg div.cgs{float:left; width:410px; height:224px; overflow:hidden; padding-top:38px;}
div#conf div.cg div.cgs img{width:120px; height:100px; border-radius:5px; border:1px solid #f2f2f2; margin:0 0 10px 10px; display:inline-block;}
div#path span.creg{float:left; font-family:adobe arabic; font-size:16pt; font-weight:bold; color:#00338e; text-transform:capitalize; cursor:pointer;}

div#creg{display:none; background-color:rgba(0,0,0,0.5); width:100%; height:200%; position:absolute; top:0; right:0; z-index:1000; vertical-align:middle;}
div#creg div{width:800px; border:3px solid #1e1e1e; border-radius:10px; padding:10px; background-color:#fff; margin:5% auto;}
div#creg div h2{font-size:14pt; text-transform:capitalize; font-family:rockwell; margin-bottom:15px; padding-bottom:10px; border-bottom:1px dashed #0971ce; color:#0971ce; text-align:center;}
div#creg div form{direction:rtl;}
div#creg div form label{display:inline-block; width:180px; margin-right:10px; color:#0971ce; font-size:12pt; vertical-align:top; font-family:tw cen mt; margin-bottom:10px; text-transform:capitalize;}
div#creg div form input[type=text]{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666; margin:0 10px 10px 10px;}
div#creg div form input[type=file]{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:9pt; color:#666; margin:0 10px 10px 10px;}
div#creg div form textarea{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666; margin:0 10px 10px 10px;}
div#creg div form input[type=submit]{background-color:#0971ce; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:11pt; font-family:rockwell; padding:3px 8px; margin-top:10px;}
div#creg div form input[type=submit]:hover{background-color:transparent; color:#1e1e1e;}
div#creg div form input[type=reset]{background-color:#1e1e1e; border:1px solid #1e1e1e; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:11pt; font-family:rockwell;  padding:3px 8px; margin-top:10px;}
div#creg div form input[type=reset]:hover{background-color:transparent; color:#1e1e1e;}
div#creg div form input[type=button]{background-color:#fff; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#0971ce; font-size:11pt; font-family:rockwell;  padding:3px 8px; float:left; margin-top:10px;}
div#creg div form input[type=button]:hover{background-color:#0971ce; color:#fff;}

div#lib{width:753px; min-height:100px; float:right; clear:none; margin-right:0; margin-left:10px; margin-top:15px;}
div#lib div.item{margin-bottom:10px; border:1px solid #0971ce; border-radius:10px; padding:0; height:200px; background-color:#f2f2f2;}
div#lib div.item img{float:right; width:180px; height:200px; border-radius:10px 0 0 10px;}
div#lib div.item div{float:right; margin-left:0; margin-right:10px; padding-left:10px; padding-right:0; width:550px; padding-top:10px;}
div#lib div.item div h2{font-family:adobe arabic; font-weight:bold; color:#0971ce; margin-bottom:10px; text-transform:capitalize; font-size:15pt; line-height:16pt; text-align:right;}
div#lib div.item div span.dt{font-family:tahoma; color:#a5adb0; font-size:12pt; display:block; margin-bottom:25px; text-transform:capitalize; text-align:right;}
div#lib div.item div p{padding:10px; text-align:justify; font-size:12pt; font-family:tw cen mt; line-height:14pt; height:50pt; overflow:hidden; text-align:right;}
div#lib div.item div span.mo{color:#0971ce; float:left; font-size:12pt; font-family:adobe arabic; font-weight:bold; text-align:right; text-transform:capitalize; margin-right:0; margin-left:5px;}
div#lib div.item div span.mo a{color:inherit; font-family:inherit; font-size:inherit; text-decoration:underline;}
div#lib div.item div span.mo a:hover{color:#1e1e1e; text-decoration:none;}
div#lib div.item div span.download{font-family:tw cen mt; text-transform:capitalize; font-size:11pt; color:#a5adb0; float:left; margin-top:-160px; margin-left:-30px; margin-right:0; text-align:right;}
div#lib div.item div span.download a{font-family:tw cen mt; text-transform:capitalize; font-size:11pt; color:#a5adb0;}
div#lib div.item div span.download a:hover{color:#1e1e1e; text-decoration:underline;}
div#lib div.item.nim{height:145px;}
div#lib div.item.nim div{width:731px;}
div#lib div.item.nim div span.dt{margin-bottom:10px;}
div#lib div.item.nim div p{height:23pt;}
div#lib div.item.nim div span.download{margin-top:-110px;}

div#llist{margin-bottom:10px;}
div#llist div{background-color:#353736; color:#f2f2f2f; padding:10px; width:470px; margin-right:0; margin-left:10px; float:right; min-height:100px; border:2px solid #fff; margin-bottom:5px;}
div#llist div+div{margin-right:0; margin-left:0;}
div#llist div h2{font-family:tw cen mt; font-size:14pt; text-transform:capitalize; margin-bottom:10px; color:#f2f2f2; font-weight:bold; text-align:right;}
div#llist div ul{list-style:none; padding-right:20px; padding-left:0; direction:rtl;}
div#llist div ul li{margin-bottom:10px; text-align:right;}
div#llist div ul li a{font-family:tw cen mt; font-size:12pt; color:#f2f2f2; text-transform:capitalize; text-decoration:underline;}
div#llist div ul li a:hover{text-decoration:none;}
div#llist div ul li a img{vertical-align:middle; height:24px; margin-right:0; margin-left:15px;}
div#llist div span.nav{color:#0971ce; font-family:tw cen mt; font-size:11pt; text-transform:capitalize; display:block; cursor:pointer; margin-top:15px; margin-bottom:5px; text-align:left;}
div#llist div span.nav a{color:#0971ce; font-family:tw cen mt; font-size:11pt; text-transform:capitalize;}
div#llist div span.nav a:hover{color:#fff; text-decoration:underline;}

div#p3-r div.lalib{margin-bottom:10px; background-color:#fff; border:1px solid #0971ce; border-radius:0 0 5px 5px; padding-bottom:10px;}
div#p3-r div.lalib h2{font-family:adobe arabic; font-weight:bold; text-transform:capitalize; color:#fff; padding:3px 8px; background-color:#0971ce; margin-bottom:10px; text-align:right;}
div#p3-r div.lalib ul{direction:rtl; z-index:70; display:block; list-style-type:square; padding:0 10px 0 15px; margin-bottom:0; border-width:0px; border-style:solid;  border-top:0; border-radius:0 0 0 0; margin-top:0; background-color:transparent; padding-left:25px; padding-bottom:10px; min-height:auto; list-style:square; padding:0 10px 0 15px; display:block;}
div#p3-r div.lalib ul li{color:#0971ce; font-family:tw cen mt; margin-bottom:8px; font-size:12pt; line-height:16pt; max-height:28pt; max-height:30pt;}
div#p3-r div.lalib ul li a{color:#0971ce; font-family:tw cen mt; font-size:12pt; line-height:14pt; max-height:28pt; overflow:hidden; margin-bottom:0;}
div#p3-r div.lalib ul li:hover a{color:#1e1e1e;}
div#p3-r div.lalib ul li:hover a:hover{color:#1e1e1e; text-decoration:underline;}



div#p3-r div.trec{border:1px solid #0971ce; padding:10px; margin-bottom:10px; border-radius:10px; background-color:#fff;}
div#p3-r div.trec h2{font-family:rockwell; font-size:14pt; margin-bottom:10px; text-transform:capitalize; color:#00338e; text-align:right;}
div#p3-r div.trec ol{padding:0 25px 0 10px; direction:rtl;}
div#p3-r div.trec ol li{color:#606a73; margin-bottom:5px; line-height:16pt; font-size:12pt; font-family:tw cen mt; text-align:right;}
div#p3-r div.trec ol li a{color:inherit; font-family:inherit; font-size:inherit;}
div#p3-r div.trec ol li a:hover{color:#00338e; text-decoration:underline;}

div#tmain{}
div#tmain h1{font-family:sc_dubai; font-size:14pt; margin-bottom:10px; color:#0971ce; text-transform:capitalize; text-align:right;}
div#tmain div.lside{width:733px; height:100px; float:right; clear:none; margin-right:0; margin-left:10px; margin-bottom:10px; background-color:#afcbe1; border-radius:10px; padding:10px; }
div#tmain div.lside p{height:95px; overflow:hidden; font-family:tw cen mt; font-size:12pt; text-align:justify; line-height:18pt; color:#1e1e1e; text-align:right}
div#tmain div.rside{width:217px; float:right; min-width:100px; clear:none; background-color:#afcbe1; margin-bottom:10px; padding:10px; border-radius:10px;}
div#tmain div.rside a{display:block; text-transform:capitalize; font-size:14pt; font-family:sc_dubai; margin:5px; padding:8px 0; line-height:16pt; color:#00338e; text-align:center;}
div#tmain div.rside a:hover{color:#1e1e1e;}
div#tmain div.rside span{margin:5px; height:1px; border-bottom:1px dashed #0b70cc; display:block;}
div#tcont div.tpref{padding:10px; border:1px solid #0971ce; border-radius:10px; background-color:#f2f2f2; min-height:80px; margin-bottom:10px; text-align:right;}
div#tcont div.tpref p{min-width:300px; margin-bottom:10px; margin-right:0; margin-left:10px; font-size:12pt; font-family:tw cen mt; line-height:16pt; display:inline-block; float:right; color:#666; text-transform:capitalize; text-align:right; direction:rtl;}
div#tcont div.tpref p span{color:#0971ce; margin-left:0; margin-right:20px; display:inline-block; font-size:inherit; font-family:inherit;}
div#tcont ul{list-style:none; direction:rtl}
div#tcont ul li{float:right; margin-right:0; margin-left:2px; color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-bottom:0; border-radius:10px 10px 0 0; padding:6px 12px; text-transform:capitalize; cursor:pointer; font-family:sc_dubai; font-size:12pt; line-height:18pt;}
div#tcont ul li.reg{float:left; margin-right:0; color:#00338e; background-color:transparent; border:0px solid #0971ce; border-bottom:0; border-radius:0; padding:5px 12px; text-transform:capitalize; cursor:pointer; font-family:sc_dubai; font-size:12pt; padding-bottom:0;}
div#tcont ul li:hover{color:#1e1e1e;}
div#tcont ul li.active{color:#fff; background-color:#0971ce; top:1px; position:relative;}
div#tcont div.tdcont{display:none; padding:10px 15px; background-color:#fff; border:1px solid #0971ce; border-radius:10px 0 10px 10px; margin-bottom:10px;}
div#tcont div.tdcont h2{font-size:14pt; color:#00338e; margin-bottom:5px; font-family:sc_dubai; text-transform:capitalize; text-align:right;}
div#tcont div.tdcont span{color:#666; font-family:sc_dubai; font-size:9pt; display:block; margin-bottom:10px; text-align:right;}
div#tcont div.tdcont h3{font-family:tw cen mt; font-size:14pt; line-height:16pt; margin-top:20px; margin-bottom:0px; color:#0971ce; text-transform:capitalize; text-align:right;}
div#tcont div.tdcont p{color:#1e1e1e; font-size:11pt; font-family:tw cen mt; line-height:16pt; text-align:justify; padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #00338e; text-align:right;}
div#tcont div.tdcont p.last{border-bottom:0;}
div#tcont div.tdcont.active{display:block;}
div#tcont{width:753px; min-height:100px; float:right; clear:none; margin-right:0; margin-left:10px; margin-top:15px;}

div#treg{display:none; background-color:rgba(0,0,0,0.5); width:100%; height:200%; position:absolute; top:0; right:0; z-index:1000; vertical-align:middle;}
div#treg div{width:800px; border:3px solid #1e1e1e; border-radius:10px; padding:10px; background-color:#fff; margin:10% auto;}
div#treg div h2{font-size:14pt; text-transform:capitalize; font-family:rockwell; margin-bottom:15px; padding-bottom:10px; border-bottom:0px dashed #0971ce; color:#0971ce; text-align:center;}
div#treg div form{direction:rtl;}
div#treg div form label{display:inline-block; width:180px; margin-right:10px; color:#0971ce; font-size:12pt; vertical-align:top; font-family:tw cen mt; margin-bottom:10px; text-transform:capitalize;}
div#treg div form input[type=text]{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666;}
div#treg div form textarea{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666;}
div#treg div form input[type=submit]{background-color:#0971ce; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:13pt; font-family:rockwell; padding:3px 8px; margin-top:10px;}
div#treg div form input[type=submit]:hover{background-color:transparent; color:#1e1e1e;}
div#treg div form input[type=reset]{background-color:#1e1e1e; border:1px solid #1e1e1e; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:13pt; font-family:rockwell;  padding:3px 8px; margin-top:10px;}
div#treg div form input[type=reset]:hover{background-color:transparent; color:#1e1e1e;}
div#treg div form input[type=button]{background-color:#fff; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#0971ce; font-size:13pt; font-family:rockwell;  padding:3px 8px; float:left; margin-top:10px;}
div#treg div form input[type=button]:hover{background-color:#0971ce; color:#fff;}

div#smap{padding:20px 10px; margin:10px auto; border:2px solid #0971ce; border-radius:10px; background-color:#f2f2f2;}
div#smap ul{list-style:disc; padding-left:20px; padding-right:20px; direction:rtl;}
div#smap ul li{font-size:12pt; font-family:arial; margin-bottom:15px; line-height:16pt; text-transform:capitalize; color:#0971ce;}
div#smap ul li a{color:inherit; font-size:inherit; font-family:inherit;}
div#smap ul li a:hover{color:#666; text-decoration:underline;}
div#smap ul li ul{list-style:square; padding-left:20px; padding-top:10px;}
div#smap ul li ul li{color:#1e1e1e;}
div#smap ul li ul li ul{list-style:circle; padding-left:30px; padding-top:10px;}
div#smap ul li ul li ul li{color:#00338e;}


div#reports{width:753px; float:right; margin-right:0; margin-left:10px; margin-bottom:10px; clear:none; margin-top:15px;}
div#reports div.ritem{border-radius:10px; border:1px solid #00338e; margin-bottom:10px; background-color:#fff;}
div#reports div.ritem h2{font-family:sc_dubai; font-size:14pt; margin-bottom:10px; padding:10px; background-color:#00338e; color:#fff; text-transform:capitalize; border-radius:7px 7px 0 0; font-weight:bold; text-align:right;}
div#reports div.ritem p{padding:10px 20px; font-family:tahoma; color:#1e1e1e; font-size:10pt; line-height:15pt; text-align:right;}
div#reports div.ritem span{display:block; background-color:#00338e; padding:5px 10px; text-align:left; border-radius:0 0 7px 7px; color:#f2f2f2; font-size:10pt; text-transform:capitalize; font-family:tw cen mt;}
div#reports div.ritem span a{color:#f2f2f2; font-size:10pt; text-transform:capitalize; font-family:tw cen mt;}
div#reports div.ritem span a:hover{text-decoration:underline; color:#aaa;}
div#reports div.ritem{}
div#reports div.ritem div{display:none; padding:10px; margin:10px; background-color:#94B5D4; box-shadow:-2px -2px 2px #666;}
div#reports div.ritem div h2{font-family:sc_dubai; font-size:14pt; margin-bottom:10px; padding:0; background-color:transparent; color:#fff; text-transform:capitalize; border-radius:0; font-weight:normal;  text-align:right;}
div#reports div.ritem div{}

div#p3-r.top{position:fixed; top:75px; margin-left:0;}

div#polls{width:753px; float:right; margin-right:0; margin-left:10px; margin-bottom:10px; clear:none; margin-top:15px;}
div#polls div.pitem{padding:10px; border:1px solid #333; background-color:#fff; margin-bottom:10px; display:block; padding-bottom:0;}
div#polls div.pitem h2{padding:3px; margin-bottom:10px; color:#00338e; font-family:sc_dubai; text-transform:capitalize; text-align:right;}
div#polls div.pitem div.active{display:block;}
div#polls div.pitem div{display:none;}
div#polls div.pitem div{padding:5px; border:1px dashed #333; border-width:0; font-size:9pt;}
div#polls div.pitem div form{padding:2px 10px; direction:rtl;}
div#polls div.pitem div form label{font-size:13pt; font-family:tw cen mt; margin-bottom:10px; line-height:16pt; color:#1e1e1e; display:block; vertical-align:top; text-transform:capitalize;}
div#polls div.pitem div form label input[type=radio]{margin-bottom:5px; margin-right:0; margin-left:10px;}
div#polls div.pitem div form input[type=submit],div#polls div.pitem div form button{border:1px solid #0971ce; border-radius:5px; padding:5px 10px; font-family:tw cen mt; font-size:11pt; text-transform:capitalize; color:#fff; line-height:14pt; float:left; cursor:pointer; background-color:#0971ce;}
div#polls div.pitem div form input[type=submit]:hover,div#polls div.pitem div form button:hover{background-color:transparent; color:#0971ce;}
div#polls div.pitem div.vans{padding:10px; font-size:11pt; font-family:tw cen mt; text-align:right;}
div#polls div.pitem div.vans p{margin-bottom:5px; display:block; color:#1e1e1e; padding:2px; font-family:tw cen mt; font-size:12pt; text-align:right;}
div#polls div.pitem div.vans p span{color:#0971ce; margin-right:15px; font-weight:bold; font-family:sc_dubai; font-size:12pt; float:left;}
div#polls div.pitem div.vans {}
div#polls div.pitem div.nav{display:block; padding:2px 10px; text-align:right; font-size:10pt; color:#0971ce; font-size:10pt; font-family:tw cen mt; border-top:1px dashed #0971ce; padding-top:5px; margin-top:5px;}
div#polls div.pitem div.nav span{color:#0971ce; background-color:transparent; text-transform:capitalize; border:1px solid #0971ce; border-radius:5px; line-height:14pt; font-family:tw cen mt; font-size:11pt; padding:5px 10px; margin:3px; cursor:pointer; display:inline-block;}
div#polls div.pitem div.nav span.active{color:#fff; background-color:#0971ce;}
div#polls div.pitem div.nav span:hover{color:#1e1e1e;}
div#polls div.pitem div.nav{}
div#polls div.pitem{}
div#polls{}

div#docs{width:753px; float:right; margin-right:0; margin-left:10px; margin-bottom:10px; clear:none; margin-top:15px;}
div#docs div.ditem div.head{padding:10px; margin-bottom:10px; background-color:#fff; border:1px solid #00338e; border-radius:5px; min-height:22px;}
div#docs div.ditem div.head h2{font-size:13pt; text-transform:capitalize; font-family:sc_duabi; color:#00338e; display:inline-block; text-align:right; float:right;}
div#docs div.ditem div.head h2 a{font-size:13pt; text-transform:capitalize; font-family:sc_dubai; color:#00338e;}
div#docs div.ditem div.head h2 a:hover{color:#1e1e1e;}
div#docs div.ditem div.head span{font-size:tw cen mt; font-size:11pt; color:#666; text-decoration:underline; float:left; cursor:pointer; padding-top:5px;}
div#docs div.ditem div.head span:hover{color:#0971ce; text-decoration:none;}
div#docs div.ditem div.body{display:none; padding:10px; background-color:#fff; width:92%; margin:10px auto; margin-bottom:0;}
div#docs div.ditem div.body.active{display:block; margin-bottom:10px;}
div#docs div.ditem div.body h3{color:#0971ce; font-size:12pt; text-transform:capitalize; font-family:sc_dubai; padding-bottom:5px; margin-bottom:10px; border-bottom:1px dashed #0971ce; text-align:right;}
div#docs div.ditem div.body p{font-size:11pt; font-family:tw cen mt; margin-bottom:5px; padding:8px; color:#1e1e1e; line-height:16pt; text-align:right;}
div#docs div.ditem div.body {}

body div.feedb, div.freg, div.lsub{display:none; position:absolute; background-color:rgba(0,0,0,0.5); width:100%; height:200%; padding:10px; margin:0; top:0; left:0; z-index:999;}
body div.feedb.active, div.freg.active, div.lsub.active{display:block;}
body div.feedb div.holder, div.freg div.holder, div.lsub div.holder{margin:10% auto; background-color:#fff; padding:15px; border:5px solid #1e1e1e; border-radius:20px; width:700px; position:fixed;}
body div.feedb div.holder h2, div.freg div.holder h2, div.lsub div.holder h2{font-size:14pt; font-family:sc_dubai; padding-bottom:10px; border-bottom:1px dashed #00338e; color:#00338e; margin-bottom:10px; text-align:right;}
body div.feedb div.holder form, div.freg div.holder form, div.lsub div.holder form{direction:rtl;}
body div.feedb div.holder form label, div.freg div.holder form label, div.lsub div.holder form label{font-size:11pt; font-family:sc_dubai; display:inline-block; margin-left:10px; margin-right:0; width:200px; margin-bottom:10px; vertical-align:top; color:#00338e; text-transform:capitalize;}
body div.feedb div.holder form input[type=text], div.freg div.holder form input[type=text], div.lsub div.holder form input[type=text]{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt; clear:right;}
body div.feedb div.holder form textarea, div.freg div.holder form textarea, div.lsub div.holder form textarea{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt;}
body div.feedb div.holder form input[type=submit], div.freg div.holder form input[type=submit], div.lsub div.holder form input[type=submit]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form input[type=submit]:hover, div.freg div.holder form input[type=submit]:hover, div.lsub div.holder form input[type=submit]:hover{color:#00338e; background-color:transparent;}
body div.feedb div.holder form button, div.freg div.holder form button, div.lsub div.holder form button{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form button:hover, div.freg div.holder form button:hover, div.lsub div.holder form button:hover{color:#00338e; background-color:transparent;}
body div.feedb div.holder form input[type=reset], div.freg div.holder form input[type=reset], div.lsub div.holder form input[type=reset]{color:#fff; background-color:#1e1e1e; border:1px solid #1e1e1e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form input[type=reset]:hover, div.freg div.holder form input[type=reset]:hover, div.lsub div.holder form input[type=reset]:hover{color:#1e1e1e; background-color:transparent;}
body div.feedb div.holder form input[type=button], div.freg div.holder form input[type=button], div.lsub div.holder form input[type=button]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form input[type=button]:hover, div.freg div.holder form input[type=button]:hover, div.lsub div.holder form input[type=button]:hover{color:#00338e; background-color:transparent;}
body div.feedb div.holder form input[type=button].close, div.freg div.holder form input[type=button].close, div.lsub div.holder form input[type=button].close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:left; display:inline-block;}
body div.feedb div.holder form input[type=button].close:hover, div.freg div.holder form input[type=button].close:hover, div.lsub div.holder form input[type=button].close:hover{color:#fff; background-color:#0971ce;}
body div.feedb div.holder form button.close, div.freg div.holder form button.close, div.lsub div.holder form button.close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:left; display:inline-block;}
body div.feedb div.holder form button.close:hover, div.freg div.holder form button.close:hover, div.lsub div.holder form button.close:hover{color:#fff; background-color:#0971ce;}

body div.comment, div.freg, div.lsub{display:none; position:absolute; background-color:rgba(0,0,0,0.5); width:100%; height:200%; padding:10px; margin:0; top:0; left:0; z-index:999;}
body div.comment.active, div.freg.active, div.lsub.active{display:block;}
body div.comment div.holder, div.freg div.holder, div.lsub div.holder{margin:10% auto; background-color:#fff; padding:15px; border:5px solid #1e1e1e; border-radius:20px; width:700px; position:fixed;}
body div.comment div.holder h2, div.freg div.holder h2, div.lsub div.holder h2{font-size:14pt; font-family:sc_dubai; padding-bottom:10px; border-bottom:1px dashed #00338e; color:#00338e; margin-bottom:10px; text-align:right;}
body div.comment div.holder form, div.freg div.holder form, div.lsub div.holder form{direction:rtl;}
body div.comment div.holder form label, div.freg div.holder form label, div.lsub div.holder form label{font-size:11pt; font-family:sc_dubai; display:inline-block; margin-left:10px; margin-right:0; width:200px; margin-bottom:10px; vertical-align:top; color:#00338e; text-transform:capitalize;}
body div.comment div.holder form input[type=text], div.freg div.holder form input[type=text], div.lsub div.holder form input[type=text]{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt; clear:right;}
body div.comment div.holder form textarea, div.freg div.holder form textarea, div.lsub div.holder form textarea{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt;}
body div.comment div.holder form input[type=submit], div.freg div.holder form input[type=submit], div.lsub div.holder form input[type=submit]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form input[type=submit]:hover, div.freg div.holder form input[type=submit]:hover, div.lsub div.holder form input[type=submit]:hover{color:#00338e; background-color:transparent;}
body div.comment div.holder form button, div.freg div.holder form button, div.lsub div.holder form button{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form button:hover, div.freg div.holder form button:hover, div.lsub div.holder form button:hover{color:#00338e; background-color:transparent;}
body div.comment div.holder form input[type=reset], div.freg div.holder form input[type=reset], div.lsub div.holder form input[type=reset]{color:#fff; background-color:#1e1e1e; border:1px solid #1e1e1e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form input[type=reset]:hover, div.freg div.holder form input[type=reset]:hover, div.lsub div.holder form input[type=reset]:hover{color:#1e1e1e; background-color:transparent;}
body div.comment div.holder form input[type=button], div.freg div.holder form input[type=button], div.lsub div.holder form input[type=button]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form input[type=button]:hover, div.freg div.holder form input[type=button]:hover, div.lsub div.holder form input[type=button]:hover{color:#00338e; background-color:transparent;}
body div.comment div.holder form input[type=button].close, div.freg div.holder form input[type=button].close, div.lsub div.holder form input[type=button].close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:left; display:inline-block;}
body div.comment div.holder form input[type=button].close:hover, div.freg div.holder form input[type=button].close:hover, div.lsub div.holder form input[type=button].close:hover{color:#fff; background-color:#0971ce;}
body div.comment div.holder form button.close, div.freg div.holder form button.close, div.lsub div.holder form button.close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:left; display:inline-block;}
body div.comment div.holder form button.close:hover, div.freg div.holder form button.close:hover, div.lsub div.holder form button.close:hover{color:#fff; background-color:#0971ce;}


div#ev{width:1000px;}
div#ev h1{font-size:14pt; font-family:sc_dubai; color:#0971ce; text-transform:capitalize; margin-bottom:10px; text-align:right;}
div#ev p{background-color:#fff; color:#00338e; border-radius:10px; margin:10px; padding:15px; font-size:11pt; line-height:16pt; font-family:tw cen mt; text-align:right;}
div#ev div.content{float:right; width:725px; clear:none; margin:0 0 10px 10px; min-height:110px; border:2px solid #00338e; padding:10px; background-color:#fff; border-radius:10px;}
div#ev div.content div.evitem{display:none;}
div#ev div.content div.evitem.active{display:block;}
div#ev div.content div.evitem ul{list-style:none; text-align:right;}
div#ev div.content div.evitem ul li{font-family:sc_dubai; font-size:12pt; color:#00338e; padding-bottom:10px; border-bottom:1px dashed #999; text-transform:capitalize; margin-bottom:10px;  text-align:right;}
div#ev div.content div.evitem h2{font-size:14pt; color:#0971ce; font-family:tw cen mt; margin:5px; padding:5px; margin-top:0; padding-top:0; text-transform:capitalize; text-align:right;}
div#ev div.content div.evitem p{padding:0 20px; margin:0; margin-bottom:10px; color:#1e1e1e; text-align:right;}
div#ev div.content div.evitem.eg p{background-color:rgba(0,0,0,0.7); border-radius:10px 10px 0 0; padding:10px 20px; position:relative; top:-102px; color:#fff; height:58pt; line-height:20pt; overflow:hidden; margin-bottom:-82px; text-align:right;}
div#ev div.enav{width:237px; float:left; min-height:150px; border:0px solid black;}
div#ev div.enav ul.date{list-style:none; font-size:11pt;}
div#ev div.enav ul.date li+li+li+li{border-top:0;}
div#ev div.enav ul.date li{font-family:sc_dubai; font-size:11pt; padding:0; line-height:16pt; color:#0971ce; text-transform:capitalize; background-color:#fff; border:1px solid #0971ce;  cursor:pointer; float:right; width:77px; text-align:center;}
div#ev div.enav ul.date li span.dnam{color:#1e1e1e; font-size:13pt; line-height:15pt; text-align:center; font-family:sc_dubai; display:block; margin:5px 0;}
div#ev div.enav ul.date li span.dnum{color:#1e1e1e; font-size:11pt; line-height:13pt; text-align:center; font-family:sc_dubai; display:block; margin-top:5px;}
div#ev div.enav ul.date li span.mon{color:#0971ce; font-size:12pt; font-family:sc_dubai;  line-height:14pt; text-align:center; margin-right:5px; font-weight:bold;}
div#ev div.enav ul.date li span.yr{color:#0971ce; font-size:12pt; font-family:sc_dubai; line-height:14pt; font-weight:bold;}
div#ev div.enav ul.date li.active{color:#0971ce; text-transform:capitalize; background-color:rgba(9,113,206,0.05); cursor:auto; background-image:url(../images/cal-ev-b2.png); background-position:top left; background-repeat:no-repeat;}
div#ev div.enav ul.date li.active span.dnam{color:#666;}
div#ev div.enav ul.date li.active span.dnum{color:#eee;}
div#ev div.enav ul.date li.active span.mon{color:#fff;}
div#ev div.enav ul.date li.active span.yr{color:#fff;}
div#ev div.enav ul.date li:hover{background-color:#ededed;}
div#ev div.content div.evitem.eg div.gimg div{float:left; margin-right:10px; width:157px; border:2px solid #1e1e1e; padding:5px; background-color:#fff; margin-bottom:10px; height:100px;}
div#ev div.content div.evitem.eg div.gimg div img{width:157px; height:100px; margin:0 auto; cursor:pointer;}

div#ev div.enav ul.gal{list-style:none; font-size:11pt; margin-bottom:10px;}
div#ev div.enav ul.gal li#eg{text-align:center; text-transform:capitalize; font-family:sc_dubai; font-size:20pt; height:30px; line-height:30px; color:#fff; background-color:#1e1e1e; border:2px solid #fff; padding:5px; cursor:pointer; background-image:url(../images/ev-gal-b.png); background-position:center center; background-repeat:no-repeat;}
div#ev div.enav ul.gal li#eg:hover{color:#FFA500; border-radius:10px;}
div#ev div.enav ul.gal li#eg.active{background-image:url(../images/ev-gal-b-over.png); background-position:center center; background-repeat:no-repeat; color:#1e1e1e;}