.rolacccontact{}

div#mess{display:inline-block; padding:10px; border:1px solid #0971ce; background-color:#fff; border-radius:10px; margin-right:10px; width:545px; min-height:100px; float:left; text-align:left; font-family:tw cen mt; font-size:12pt;}
div#mess.ar{display:inline-block; padding:10px; border:1px solid #0971ce; background-color:#fff; border-radius:10px; margin-left:10px; width:545px; min-height:100px; float:right; text-align:right; margin-right:0; font-family:adobe arabic; font-size:14pt;}

div#mess h2{font-size:16pt; margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #0971ce; color:#0971ce; text-transform:capitalize;}
div#mess.ar h2{font-family:sc_dubai; font-size:14pt;}
div#mess form label{min-width:150px; color:#0971ce; margin-right:10px; display:inline-block; margin-bottom:10px; vertical-align:top; font-size:12pt; text-transform:capitalize;}
div#mess.ar form{text-align:right; direction:rtl;}
div#mess.ar form label{margin-right:0; margin-left:10px;}
div#mess form input[type=text]{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; font-size:11pt; color:#1e1e1e; display:inline-block; margin-bottom:10px;}
div#mess form textarea{overflow:hidden; padding:2px 5px; border:1px solid #0971ce; border-radius:5px; font-size:11pt; color:#1e1e1e; display:inline-block; margin-bottom:10px;}
div#mess form input[type=submit]{border:1px solid #0971ce; cursor:pointer; text-transform:uppercase; color:#fff; background-color:#0971ce; border-radius:5px; padding:4px 10px; font-size:12pt; font-family:rockwell; margin:5px;}
div#mess.ar form input[type=submit]{font-family:sc_dubai; font-size:12pt;}
div#mess form input[type=reset]{border:1px solid #1e1e1e; cursor:pointer; text-transform:uppercase; color:#fff; background-color:#1e1e1e; border-radius:5px; padding:4px 10px; font-size:12pt; font-family:rockwell; margin:5px;}
div#mess.ar form input[type=reset]{font-family:sc_dubai; font-size:12pt;}
div#mess form input[type=reset]:hover,div#mess form input[type=submit]:hover{background-color:#fff; color:#666;}
div#mess form input[type=reset],div#mess form input[type=submit]{float:right;}
div#mess.ar form input[type=reset],div#mess.ar form input[type=submit]{float:left;}

div#num{display:inline-block; padding:10px; border:1px solid #1e1e1e; background-color:#fff; border-radius:0; min-height:100px; width:400px; float:right; text-align:left; font-family:tw cen mt; font-size:12pt;}
div#num.ar{display:inline-block; padding:10px; border:1px solid #1e1e1e; background-color:#fff; border-radius:0; min-height:100px; width:400px; float:left; text-align:right; font-family:adobe arabic; font-size:14pt;}
div#num h2{font-size:16pt; margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #1e1e1e; color:#1e1e1e; text-transform:capitalize;}
div#num.ar h2{font-size:14pt; font-family:sc_dubai;}
div#num p{font-family:tw cen mt; font-size:14pt; color:#666; margin:10px 5px; text-transform:capitalize; line-height:16pt;}
div#num p span{width:120px; display:inline-block; font-family:inherit; font-size:inherit; color:inherit; color:#1e1e1e;}
div#num.ar p{text-align:right; direction:rtl; line-height:17pt;}
div#map{border:1px solid #0971ce; border-radius:10px; margin:10px auto; padding:10px; color:#1e1e1; font-family:arial; text-transform:capitalize; text-align:center; display:block; background-color:#fff; min-height:150px;}