.rolacc{}

*
{
	font-family:tw cen mt, arial;
	font-size:16pt;
	color:#1e1e1e;
	text-decoration:none;
	font-weight:normal;
	margin:0;
	padding:0;
	border:0;
}

.clear{display:block; width:100%; clear:both; margin:1px auto;}

/* @font-face
{
font-family: tw cen mt;
src: url(tw cen mt.TTF);
} */

body
{
	width:1000px;
	margin:0 auto;
	padding:0;
	background-color:#d0d3d5;
}

div#uplink{position:fixed; top:0; background-color:#0971ce; height:35px; width:960px; margin:0 auto; padding:2px 20px; padding-bottom:0; z-index:111;}
div#uplink.top{position:fixed; top:0; z-index:111;}

/* div#uplink div.l{float:left; color:#fff;}
div#uplink div.l a{color:#fff; font-size:12pt; text-transform:capitalize; padding-bottom:5px;}
div#uplink div.l div.sub{color:#fff; font-size:12pt; text-transform:capitalize; padding:5px; cursor:pointer; border-radius:5px 5px 0 0; height:20px; display:inline-block;}
div#uplink div.l a:hover{color:#1e1e1e;}
div#uplink div.l div.sub:hover{background-color:#fff; color:#0971ce;} */

div#uplink div.l ul{list-style:none;}
div#uplink div.l ul li {font-size:12pt; text-transform:capitalize; float:left; color:#fff; padding:5px; min-width:50px; text-align:center; margin:0 3px;}
div#uplink div.l ul li a{font-size:12pt; text-transform:capitalize; color:#fff;}
div#uplink div.l ul li span{font-size:12pt; text-transform:capitalize; color:#fff; cursor:pointer;}
div#uplink div.l ul li a:hover{color:#1e1e1e;}
div#uplink div.l ul li.links:hover{background-color:#fff; border-radius:5px 5px 0 0; color:#1e1e1e;}
div#uplink div.l ul li.links:hover span{color:#1e1e1e;}

/*div#uplink div.l ul li span:hover{color:#1e1e1e;}*/

div#uplink div.l ul li ul {display:none; list-style:none; position:absolute; margin-top:4px; margin-left:-6px; background-color:#fff; padding:5px 0; border:1px solid #0971ce; border-radius:0 0 10px 10px; border-top:0; padding-top:0; z-index:999;}
div#uplink div.l ul li ul li{font-size:12pt; display:block; clear:both; margin:5px auto; width:100px; padding:5px 5px 5px 10px; text-align:left;}
div#uplink div.l ul li ul li:hover{background-color:#0971ce;}
div#uplink div.l ul li ul li a{color:#1e1e1e; font-size:12pt;}
div#uplink div.l ul li ul li:hover a{color:#fff; font-size:12pt;}
div#uplink div.l ul li.sp{padding:5px; margin:0; min-width:5px;}

div#uplink div.r{float:right; padding-bottom:5px;}
div#uplink div.r img{margin-right:15px;}
div#uplink div.r img+img{margin-right:0px; }


div#uplink div#links{display:none; position:absolute; margin-top:7px; margin-left:-6px; background-color:#fff;; padding:5px 0; width:150px;  border:1px solid #0971ce; border-radius:0 0 10px 10px; border-top:0; padding-top:0;}
div#uplink div#links ul{list-style:none;}
div#uplink div#links ul li{display:block; font-size:12pt; margin-bottom:5px; height:20px;padding:3px 10px;}
div#uplink div#links ul li a{font-size:12pt; color:#000;}
div#uplink div#links ul li:hover{background-color:#0971ce;}
div#uplink div#links ul li:hover a{color:#fff;}


div#logo{background-color:#fff; padding:10px 20px; height:160px; width:960px; margin:0 auto; background-image:url(../images/qatar-twoers.png) ;background-repeat:no-repeat; background-position: bottom right; margin-top:35px;}
div#logo img.ltxt{margin-left:10px; position:relative; top:-35px;}
div#logo a{}
div#logo div.search{z-index:1; float:right; margin-top:-20px;}
div#logo div.search form input{font-size:11pt; color:#666;}
div#logo div.search form input{border-radius:5px 0 0 5px; border:1px solid #1e1e1e; padding:2px 5px; border-right:0; margin-right:0;}
div#logo div.search form input+input{margin-left:-6px; border:0; background-color:#1e1e1e; color:#fff; font-weight:bold; border-radius:0 5px 5px 0; padding:2px 8px; text-transform:capitalize; cursor:pointer;}
div#logo div.search form input+input+input{background-color:#0971ce; border:0; border-radius:5px; margin-left:0px; padding:2px 8px;}


div#menu{background-color:#d0d3d5; width:990px; padding:5px 0 0 8px; height:36px; margin:0 auto; margin-bottom:20px; border:1px solid #0971ce; border-radius:0 0 10px 10px; border-top:0;}
div#menu.top{position:fixed; top:37px; z-index:110;}

div#menu ul{list-style:none;}
div#menu ul li{float:left; width:139px; color:#0971ce; font-family:rockwell; padding:3px 9px; margin:2px 5px 0px 0; text-align:center; border:1px solid #d0d3d5;}
div#menu ul li:hover{background-color:#fff; border:1px solid #0971ce; border-bottom-color:#fff; border-radius:10px 10px 0 0;}
div#menu ul li span, div#menu ul li a{font-size:15pt; font-family:rockwell; cursor:pointer; color:#0971ce; text-transform:capitalize;}
div#menu ul li ul{display:none; min-width:200px; background-color:#fff; border:1px solid #0971ce; border-top:0; border-radius:0 0 10px 10px; padding:10px; position:absolute; margin:0; margin-top:4px; margin-left:-10px; z-index:100;}
div#menu ul li ul li{float:none; margin:5px; padding:5px; font-size:12pt; font-family:tw cen mt; border:0; background-color:transparent; cursor:auto; text-align:left; min-width:200px;}
div#menu ul li ul li:hover{border:0; background-color:transparent; }
div#menu ul li ul li a{float:none; margin:1px; padding:1px; font-size:12pt; font-family:tw cen mt; color:#000;}
div#menu ul li ul li a:hover{color:#0971ce; text-decoration:underline;}
div#menu ul li ul li span{float:right; color:#666; font-family:tw cen mt; font-weight:normal; margin-left:10px; text-transform:none; font-size:8pt;}
div#menu ul li.last ul{width:220px; margin-left:-93px;}

div#p1{width:1000px; margin:0 auto; padding:0; margin-top:15px;}
div#p1 div.news{border:1px solid #5f6a72; border-radius:10px; padding-bottom:5px; margin-right:10px; background-color:#fff; width:680px; float:left;}
div#p1 div.news div.news-item h2{font-size:15pt; color:#fff; font-family:tw cen mt; background-color:#5f6a72; border-radius:8px 8px 0 0; padding:5px 80px; text-transform:capitalize; padding-left:15px; line-height:16pt; max-height:15pt; overflow:hidden; margin-bottom:0;}
div#p1 div.news div.news-item img{width:150px; height:100px; border:1px solid #1e1e1e; margin:15px 20px 10px 15px; float:left;}
div#p1 div.news div.news-item h3{font-family:rockwell; font-size:12pt; margin-right:10px; margin-bottom:5px; color:#1e1e1e; text-transform:capitalize; margin-top:15px; line-height:13pt; max-height:12pt; overflow:hidden;}
div#p1 div.news div.news-item span{font-family:tw cen mt; font-size:8pt; color:#0971ce; text-transform:capitalize; margin-bottom:10px; display:block;}
div#p1 div.news div.news-item p{font-family:tw cen mt; font-size:12pt; line-height:15pt; color:#1e1e1e; margin-bottom:15px; margin-right:10px; max-height:44pt; overflow:hidden; text-align:justify;}
div#p1 div.news div.news-item+div.news-item{}
/* 
div#p1 div.news div.news-item  hr{height:1px; background-color:#5f6a72; margin-bottom:8px;}
div#p1 div.news div.news-item div.but{margin:4px 10px; margin-left:15px;}
div#p1 div.news div.news-item div.but a{padding:3px 8px; font-size:9pt; font-weight:bold; border-radius:5px; background-color:#d1d4d3; color:#1e1e1e; text-transform:capitalize; cursor:pointer; margin-right:5px;}
div#p1 div.news div.news-item div.but a:hover{color:#fff; background-color:#5f6a72;}
div#p1 div.news div.news-item div.but a.last{position:relative; right:-455px;} */
div#p1 div.news   hr{height:1px; background-color:#5f6a72; margin-bottom:8px;}
div#p1 div.news  div.but{margin:4px 10px; margin-left:15px;}
div#p1 div.news  div.but a{padding:3px 8px; font-size:9pt; font-weight:bold; border-radius:5px; background-color:#d1d4d3; color:#1e1e1e; text-transform:capitalize; cursor:pointer; margin-right:5px;}
div#p1 div.news  div.but a:hover{color:#fff; background-color:#5f6a72;}
div#p1 div.news  div.but a.last{position:relative; right:-455px;}
div#p1 div.news  div.but a.nmore{position:relative; right:-400px; top:-172px; color:#1e1e1e; background-color:#fff;}
div#p1 div.news  div.but a.nmore:hover{position:relative; right:-400px; top:-170px; color:#fff; background-color:#1e1e1e;}
div#p1 div.news div.nnavi{display:inline; margin:0px; position:relative; left:310px; margin-top:-30px; border:0px solid red; padding:0px; float:left;}
div#p1 div.news div.nnavi span{font-size:9pt; font-weight:bold; padding:2px 4px; border:1px solid #1e1e1e; color:#fff; background-color:#1e1e1e; margin:0 2px; cursor:pointer;}
div#p1 div.news div.nnavi span:hover{background-color:#666;}
div#p1 div.news div.nnavi span.act{background-color:#fff; color:#1e1e1e;}
div#p1 div.manager {border:1px solid #0971ce; border-radius:10px; width:300px; float:right; background-color:#fff; padding-bottom:10px;}
div#p1 div.manager h2{font-family:rockwell; font-size:14pt; font-weight:bold; padding:8px 5px 5px; color:#0971ce; text-transform:capitalize; text-align:center;}
div#p1 div.manager img{width:300px; height:100px; border:1px solid #0971ce; border-width:1px 0; margin-bottom:10px;}
div#p1 div.manager p{font-size:12pt; font-family:tw cen mt; overflow:hidden; line-height:16pt; height:29pt; padding:1px 6px; text-align:justify;}
div#p1 div.manager p a{font-family:inherit; font-size:inherit; color:#0971ce; text-decoration:underline; font-weight:bold; text-transform:capitalize;}
div#p1 div.manager p a:hover{text-decoration:none; color:#666;}

div#p2{width:1000px; height:270px; margin:0 auto; margin-top:15px; padding:0;}
div#p2 div.tabs{width:496px; float:left; margin-right:10px; border:0px solid red; height:268px;}
div#p2 div.tabs ul{list-style:none; padding-left:20px;}
div#p2 div.tabs ul li{font-family:rockwell; font-size:16pt; background-color:#0971ce; float:left; margin-right:10px; padding:4px 10px; cursor:pointer; text-transform:capitalize; color:#fff; border:1px solid #0971ce; border-bottom-width:0; border-radius:10px 10px 0 0; text-align:center;}
div#p2 div.tabs ul li.active{background-color:#fff; color:#0971ce;}
div#p2 div.tabs ul li:hover{color:#000;}
div#p2 div.tabs ul li.active:hover{color:#0971ce;}
div#p2 div.tabs div.tcont{border:1px solid #0971ce; background-color:#fff; width:476px; padding-bottom:8px; border-radius:10px;}
div#p2 div.tabs div.tcont ul{list-style:none; padding-left:19px;}
div#p2 div.tabs div.tcont ul li{font-family:rockwell; font-size:12pt; background-color:#fff; float:left; margin-right:10px; padding:4px 10px; cursor:pointer; text-transform:uppercase; color:#0971ce; border:1px solid #0971ce; border-top-width:0; border-radius:0 0 10px 10px; min-width:65px; text-align:center; margin-bottom:10px;}
div#p2 div.tabs div.tcont ul li.active{background-color:#0971ce; color:#fff;}
div#p2 div.tabs div.tcont ul li:hover{color:#000;}
div#p2 div.tabs div.tcont ul li.active:hover{color:#fff;}
div#p2 div.tabs div.tcont div.item{min-height:156px; max-height:156px; height:156px; display:none;}
div#p2 div.tabs div.tcont div.item.active{display:block;}
div#p2 div.tabs div.tcont div.item div.over{background-color:rgba(0,0,0,0.7); padding:10px; position:relative; top:75px; z-index:100;}
div#p2 div.tabs div.tcont div.item div.over h2{color:#68ace5; font-family:rockwell; font-size:16pt; margin-bottom:8px; line-height:15pt; overflow:hidden; height:15pt; text-transform:capitalize;}
div#p2 div.tabs div.tcont div.item div.over p{color:#fff; font-size:12pt; font-family:tw cen mt; margin:5px 0; line-height:12pt; height:23pt; overflow:hidden; text-align:justify;}
div#p2 div.tabs div.tcont div.item div.over p a{color:#68ace5; font-weight:bold; font-size:inherit; font-family:inherit;}
div#p2 div.tabs div.tcont div.item div.over p a:hover{color:#fff; text-decoration:underline;}
div#p2 div.tabs div.tcont div.item img{position:relative; top:-85px; margin-bottom:-95px; width:476px; height:160px;}
div#p2 div.tabs div.tcont div.but{margin:15px 10px 0; color:#0971ce; font-family:tw cen mt; font-size:11pt;}
div#p2 div.tabs div.tcont div.but span{font-family:tw cen mt; font-size:11pt; color:#0971ce; text-transform:capitalize; cursor:pointer;}
div#p2 div.tabs div.tcont div.but span:hover{text-decoration:underline;}
div#p2 div.tabs div.tcont div.but span.last{padding:5px 8px; background-color:#1e1e1e; float:right; margin-right:10px; margin-top:-6px; border-radius:5px; color:#fff;}
div#p2 div.tabs div.tcont div.but span.last:hover{text-decoration:none; background-color:#666;}
div#p2 div.tabs div.tcont div.but span.last a{color:#fff; font-size:inherit; font-family:inherit;}
div#p2 div.tabs div.tcont div.but span.last a:hover{text-decoration:none;}
div#p2 div.rmess{width:490px; float:right; height:268px; border:1px solid #5f6a72; border-radius:10px; background-color:#fff;}
div#p2 div.rmess h1{font-size:17pt; text-transform:capitalize; font-weight:normal; padding:5px 5px 5px 8px; margin-bottom:10px; background-color:#5f6a72; color:#fff; background-image:url(../images/rmess-back.png); background-repeat:no-repeat; background-position:center center; font-family:rockwell; border-radius:10px 10px 0 0; }
div#p2 div.rmess img{width:470px; height:110px; margin-bottom:10px; padding:0 10px;}
div#p2 div.rmess p{font-family:tw cen mt; font-size:12pt; font-weight:normal; line-height:16pt; overflow:hidden; text-align:justify; height:60pt; padding:5px 10px;}
div#p2 div.rmess p a{font-family:inherit; font-size:inherit; color:#0971ce; text-decoration:underline; font-weight:bold; text-transform:capitalize;}
div#p2 div.rmess p a:hover{text-decoration:none; color:#5f6a72;}

div#p3-l{width:753px; min-height:100px; float:left; clear:none; margin-right:10px; margin-top:15px;}
div#p3-l div.partner{width:475px; margin-right:10px; background-color:#fff; border:1px solid #0971ce; border-radius:10px; margin-bottom:10px; height:203px; float:left; clear:none;}
div#p3-l div.partner h4{font-size:16pt; font-family:rockwell; color:#fff; background-color:#0971ce; background-image:url(../images/partner-back.png); background-position:top center; background-repeat:no-repeat; border-radius:10px 10px 0 0; padding:5px 10px; margin-bottom:10px; text-transform:capitalize;}
div#p3-l div.partner h2{font-size:12pt; font-family:rockwell; color:#0971ce; text-transform:capitalize; float:left; margin-left:10px; margin-bottom:10px; max-width:300px; line-height:12pt; max-height:36pt; overflow:hidden;}
div#p3-l div.partner img{width:150px; height:90px; border:1px solid #0971ce; border-radius:10px; margin-right:10px; margin-bottom:5px; float:right;}
div#p3-l div.partner p{font-size:12pt; font-family:tw cen mt; text-align:justify; margin:5px; padding:5px; line-height:13pt; max-height:26px; overflow:hidden;}
div#p3-l div.survey{border:2px solid #1e1e1e; border-radius:10px; width:240px; height:200px; float:right; background-color:#fff;}
div#p3-l div.survey h4{color:#1e1e1e; font-family:rockwell; font-size:16pt; padding:5px 10px; margin-bottom:10px; text-transform:capitalize; border-bottom:2px solid #1e1e1e}
div#p3-l div.survey h2{color:#0971ce; font-family:tw cen mt; font-size:12pt; font-weight:normal; text-transform:none; padding-left:10px;}
div#p3-l div.survey form{margin:10px;}
div#p3-l div.survey form label{display:block; margin-bottom:5px; font-family:tw cen mt; font-size:11pt; color:#1e1e1e;}
div#p3-l div.survey form input[type=radio]{margin-right:5px;}
div#p3-l div.survey form input[type=submit]{cursor:pointer; background-color:#0971ce; color:#fff; font-family:tw cen mt; font-size:11pt; text-transform:capitalize; padding:4px 15px; border-radius:10px 10px 0 0; position:relative; top:14px; left:150px; text-transform:capitalize; height:27px;}
div#p3-l div.survey form input[type=button].ie{height:33px;}
div#p3-l div.survey form input[type=submit].ie{height:29px;}
div#p3-l div.survey form input[type=button]{cursor:pointer; background-color:#fff; color:#0971ce; border:2px solid #0971ce; font-family:tw cen mt; font-size:11pt; text-transform:capitalize; padding:4px 15px; border-radius:10px 10px 0 0; position:relative; top:-153px; left:76px; height:31px; text-transform:capitalize;}
div#p3-l div.survey form input[type=submit]:hover,div#p3-l div.survey form input[type=button]:hover{color:#1e1e1e;}
div#p3-l div.gallery{border:0px solid red; height:100px; margin-top:5px; width:753px;}
div#p3-l div.gallery ul{list-style:none;}
div#p3-l div.gallery ul li{float:left; margin-right:10px; padding:2px 20px; border-radius:10px 10px 0 0; border:1px solid #0971ce; background-color:#fff; font-family:rockwell; font-size:14pt; color:#0971ce; text-transform:capitalize; cursor:pointer;}
div#p3-l div.gallery ul li.active{color:#fff; background-color:#0971ce; position:relative; top:1px;}
div#p3-l div.gallery ul li:hover{color:#1e1e1e;}
div#p3-l div.gallery ul li.active:hover{color:#fff;}
div#p3-l div.gallery div{display:none; background-color:#fff; border-radius:0 10px 10px 10px; border:2px solid #0971ce; padding:10px;}
div#p3-l div.gallery div div.sc{display:inherit; margin-right:20px; float:left; border:0; width:400px; padding:0;}
div#p3-l div.gallery div div.sc img{width:400px; height:240px; border:1px solid #1e1e1e; padding:5px; border-radius:10px;}
div#p3-l div.gallery div div.sc p{padding:10px; font-family:rockwell; font-size:11pt; line-height:14pt; color:#fff; background-color:rgba(0,114,207,0.8); width:392px; height:60px; overflow:hidden; margin-top:-85px; text-align:justify; position:relative;}
div#p3-l div.gallery div div.na{display:inherit; float:left; border:0; padding:0; width:261px; vertical-align: middle;}
div#p3-l div.gallery div div.na img{ cursor:pointer; width:75px; height:75px; margin:0 10px 10px 0; border:1px solid #1e1e1e; border-radius:5px; float:left;}
div#p3-l div.gallery div.active{display:block;}
div#p3-r{width:237px; float:left; min-width:100px; clear:none; margin-top:15px; min-height:544px;}
div#p3-r div{}
div#p3-r div h3{z-index:80; width:235px; height:45px; background-color:#fff; border:1px solid #d0d3d5; border-radius:10px; font-family:rockwell; text-transform:capitalize; color:#fff; font-size:18pt; font-weight:normal; text-align:center; margin-bottom:10px;}
div#p3-r div h3.active.blue{border-color:#0971ce; border-width:0 1px 0 1px; border-radius:10px 10px 0 0; background-color:#fff;}
div#p3-r div h3.active.gray{border-color:#5f6a72; border-width:0 1px 0 1px; border-radius:10px 10px 0 0; background-color:#fff;}
div#p3-r div h3.blue{background-image:url(../images/but-back-blue.png); background-position:center center; background-repeat:no-repeat;}
div#p3-r div h3.gray{background-image:url(../images/but-back-gray.png); background-position:center center; background-repeat:no-repeat;}
div#p3-r div h3.black{background-image:url(../images/but-back-black.png); background-position:center center; background-repeat:no-repeat;}
div#p3-r div h3 a{font-family:inherit; font-size:inherit; color:inherit; text-transform:inherit; font-weight:inherit; padding:8px; display:block;}
div#p3-r div h3 a:hover{color:#1e1e1e;}
div#p3-r div h3.black a:hover{color:#fff;}
div#p3-r div ul.blue{border-color:#0971ce;}
div#p3-r div ul.gray{border-color:#5f6a72;}
div#p3-r div ul{z-index:70; display:none; list-style-type:none; padding:10px; margin-bottom:10px; border-width:1px; border-style:solid;  border-top:0; border-radius:0 0 10px 10px; margin-top:-10px; background-color:#fff; padding-left:25px; padding-bottom:0px; min-height:90px;}
div#p3-r div ul.active{display:block;}
div#p3-r div ul li{font-family:tw cen mt; font-size:12pt; color:#1e1e1e; margin-bottom:10px; text-transform:capitalize; text-align:justify; vertical-align:middle;}
div#p3-r div ul li a{font-family:inherit; font-size:inherit; color:inherit; text-decoration:none; text-transform:inherit; margin-bottom:4px; line-height:11pt; overflow:hidden; height:11pt; display:inline-block;}
div#p3-r div ul li a:hover{color:#666; text-decoration:underline;}

div#footer{border-radius:10px 10px 0 0; margin-top:10px; padding:10px 20px; min-height:60px; background-color:#0971ce; background-image:url(../images/foot-back.png); background-position:top center; background-repeat:no-repeat; color:#fff; font-family:tw cen mt; font-size:11pt;}
div#footer div{width:200px; margin-right:40px; float:left; color:#fff; font-family:tw cen mt; height:100%;}
div#footer div h4{color:inherit; text-transform:capitalize; font-family:inherit; font-size:14pt; padding-bottom:5px; margin-bottom:10px; border-bottom:1px solid #fff; font-weight:bold; display:block; width:85px;}
div#footer div a{color:inherit; text-transform:capitalize; font-family:inherit; font-size:14pt; margin-bottom:8px; display:block;}
div#footer div a.social{display:inline; margin-right:10px;}
div#footer div a:hover{text-decoration:underline;}

div#path{margin:10px auto; margin-top:-10px; padding-left:25px; padding-top:2px; padding-bottom:5px; border-bottom:1px solid #0971ce; background-image:url(../images/path-left.png); background-repeat:no-repeat; background-position:center left; color:#0971ce; vertical-align:middle;}
div#path a{color:#0971ce; font-family:tw cen mt; font-size:12pt; text-transform:capitalize;}
div#path a:hover{color:#666;}
div#path span{color:#1e1e1e; font-family:tw cen mt; font-size:12pt; text-transform:capitalize;}

div#mission{width:960px; margin:10px auto; display:block; padding:20px 15px; background-color:#fff; border:1px solid #aaa; box-shadow:3px 3px 2px #1e1e1e;}
div#mission img{margin:5px auto; border:3px solid #666; display:block;}
div#mission h1{font-family:rockwell; font-size:16pt; margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #0971ce; color:#0971ce; text-transform:capitalize;}
div#mission h2{font-family:tw cen mt; font-size:14pt; color:#0971ce; margin-bottom:5px; margin-top:10px; display:block; text-transform:capitalize;}
div#mission p{font-family:tw cen mt; font-size:11pt; line-height:15pt; text-align:justify; margin-bottom:10px; color:#1e1e1e; display:block; padding:5px; border-bottom:1px dotted #aaa;}

div#chairman{width:960px; margin:10px auto; display:block; padding:20px 15px; background-color:#fff; border:1px solid #aaa; box-shadow:3px 3px 2px #1e1e1e;}
div#chairman h1{font-family:rockwell; font-size:16pt; margin-bottom:10px; padding-bottom:10px; border-bottom:0px dashed #0971ce; color:#0971ce; text-transform:capitalize;}
div#chairman div.cimg{width:306px; height:156px; border:3px solid #1e1e1e; display:inline-block; float:right; margin-left:20px; margin-bottom:20px; margin-top:-30px;}
div#chairman div.cimg img{width:300px; height:150px; border:3px solid #fff;}
div#chairman p.cimgt{font-family:tw cen mt; color:#1e1e1e; font-size:11pt; margin-bottom:10px; display:inline-block; text-align:justify; width:620px; line-height:18pt; padding:0;}
div#chairman p{font-family:tw cen mt; color:#1e1e1e; font-size:11pt; margin-bottom:10px; display:block; text-align:justify; line-height:18pt; padding:5px;}
div#chairman p a{font-family:inherit; font-size:inherit; color:#0971ce; font-weight:bold; text-decoration:underline;}
div#chairman p a:hover{text-decoration:none; color:#666;}
div#chairman h2{font-family:tw cen mt; font-size:14pt; color:#0971ce; margin-bottom:5px; margin-top:10px; display:block; text-transform:capitalize;}
div#chairman ul{list-style:square; margin-left:40px; margin-top:10px;}
div#chairman ul li{margin-bottom:10px; font-family:arial; font-size:12pt; color:#666; text-align:justify; line-height:16pt;}
div#chairman ul li a{margin-bottom:10px; font-family:arial; font-size:12pt; color:#666; text-align:justify; line-height:16pt;}
div#chairman ul li a:hover{font-weight:bold; color:#0971ce; text-decoration:underline;}

div#faq{width:753px; min-height:100px; float:left; clear:none; margin-right:10px; margin-top:15px;}
div#faq div{min-height:150px; font-family:tw cen mt; font-size:12pt; line-height:14pt; padding:10px; background-color:#fff; box-shadow:0 2px 4px #666; margin-bottom:10px;}
div#faq div h2{color:#0971ce; font-family:rockwell; padding-bottom:10px; margin-bottom:10px; text-transform:capitalize; font-size:14pt; border-bottom:1px dashed #1e1e1e;}
div#faq div p{padding:10px; margin-bottom:10px; font-size:11pt; line-height:14pt; text-align:justify;}
div#faq div p:hover{background-color:#d0d3d5;}

div#add_faq{display:none; background-color:rgba(0,0,0,0.5); position:fixed; width:100%; height:150%; top:0; left:0; z-index:1000;}
div#add_faq div{margin:12% auto; width:700px; border:5px solid #1e1e1e; border-radius:20px; padding:10px 20px; background-color:#fff;}
div#add_faq div form{margin-top:5px; margin-bottom:-5px;}
div#add_faq div form label{color:#0971ce; font-family:tw cen mt; font-size:12pt; margin-bottom:10px; text-transform:capitalize; margin-right:10px; display:inline-block; min-width:150px; vertical-align:top;}
div#add_faq div form input[type=text]{padding:3px 5px; margin-bottom:10px; display:inline-block; font-size:11pt; font-family:tw cen mt; color:#1e1e1e; border:1px solid #0971ce; border-radius:5px;}
div#add_faq div form input[type=submit]{padding:2px 10px; cursor:pointer; background-color:#0971ce; border-radius:10px; border:1px solid #0971ce; color:#fff; text-transform:capitalize; font-family:rockwell; font-size:12pt; margin:5px;}
div#add_faq div form input[type=submit]:hover{color:#0971ce; background-color:#fff;}
div#add_faq div form input[type=reset]{padding:2px 10px; cursor:pointer; background-color:#1e1e1e; border-radius:10px; border:1px solid #1e1e1e; color:#fff; text-transform:capitalize; font-family:rockwell; font-size:12pt; margin:5px;}
div#add_faq div form input[type=reset]:hover{color:#1e1e1e; background-color:#fff;}
div#add_faq div form input[type=button]{padding:2px 10px; cursor:pointer; background-color:#fff; border-radius:10px; border:1px solid #0971ce; color:#0971ce; text-transform:capitalize; font-family:rockwell; font-size:12pt; margin:5px; float:right;}
div#add_faq div form input[type=button]:hover{color:#fff; background-color:#0971ce;}
div#add_faq div form textarea{border:1px solid #0971ce; border-radius:5px; padding:3px 5px; margin-bottom:10px; font-family:tw cen mt; font-size:11pt; }

div#rnew{width:753px; min-height:100px; float:left; clear:none; margin-right:10px; margin-top:15px;}
div#rnew div{background-color:#94b5d4; height:530px; width:371px; margin-right:10px; display:inline-block; float:left; margin-bottom:10px; box-shadow:0 1px 1px #1e1e1e;}
div#rnew div+div{margin-right:0;}
div#rnew div img{width:361px; height:300px; margin:5px; display:block;}
div#rnew div h2{color:#00338e; font-family:rockwell; font-size:12pt; font-weight:normal; margin:5px; line-height:16pt; height:14pt; overflow:hidden; text-transform:capitalize;}
div#rnew div p{color:#1e1e1e; font-family:tw cen mt; font-size:11pt; line-height:14pt; max-height:83pt; overflow:hidden;text-align:center; margin:10px 5px; margin-bottom:0;}
div#rnew div p a{color:#00338e; font-family:inherit; font-size:inherit; font-weight:noraml; text-transform:capitalize; text-decoration:underline;}
div#rnew div p a:hover{color:#1e1e1e; text-decoration:none;}

div#snew{margin:10px auto;}
div#snew div.item{}
div#snew div.item div{width:470px; margin-right:10px; float:left; height:150px; padding:10px; background-color:#fff; border:1px solid #aaa; margin-bottom:10px;}
div#snew div.item div+div{margin-right:0; float:right;}
div#snew div.item div img{width:120px; height:140px; display:inline-block; float:left; margin-right:10px; }
div#snew div.item div h2{color:#00338e; font-family:rockwell; font-size:12pt; margin-bottom:10px; text-transform:capitalize;}
div#snew div.item div p{font-family:tw cen mt; font-size:12pt; line-height:14pt; height:70pt; overflow:hidden; }
div#snew div.item div p a{color:#00338e; font-family:inherit; font-size:inherit; font-weight:noraml; text-transform:capitalize; text-decoration:underline;}
div#snew div.item div p a:hover{color:#1e1e1e; text-decoration:none;}

div#nl{width:753px; min-height:100px; float:left; clear:none; margin-right:10px; margin-top:15px;}
div#nl div.up{min-height:240px;}
div#nl div.up h1{text-transform:capitalize; font-size:18pt; font-family:rockwell; margin-bottom:10px; color:#0971ce; width:439px;}
div#nl div.up span{font-family:tw cen mt; font-size:11pt; color:#1e1e1e; text-transform:capitalize; margin-bottom:15px; display:block;}
div#nl div.up span.clear{font-family:tw cen mt; font-size:0pt; color:#1e1e1e; text-transform:capitalize; margin-bottom:0px; display:block;}
div#nl div.up span.rw{color:#00338E; font-family:rockwell; text-transform:capitalize; margin-bottom:20px; font-size:12pt;}
div#nl div.up div.img{display:inline-block; float:right; border:2px solid #0971ce; width:304px; height:204px;}
div#nl div.up div.img img{width:300px; height:200px; border:2px solid #fff;}
div#nl div.up div.but{margin-top:-30px;}
div#nl div.up div.but a{color:#fff; background-color:#1e1e1e; background-image:url(../images/cn-back.png); background-repeat:repeat-x; height:18px; padding:5px 10px; border:1px solid #1e1e1e; margin-right:5px; font-family:tw cen mt; font-size:14pt; text-transform:capitalize; margin-bottom:5px; display:inline-block;}
div#nl div.up div.but a+a{background-color:#0971ce; background-image:url(../images/ln-back.png); border:1px solid #0971ce; margin-right:0;}
div#nl div.md{background-color:#94b5d4; padding:10px 15px; border-radius:5px; margin:5px auto; min-height:55px; margin-top:-25px;}
div#nl div.md p{font-family:tw cen mt; font-size:12pt; line-height:14pt;}
div#nl div.bt{background-color:#e8e9eb; border-radius:5px; margin:5px auto; padding:10px 15px; min-height:523px;}
div#nl div.bt p{font-family:tw cen mt; font-size:12pt; color:#1e1e1e; line-height:15pt; margin-bottom:20px;}

div#p3-r div.lanews{background-color:#fff; margin-bottom:10px; border:1px solid #666; border-radius:10px; padding:5px 10px;}
div#p3-r div.lanews h2{font-family:rockwell; font-size:14pt; margin-bottom:10px; color:#666; text-transform:capitalize;}
div#p3-r div.lanews div{border-bottom:1px solid #0971ce; margin-bottom:5px; padding-bottom:5px;}
div#p3-r div.lanews div.last{border-bottom:0;}
div#p3-r div.lanews div h3{color:#0971ce; font-family:rockwell; font-size:12pt; text-transform:capitalize; margin-bottom:5px; border:0; border-radius:0; height:auto; padding:0; width:auto; text-align:left; background-color:transparent;}
div#p3-r div.lanews div h3 span{font-family:tw cen mt; font-size:9pt; color:#94B5D4;}
div#p3-r div.lanews div h3 a{color:#0971ce; font-family:rockwell; font-size:12pt; text-transform:capitalize; margin-bottom:5px; padding:0;}
div#p3-r div.lanews div h3 a:hover{color:#666;}
div#p3-r div.lanews div h3 a span{font-family:tw cen mt; font-size:9pt; color:#94B5D4;}
div#p3-r div.lanews div p{font-family:tw cen mt; font-size:11pt; color:#1e1e1e; line-height:12pt; height:22pt; overflow:hidden;}

div#conf{}
div#conf h1{font-family:rockwell; font-size:14pt; color:#0971ce; margin-bottom:10px; text-transform:capitalize;}
div#conf span.cd{font-size:11pt; font-family:tw cen mt; margin-bottom:10px; display:block; color:#1e1e1e;}
div#conf div.cm{background-color:#f2f2f2; border-radius:10px; padding:15px; margin-bottom:10px;}
div#conf div.cm p{font-family:tw cen mt; font-size:14pt; line-height:20pt;}
div#conf div.cs{background-color:#fff; border:2px solid #0971ce; border-radius:10px; margin:10px auto; padding:10px;}
div#conf div.cs h2{font-family:rockwell; margin-bottom:20px; font-size:14pt; text-transform:capitalize; color:#0971ce;}
div#conf div.cs div{border-bottom:1px dashed #0971ce; padding-bottom:10px; margin-bottom:10px;}
div#conf div.cs div.last{border-bottom:0; padding-bottom:0;}
div#conf div.cs div h3{color:#666; margin-bottom:10px; font-family:rockwell; font-size:12pt; text-transform:capitalize;}
div#conf div.cs div p{font-family:tw cen mt; font-size:12pt; color:#1e1e1e; line-height:14pt;}
div#conf div.cg{background-color:#464646; border:2px solid #fff; margin:10px auto; border-radius:10px; padding:10px;}
div#conf div.cg h2{font-family:rockwell; color:#f2f2f2; padding-bottom:10px; border-bottom:1px dashed #f2f2f2; font-size:14pt; text-transform:capitalize; margin-bottom:15px;}
div#conf div.cg div.cgb{float:left; margin-right:10px; height:300px; width:550px; display:inline-block; margin-bottom:10px;}
div#conf div.cg div.cgb img{width:548px; height:298px; border:1px solid #f2f2f2; border-radius:10px;}
div#conf div.cg div.cgs{float:right; width:410px; height:224px; overflow:hidden; padding-top:38px;}
div#conf div.cg div.cgs img{width:120px; height:100px; border-radius:5px; border:1px solid #f2f2f2; margin:0 10px 10px 0; display:inline-block;}
div#path span.creg{float:right; font-family:rockwell; font-size:14pt; color:#00338e; text-transform:capitalize; cursor:pointer;}

div#creg{display:none; background-color:rgba(0,0,0,0.5); width:100%; min-height:120%; position:absolute; top:0; right:0; z-index:1000; vertical-align:middle;}
div#creg div{width:800px; border:3px solid #1e1e1e; border-radius:10px; padding:10px; background-color:#fff; margin:5% auto;}
div#creg div ul{list-style:none; margin-bottom:10px; margin-top:-45px; border-bottom:1px solid #0971ce;}
div#creg div ul li{float:right; padding:5px 10px; margin-left:2px; font-size:11pt; font-family:tw cen mt; color:#0971ce; border:1px solid #0971ce; border-radius:5px 5px 0 0; cursor:pointer; border-bottom:0; text-transform:capitalize;}
div#creg div ul li.active{top:1px; position:relative; background-color:#0971ce; color:#fff;}
div#creg div ul li:hover{color:#1e1e1e;}
div#creg div h2{font-size:14pt; text-transform:capitalize; font-family:rockwell; margin-bottom:15px; padding-bottom:10px; border-bottom:0px dashed #0971ce; color:#0971ce; text-align:center;}
div#creg div form{display:none;}
div#creg div form div{width:auto; border:1px dashed #1e1e1e; border-width:1px 0 0; border-radius:0; padding:10px 0 5px; background-color:#fff; margin:5px auto;}
div#creg div form.active{display:block;}
div#creg div form label{display:inline-block; width:180px; margin-right:10px; color:#0971ce; font-size:12pt; vertical-align:top; font-family:tw cen mt; margin-bottom:10px; text-transform:capitalize;}
div#creg div form input[type=text]{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666; margin:0 10px 10px 10px;}
div#creg div form input[type=file]{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:9pt; color:#666; margin:0 10px 10px 10px;}
div#creg div form textarea{overflow:hidden; padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666; margin:0 10px 10px 10px;}
div#creg div form input[type=submit]{background-color:#0971ce; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:11pt; font-family:rockwell; padding:3px 8px; margin-top:10px;}
div#creg div form input[type=submit]:hover{background-color:transparent; color:#1e1e1e;}
div#creg div form input[type=reset]{background-color:#1e1e1e; border:1px solid #1e1e1e; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:11pt; font-family:rockwell;  padding:3px 8px; margin-top:10px;}
div#creg div form input[type=reset]:hover{background-color:transparent; color:#1e1e1e;}
div#creg div form input[type=button]{background-color:#fff; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#0971ce; font-size:11pt; font-family:rockwell;  padding:3px 8px; float:right; margin-top:10px;}
div#creg div form input[type=button]:hover{background-color:#0971ce; color:#fff;}
div#creg div form select{border:1px solid #0971ce; border-radius:5px; margin:0 10px 10px; font-family:tahoma; font-size:12pt; color:#666; padding:2px 5px; min-width:25px;}
div#creg div form select option{font-family:tahoma; font-size:12pt; color:#666; padding:2px 5px;}

div#lib{width:753px; min-height:100px; float:left; clear:none; margin-right:10px; margin-top:15px;}
div#lib div.item{margin-bottom:10px; border:1px solid #0971ce; border-radius:10px; padding:0; height:200px; background-color:#f2f2f2;}
div#lib div.item img{float:left; width:180px; height:200px; border-radius:10px 0 0 10px;}
div#lib div.item div{float:left; margin-left:10px; padding-right:10px; width:550px; padding-top:10px;}
div#lib div.item div h2{font-family:rockwell; color:#0971ce; margin-bottom:10px; text-transform:capitalize; font-size:14pt; line-height:16pt;}
div#lib div.item div span.dt{font-family:tw cen mt; color:#a5adb0; font-size:12pt; display:block; margin-bottom:25px; text-transform:capitalize;}
div#lib div.item div p{padding:10px; text-align:justify; font-size:12pt; font-family:tw cen mt; line-height:14pt; height:50pt; overflow:hidden;}
div#lib div.item div span.mo{color:#0971ce; float:right; font-size:12pt; font-family:rockwell; text-transform:capitalize; margin-right:5px;}
div#lib div.item div span.mo a{color:inherit; font-family:inherit; font-size:inherit; text-decoration:underline;}
div#lib div.item div span.mo a:hover{color:#1e1e1e; text-decoration:none;}
div#lib div.item div span.download{font-family:tw cen mt; text-transform:capitalize; font-size:11pt; color:#a5adb0; float:right; margin-top:-160px; margin-right:-40px;}
div#lib div.item div span.download a{font-family:tw cen mt; text-transform:capitalize; font-size:11pt; color:#a5adb0;}
div#lib div.item div span.download a:hover{color:#1e1e1e; text-decoration:underline;}
div#lib div.item.nim{height:145px;}
div#lib div.item.nim div{width:731px;}
div#lib div.item.nim div span.dt{margin-bottom:10px;}
div#lib div.item.nim div p{height:23pt;}
div#lib div.item.nim div span.download{margin-top:-110px;}

div#llist{margin-bottom:10px;}
div#llist div{background-color:#353736; color:#f2f2f2f; padding:10px; width:470px; margin-right:10px; float:left; min-height:100px; border:2px solid #fff; margin-bottom:5px;}
div#llist div+div{margin-right:0;}
div#llist div h2{font-family:tw cen mt; font-size:14pt; text-transform:capitalize; margin-bottom:10px; color:#f2f2f2; font-weight:bold;}
div#llist div ul{list-style:none; padding-left:20px;}
div#llist div ul li{margin-bottom:10px;}
div#llist div ul li a{font-family:tw cen mt; font-size:12pt; color:#f2f2f2; text-transform:capitalize; text-decoration:underline;}
div#llist div ul li a:hover{text-decoration:none;}
div#llist div ul li a img{vertical-align:middle; height:24px; margin-right:15px;}
div#llist div span.nav{color:#0971ce; font-family:tw cen mt; font-size:11pt; text-transform:capitalize; display:block; cursor:pointer; margin-top:15px; margin-bottom:5px; text-align:right;}
div#llist div span.nav a{color:#0971ce; font-family:tw cen mt; font-size:11pt; text-transform:capitalize;}
div#llist div span.nav a:hover{color:#fff; text-decoration:underline;}

div#p3-r div.lalib{margin-bottom:10px; background-color:#fff; border:1px solid #0971ce; border-radius:0 0 5px 5px; padding-bottom:10px;}
div#p3-r div.lalib h2{font-family:rockwell; text-transform:capitalize; color:#fff; padding:3px 8px; background-color:#0971ce; margin-bottom:10px;}
div#p3-r div.lalib ul{z-index:70; display:block; list-style-type:square; padding:0 10px 0 15px; margin-bottom:0; border-width:0px; border-style:solid;  border-top:0; border-radius:0 0 0 0; margin-top:0; background-color:transparent; padding-left:25px; padding-bottom:10px; min-height:auto; list-style:square; padding:0 10px 0 15px; display:block;}
div#p3-r div.lalib ul li{color:#0971ce; font-family:tw cen mt; margin-bottom:8px; font-size:12pt; line-height:14pt; max-height:28pt; overflow:hidden;}
div#p3-r div.lalib ul li a{color:#0971ce; font-family:tw cen mt; font-size:12pt; line-height:14pt; max-height:28pt; overflow:hidden; margin-bottom:0;}
div#p3-r div.lalib ul li:hover a{color:#1e1e1e;}
div#p3-r div.lalib ul li:hover a:hover{color:#1e1e1e; text-decoration:underline;}

div#p3-r div.trec{border:1px solid #0971ce; padding:10px; margin-bottom:10px; border-radius:10px; background-color:#fff;}
div#p3-r div.trec h2{font-family:rockwell; font-size:14pt; margin-bottom:10px; text-transform:capitalize; color:#00338e;}
div#p3-r div.trec ol{padding:0 10px 0 25px;}
div#p3-r div.trec ol li{color:#606a73; margin-bottom:5px; line-height:16pt; font-size:12pt; font-family:tw cen mt;}
div#p3-r div.trec ol li a{color:inherit; font-family:inherit; font-size:inherit;}
div#p3-r div.trec ol li a:hover{color:#00338e; text-decoration:underline;}

div#tmain{}
div#tmain h1{font-family:rockwell; font-size:14pt; margin-bottom:10px; color:#0971ce; text-transform:capitalize;}
div#tmain div.lside{width:733px; height:100px; float:left; clear:none; margin-right:10px; margin-bottom:10px; background-color:#afcbe1; border-radius:10px; padding:10px; }
div#tmain div.lside p{height:95px; overflow:hidden; font-family:tw cen mt; font-size:12pt; text-align:justify; line-height:18pt; color:#1e1e1e;}
div#tmain div.rside{width:217px; float:left; min-width:100px; clear:none; background-color:#afcbe1; margin-bottom:10px; padding:10px; border-radius:10px;}
div#tmain div.rside a{display:block; text-transform:capitalize; font-size:14pt; font-family:rockwell; margin:5px; padding:8px 0; line-height:16pt; color:#00338e; text-align:center;}
div#tmain div.rside a:hover{color:#1e1e1e;}
div#tmain div.rside span{margin:5px; height:1px; border-bottom:1px dashed #0b70cc; display:block;}
div#tcont div.tpref{padding:10px; border:1px solid #0971ce; border-radius:10px; background-color:#f2f2f2; min-height:80px; margin-bottom:10px;}
div#tcont div.tpref p{min-width:300px; margin-bottom:10px; margin-right:10px; font-size:12pt; font-family:tw cen mt; line-height:16pt; display:inline-block; float:left; color:#666; text-transform:capitalize;}
div#tcont div.tpref p span{color:#0971ce; margin-left:20px; display:inline-block; font-size:inherit; font-family:inherit;}
div#tcont ul{list-style:none;}
div#tcont ul li{float:left; margin-right:2px; color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-bottom:0; border-radius:10px 10px 0 0; padding:6px 12px; text-transform:capitalize; cursor:pointer; font-family:rockwell; font-size:12pt; line-height:18pt;}
div#tcont ul li.reg{float:right; margin-right:0; color:#00338e; background-color:transparent; border:0px solid #0971ce; border-bottom:0; border-radius:0; padding:5px 12px; text-transform:capitalize; cursor:pointer; font-family:rockwell; font-size:12pt; padding-bottom:0;}
div#tcont ul li:hover{color:#1e1e1e;}
div#tcont ul li.active{color:#fff; background-color:#0971ce; top:1px; position:relative;}
div#tcont div.tdcont{display:none; padding:10px 15px; background-color:#fff; border:1px solid #0971ce; border-radius:0 10px 10px 10px; margin-bottom:10px;}
div#tcont div.tdcont h2{font-size:14pt; color:#00338e; margin-bottom:5px; font-family:rockwell; text-transform:capitalize;}
div#tcont div.tdcont span{color:#666; font-family:tw cen mt; font-size:9pt; display:block; margin-bottom:10px;}
div#tcont div.tdcont h3{font-family:tw cen mt; font-size:14pt; line-height:16pt; margin-top:20px; margin-bottom:0px; color:#0971ce; text-transform:capitalize;}
div#tcont div.tdcont p{color:#1e1e1e; font-size:11pt; font-family:tw cen mt; line-height:16pt; text-align:justify; padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #00338e;}
div#tcont div.tdcont p.last{border-bottom:0;}
div#tcont div.tdcont.active{display:block;}
div#tcont{width:753px; min-height:100px; float:left; clear:none; margin-right:10px; margin-top:15px;}

div#treg{display:none; background-color:rgba(0,0,0,0.5); width:100%; height:200%; position:absolute; top:0; right:0; z-index:1000; vertical-align:middle;}
div#treg div{width:800px; border:3px solid #1e1e1e; border-radius:10px; padding:10px; background-color:#fff; margin:10% auto;}
div#treg div h2{font-size:14pt; text-transform:capitalize; font-family:rockwell; margin-bottom:15px; padding-bottom:10px; border-bottom:1px dashed #0971ce; color:#0971ce; text-align:center;}
div#treg div form{}
div#treg div form label{display:inline-block; width:180px; margin-right:10px; color:#0971ce; font-size:12pt; vertical-align:top; font-family:tw cen mt; margin-bottom:10px; text-transform:capitalize;}
div#treg div form input[type=text]{padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666;}
div#treg div form textarea{overflow:hidden; padding:2px 5px; border:1px solid #0971ce; border-radius:5px; margin-bottom:10px; font-family:tahoma; font-size:12pt; color:#666;}
div#treg div form input[type=submit]{background-color:#0971ce; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:13pt; font-family:rockwell; padding:3px 8px; margin-top:10px;}
div#treg div form input[type=submit]:hover{background-color:transparent; color:#1e1e1e;}
div#treg div form input[type=reset]{background-color:#1e1e1e; border:1px solid #1e1e1e; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#fff; font-size:13pt; font-family:rockwell;  padding:3px 8px; margin-top:10px;}
div#treg div form input[type=reset]:hover{background-color:transparent; color:#1e1e1e;}
div#treg div form input[type=button]{background-color:#fff; border:1px solid #0971ce; margin:5px; border-radius:5px; cursor:pointer; text-transform:capitalize; color:#0971ce; font-size:13pt; font-family:rockwell;  padding:3px 8px; float:right; margin-top:10px;}
div#treg div form input[type=button]:hover{background-color:#0971ce; color:#fff;}

div#smap{padding:20px 10px; margin:10px auto; border:2px solid #0971ce; border-radius:10px; background-color:#f2f2f2;}
div#smap ul{list-style:disc; padding-left:20px;}
div#smap ul li{font-size:12pt; font-family:arial; margin-bottom:15px; line-height:16pt; text-transform:capitalize; color:#0971ce;}
div#smap ul li a{color:inherit; font-size:inherit; font-family:inherit;}
div#smap ul li a:hover{color:#666; text-decoration:underline;}
div#smap ul li ul{list-style:square; padding-left:20px; padding-top:10px;}
div#smap ul li ul li{color:#1e1e1e;}
div#smap ul li ul li ul{list-style:circle; padding-left:30px; padding-top:10px;}
div#smap ul li ul li ul li{color:#00338e;}

div#smap1{margin:10px auto;}
div#smap1 div.sitem{background-color:#fff; padding:10px 0px; width:488px; margin:5px; border:1px solid #666; display:inline-block; float:left; border-radius:5px;}
div#smap1 div.sitem.l{ box-shadow:-3px 3px 1px #555;}
div#smap1 div.sitem.r{ box-shadow:3px 3px 1px #555;}
div#smap1 div.sitem h2{margin:5px 10px; border-bottom:1px dashed #828a8f; color:#444; font-size:16pt; font-family:tw cen mt; text-transform:uppercase; padding-bottom:10px;}
div#smap1 div.sitem ul{padding:5px 5px 5px 30px; list-style:none;}
div#smap1 div.sitem ul li{color:#666; font-family:tahoma; font-size:10pt; margin-bottom:8px;}
div#smap1 div.sitem ul li.img{background-image:url(../images/list-icon.png); background-repeat:no-repeat; background-position:center left;}
div#smap1 div.sitem ul li a{color:#666; font-family:tahoma; font-size:12pt; text-transform:normal; line-height:14pt; overflow:hidden; height:14pt;}
div#smap1 div.sitem ul li a:hover{text-decoration:underline; color:#00338e;}

div#reports{width:753px; float:left; margin-right:10px; margin-bottom:10px; clear:none; margin-top:15px;}
div#reports div.ritem{border-radius:10px; border:1px solid #00338e; margin-bottom:10px; background-color:#fff;}
div#reports div.ritem h2{font-family:rocwell; font-size:14pt; margin-bottom:10px; padding:10px; background-color:#00338e; color:#fff; text-transform:capitalize; border-radius:7px 7px 0 0; font-weight:bold;}
div#reports div.ritem p{padding:10px 20px; font-family:tw cen mt; color:#1e1e1e; font-size:11pt; line-height:15pt; text-align:justify;}
div#reports div.ritem span{display:block; background-color:#00338e; padding:5px 10px; text-align:right; border-radius:0 0 7px 7px; color:#f2f2f2; font-size:10pt; text-transform:capitalize; font-family:tw cen mt;}
div#reports div.ritem span a{color:#f2f2f2; font-size:10pt; text-transform:capitalize; font-family:tw cen mt;}
div#reports div.ritem span a:hover{text-decoration:underline; color:#aaa;}
div#reports div.ritem{}
div#reports div.ritem div{display:none; padding:10px; margin:10px; background-color:#94B5D4; box-shadow:2px -2px 2px #666;}
div#reports div.ritem div h2{font-family:rocwell; font-size:14pt; margin-bottom:10px; padding:0; background-color:transparent; color:#fff; text-transform:capitalize; border-radius:0; font-weight:normal;}
div#reports div.ritem div{}

div#p3-r.top{position:fixed; top:75px; margin-left:763px;}

div#polls{width:753px; float:left; margin-right:10px; margin-bottom:10px; clear:none; margin-top:15px;}
div#polls div.pitem{padding:10px; border:1px solid #333; background-color:#fff; margin-bottom:10px; display:block; padding-bottom:0;}
div#polls div.pitem h2{padding:3px; margin-bottom:10px; color:#00338e; font-family:rockwell; text-transform:capitalize;}
div#polls div.pitem div.active{display:block;}
div#polls div.pitem div{display:none;}
div#polls div.pitem div{padding:5px; border:1px dashed #333; border-width:0; font-size:9pt;}
div#polls div.pitem div form{padding:2px 10px;}
div#polls div.pitem div form label{font-size:13pt; font-family:tw cen mt; margin-bottom:10px; line-height:16pt; color:#1e1e1e; display:block; vertical-align:top; text-transform:capitalize;}
div#polls div.pitem div form label input[type=radio]{margin-bottom:5px; margin-right:10px;}
div#polls div.pitem div form input[type=submit],div#polls div.pitem div form button{border:1px solid #0971ce; border-radius:5px; padding:5px 10px; font-family:tw cen mt; font-size:11pt; text-transform:capitalize; color:#fff; line-height:14pt; float:right; cursor:pointer; background-color:#0971ce;}
div#polls div.pitem div form input[type=submit]:hover,div#polls div.pitem div form button:hover{background-color:transparent; color:#0971ce;}
div#polls div.pitem div.vans{padding:10px; font-size:11pt; font-family:tw cen mt;}
div#polls div.pitem div.vans p{margin-bottom:5px; display:block; color:#1e1e1e; padding:2px; font-family:tw cen mt; font-size:12pt;}
div#polls div.pitem div.vans p span{color:#0971ce; margin-right:15px; font-weight:bold; font-family:tw cen mt; font-size:12pt; float:right;}
div#polls div.pitem div.vans {}
div#polls div.pitem div.nav{display:block; padding:2px 10px; text-align:left; font-size:10pt; color:#0971ce; font-size:10pt; font-family:tw cen mt; border-top:1px dashed #0971ce; padding-top:5px; margin-top:5px;}
div#polls div.pitem div.nav span{color:#0971ce; background-color:transparent; text-transform:capitalize; border:1px solid #0971ce; border-radius:5px; line-height:14pt; font-family:tw cen mt; font-size:11pt; padding:5px 10px; margin:3px; cursor:pointer; display:inline-block;}
div#polls div.pitem div.nav span.active{color:#fff; background-color:#0971ce;}
div#polls div.pitem div.nav span:hover{color:#1e1e1e;}
div#polls div.pitem div.nav{}
div#polls div.pitem{}
div#polls{}

div#docs{width:753px; float:left; margin-right:10px; margin-bottom:10px; clear:none; margin-top:15px;}
div#docs div.ditem div.head{padding:10px; margin-bottom:10px; background-color:#fff; border:1px solid #00338e; border-radius:5px;}
div#docs div.ditem div.head h2{font-size:13pt; text-transform:capitalize; font-family:rockwell; color:#00338e; display:inline-block;}
div#docs div.ditem div.head h2 a{font-size:13pt; text-transform:capitalize; font-family:rockwell; color:#00338e;}
div#docs div.ditem div.head h2 a:hover{color:#1e1e1e;}
div#docs div.ditem div.head span{font-size:tw cen mt; font-size:11pt; color:#666; text-decoration:underline; float:right; cursor:pointer; padding-top:5px;}
div#docs div.ditem div.head span:hover{color:#0971ce; text-decoration:none;}
div#docs div.ditem div.body{display:none; padding:10px; background-color:#fff; width:92%; margin:10px auto; margin-bottom:0;}
div#docs div.ditem div.body.active{display:block; margin-bottom:10px;}
div#docs div.ditem div.body h3{color:#0971ce; font-size:12pt; text-transform:capitalize; font-family:rockwell; padding-bottom:5px; margin-bottom:10px; border-bottom:1px dashed #0971ce;}
div#docs div.ditem div.body p{font-size:11pt; font-family:tw cen mt; margin-bottom:5px; padding:8px; color:#1e1e1e; line-height:16pt; text-align:justify;}
div#docs div.ditem div.body {}

div#ev{width:1000px;}
div#ev h1{font-size:14pt; font-family:rockwell; color:#0971ce; text-transform:capitalize; margin-bottom:10px;}
div#ev p{background-color:#fff; color:#00338e; border-radius:10px; margin:10px; padding:15px; font-size:11pt; line-height:16pt; font-family:tw cen mt;}
div#ev div.content{float:left; width:725px; clear:none; margin:0 10px 10px 0; min-height:110px; border:2px solid #00338e; padding:10px; background-color:#fff; border-radius:10px;}
div#ev div.content div.evitem{display:none;}
div#ev div.content div.evitem.active{display:block;}
div#ev div.content div.evitem ul{list-style:none; text-align:right;}
div#ev div.content div.evitem ul li{font-family:rockwell; font-size:12pt; color:#00338e; padding-bottom:10px; border-bottom:1px dashed #999; text-transform:capitalize; margin-bottom:10px;}
div#ev div.content div.evitem h2{font-size:14pt; color:#0971ce; font-family:tw cen mt; margin:5px; padding:5px; margin-top:0; padding-top:0; text-transform:capitalize;}
div#ev div.content div.evitem p{padding:0 20px; margin:0; margin-bottom:10px; color:#1e1e1e;}
div#ev div.content div.evitem.eg p{background-color:rgba(0,0,0,0.7); border-radius:10px 10px 0 0; padding:10px 20px; position:relative; top:-102px; color:#fff; height:58pt; line-height:20pt; overflow:hidden; margin-bottom:-82px;}
div#ev div.enav{width:237px; float:right; min-height:150px; border:0px solid black;}
div#ev div.enav ul.date{list-style:none; font-size:11pt;}
div#ev div.enav ul.date li+li+li+li{border-top:0;}
div#ev div.enav ul.date li{font-family:rockwell; font-size:11pt; padding:0; line-height:16pt; color:#0971ce; text-transform:capitalize; background-color:#fff; border:1px solid #0971ce;  cursor:pointer; float:left; width:77px; text-align:center;}
div#ev div.enav ul.date li span.dnam{color:#1e1e1e; font-size:13pt; line-height:15pt; text-align:center; font-family:rockwell; display:block; margin:5px 0;}
div#ev div.enav ul.date li span.dnum{color:#1e1e1e; font-size:11pt; line-height:13pt; text-align:center; font-family:rockwell; display:block; margin-top:5px;}
div#ev div.enav ul.date li span.mon{color:#0971ce; font-size:12pt; font-family:tw cen mt;  line-height:14pt; text-align:center; margin-right:5px; font-weight:bold;}
div#ev div.enav ul.date li span.yr{color:#0971ce; font-size:12pt; font-family:tw cen mt; line-height:14pt; font-weight:bold;}
div#ev div.enav ul.date li.active{color:#0971ce; text-transform:capitalize; background-color:rgba(9,113,206,0.05); cursor:auto; background-image:url(../images/cal-ev-b2.png); background-position:top left; background-repeat:no-repeat;}
div#ev div.enav ul.date li.active span.dnam{color:#666;}
div#ev div.enav ul.date li.active span.dnum{color:#eee;}
div#ev div.enav ul.date li.active span.mon{color:#fff;}
div#ev div.enav ul.date li.active span.yr{color:#fff;}
div#ev div.enav ul.date li:hover{background-color:#ededed;}
div#ev div.content div.evitem.eg div.gimg div{float:left; margin-right:10px; width:157px; border:2px solid #1e1e1e; padding:5px; background-color:#fff; margin-bottom:10px; height:100px;}
div#ev div.content div.evitem.eg div.gimg div img{width:157px; height:100px; margin:0 auto; cursor:pointer;}

div#ev div.enav ul.gal{list-style:none; font-size:11pt; margin-bottom:10px;}
div#ev div.enav ul.gal li#eg{text-align:center; text-transform:capitalize; font-family:rockwell; font-size:20pt; height:30px; line-height:30px; color:#fff; background-color:#1e1e1e; border:2px solid #fff; padding:5px; cursor:pointer; background-image:url(../images/ev-gal-b.png); background-position:center center; background-repeat:no-repeat;}
div#ev div.enav ul.gal li#eg:hover{color:#FFA500; border-radius:10px;}
div#ev div.enav ul.gal li#eg.active{background-image:url(../images/ev-gal-b-over.png); background-position:center center; background-repeat:no-repeat; color:#1e1e1e;}

body div.feedb, div.freg, div.lsub{display:none; position:absolute; background-color:rgba(0,0,0,0.5); width:100%; height:200%; padding:10px; margin:0; top:0; left:0; z-index:999;}
body div.feedb.active, div.freg.active, div.lsub.active{display:block;}
body div.feedb div.holder, div.freg div.holder, div.lsub div.holder{margin:10% auto; background-color:#fff; padding:15px; border:5px solid #1e1e1e; border-radius:20px; width:700px; position:fixed;}
body div.feedb div.holder h2, div.freg div.holder h2, div.lsub div.holder h2{font-size:14pt; font-family:rockwell; padding-bottom:10px; border-bottom:1px dashed #00338e; color:#00338e; margin-bottom:10px;}
body div.feedb div.holder form, div.freg div.holder form, div.lsub div.holder form{}
body div.feedb div.holder form label, div.freg div.holder form label, div.lsub div.holder form label{font-size:11pt; font-family:rockwell; display:inline-block; margin-right:10px; width:200px; margin-bottom:10px; vertical-align:top; color:#00338e; text-transform:capitalize;}
body div.feedb div.holder form input[type=text], div.freg div.holder form input[type=text], div.lsub div.holder form input[type=text]{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt; clear:right;}
body div.feedb div.holder form textarea, div.freg div.holder form textarea, div.lsub div.holder form textarea{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt;}
body div.feedb div.holder form input[type=submit], div.freg div.holder form input[type=submit], div.lsub div.holder form input[type=submit]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form input[type=submit]:hover, div.freg div.holder form input[type=submit]:hover, div.lsub div.holder form input[type=submit]:hover{color:#00338e; background-color:transparent;}
body div.feedb div.holder form button, div.freg div.holder form button, div.lsub div.holder form button{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form button:hover, div.freg div.holder form button:hover, div.lsub div.holder form button:hover{color:#00338e; background-color:transparent;}
body div.feedb div.holder form input[type=reset], div.freg div.holder form input[type=reset], div.lsub div.holder form input[type=reset]{color:#fff; background-color:#1e1e1e; border:1px solid #1e1e1e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form input[type=reset]:hover, div.freg div.holder form input[type=reset]:hover, div.lsub div.holder form input[type=reset]:hover{color:#1e1e1e; background-color:transparent;}
body div.feedb div.holder form input[type=button], div.freg div.holder form input[type=button], div.lsub div.holder form input[type=button]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.feedb div.holder form input[type=button]:hover, div.freg div.holder form input[type=button]:hover, div.lsub div.holder form input[type=button]:hover{color:#00338e; background-color:transparent;}
body div.feedb div.holder form input[type=button].close, div.freg div.holder form input[type=button].close, div.lsub div.holder form input[type=button].close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:right; display:inline-block;}
body div.feedb div.holder form input[type=button].close:hover, div.freg div.holder form input[type=button].close:hover, div.lsub div.holder form input[type=button].close:hover{color:#fff; background-color:#0971ce;}
body div.feedb div.holder form button.close, div.freg div.holder form button.close, div.lsub div.holder form button.close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:right; display:inline-block;}
body div.feedb div.holder form button.close:hover, div.freg div.holder form button.close:hover, div.lsub div.holder form button.close:hover{color:#fff; background-color:#0971ce;}

body div.comment, div.freg, div.lsub{display:none; position:absolute; background-color:rgba(0,0,0,0.5); width:100%; height:200%; padding:10px; margin:0; top:0; left:0; z-index:999;}
body div.comment.active, div.freg.active, div.lsub.active{display:block;}
body div.comment div.holder, div.freg div.holder, div.lsub div.holder{margin:10% auto; background-color:#fff; padding:15px; border:5px solid #1e1e1e; border-radius:20px; width:700px; position:fixed;}
body div.comment div.holder h2, div.freg div.holder h2, div.lsub div.holder h2{font-size:14pt; font-family:rockwell; padding-bottom:10px; border-bottom:1px dashed #00338e; color:#00338e; margin-bottom:10px;}
body div.comment div.holder form, div.freg div.holder form, div.lsub div.holder form{}
body div.comment div.holder form label, div.freg div.holder form label, div.lsub div.holder form label{font-size:11pt; font-family:rockwell; display:inline-block; margin-right:10px; width:200px; margin-bottom:10px; vertical-align:top; color:#00338e; text-transform:capitalize;}
body div.comment div.holder form input[type=text], div.freg div.holder form input[type=text], div.lsub div.holder form input[type=text]{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt; clear:right;}
body div.comment div.holder form textarea, div.freg div.holder form textarea, div.lsub div.holder form textarea{margin-bottom:10px; border:1px solid #00338e; border-radius:5px; padding:3px 5px; color:#666; font-size:11pt; font-family:tw cen mt;}
body div.comment div.holder form input[type=submit], div.freg div.holder form input[type=submit], div.lsub div.holder form input[type=submit]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form input[type=submit]:hover, div.freg div.holder form input[type=submit]:hover, div.lsub div.holder form input[type=submit]:hover{color:#00338e; background-color:transparent;}
body div.comment div.holder form button, div.freg div.holder form button, div.lsub div.holder form button{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form button:hover, div.freg div.holder form button:hover, div.lsub div.holder form button:hover{color:#00338e; background-color:transparent;}
body div.comment div.holder form input[type=reset], div.freg div.holder form input[type=reset], div.lsub div.holder form input[type=reset]{color:#fff; background-color:#1e1e1e; border:1px solid #1e1e1e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form input[type=reset]:hover, div.freg div.holder form input[type=reset]:hover, div.lsub div.holder form input[type=reset]:hover{color:#1e1e1e; background-color:transparent;}
body div.comment div.holder form input[type=button], div.freg div.holder form input[type=button], div.lsub div.holder form input[type=button]{color:#fff; background-color:#00338e; border:1px solid #00338e; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt;}
body div.comment div.holder form input[type=button]:hover, div.freg div.holder form input[type=button]:hover, div.lsub div.holder form input[type=button]:hover{color:#00338e; background-color:transparent;}
body div.comment div.holder form input[type=button].close, div.freg div.holder form input[type=button].close, div.lsub div.holder form input[type=button].close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:right; display:inline-block;}
body div.comment div.holder form input[type=button].close:hover, div.freg div.holder form input[type=button].close:hover, div.lsub div.holder form input[type=button].close:hover{color:#fff; background-color:#0971ce;}
body div.comment div.holder form button.close, div.freg div.holder form button.close, div.lsub div.holder form button.close{color:#0971ce; background-color:#fff; border:1px solid #0971ce; border-radius:5px; cursor:pointer; padding:3px 6px; text-transform:capitalize; font-family:tw cen mt; font-size:11pt; float:right; display:inline-block;}
body div.comment div.holder form button.close:hover, div.freg div.holder form button.close:hover, div.lsub div.holder form button.close:hover{color:#fff; background-color:#0971ce;}