table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
caption, th {
	text-align: left;
}
q:before, q:after { content:''}
.aligncenter {
	/* [disabled]display:block; */
	/* [disabled]margin: 0 auto; */
}
.alignleft {
	/* [disabled]float:left; */
}
.alignright {
	/* [disabled]float:right; */
}
div {
	/* [disabled]position:relative; */
} 
a:hover{
	/* [disabled]color: #65a42d; */
	/* [disabled]text-decoration: underline; */
}
.column-clear{
	/* [disabled]clear:both; */
}
.wrapper{
	margin: 0px auto;
	padding: 0px;
	width: 1050px;
}
.portfolio-content, .portfolio-area{
	width: 1050px;
}
.title-page{
	font-size: 40px;
	margin: 50px 0px 60px 0px;
	/* [disabled]color:#151515; */
}
.goto{float:right;width:130px;margin:-80px 30px 0px 0px;}

/**** PORTFOLIO STYLES*****/
.portfolio-categ{
	margin-bottom: 30px;
	float: left;
	width: 16%;
	background-color: #FFF;
	margin-right: 1%;
	margin-left: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 10px;
	padding-bottom: 20px;
	box-shadow: 0px 0px 2px 1px rgba(153,153,153,0.5);
}
.portfolio-categ li{
	display: inline;
	float: left;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.image-block{ display:block;position: relative;}
.image-block img{
	/* [disabled]border: 1px solid #d5d5d5; */
	border-radius: 4px 4px 4px 4px;
	background: #FFFFFF;
	/* [disabled]padding: 10px; */
}
.image-block img:hover{
	/* [disabled]border: 1px solid #A9CF54; */
	/* [disabled]box-shadow:0 0 5px #A9CF54; */
}
.portfolio-area li{float: left;margin: 0 12px 20px 0;overflow: hidden;width: 245px;padding:5px;}
.home-portfolio-text{margin-top:10px;}
li.active a{
	text-decoration: underline;
	float: none;
	width: 100px;
}
/**** END PORTFOLIO STYLES*****/
.media-contener {
	/* [disabled]background-color: #000; */
	width: 80%;
	/* [disabled]height: 800px; */
	float: left;
	margin-left: 10%;
	margin-right: 10%;
}
.portfolio-categ.filter .all.active a {
}
.portfolio-categ.filter #main {
	color: #06F;
}
.portfolio-categ.filter a {
	color: #666;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
