<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Games Shop | MONDIA Media</title>
	<link rel="icon" type="img/png" href="img/FavIcon.png" />
	<meta name="Description" content=""/>
	<meta name="Description" content="" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="css/animation.css"/>
	<link type="text/css" rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css"/>
	<link type="text/css" rel="stylesheet" href="css/style.css"/>
	<script type="application/javascript" src="js/angularjs.js"></script>
	<script type="application/javascript" src="js/app.js"></script>
</head>

<body ng-app="myApp">
	
	<div class="container-fluid mainCont">
		<div class="lineBorder gray"></div>
		<div class="container-fluid topMenu darkGray">
			<ul>
				<li id="sideMenu"><i class="fa fa-bars"></i></li>
				<li class="imgHeader"><img src="img/FavIcon.png" alt="" title="" class="img-responsive"/></li>
				<li>Games</li>
				<li class="floatRight marginZero"><i class="fa fa-search"></i></li>
			</ul>
		</div>
		
		<div class="lineBorder white"></div>
		<menu class="container-fluid medMenu medGray">
			<ul>
				<li><a href="#" title="">categories</a></li>
				<li class="active"><a href="#" title="">highlights</a></li>
				<li><a href="#" title="">top</a></li>
				<li><a href="#" title="">new</a></li>
				<li><a href="#" title="">recommended</a></li>
			</ul>
		</menu>
		
		<div class="container-fluid sliderCont">
			<div class="container">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				  </ol>
				  <div class="carousel-inner">
					<div class="item active">
					  <img src="img/carousel/44605418_TobyTheSecretMine_1024x500-min.png" class="img-responsive center-block" alt="" title="" />
					</div>

					<div class="item">
					  <img src="img/carousel/44610515_BridgeConstructorStunts_1024x500-min.png" class="img-responsive center-block" alt="" title="" />
					</div>

					<div class="item">
					  <img src="img/carousel/44610546_InBetween_1024x500-min.png" class="img-responsive center-block" alt="" title="" />
					</div>

					<div class="item">
					  <img src="img/carousel/45513271_Tower_1024x500-min.png" class="img-responsive center-block" alt="" title="" />
					</div>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid categoriesCont offWhite" ng-controller="mainController as vm">
			<div class="container">
				<div class="col-xs-10 col-xs-offset-1 row">
				
					<div class="row panelHolder">
						<h2>Action and Adventure<a href="#" title="" class="floatRight">More</a></h2>
						<div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="false">
						  <div class="carousel-inner">
							<div class="item active row marginZero">
								<div ng-repeat="d in vm.a.slice(0, 5)" class="panelItem col-xs-6 col-sm-4 col-md-3 col-lg-3" id="{{d.id}}">
									<img ng-src="{{d.imageURL}}" title="" alt="" class="img-rounded img-responsive" />
									<h3>{{d.name}}</h3>
									<h4>{{d.publisher}}</h4>
									<span><img ng-src="{{d.rating}}" title="" alt="" class="img-responsive" /></span>
								</div>
							</div>

							<div class="item row marginZero">
								<div ng-repeat="d in vm.a.slice(5, 10)" class="panelItem col-xs-6 col-sm-4 col-md-3 col-lg-3" id="{{d.id}}">
									<img ng-src="{{d.imageURL}}" title="" alt="" class="img-rounded img-responsive" />
									<h3>{{d.name}}</h3>
									<h4>{{d.publisher}}</h4>
									<span><img ng-src="{{d.rating}}" title="" alt="" class="img-responsive" /></span>
								</div>
							</div>
						  </div>
						</div>
						<div class="slideBtns clearfix">
							<a class="" href="#myCarousel3" data-slide="prev">
								<i class="fa fa-chevron-left"></i>
							</a>
							<a class="" href="#myCarousel3" data-slide="next">
								<i class="fa fa-chevron-right"></i>
							</a>
						</div>
					</div>
					
					<div class="row panelHolder">
						<h2>Casual Games<a href="#" title="" class="floatRight">More</a></h2>
						<div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="false">
						  <div class="carousel-inner">
							<div class="item active row marginZero">
								<div ng-repeat="d in vm.a.slice(5, 10)" class="panelItem col-xs-6 col-sm-4 col-md-3 col-lg-3" id="{{d.id}}">
									<img ng-src="{{d.imageURL}}" title="" alt="" class="img-rounded img-responsive" />
									<h3>{{d.name}}</h3>
									<h4>{{d.publisher}}</h4>
									<span><img ng-src="{{d.rating}}" title="" alt="" class="img-responsive" /></span>
								</div>
							</div>

							<div class="item row marginZero">
								<div ng-repeat="d in vm.a.slice(10, 15)" class="panelItem col-xs-6 col-sm-4 col-md-3 col-lg-3" id="{{d.id}}">
									<img ng-src="{{d.imageURL}}" title="" alt="" class="img-rounded img-responsive" />
									<h3>{{d.name}}</h3>
									<h4>{{d.publisher}}</h4>
									<span><img ng-src="{{d.rating}}" title="" alt="" class="img-responsive" /></span>
								</div>
							</div>
						  </div>
						</div>
						<div class="slideBtns clearfix">
							<a class="" href="#myCarousel2" data-slide="prev">
								<i class="fa fa-chevron-left"></i>
							</a>
							<a class="" href="#myCarousel2" data-slide="next">
								<i class="fa fa-chevron-right"></i>
							</a>
						</div>
					</div>
					
					<div class="row panelHolder">
						<h2>Puzzles<a href="#" title="" class="floatRight">More</a></h2>
						<div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="false">
						  <div class="carousel-inner">
							<div class="item active row marginZero">
								<div ng-repeat="d in vm.a.slice(15, 20)" class="panelItem col-xs-6 col-sm-4 col-md-3 col-lg-3" id="{{d.id}}">
									<img ng-src="{{d.imageURL}}" title="" alt="" class="img-rounded img-responsive" />
									<h3>{{d.name}}</h3>
									<h4>{{d.publisher}}</h4>
									<span><img ng-src="{{d.rating}}" title="" alt="" class="img-responsive" /></span>
								</div>
							</div>

							<div class="item row marginZero">
								<div ng-repeat="d in vm.a.slice(0, 5)" class="panelItem col-xs-6 col-sm-4 col-md-3 col-lg-3" id="{{d.id}}">
									<img ng-src="{{d.imageURL}}" title="" alt="" class="img-rounded img-responsive" />
									<h3>{{d.name}}</h3>
									<h4>{{d.publisher}}</h4>
									<span><img ng-src="{{d.rating}}" title="" alt="" class="img-responsive" /></span>
								</div>
							</div>
						  </div>
						</div>
						<div class="slideBtns clearfix">
							<a class="" href="#myCarousel1" data-slide="prev">
								<i class="fa fa-chevron-left"></i>
							</a>
							<a class="" href="#myCarousel1" data-slide="next">
								<i class="fa fa-chevron-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid transparentBlack menuOverBack animated"></div>
		<div class="hiddenMenu col-xs-10 col-sm-6 col-md-3 animated">
			<div class="menuItem">
				<a href="#" title=""><img src="img/loginIcon.png" alt="" title="" />login</a>
				<div class="exit"><i class="fa fa-close"></i>Exit</div>
			</div>
			<div class="menuItem">
				<ul class="menuList">
					<li><a href="#" title="">categories</a></li>
					<li><a href="#" title="">highlights</a></li>
					<li><a href="#" title="">top</a></li>
					<li><a href="#" title="">new</a></li>
					<li><a href="#" title="">recommended</a></li>
				</ul>
			</div>
			<div class="menuItem borderLess">
				<a href="#" title=""><i class="fa fa-question"></i>help</a>
			</div>
			
		</div>
	</div>
	
	<script type="application/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="application/javascript" src="js/bootstrap.min.js"></script>
	<script type="application/javascript" src="js/script.js"></script>
</body>
</html>
